﻿<!DOCTYPE html>
<html>
<head>
    <title>New Instagrammer</title>
	<meta charset="utf-8" />
</head>
<body>
<div> Brand Name: {{BrandName}}</div>
<div> Contact Person: {{ContactPerson}}</div>
<div> Email: {{Email}}</div>
<div> Account Link: {{AccountLink}}</div>
</body>
</html>
