﻿<!DOCTYPE html>
<html>
<head>
    <title>New Instagrammer</title>
	<meta charset="utf-8" />
</head>
<body>
<div> Name: {{Name}}</div>
<div> Instagram: {{Instagram}}</div>
<div> Email: {{Email}}</div>
<div> Phone: {{Phone}}</div>
</body>
</html>
