﻿@using ControlPanel.Common.Enums
@using Global = Resources.Global
@model Kigl.Models.ListUserModel
@{
    ViewBag.Title = "Index";
}
@section Styles{
    <link rel="stylesheet" href="~/static/select2/dist/css/select2.min.css">
}
<!-- begin users -->
<div class="users">
    <div class="advertisers__header">
        <span>@Global.Admin_Users</span>
        @if (!Model.IsInstagramAdmin)
        {
            <a href="#" class="profileInfo__btn modal__link" data-modal="js__modal-1">@Global.Admin_AddUser</a>
        }
    </div>
    <!-- begin users__table -->
    <div class="users__table_wrap adaptive_table">
        <div class="users__table">
            @foreach (var user in Model.Users)
            {
                <div class="users__row">
                    <div class="users__col users__col1">
                        <div class="users__head users__head1">@Global.Admin_User</div>
                        <div class="users__box user_name users__box1">@user.UserName</div>
                    </div>

                    <div class="users__col users__col2">
                        <div class="users__head users__head2">@Global.Admin_Advertiser</div>
                        <div class="users__box users__box2">@(user.Advertiser?.Name)</div>
                    </div>

                    <div class="users__col users__col3">
                        <div class="users__head users__head3">@Global.Admin_Network</div>
                        <div class="users__box users__box3">@(user.Network?.Name)</div>
                    </div>
                </div>
            }
        </div>
    </div>
    <!-- end users__table -->
</div>
<!-- end users -->
@section Modals{
    <!-- begin modal -->
    <div class="modal fade" id="js__modal-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"></span>
                    </button>
                    <h4 class="modal-title"><span>@Global.Admin_AddUser</span></h4>
                </div>
                <div class="modal-body">
                    <!-- begin rates__form -->
                    @using (Html.BeginForm("EditAdmins", "Users", FormMethod.Post, new { id = "frmEditUser", @class = "rates__form modal__form" }))
                    {
                        <div class="rates__item">
                            <label>@Global.Admin_Name</label>
                            <input type="text" name="UserName">
                        </div>
                        if (Model.IsAdmin)
                        {
                            <div class="rates__item">
                                <label for="">@Global.Admin_Role</label>
                                <div class="rates__select">
                                    <select class="js-select" id="roleName" name="RoleName">
                                        <option>@RoleName.Admin</option>
                                        <option>@RoleName.Advertiser</option>
                                        <option>@RoleName.NetworkAdmin</option>
                                        <option>@RoleName.InstagramAdmin</option>
                                    </select>
                                </div>
                            </div>
                            <div class="rates__item advertiser-form-group" style="display: none">
                                <label for="">@Global.Admin_Advertiser</label>
                                <div class="rates__select">
                                    <select class="js-select" id="advertiserId" name="AdvertiserId">
                                        @foreach (var advertiser in Model.Advertisers)
                                        {
                                            <option value="@advertiser.Id">@advertiser.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="rates__item network-form-group" style="display: none">
                                <label for="">@Global.Admin_Network</label>
                                <div class="rates__select">
                                    <select class="js-select" id="networkId" name="NetworkId">
                                        @foreach (var network in Model.Networks)
                                        {
                                            <option value="@network.Id">@network.Name</option>

                                        }
                                    </select>
                                </div>
                            </div>
                        }
                        else
                        {
                            <input type="hidden" name="RoleName" value="@RoleName.Advertiser" />
                        }
                        <div class="rates__item">
                            <label for="">@Global.Admin_Password</label><input type="password" name="Password">
                        </div>
                        <div class="rates__submit">
                            <div class="rates__submit-input">
                                <input type="submit" value="@Global.Admin_Create" name="submit">
                            </div>

                        </div>
                    }
                    <!-- end rates__form -->
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!-- end modal -->
    <!-- begin modal -->
    <div class="modal fade" id="js__modal-2">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"></span>
                    </button>
                    <h4 class="modal-title"><span>@Global.Admin_EditUser</span></h4>
                </div>
                <div class="modal-body">
                    <!-- begin rates__form -->
                    @using (Html.BeginForm("Edit", "Users", FormMethod.Post, new { id = "frmEditUser", @class = "rates__form modal__form" }))
                    {
                        <div class="rates__item">
                            <label>@Global.Admin_Name</label>
                            <input type="text" id="editUserName" name="UserName" disabled="disabled">
                            <input type="hidden" id="editUserId" name="Id" />
                        </div>

                        <div class="rates__item">
                            <label for="">@Global.Admin_InstagramCategory</label>
                            <div class="rates__select">
                                <select class="select-multiple" id="categoryId" name="InstagramCategories" multiple="multiple"></select>
                            </div>
                        </div>
                        <div class="rates__submit">
                            <div class="rates__submit-input">
                                <input type="submit" value="@Global.Admin_DeleteUser" name="submit">
                                <input type="submit" value="@Global.Admin_Edit" name="submit">
                            </div>
                        </div>
                    }
                    <!-- end rates__form -->
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!-- end modal -->
}
@section Scripts{
    <script type="text/javascript">
        $(function () {
            $('#frmEditUser')
                .validate({
                    rules: {
                        UserName: {
                            required: 'true',
                            remote: '@Url.Action("ValidateUserName", "Users")'
                        },
                        Password: 'required',
                    },
                    messages: {
                        UserName: '',
                        Password: '',

                    }
                });

            $('#roleName').on('change.fs', function () {
                $('.advertiser-form-group').toggle($(this).val() == '@RoleName.Advertiser');
                $('.network-form-group').toggle($(this).val() == '@RoleName.NetworkAdmin');
            });

            function itemMapper(item) {
                return { id: item.id, text: item.name };
            }

            function valueMapper(item) {
                return item.id;
            }

            function isSelected(item) {
                return item.selected;
            }

            $('.users__edit').click(function () {
                var row = $(this).closest('.users__row');
                var userId = row.data('id');
                $.post('@Url.Action("GetUserCategories")', {
                    userId: userId
                }, function(data) {
                    $('#editUserId').val(userId);
                    $('#editUserName').val(row.find('.user_name').text());
                    $('#js__modal-2').modal('show');
                    $('#js__modal-2').on('shown.bs.modal', function () {
                        $('#categoryId').select2({
                            data: _.map(data, itemMapper)
                        });
                        $('#categoryId').val(_.map(_.filter(data, isSelected), valueMapper)).trigger('change');
                    });

                });


            });
        });
    </script>
}