.main-news-wrap {
  display: flex;
}
.main-news-img {
  position: relative;
  width: 50% !important;
  display: flex;
  -webkit-justify-content: center;
          justify-content: center;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.slider-all .main-news-item {
  display: none;
  margin: 15px;
}
.main-news-img .bx-wrapper {
	max-width: 99% !important;
}
.instant-slide {
   -webkit-transition: 0.001s ease !important;
   transition: 0.001s ease !important;
 }
.main-news {
  padding: 5px 0;
}
.main-news-item {
    margin-top: 30px;
  }
  .main-news-item:first-child {
  	margin-top: 0;
  }
.main-news-wrap .bx-pager {
  display: none;
}
.main-news-wrap .bx-prev,
.main-news-wrap .bx-next {
  display: none;
}
.main-news-wrap{
  background-color: #fff;
  border: 1px solid #e2e2e2;
  padding: 25px;
  display: flex;
}
.main-news{
  padding-left: 50px;
  flex: 1;
  overflow: hidden;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-between;
          justify-content: space-between;
}
.main-news-item p, .news-today-item .news-today-item-content p{
  color: #707070;
  margin-bottom: 0;
}
.main-news-item a, .news-today-item .news-today-item-content a{
  text-decoration: none;
}

.main-news-item a:hover, .news-today-item .news-today-item-content a:hover{
  color: #007dca;
}

.main-news-item a, .news-today-item .news-today-item-content a{
  font-size: 20px;
  color: #000;
  font-weight: bold;
}

.news-today-wrap{
  padding: 40px 0;
 
}
.news-today-item {
  margin-top: -2px;
  display: flex;
  position: relative;
  padding: 60px 0;
  width: 460px;
  min-height: 290px;
  border-bottom: 2px solid #dedede;
}
.news-today-item-border {
  border-top: 2px solid #dedede;
}
.news-today-item:first-child,
.news-today-item:nth-child(2) {
	border-top: 2px solid #dedede;
}

.news-today, .spacial-news{
  margin: 50px 0 80px;
  width: 965px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  -webkit-align-items: center;
          align-items: center;
  justify-content: space-between;
}

.spacial-news .news-today-item{
  height: auto;
  width: 435px;
  z-index: 1
}

.post-views-icon{
  background: url('../img/post-views.png');
  background-repeat: no-repeat;
  margin-left: 20px;
  margin-right: 5px;
  width: 14px;
  height: 10px;
  display: inline-block;
}
.news-video{
  margin: 10px 0;
}
.news-video a{
  font-size: 15px !important;
}
.video-icon{
  position: absolute;
  background: url('../img/video-icon.svg');
  background-repeat: no-repeat;
  margin: -3px 0 0 5px;
  width: 32px;
  height: 32px;
  display: inline-block;
}

.news-today-item-img img{
  margin-right: 20px;
}
.news-today-item-content{
  flex: 1;
  line-height: 1.3;
}
.news-today-item .news-today-item-content a{
  font-size: 25px;
}
.news-today-item .news-today-item-content p span{
  color: #797979;
  font-size: 13px;
  font-weight: bold;
}


.state .news-today-item-img, 
.photoreport .news-today-item-img {
  position: absolute;
  top: 0;
  z-index: -1;
  height: 100%;
  overflow: hidden;
}
.state,
.photoreport {
  min-height: 260px;
  padding: 0;
  padding-bottom: 15px;
  position: relative;
}
.state .line,
.photoreport .line {
  position: absolute;
  bottom: - 15px;
  width: 100%;
  height: 2px;
  background-color: #dedede;
  bottom: -15px;
}

.spacial-news .news-today-item-img img,
.state .news-today-item-img img, 
.photoreport .news-today-item-img img {
	height: 100%;
	margin-right: 0;
}
.spacial-news .news-today-item-img .opacity,
.state .news-today-item-img .opacity, 
.photoreport .news-today-item-img .opacity {
	position: absolute;
	width: 100%;
	height: 110%;
	top: 0;
	z-index: 1;
	background: linear-gradient(to bottom, transparent 0, #000 185%);
	}
.state, .photoreport{
  border: none;
  display: block;
}

.state .news-today-item-content,.photoreport .news-today-item-content{
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  margin: 0 20px;
}

.state .news-today-item-content a,.photoreport .news-today-item-content a{
  color: #fff;
}
.state .news-today-item-content p,.photoreport .news-today-item-content p{
  color: #aeaeae;
}
.state .news-label, .photoreport .news-label{
  position: absolute;
  top: 2px;
  left: 1px;
  color: #fff;
}
.state .news-label{
  background-color: #bb770e;
}
.photoreport .news-label{
  background-color: #197dba;
}

.state .news-label::after, .photoreport .news-label::after {
    content:'';
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: -20px;
    width: 40px;
    background-color: #197dba;
    transform: skew(-20deg);
    z-index: -1;
    border-left: none;
}
.state .news-label::after{
  background-color: #bb770e;
}
.photoreport .news-label::after{
  background-color: #197dba;
}

.state .news-label p, .photoreport .news-label p{
  margin-bottom: 0;
  padding-left: 10px;
  text-transform: uppercase;
}

.spacial-news{
  margin-bottom: 50px;
  padding: 20px;
  background-color: #fff;
  border: 3px solid #007dca;
}
.spacial-news .state .news-label, .spacial-news .photoreport .news-label{
  top: 0;
}

.more{
  text-align: center;
}

.more a{
  padding: 10px 90px;
  text-transform: uppercase;
  text-decoration: none;
  margin: auto;
  background-color: #007dca;
  color: #fff;
}
.more a:hover{
  background-color: #008adf;
}
	
@media only screen and (max-width: 1440px) {
  .news-today,
  .spacial-news {
    width: 100%;
  }
  .news-today-item {
    width: 48%;
  }
}
@media only screen and (max-width: 1300px) {
	.main-news-img {
		margin: auto 0;
		height: 270px;
		overflow: hidden;
	}
	.main-news-img img {
		max-width: 515px !important;
		height: 310px;
	}
	.main-news-item a {
		font-size: 17px;
	}
}
@media only screen and (max-width: 1280px) {
  .spacial-news {
    -webkit-flex-direction: column;
    justify-content: center;
        -ms-flex-direction: column;
        justify-content: center;
            flex-direction: column;
            justify-content: center;
  }
  .spacial-news .news-today-item:nth-child(2) {
      margin-top: 30px;
      }
}
@media only screen and (max-width: 1100px) {
  .spacial-news {
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
      -webkit-justify-content: space-around;
              justify-content: space-around;
  }
  .spacial-news .news-today-item:nth-child(2) {
      margin-top: 0;
      }
	.main .rblock {
		display: none;
	}
	.main-news-img {
  	overflow: visible;
  	height: auto;
	margin: 0;
  }
  .main-news-img img {
    max-width: 100% !important;
    height: auto;
  }
  .main-news {
  	display: flex;
  	-webkit-justify-content: space-between;
  	        justify-content: space-between;
  	    -webkit-flex-direction: column;
  	        -ms-flex-direction: column;
  	            flex-direction: column;
  }
  .main-news-item {
  	margin-bottom: 0;
  }
}
@media only screen and (max-width: 980px){
  .news-today-wrap {
    text-align: center;
  }
  .news-today-item{
    margin: auto;
  }
  
  .news-today-item {
  	text-align: left;
  	justify-content: center;
  	padding: 30px 0;
  }
  
}
@media only screen and (max-width: 955px){
	.spacial-news .news-today-item:nth-child(2) {
  		margin-top: 30px !important;
  		}
  	}
@media only screen and (max-width: 900px){
  .news-today-item:nth-child(2) {
    border-top: none;
  }
  .slide {
    width: calc(100vw - 78px) !important;
  }
  .main-news-img {
    width: auto !important;
  }
  .main-news-img img {
    max-width: 100% !important;
  }
  .main-news-item a {
		font-size: 20px;
	}
  .main-news-wrap .bx-pager {
    display: block;
  }
  .main-news-wrap .bx-wrapper {
    width: 100%;
  }
  .slider-all .main-news-item {
  	display: block;
	}
  .main-news {
    display: none;  
  }
  .news-today, .spacial-news{
    width: auto;
  }
  .news-today-item {
  	width: 100%;
  }
  .main-news-wrap{
    display: block;
  }
  .main-news {
  	display: none;
  }
  .main-news-item {
  	margin-bottom: 15px;
  }
  .main-news-img img {
    width: 100%;
  }
	.news-today-item {
		margin: auto;
		min-height: auto;
		padding: 60px 0;
	}
  .photoreport .news-label,
  .state .news-label {
    top: 15px;
  }
	.photoreport, .state {
		padding: 0;
		min-height: auto;
    padding-top: 15px;
	}
  .news-today > .state .news-today-item-img img, 
  .news-today > .photoreport .news-today-item-img img {
    width: 100%;  
  }
	.state .news-today-item-img, 
  .photoreport .news-today-item-img {
		position: relative;	
	}
	.spacial-news .news-today-item-img .opacity,
	.state .news-today-item-img .opacity, 
	.photoreport .news-today-item-img .opacity {
		height: 100%;
	}
  .spacial-news .news-today-item {
    padding-top: 0;
  }
	
}
@media only screen and (max-width: 520px){
  .spacial-news .news-today-item-img img, 
  .state .news-today-item-img img, 
  .photoreport .news-today-item-img img {
    height: auto;
  }
	.main-news-item a {
		font-size: 18px;
	}
  h1,
  .h1 {
    font-size: 22px;
  }
  .news-today-item .news-today-item-content a{
    font-size: 15px;
  }
  .news-today, .spacial-news{
    
  }
  .photoreport .news-today-item, 
  .state .news-today-item { 
	 
  }
  .state, 
  .photoreport,
  .spacial-news {
    width: calc(100vw - 26px);
  }
  .spacial-news
  .news-today > .state .opacity, 
  .news-today > .photoreport .opacity {
    
  }
  .news-today > .state .news-today-item-img,
  .news-today > .photoreport .news-today-item-img {
    height: auto; 
  }
  .news-today > .photoreport img,
  .news-today > .state img {
    width: 100%;
  }

}
@media only screen and (max-width: 400px){
	

}
@media only screen and (max-width: 370px) {
	.photoreport, .state {
		
	}
	.photoreport .news-today-item-content,
	.state .news-today-item-content {
		
	}
	.state .news-today-item-content a,
	.photoreport .news-today-item-content a {
		font-size: 14px;
	}
	.state .news-today-item-content p, 
	.photoreport .news-today-item-content p {
		font-size: 12px;
	}
}
