@import no-mobile-tap-highlight
@import user-select
@import checkmark

@import ../bower_components/tether/src/css/mixins/inline-block
@import ../bower_components/tether/src/css/helpers/tether

@import select

+tether($themePrefix: "select")

$optionLineHeight: 1.25rem
$paddingTopBottom: .5rem

$maxRows: 8
$maxRowsMobile: 5
$optionHeight: $optionLineHeight + (2 * $paddingTopBottom)
$maxContentSize: $maxRows * $optionHeight
$maxContentSizeMobile: $maxRowsMobile * $optionHeight
$mobileBreakPointSize: ($maxRows + 4) * $optionHeight

.select-theme-dark

    &, & *, & *:after, & *:before
        box-sizing: border-box

.select.select-theme-dark
    +user-select(none)

    .select-content
        border-radius: .25em
        box-shadow: 0 2px 8px rgba(0, 0, 0, .2)
        background: #252525
        color: #b9b9b9
        font-family: inherit
        overflow: auto
        max-width: $maxContentSize
        max-height: $maxContentSize

        -webkit-overflow-scrolling: touch

        @media (max-width: $mobileBreakPointSize), (max-height: $mobileBreakPointSize)
            max-width: $maxContentSizeMobile
            max-height: $maxContentSizeMobile

    .select-options
        +no-mobile-tap-highlight
        margin: 0
        padding: 0

        .select-option
            +no-mobile-tap-highlight
            position: relative
            list-style: none
            margin: 0
            line-height: $optionLineHeight
            padding: $paddingTopBottom 1em $paddingTopBottom 2.5em
            display: block
            cursor: pointer
            white-space: nowrap
            overflow: hidden
            text-overflow: ellipsis

            &.select-option-selected

                &:before
                    +checkmark(#b9b9b9)
                    position: absolute
                    left: 1em
                    top: 0
                    bottom: .2em
                    height: 1em
                    width: 1em
                    margin: auto

            &:hover, &.select-option-highlight
                background: #63a2f1
                color: #fff

                &.select-option-selected:before
                    +checkmark(#fff)

            &:first-child
                border-radius: .25em .25em 0 0

            &:last-child
                border-radius: 0 0 .25em .25em

.select-target.select-theme-dark
    +inline-block
    +user-select(none)
    +no-mobile-tap-highlight
    border-radius: .25em
    position: relative
    padding: $paddingTopBottom 3em $paddingTopBottom 1em
    background: #252525
    border: .18em solid #151515
    cursor: pointer
    color: #b9b9b9
    text-decoration: none
    white-space: nowrap
    max-width: 100%
    overflow: hidden
    text-overflow: ellipsis

    &:hover
        border-color: #000
        color: #fff

    &.select-target-focused, &.select-target-focused:focus
        border-color: #63a2f1
        outline: none

    b
        position: absolute
        right: 1em
        top: 0
        bottom: 0
        margin: auto
        height: $optionLineHeight
        width: 2em

        &:before, &:after
            content: ""
            display: block
            position: absolute
            margin: auto
            right: 0
            height: 0
            width: 0
            border: .263em solid transparent

        &:before
            top: 0
            border-bottom-color: inherit

        &:after
            bottom: 0
            border-top-color: inherit
