﻿<!DOCTYPE html>
<html>
<head>
    <title>New Instagrammer</title>
	<meta charset="utf-8" />
</head>
<body>
<div> BrandName: {{BrandName}}</div>
<div> ContactPerson: {{ContactPerson}}</div>
<div> Email: {{Email}}</div>
<div> AccountLink: {{AccountLink}}</div>
</body>
</html>
