html, body {
  height: 100%; }

body {
  margin: 0;
  font-family: "proxima-nova", "Helvetica Neue", sans-serif; }

table.showcase {
  height: 100%;
  width: 100%;
  position: relative; }
  table.showcase .showcase-inner {
    margin: 40px auto 60px;
    padding: 10px; }
  table.showcase:after {
    content: "";
    display: block;
    position: absolute;
    opacity: 0.5;
    left: 0;
    right: 0;
    bottom: 20px;
    margin: auto;
    height: 0;
    width: 0;
    border-width: 18px;
    border-style: solid;
    border-color: transparent;
    border-top-color: inherit; }
  table.showcase.last-showcase:after {
    display: none; }
  table.showcase .showcase-inner h1 {
    font-size: 50px;
    text-align: center;
    font-weight: 300; }
  table.showcase .showcase-inner h2 {
    font-size: 24px;
    text-align: center;
    font-weight: 300;
    margin: 1em 0 1em;
    padding: 0 10%; }
    table.showcase .showcase-inner h2 a {
      color: inherit; }
  table.showcase .showcase-inner p {
    text-align: center; }

.select-target {
  width: 200px;
  text-align: left; }

.button {
  display: inline-block;
  border: 2px solid #333;
  color: #333;
  padding: 1em 1.25em;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-decoration: none;
  cursor: pointer;
  width: 140px;
  font-size: .8em;
  line-height: 1.3em; }
  .button.dark {
    background: #333;
    color: #fff; }

table.showcase.hero .hero-container {
  background-image: -webkit-linear-gradient(left, #fff, #f0f0f0, #fff);
  background-image: linear-gradient(left, #fff, #f0f0f0, #fff);
  margin: 0 auto;
  text-align: center; }

table.showcase.about {
  background: #fff1dd; }
  table.showcase.about a {
    color: #c96c24; }
  table.showcase.about p {
    box-sizing: border-box;
    text-align: left;
    width: 500px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto; }
    table.showcase.about p > code {
      background: rgba(0, 0, 0, 0.05); }
  table.showcase.about pre {
    box-sizing: border-box;
    text-align: left;
    width: 500px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto; }

table.showcase.themes {
  background: #eee; }
  table.showcase.themes.select-theme-dark {
    background: #323232; }
    table.showcase.themes.select-theme-dark h1, table.showcase.themes.select-theme-dark h2 {
      color: #e6e6e6; }
  table.showcase.themes.select-theme-chosen {
    background: #fff; }
  table.showcase.themes .themes-list {
    margin: 4em auto;
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 18px; }
    table.showcase.themes .themes-list li {
      padding: 0;
      margin: 0;
      display: inline; }
      table.showcase.themes .themes-list li a {
        cursor: pointer;
        opacity: 0.3;
        padding: .5em;
        display: inline-block; }
        table.showcase.themes .themes-list li a.selected {
          opacity: 1; }

@media (max-width: 786px) {
  table.showcase .showcase-inner table[data-sortable] tr *:nth-child(4), table.showcase .button.dark {
    display: none; } }

@media (max-width: 480px) {
  table.showcase .showcase-inner table[data-sortable] tr *:nth-child(3) {
    display: none; } }

@media (max-width: 568px) {
  table.showcase.about p, table.showcase.about pre {
    width: 400px; } }

@media (max-width: 420px) {
  table.showcase.about p, table.showcase.about pre {
    width: 280px; } }
