﻿.failed,.stopped {
	width: 100px;
	text-align: center;
	color: #fff;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid red;
	display: inline-block;
	background-color: red;
	padding: 7px 5px;
}

@media screen and (max-width: 960px) {
	.menu-aside {
		padding: 80px 40px;
	}
}

.m-box__form textarea,
.m-box__form #emailArea{
    font-size: 24px;
}

@media screen and (max-width: 768px) {
    .modal-header {
		padding: 50px 40px;
		padding-left: 40px;
	}
	.modal-body {
		padding: 55px 40px;
	}
}

@media screen and (max-width: 480px) {
    .modal-header {
		padding: 30px 20px;		
	}
	.modal-body {
		padding: 35px 30px 25px;
	}
}

.page_2 .module-5 .module__down {
    padding-bottom: 40px;
}

.mainSec__input input[type=password] {
	width: 100%;
	display: inline-block;
	background-color: #fff;
	height: 50px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 2px solid #EEF3F4;
	padding-left: 52px;
	font-size: 16px;
}

.advertisers__header .profileInfo__btn:after {
    top: 13px;
}

.rates__submit-input:after {
    top: 17px;
}

.select-multiple {
    width: 100%;
}

.bannerBox__image video {
    width: 100%
}

.toast-info {
    background-color: #38DF11;
    color: #fff;
}

.banVideo__left,.banVideo__right {
        width: 50%;
}

.contentInfo__btn {
    display: inline-block;
    min-width: 160px;
}
.advertiser__btn {
    width: 100px;
}

.module-faq .module__title {
    padding-bottom: 20px;
}

.module-faq .m-box__Text {
    color: black;
    text-align: justify;
}

/*
.module-faq .module__up:first-child {
    padding-top: 85px
}
*/

.module-faq .module__up {
    padding-top: 10px;
    padding-bottom: 5px;
}

.module-faq ol {
    list-style-type: decimal;
}

.module-faq ul {
    list-style-type: disc;
}

/*
.module-faq .module__header {
    text-align: center;
}
*/

@media screen and (max-width: 767px) {
    .module-faq .module__up {
        padding: 40px;
        padding-bottom: 5px;
    }
}
@media screen and (max-width: 350px) {
    .module-faq .module__up {
        padding: 0px;
        padding-left: 25px;
        padding-bottom: 5px;
    }
}
.m-status-inform__col {
    max-width: initial;
}

.lang-list {
    z-index: 1;
}

.lang-list a {
    display: block;
}

.lang-list a:hover {
    color: white;
}

.lower-alpha-parentheses,.lower-roman-parentheses {
    counter-reset: list;
}
.lower-alpha-parentheses > li,.lower-roman-parentheses > li {
    list-style: none;
    position: relative;
}
.lower-alpha-parentheses > li:before {
    counter-increment: list;
    content: "("counter(list, lower-alpha) ") ";
    position: absolute;
    left: -1.4em;
}

.lower-roman-parentheses > li:before {
    counter-increment: list;
    content: "("counter(list, lower-roman) ") ";
    position: absolute;
    left: -1.4em;
}

.text-area-symbol {
    position: absolute;
    left: -15px;
    top: 40%;
	color: #000;
}

.lang-list{
	position: absolute;
	font-size: 14px;
	top: 20px;
    left: 0;
    opacity: 0;
    border: 2px solid #fff;
    min-width: 90px;
    background: #fff;
	color: #28404A;
    visibility: hidden;
    transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
    -webkit-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
    -moz-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
    -ms-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
    -o-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
}
.lang-list.active{
    opacity: 1;
    visibility: visible;
    transition: opacity 300ms ease-out, top 300ms ease-out;
    -webkit-transition: opacity 300ms ease-out, top 300ms ease-out;
    -moz-transition: opacity 300ms ease-out, top 300ms ease-out;
    -ms-transition: opacity 300ms ease-out, top 300ms ease-out;
    -o-transition: opacity 300ms ease-out, top 300ms ease-out;
}
.lang-list span{
    display: block;
    width: 87px;
    cursor: pointer;
    padding: 2px;
}
.lang-list span:hover{
    background: #28404A;
    color: #fff;
}

@media screen and (max-width: 600px) and (min-width: 480px) {
    .jp-video-play {
        display: none !important;
    }

    .jp-how .jp-jplayer img {
        display: inline !important;
    }
}

@media screen and (max-width: 768px) and (min-width: 480px) {
    .jp-how .jp-jplayer img {
        height: 135px !important;
    }
}

.approval-account__confirm-buttons, .approval-select-buttons {
	width: 24%;
}

.approval-account__confirm-buttons form, .approval-select-buttons form {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
}

.approval-account__confirm-buttons button, .approval-select-buttons button {
	-webkit-border-radius: 3px;
	border-radius: 3px;
	font-family: Montserrat, sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 14px;
	max-width: 148px;
	width: 100%;
	padding: 13px 0;
	text-transform: capitalize;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	margin-bottom: 11px;
	border: 1px solid transparent;
	-webkit-transition: all .3s linear;
	-o-transition: all .3s linear;
	transition: all .3s linear;
}

.approval-account__confirm-buttons path, .approval-select-buttons path {
	-webkit-transition: all .3s linear;
	-o-transition: all .3s linear;
	transition: all .3s linear;
}

.approval-account__confirm-buttons svg, .approval-select-buttons svg {
	margin-right: 6px;
}

.approval-account__confirm-buttons button:first-child, .approval-select-buttons button.select{
	color: #65d401;
}

.approval-account__confirm-buttons button:first-child:hover, .approval-select-buttons button.select:hover {
	background-color: #f4ffe9;
	border-color: #65d401;
	color: #65d401;
}

.approval-account__confirm-buttons button:first-child:hover path, .approval-select-buttons button.select:hover path{
	fill: #65d401;
}

.approval-account__confirm-buttons button:first-child path, .approval-select-buttons button.select path {
	fill: #65d401;
}

.approval-account__confirm-buttons button:last-child, .approval-select-buttons button.unselect {
	color: #ef5030;
}

.approval-account__confirm-buttons button:last-child:hover, .approval-select-buttons button.unselect:hover {
	background-color: #f4ffe9;
	border-color: #ef5030;
	color: #ef5030;
}

.approval-account__confirm-buttons button:last-child:hover path, .approval-select-buttons button.unselect:hover path {
	fill: #ef5030;
}

.approval-account__confirm-buttons button:last-child path, .approval-select-buttons button.unselect path {
	fill: #ef5030;
}

.approval-account__confirm-buttons button.ok {
	background-color: #65d401;
	color: #fff;
}

.approval-account__confirm-buttons button.ok path {
	fill: #fff;
}

.approval-account__confirm-buttons button.cancel {
	background-color: #ef5030;
	color: #fff;
}

.approval-account__confirm-buttons button.cancel path {
	fill: #fff;
}

.approval-account__confirm-buttons button.disable {
	color: #444b4d;
}

.approval-account__confirm-buttons button.disable path {
	fill: #444b4d;
}

input.error,textarea.error {
    border: 1px solid #cc3341;
    color: #cc3341;
}

.not-before-button:before {
    content: none!important;
}

.mainSec__left-content {
    padding-top: 65px;
}

.approval-account__image img,.approval-account__image .dark-bg {
    max-width: 100px;
}

@media screen and (max-width: 767px) {
    .module__title .number {
        width: 40px;
        height: 40px;
    }
}

.slick-slide img {
    display: block;
    width: 100% !important;
}

.preview {
    -webkit-background-size: contain !important;
    background-size: contain !important;
}

@media screen and (max-width: 350px) {
    .slick-slide img {
        height: auto !important;
    }
}

@media screen and (max-width: 767px) {
    .slick-slide img {
        height: 100% !important;
        width: 100% !important;
        display: initial !important;
        text-align: center;
    }
}

@media screen and (max-width: 520px) {
    .send-box {
        padding: 10px 15px 90px;
    }
}

.wrap_img {
    height: 100px;
}

.inform__block {
    display: inline-block;
    margin-right: 25px;
}
.inform__block:last-child {
    margin-right: 0;
}
.inform-b::after {
    content: none;
}
.inform__block {
    width: 255px;
    padding: 0;
    display: inline-block;
}
.inform__block:hover {
    background-color: rgba(255, 255, 255, 0.412);
    border: 1px solid #fff;
}
.inform-b__video::after{
    content: '';
    width: 26px;
    height: 25px;
    display: block;
    background: url(/images/play.png) no-repeat;
    position: absolute;
    top: 28px;
    left: 37px;
}
.inform-b::before {
    content: none;
}
.inform-b__video {
    display: inline-block;
    float: left;
}

.inform-b__video img {
    -webkit-border-top-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.inform-b__subtitle {
    font-family: "Raleway", sans-serif;
    color: #fff;
    display: table-cell;
    height: 80px;
    width: 137px;
    vertical-align: middle;
    letter-spacing: 0;
    font-weight: normal;
    padding-left: 17px;
}
.footer__inform {
    margin-left: 250px;
}
@media screen and (max-width: 767px) {
    .footer {
        display: block;
    }
    .footer__col.f-list{
        display: none;
    }
    .footer__inform {
        margin-left: 0;
    }
    .module-0 .container .main__login {
        position: relative;
    }
    .send-box {
        padding: 10px 15px 20px;
    }
    .inform__block {
        width: 100%;
        padding: 0;
        display: inline-block;
        margin-bottom: 10px;
        margin-right: 0;
    }
    .main {
        min-height: auto;
        height: auto;
    }
	.advertisers__header .profileInfo__btn:after{
		top: 50%;
	}
}

.m-box__Text_link {
    padding-top: 20px;
}

.m-box__Text_link a {
    text-decoration: underline;
}

.inner-cab .header {
    padding-top: 50px;
    padding-bottom: 50px;
}
.inner-cab .header__logOut{
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
}
.inner-cab .choose__language-wr{
    display: inline-block;
    padding-right: 48px;
    vertical-align: middle;
}
.inner-cab .header .container > div:last-child{
    margin-top: 12px;
}

@media screen and (max-width: 1200px){
	.mainSec__left-content{
		padding-top: 0;
	}
}
@media screen and (max-width: 600px){
    .inner-cab .choose__language-wr{
        padding-right: 20px;
    }
    .inner-cab .header{
        padding-top: 15px;
        padding-bottom: 15px;
    }
}
@media screen and (max-width: 480px){
    .inner-cab .header__userName{
        display: none;
    }
}

.start-button {
    padding: 10px
}