﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.fb-login-button{
    padding: 15px;
}

.nav-pills-main-menu {
    position: absolute;
    min-width: 300px;
    left: 5px;
    top: 80px;
}

.page-content {
    margin-left: 310px;
}

.form-control[readonly] {
    cursor: default !important;
}

.navbar-brand-followers-info {
    display: none;
}