﻿@using Kigl.Common.Enums
@using ControlPanel.Common.Enums
@using Kigl.Controllers
@using Global = Resources.Global;
@model Kigl.Models.ChooseAdModel
@{
    ViewBag.Title = "Choose";
    var controller = (BaseController)ViewContext.Controller;
    var currentUser = controller.CurrentUser;
    var lang = ((BaseController)ViewContext.Controller).CurrentLanguage;
    Layout = "../Shared/_InstagramLayout.cshtml";
}
@section Styles{
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/js/jPlayer-master/dist/skin/blue.monday/css/jplayer.blue.monday.min.css">
}
<div class="page_2">
    
        <div class="module module-1 active">
            <div class="instagrammer-choosing">
                <div class="modal__opacity"></div>
                <div class="nav-area">
                    <ul class="nav-area__tabs">
                        <li class="active @(lang.ToString()=="Russian"?"nav-area__tabs_li_ru":"")" data-tab="tab-1">@Global.Instagram_MainPage</li>
                        <li data-tab="tab-2" class="@(lang.ToString()=="Russian"?"nav-area__tabs_li_ru":"")">@Global.Instagram_ViewProfile</li>
                        <li data-tab="tab-3" class="@(lang.ToString()=="Russian"?"nav-area__tabs_li_ru":"")">@Global.Instagram_EarnMore</li>
                        <li data-tab="tab-4" class="@(lang.ToString()=="Russian"?"nav-area__tabs_li_ru":"")">@Global.Instagram_PaymentHistory</li>
                    </ul>
                </div>
            </div>
            <div id="tab-1" class="nav-area__content active">
                <div class="instagrammer-choosing">
                    <header class="module__up">
                        <div class="userinform__area">
                            <div class="userinform__area__item">
                                <a href="InstagrammerProfile.html" class="m-inform__image">
                                    <img alt="foto" src="@Session["InstagramPicUrl"]" />
                                </a>
                            </div>
                            <div class="userinform__area__item">
                                <p>@Model.InstagramerName</p>
                                <div class="m-inform__col m-status-inform__col m-status-inform__col_width">
                                    <span>
                                        @Global.Instagram_Status:
                                        <span style="color: #11b7ff">@(Model.UserHasCategories ? Global.Instagram_Approved : Global.Instagram_PendingApproval)</span>
                                    </span>
                                    @if (!Model.UserHasCategories)
                                    {
                                        <span class="tooltip_circle">
                                            ?
                                            <span class="tooltip_content tooltip_top">
                                                <span class="tooltip_text">@Global.Instagram_AccountIsVerifyingTooltip </span>
                                                <span class="tooltip_triangle"></span>
                                            </span>
                                        </span>
                                    }
                                </div>
                            </div>
                            <div class="userinform__area__item">
                                <div class="module__inform m-inform">

                                    <ul class="m-inform__list">
                                        <li class="m-inform__col">
                                            <span>@Global.Instagram_Followers</span>
                                            <b class="blue-color followers-count"></b>
                                        </li>
                                        <li class="m-inform__col">
                                            <div>
                                                <span>@Global.Instagram_Proposed @Global.Instagram_Earnings </span>
                                                <span class="tooltip_circle ">
                                                    ?
                                                    <span class="tooltip_content tooltip_bottom">
                                                        <span class="tooltip_text">@Global.Instagram_EstimateEarningsTooltip</span>
                                                        <span class="tooltip_triangle"></span>
                                                    </span>
                                                </span>
                                            </div>
                                            <b class="blue-color followers-balance"><small>@Global.Instagram_Post</small></b>
                                        </li>
                                        <li class="m-inform__col m-inform__col_money">
                                            <span>@Global.Instagram_MoneyEarned</span>
                                            <b class="blue-color">$ @controller.Balance</b>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </header>
                    <div class='fakeTable' style="">
                        @foreach (var ad in Model.UserAds)
                        {
                            var adFile = ad.Files.FirstOrDefault(item => item.FileAdType != FileAdType.Thumbnail);
                            var thumbFile = ad.Files.FirstOrDefault(item => item.FileAdType == FileAdType.Thumbnail);
                            <div class="fakeTable__body">
                                <div class="fakeTable__row" data-id="@ad.Id">
                                    <div class="fakeTable__box fakeTable__box2">
                                        <div class="fakeTable__box_head">
                                            <div class="modile_box_head">
                                                Ad ID
                                            </div>
                                        </div>
                                        <div class="fakeTable__box_body">
                                            <div class="fakeTable__ico">
                                                <p class="identity_preview"><span class="identity_head">ID</span><span>@ad.Id.ToString().Replace("-", "")</span></p>
                                                <div class="show_data_identy">
                                                    <span class="copy_data_identy">@ad.Id.ToString().Replace("-", "")</span>
                                                    <button class="copy_data_identy_button">Click to copy</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="fakeTable__box fakeTable__box2">
                                        <div class="fakeTable__box_head">
                                        </div>
                                        <div class="fakeTable__box_body">
                                            <div class="fakeTable__image" style="background-image: url('@Url.Action("GetFileByName", "Files", new {fileName = (thumbFile ?? adFile).FileName, adType = AdType.Banner})')"></div>
                                        </div>
                                    </div>
                                    <div class="fakeTable__box fakeTable__box3">
                                        <div class="fakeTable__box_head">
                                            @Global.Instagram_Description
                                        </div>
                                        <div class="fakeTable__box_body fakeTable__box_body__desc">
                                            <p class="caption_par">@ad.Caption</p>
                                        </div>
                                    </div>
                                    <div class="fakeTable__box fakeTable__box4">
                                        <div class="fakeTable__box_head">
                                            @Global.Instagram_Status
                                        </div>
                                        <div class="fakeTable__box_body">
                                            @if (ad.VerifyStatus == VerifyStatus.Downloaded)
                                            {
                                                <a href="#" class="fakeTable__btn verify">@Global.Instagram_Verify</a>
                                                    <a href="#" class="fakeTable__btn process" style="display: none">@Global.Instagram_InProcess</a>
                                                    <a href="#" class="fakeTable__btn failed" style="display: none">@Global.Instagram_Failed</a>
                                                    <a href="#" class="fakeTable__btn stopped" style="display: none">@Global.Instagram_Stopped</a>
                                            }
                                            else if (ad.VerifyStatus == VerifyStatus.InProgress)
                                            {
                                                <a href="#" class="fakeTable__btn process">@Global.Instagram_InProcess</a>
                                            }
                                            else if (ad.VerifyStatus == VerifyStatus.Failed)
                                            {
                                                <a href="#" class="fakeTable__btn failed">@Global.Instagram_Failed</a>
                                                    <a href="#" class="fakeTable__btn process" style="display: none">@Global.Instagram_InProcess</a>
                                                    <a href="#" class="fakeTable__btn stopped" style="display: none">@Global.Instagram_Stopped</a>
                                                    <a href="#" class="fakeTable__btn done" style="display: none">@Global.Instagram_Done</a>
                                            }
                                            else if (ad.VerifyStatus == VerifyStatus.CampaignStopped)
                                            {
                                                <a href="#" class="fakeTable__btn stopped">@Global.Instagram_Stopped</a>
                                            }
                                            else if (ad.VerifyStatus == VerifyStatus.Success)
                                            {
                                                <a href="#" class="fakeTable__btn done">@Global.Instagram_Done</a>
                                            }

                                            <span class="tooltip_circle ">
                                                ?
                                                <span class="tooltip_content">
                                                    <span class="tooltip_text">@Global.Instagram_EstimateEarningsTooltip2</span>
                                                    <span class="tooltip_triangle"></span>
                                                </span>
                                            </span>

                                            @*<a href="#" class="fakeTable__btn verify">Verify</a>
                                        <span class="tooltip_circle ">
                                            ?
                                            <span class="tooltip_content">
                                                <span class="tooltip_text">Estimated earnings are calculated based on the number of your followers and their engagement with your posts</span>
                                                <span class="tooltip_triangle"></span>
                                            </span>
                                        </span>
                                        <a href="#" class="fakeTable__btn process" style="display: none">In process</a>
                                        <a href="#" class="fakeTable__btn failed" style="display: none">Failed</a>
                                        <a href="#" class="fakeTable__btn stopped" style="display: none">Campaign stopped</a>*@
                                        </div>
                                    </div>
                                    <div class="fakeTable__box fakeTable__box5">
                                        <div class="fakeTable__box_head">
                                            @Global.Instagram_EarnedMoney
                                        </div>
                                        <div class="fakeTable__box_body">
                                            <div class="fakeTable__price">$ @(ad.VerifyStatus == VerifyStatus.Success ? ad.UserAmount : 0)</div>
                                        </div>
                                    </div>
                                    <div class="fakeTable__box fakeTable__box6">
                                        <div class="fakeTable__box_head">
                                        </div>
                                        <div class="fakeTable__box_body">
                                            <a href="@Url.Action("DownloadFile", "Files", new {id = ad.Id})" class="fakeTable__download"><img src="/static/image/download.png" alt=""></a>
                                        </div>
                                    </div>
                                </div> <!-- End table row -->
                            </div>
                        }
                        <!--<div class="fakeTable__body">
                    <div class="fakeTable__row" data-id="f7da046e-fe9c-48af-828f-7ab6438de2de">
                        <div class="fakeTable__box fakeTable__box1">
                            <div class="fakeTable__box_head">
                                <div class="modile_box_head">
                                    Ad ID
                                </div>
                            </div>
                            <div class="fakeTable__box_body">
                                <div class="fakeTable__ico">
                                    <p class="identity_preview"><span class="identity_head">ID</span><span>111222333444333222111222333444333777</span></p>
                                    <div class="show_data_identy">
                                        <span class="copy_data_identy">111222333444333222111222333444333777</span>
                                        <button class="copy_data_identy_button">Click to copy</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="fakeTable__box fakeTable__box2">
                            <div class="fakeTable__box_head">
                            </div>
                            <div class="fakeTable__box_body">
                                <div class="fakeTable__image" style="background-image: url('/static/image/desc.png')"></div>
                            </div>
                        </div>
                        <div class="fakeTable__box fakeTable__box3">
                            <div class="fakeTable__box_head">
                                Description
                            </div>
                            <div class="fakeTable__box_body fakeTable__box_body__desc">
                                <p class="caption_par">polar bear ski and spa resort - an unbeleivable beauty, romantic and inspiring place. see more at www.polarbearskiandspa.com</p>
                            </div>
                        </div>
                        <div class="fakeTable__box fakeTable__box4">
                            <div class="fakeTable__box_head">
                                Status
                            </div>
                            <div class="fakeTable__box_body">
                                <a href="#" class="fakeTable__btn verify">Verify</a>
                                <span class="tooltip_circle ">
                                    ?
                                    <span class="tooltip_content">
                                        <span class="tooltip_text">Estimated earnings are calculated based on the number of your followers and their engagement with your posts</span>
                                        <span class="tooltip_triangle"></span>
                                    </span>
                                </span>
                                <a href="#" class="fakeTable__btn process" style="display: none">In process</a>
                                <a href="#" class="fakeTable__btn failed" style="display: none">Failed</a>
                                <a href="#" class="fakeTable__btn stopped" style="display: none">Campaign stopped</a>
                            </div>
                        </div>
                        <div class="fakeTable__box fakeTable__box5">
                            <div class="fakeTable__box_head">
                                Earned money
                            </div>
                            <div class="fakeTable__box_body">
                                <div class="fakeTable__price">$ 3289</div>
                            </div>
                        </div>
                        <div class="fakeTable__box fakeTable__box6">
                            <div class="fakeTable__box_head">
                            </div>
                            <div class="fakeTable__box_body">
                                <a href="/Files/DownloadFile?id=f7da046e-fe9c-48af-828f-7ab6438de2de" class="fakeTable__download"><img src="/static/image/download.png" alt="" class="download_img_margin"></a>
                            </div>
                        </div>
                    </div>
                </div>-->
                    </div>
                    <footer class="module__down">
                        <div class="wrap-btn">
                            <a href="#" class="module__btn btn btn-style_1 btn-style_1color-blue" id="keepEarning" data-target=".module-2" style="@(Model.UserAds.Any(item => item.VerifyStatus == VerifyStatus.Downloaded) || !Model.HasAdForShowing || !Model.UserHasCategories ? "display: none" : "")">
                                @if (Model.UserAds.Any())
                                {
                                    <span>
                                        @Global.Instagram_KeapEarning!
                                    </span>
                                }
                                else
                                {
                                    <span class="span-text-mini">
                                        @Global.Instagram_StartEarning @Global.Instagram_FirstAd!
                                    </span>
                                }
                            </a>
                            @if (Model.UserHasCategories && !Model.HasWithdraws)
                            {
                                <a id="withdraw-now" href="#" class="module__btn btn btn-style_2" data-target=".module-5">
                                    <span>@Global.Instagram_Withdraw</span>
                                </a>
                            }
                        </div>
                    </footer>
                </div>
            </div>

            <div id="tab-2" class="nav-area__content">
                <div class="module module-1 active">
                    <header class="module__up">
                        <div class="profile__area">
                            <div class="profile__item">
                                <a href="#" class="m-inform__image__new">
                                    <img alt="foto" src="@Session["InstagramPicUrl"]" />
                                </a>
                                <div class="instagramer_profile__title__new">@Model.InstagramerName</div>
                            </div>
                            <div class="profile__item">
                                <div class='fakeTable instagramer_table instagramer_table__new' style="">
                                    <div class="fakeTable__body">
                                        <div class="fakeTable__row  fakeTable__row__area" data-id="f7da046e-fe9c-48af-828f-7ab6438de2de">
                                            <div class="fakeTable__box__item">
                                                <div class="fakeTable__box fakeTable__box2">
                                                    <div class="fakeTable__box__title__new">
                                                        @Global.Instagram_Profile_InstagramUsername
                                                    </div>
                                                    <div class="fakeTable__box_body fakeTable__box_body__new">
                                                        <span class="instagrammer_username">@Model.InstagramerUserName</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="fakeTable__box__item">
                                                <div class="fakeTable__box fakeTable__box3 fakeTable__box3__new">
                                                    <div class="fakeTable__box__title__new ">
                                                        @Global.Instagram_Profile_Email
                                                    </div>
                                                    <div class="fakeTable__box_body fakeTable__box_body__new fakeTable__box_body__mob fakeTable__box_body--align-left">
                                                        <span class="instagrammer_email">@Model.InstagramerEmail</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="fakeTable__box__item">
                                                <div class="fakeTable__box fakeTable__box4 fakeTable__box4__new">
                                                    <div class="fakeTable__box__title__new">
                                                        <span>@Global.Instagram_Profile_Mobile</span>
                                                        <a href="#" class="instagrammer_mobile_change instagrammer_profile_change__new"></a>
                                                    </div>
                                                    <div class="fakeTable__box_body fakeTable__box_body__new">
                                                        <span class="mob_numb">@Model.InstagramerPhoneNumber</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="fakeTable__box__item">
                                                <div class="fakeTable__box fakeTable__box5 fakeTable__box5__new">
                                                    <div class="fakeTable__box__title__new">
                                                        <span>@Global.Instagram_Profile_Paypal</span>
                                                        <a href="#" class="instagrammer_paypal_change instagrammer_profile_change__new"></a>
                                                    </div>
                                                    <div class="fakeTable__box_body fakeTable__box_body__new">
                                                        <span class="paypal_akk">@Model.InstagramerPayPal</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </header>
                </div>
            </div>
            <div id="tab-3" class="nav-area__content" `>
                <div class="earn-more__slider-item currently" id="slide-1" data-slide="1">
                    <div class="earn-more__header">
                        <p class="earn-more__header--title">
                            @Global.Instagrm_Referral_Slider2_Text1<br />
                            @Global.Instagrm_Referral_Slider2_Text2
                            <span class="tooltip_circle">
                                ?
                                <span class="tooltip_content tooltip_bottom tooltip_earn">
                                    <span class="tooltip_text">@Global.Instagrm_Referral_Slider2_Text3</span>
                                    <span class="tooltip_triangle earn-triangle"></span>
                                </span>
                            </span>
                        </p>
                        <button id="referralInstagramer" class="earn-more__header--button">@Global.Instagrm_Referral_Slider2_Text4</button>
                        <p class="earn-more__header-count">
                            <span class="earn-more_slide-now"></span>
                            <span>/</span>
                            <span class="earn-more_slide-sum"></span>
                            <a href="" class="earn-more_slide-next"><img src="/static/image/arrow-point-to-right.png" alt="next slide"></a>
                        </p>
                    </div>
                    <div class="earn-more__content">
                        <p class="conditions_title" ">@Global.Instagrm_Referral_Slider2_Text5</p>
                        <div class="conditions_area">
                            <div class="conditions_item">
                                <img src="/static/image/invite_icon.svg" alt="invite">
                                <p class="conditions_item--text">@Global.Instagrm_Referral_Slider2_Text6</p>
                            </div>
                            <div class="conditions_item">
                                <img src="/static/image/get_percent_icon.svg" alt="get percent">
                                <p class="conditions_item--text">@Global.Instagrm_Referral_Slider2_Text7</p>
                            </div>
                            <div class="conditions_item">
                                <img src="/static/image/get_money_icon.svg" alt="get money">
                                <p class="conditions_item--text">@Global.Instagrm_Referral_Slider2_Text8</p>
                            </div>
                        </div>
                    </div>
                    <div class="earn-more__footer">
                        @Global.Instagrm_Referral_Slider2_Text9
                        <ul>
                            <li>@Global.Instagrm_Referral_Slider2_Text10</li>
                            <li>@Global.Instagrm_Referral_Slider2_Text11</li>
                            <li>@Global.Instagrm_Referral_Slider2_Text12</li>
                        </ul>
                    </div>
                </div> <!-- End Slider Item 1 -->
                <div class="earn-more__slider-item visuality-hidden" id="slide-2" data-slide="2">
                    <div class="earn-more__header">
                        <p class="earn-more__header--title">
                            @Global.Instagrm_Referral_Slider1_Text1<br />
                            @Global.Instagrm_Referral_Slider1_Text2
                            <span class="tooltip_circle">
                                ?
                                <span class="tooltip_content tooltip_bottom tooltip_earn">
                                    <span class="tooltip_text">@Global.Instagrm_Referral_Slider1_Text3</span>
                                    <span class="tooltip_triangle earn-triangle"></span>
                                </span>
                            </span>
                        </p>
                        <button id="referralAdvertiser" class="earn-more__header--button">@Global.Instagrm_Referral_Slider1_Text4</button>
                        <p class="earn-more__header-count">
                            <span class="earn-more_slide-now"></span>
                            <span>/</span>
                            <span class="earn-more_slide-sum"></span>
                            <a href="" class="earn-more_slide-next"><img src="/static/image/arrow-point-to-right.png" alt="next slide"></a>
                        </p>
                    </div>
                    <div class="earn-more__content">
                        <p class="conditions_title">@Global.Instagrm_Referral_Slider1_Text5</p>
                        <div class="conditions_area">
                            <div class="conditions_item">
                                <img src="/static/image/invite_icon.svg" alt="invite">
                                <p class="conditions_item--text">@Global.Instagrm_Referral_Slider1_Text6</p>
                            </div>
                            <div class="conditions_item">
                                <img src="/static/image/get_percent_icon.svg" alt="get percent">
                                <p class="conditions_item--text">
                                    @Global.Instagrm_Referral_Slider1_Text7
                                </p>
                            </div>
                            <div class="conditions_item">
                                <img src="/static/image/get_money_icon.svg" alt="get money">
                                <p class="conditions_item--text">@Global.Instagrm_Referral_Slider1_Text8</p>
                            </div>
                        </div>
                    </div>
                    <div class="earn-more__footer">
                        @Global.Instagrm_Referral_Slider2_Text9
                        <ul>
                            <li>@Global.Instagrm_Referral_Slider1_Text10</li>
                            <li>@Global.Instagrm_Referral_Slider1_Text11</li>
                        </ul>
                    </div>
                </div> <!-- End Slider Item 2 -->

            </div>
            <div id="tab-4" class="nav-area__content">
                <div class="module module-1 active money-stat">
                    <!--<header class="module__up">-->
                    <!--&lt;!&ndash;<div class="instagramer_profile__title instagramer_profile__title__money"><span>Advertiser, Instagrammer money statistics</span></div>&ndash;&gt;-->
                    <!--</header>-->
                    <div class="filter-page__area">
                        <div class="filter-page__item">
                            <form action="" class="edit_row_per_page_form">
                                <label class="edit_row_per_page_wrap">
                                    @Global.Instagram_PH_RowsPerPage
                                    <select name="edit_row_per_page" id="edit_row_per_page" class="edit_row_per_page-select">
                                        <option value="10">10</option>
                                        <option value="20">20</option>
                                        <option value="50">50</option>
                                    </select>
                                </label>
                            </form>
                        </div>
                        <div class="filter-page__item">
                            <div class="filter-page__reload" style="background-image: url('/static/image/reload.png');"></div>
                        </div>
                        <div class="filter-page__item">
                            <input type="text" id="choose-dates" class="choose-dates" value="" />
                            <button class="filter-page__button">
                                @Global.Instagram_PH_ChooseDate
                                <img src="/static/image/datetimepicker-right.png" alt="choose datepicker">
                            </button>
                        </div>
                        <div class="filter-page__item">
                            <form action="#" method="post" class="fakeTable__filter-select">
                                <select name="select-type" id="select-type">
                                    <option value="0" selected>@Global.Instagram_PH_ChooseType</option>
                                    <option value="1">@Global.Instagram_PH_PaymentAD</option>
                                    <option value="2">@Global.Instagram_PH_PaymentInvite</option>
                                    <option value="3">@Global.Instagram_PH_Withdraw</option>
                                </select>
                            </form>
                        </div>
                    </div> <!-- End filter area -->
                    <div class="fakeTable-custom">
                        <div class='fakeTable instagramer_table money_table'>
                            <div class="fakeTable_header__area">
                                <div class="fakeTable_header__area-item">
                                    @Global.Instagram_PH_Date
                                </div>
                                <div class="fakeTable_header__area-item">
                                    @Global.Instagram_PH_AdId
                                </div>
                                <div class="fakeTable_header__area-item">
                                    @Global.Instagram_PH_Amount
                                </div>
                                <div class="fakeTable_header__area-item">
                                    @Global.Instagram_PH_Type
                                </div>
                            </div>
                            <div class="fakeTable__body">

                            </div>
                        </div>
                    </div>
                    <div class="pagination">
                        <div class="pagination__arrow">
                            <a href="#" class="prev">
                                <span class="back_arrow"></span>
                                <span>Back</span>
                            </a>
                        </div>
                        <!-- /.pagination__arrow -->
                        <div class="pagination__pages">
                            <a href="#">1</a>
                            <a href="#">2</a>
                            <a href="#" class="active">3</a>
                            <a href="#">4</a>
                            <a href="#">5</a>
                            <span class="disabled">...</span>
                            <a href="#">23</a>
                        </div>
                        <!-- /.pagination__pages -->
                        <div class="pagination__arrow">
                            <a href="#" class="next">
                                <span>Next</span>
                                <span class="next_arrow"></span>
                            </a>
                        </div>
                        <!-- /.pagination__arrow -->
                    </div>
                </div>
            </div>
        </div>
        <div class="module module-2">
            <header class="module__up module__row">
                <div class="module__col">
                    <h2 class="module__title">
                        <em class="number">1</em>
                        <strong class="module__title_black">@Global.Instagram_ChooseAd</strong>
                    </h2>
                </div>
                <div class="module__col">
                    <div class="slider" id="slider">
                        <div class="slider__item slider-image-item">
                            <img>
                        </div>
                        <div class="slider__item slider-video-item">
                            <div id="jp_container_1" class="jp-video jp-video-360p" role="application" aria-label="media player">
                                <div class="jp-type-single">
                                    <div id="jquery_jplayer_1" class="jp-jplayer"></div>
                                    <div class="jp-gui">
                                        <div class="jp-video-play">
                                            <button class="jp-video-play-icon" role="button" tabindex="0">play</button>
                                        </div>
                                        <div class="jp-interface">
                                            <div class="jp-progress">
                                                <div class="jp-seek-bar">
                                                    <div class="jp-play-bar"></div>
                                                </div>
                                            </div>
                                            <div class="jp-current-time" role="timer" aria-label="time">&nbsp;</div>
                                            <div class="jp-duration" role="timer" aria-label="duration">&nbsp;</div>
                                            <div class="jp-controls-holder">
                                                <div class="jp-controls">
                                                    <button class="jp-play" role="button" tabindex="0">play</button>
                                                    <button class="jp-stop" role="button" tabindex="0">stop</button>
                                                </div>
                                                <div class="jp-volume-controls">
                                                    <button class="jp-mute" role="button" tabindex="0">mute</button>
                                                    <button class="jp-volume-max" role="button" tabindex="0">max volume</button>
                                                    <div class="jp-volume-bar">
                                                        <div class="jp-volume-bar-value"></div>
                                                    </div>
                                                </div>
                                                <div class="jp-toggles">
                                                    <button class="jp-repeat" role="button" tabindex="0">repeat</button>
                                                    <button class="jp-full-screen" role="button" tabindex="0">full screen</button>
                                                </div>
                                            </div>
                                            <div class="jp-details">
                                                <div class="jp-title" aria-label="title">&nbsp;</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="jp-no-solution">
                                        <span>Update Required</span> To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <footer class="module__down">
                <div class="wrap-btn">
                    <a href="#" class="module__btn btn btn-style_2" data-target=".module-3">
                        <span>@Global.Instagram_Continue</span>
                    </a>
                </div>
            </footer>
        </div>
        <div class="module module-3">
            <header class="module__up module__row">
                <div class="module__col">
                    <h2 class="module__title">
                        <em class="number">2</em>
                        <strong class="module__title_black">
                            @Global.Instagram_HowItWillLook <br>
                            @Global.Instagram_OnInstagram
                        </strong>
                    </h2>
                </div>
                <div class="module__col">
                    <div class="module__preview" style="background-color: #fff">
                        <div class="preview">
                            <div id="jp_container_preview" class="jp-video jp-video-360p jp-how" role="application" aria-label="media player">
                                <div class="jp-type-single">
                                    <div id="jquery_jplayer_preview" class="jp-jplayer"></div>
                                    <div class="jp-gui">
                                        <div class="jp-video-play">
                                            <button class="jp-video-play-icon" role="button" tabindex="0">play</button>
                                        </div>
                                        <div class="jp-interface">
                                            <div class="jp-progress">
                                                <div class="jp-seek-bar">
                                                    <div class="jp-play-bar"></div>
                                                </div>
                                            </div>
                                            <div class="jp-current-time" role="timer" aria-label="time">&nbsp;</div>
                                            <div class="jp-duration" role="timer" aria-label="duration">&nbsp;</div>
                                            <div class="jp-controls-holder">
                                                <div class="jp-controls">
                                                    <button class="jp-play" role="button" tabindex="0">play</button>
                                                    <button class="jp-stop" role="button" tabindex="0">stop</button>
                                                </div>
                                                <div class="jp-volume-controls">
                                                    <button class="jp-mute" role="button" tabindex="0">mute</button>
                                                    <button class="jp-volume-max" role="button" tabindex="0">max volume</button>
                                                    <div class="jp-volume-bar">
                                                        <div class="jp-volume-bar-value"></div>
                                                    </div>
                                                </div>
                                                <div class="jp-toggles">
                                                    <button class="jp-repeat" role="button" tabindex="0">repeat</button>
                                                    <button class="jp-full-screen" role="button" tabindex="0">full screen</button>
                                                </div>
                                            </div>
                                            <div class="jp-details">
                                                <div class="jp-title" aria-label="title">&nbsp;</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="jp-no-solution">
                                        <span>Update Required</span> To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <span class="preview__text" style="color: #000"></span>
                    </div>
                </div>
            </header>
            <footer class="module__down">
                <div class="wrap-btn">
                    <a href="#" class="module__btn btn btn-style_2 btn-show-save-text-modal">
                        <span>@Global.Instagram_Continue</span>
                    </a>
                </div>
            </footer>
        </div>
        <div class="module module-4">
            <header class="module__up">
                <h2 class="module__title">
                    <em class="number">3</em>
                    <strong class="module__title_black">@Global.Instagram_ChooseDeliveryMethod</strong>
                </h2>
                <div class="module__choose">
                    <a href="#" class="btn btn-style_1 btn-style_1color-blue btn-deliver btn-direct-download" data-delivery-method="DirectDownload">
                        <span>@Global.Instagram_DirectDownload</span>
                    </a>
                    <a href="#" class="btn btn-style_1 btn-style_1color-blue btn-deliver" data-delivery-method="Email">
                        <span class="span-text-mini">@Global.Instagram_EmailMe <br class="line-break"> </span>
                    </a>
                </div>
            </header>
        </div>
        <div class="module module-5 module5__custom">
            <footer class="module__down">
                <div class="module__choose">
                    <a href="#" class="btn btn-style_2 btn-change-module" data-target=".module-paypal">
                        <i class="icon icon-PayPal"></i>
                        <span>PayPal</span>
                    </a>
                    <p class="paypal_descr">@Global.Instagrm_PayPalStill <a href="#">@Global.Instagrm_PayPalStill2</a></p>
                </div>
            </footer>
        </div>
        <div class="module module-paypal">
            <header class="module__up">
                <h2 class="module__title"><strong class="module__title_black">PayPal</strong></h2>
                <div class="module__box m-box">
                    <p class="m-box__Text m-box__Text_font18">@Global.Instagram_EnterPaypal</p>
                    <form class="m-box__form">
                        <textarea id="paypalArea" class="account-area" data-withdraw-type="Paypal"></textarea>
                    </form>
                </div>
            </header>
            <footer class="module__down">
                <a href="#" class="module__btn btn btn-style_2 btn-create-request">
                    <span>@Global.Instagram_Done</span>
                </a>
            </footer>
        </div>
        <div class="module module-bank-number">
            <header class="module__up">
                <h2 class="module__title"><strong class="module__title_black">@Global.Instagram_BankAccountNumber</strong> </h2>
                <div class="module__box m-box">
                    <p class="m-box__Text m-box__Text_font18">@Global.Instagram_EnterBankAccountNumber</p>
                    <form class="m-box__form">
                        <textarea id="bankArea" class="account-area" data-withdraw-type="BankTransfer"></textarea>
                    </form>
                </div>
            </header>
            <footer class="module__down">
                <a href="#" class="module__btn btn btn-style_2 btn-create-request">
                    <span>@Global.Instagram_Done</span>
                </a>
            </footer>
        </div>
        <div class="module module-credit-card">
            <header class="module__up">
                <h2 class="module__title"><strong class="module__title_black">@Global.Instagram_CreditCardNumber</strong></h2>
                <div class="module__box m-box">
                    <p class="m-box__Text m-box__Text_font18">@Global.Instagram_EnterCreditCardNumber</p>
                    <form class="m-box__form">
                        <textarea id="creditCardArea" class="account-area" data-withdraw-type="CreditCard"></textarea>
                    </form>
                </div>
            </header>
            <footer class="module__down">
                <a href="#" class="module__btn btn btn-style_2 btn-create-request">
                    <span>@Global.Instagram_Done</span>
                </a>
            </footer>
        </div>
        <!-- begin modal -->
        <div class="modal fade" id="js__modal-4">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"></span>
                        </button>
                        <h4 class="modal-title"><span>@Global.Instagram_HaveYouPosted</span></h4>
                    </div>
                    <div class="modal-body">
                        <div class="modal__text-med">@Global.Instagram_MakeSurePostIsVisible</div>
                        <div class="modal__buttons-block">
                            <a href="#" class="modal__buttons-cancel" data-dismiss="modal">@Global.Instagram_Profile_CancelBtn</a>
                            <a href="#" class="profileInfo__btn2 btn-perform-verify">@Global.Instagram_YesPleaseVerify</a>
                        </div>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- end modal -->
        <!-- begin modal -->
        <div class="modal fade" id="js__modal-5">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"></span>
                        </button>
                        <h4 class="modal-title"><span>@Global.Instagram_Choose_Warning</span></h4>
                    </div>
                    <div class="modal-body">
                        <div class="modal__text-med">@Global.Instagram_SaveAdText</div>
                        <div class="modal__buttons-block">
                            <a href="#" class="modal__buttons-cancel" data-dismiss="modal">@Global.Instagram_Cancel</a>
                            <a href="#" class="profileInfo__btn2 btn-change-module" data-dismiss="modal" data-target=".module-4">@Global.Instagram_Continue</a>
                        </div>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- end modal -->
        <!-- begin modal -->
        <div class="modal fade" id="js__modal-16">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"></span>
                        </button>
                        <h4 class="modal-title"><span>@Global.Instagram_Profile_ChangeMobileTitle</span></h4>
                    </div>
                    <div class="modal-body">
                        <div class="module__box m-box m-box_phone">
                            <label class="m-box__form tel_plus">
                                <p class="m-box__Text m-box__Text_font18">@Global.Instagram_Profile_ChangeMobileCaption</p>
                                <input type="tel" id="newPhone" class="newInputMob">
                            </label>
                        </div>
                        <div class="module__box m-box m-box_sms">
                            <label class="m-box__form">
                                <p class="m-box__Text m-box__Text_font18">@Global.Instagram_Profile_EnterSmsCode</p>
                                <input type="text" required id="smsCode" class="newInputMob">
                            </label>
                        </div>
                        <div class="modal__buttons-block">
                            <input type="hidden" id="sms_request_id">
                            <a href="#" class="modal__buttons-cancel" data-dismiss="modal">@Global.Instagram_Profile_CancelBtn</a>
                            <a href="#" id="btn_change_phone" class="btn_phone_change" style="display:none;">@Global.Instagram_Profile_ChangeBtn</a>
                            <a href="#" id="btn_send_sms" class="btn_phone_change">@Global.Instagram_Profile_ChangeBtn</a>
                        </div>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <div class="modal fade modal_min_height" id="js__modal-17">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"></span>
                        </button>
                        <h4 class="modal-title"><span>@Global.Instagram_Profile_ChangePaypalTitle</span></h4>
                    </div>
                    <div class="modal-body">
                        <div class="module__box m-box m-box_paypal">
                            <label class="m-box__form">
                                <p class="m-box__Text m-box__Text_font18">@Global.Instagram_Profile_ChangePaypalCaption</p>
                                <input type="text" id="newPaypal" class="newInputMob">
                            </label>
                        </div>
                        <div class="modal__buttons-block">
                            <a href="#" class="modal__buttons-cancel" data-dismiss="modal">@Global.Instagram_Profile_CancelBtn</a>
                            <a href="#" class="btn_paypal_change">@Global.Instagram_Profile_ChangeBtn</a>
                        </div>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- end modal -->
        <div class="modal fade modal_min_height" id="js__modal-18">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close referral" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"></span>
                        </button>
                        <h4 class="modal-title" align="center"><span>@Global.Instagrm_Referral_Slider2_Text4</span></h4>
                    </div>
                    <div class="modal-body ">
                        <div class="modal-body_friends">
                            <div class="module__box m-box m-box_paypal modal-body_friends-item">
                                <label for="newCopy">@Global.Instagram_PersonalLinks</label>
                                <input type="text" id="newCopyInstagrammer" class="newInputFriends" value="@Model.AdvertiserReferralLink" disabled>
                                <input type="text" id="newCopyAdvertiser" class="newInputFriends" value="@Model.InstagramerReferralLink" disabled>
                            </div>
                            <div class="modal-body_friends-item">
                                <p>
                                    <a href="#" class="btn_friends_copy @(lang.ToString()=="Russian"?"ru_btn":"en_btn")">@Global.Choose_Referral_Copy_Btn</a>
                                </p>
                            </div>
                        </div>
                        <div class="modal-footer__friends">
                            <ul class="modal__soc-button">
                                <li><a id="advertiserFacebookShare" href="@Url.Action("AdvertiserFacebookShare")"><img src="/static/image/facebook-logo.png" alt="fb"></a></li>
                                <li><a id="instagramerFacebookShare" href="@Url.Action("InstagramerFacebookShare")"><img src="/static/image/facebook-logo.png" alt="fb"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- end modal -->
        <div style="display: none">
            <form action="/Content/AddUserAd" id="addUserAdForm" method="post">
                <input type="hidden" name="adId" id="adId" />
                <input type="hidden" name="deliveryMethod" id="deliveryMethod" />
                <input type="hidden" name="followersCount" id="followersCount" />
            </form>
        </div>
        <div id="paymentTemplate" class="fakeTable__row fakeTable__row__money" style="display:none;">
            <div class="fakeTable__box fakeTable__box1">
                <div class="fakeTable__box_head">
                    @Global.Instagram_PH_Date
                </div>
                <div class="fakeTable__box_body fakeTable__box_body_right">
                    <span class="instagrammer_date">12 January 2017</span>
                </div>
            </div>
            <div class="fakeTable__box fakeTable__box2">
                <div class="fakeTable__box_head">
                    @Global.Instagram_PH_AdId
                </div>
                <div class="fakeTable__box_body fakeTable__box_body_id fakeTable__box_body_right">
                    <span class="instagrammer_paypalID">111222333444555666777888999111222333</span>
                    <div class="show_data_identy">
                        <span class="copy_data_identy">111222333444555666777888999111222333</span>
                        <button class="copy_data_identy_button">@Global.Instagram_PH_ClickToCopy</button>
                    </div>
                </div>
            </div>
            <div class="fakeTable__box fakeTable__box3">
                <div class="fakeTable__box_head">
                    @Global.Instagram_PH_Amount
                </div>
                <div class="fakeTable__box_body fakeTable__box_body_right">
                    <span class="instagrammer_amount payment-green">+12</span>
                </div>
            </div>
            <div class="fakeTable__box fakeTable__box4">
                <div class="fakeTable__box_head">
                    @Global.Instagram_PH_Type
                </div>
                <div class="fakeTable__box_body fakeTable__box_body_right">
                    <span class="instagrammer_amount payment-green">Payment: Ad</span>
                </div>
            </div>
        </div>
    </div>

@section Scripts
{
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.cookie-1.4.1.min.js"></script>
    <script src="~/Scripts/jquery.waitforimages.min.js"></script>
    <script src="/static/js/jPlayer-master/dist/jplayer/jquery.jplayer.min.js"></script>
    <script type="text/javascript">

        $(function() {
            var imageType = @((int) AdType.InstagramImage);
            var videoType = @((int) AdType.InstagramVideo);

            var rowTemplate = $('.row-template');
            rowTemplate.remove();
            $('#slider').slick('unslick');
            var sliderItemTemplate = $('.slider-image-item');
            sliderItemTemplate.remove();
            var sliderVideoItemTemplate = $('.slider-video-item');
            sliderVideoItemTemplate.remove();
            var previewTemplate = $('#jp_container_preview');
            previewTemplate.remove();
            var currentItem;
            var items = [];

            updateContent(true);

            @if (!string.IsNullOrWhiteSpace(Model.DownloadUrl))
            {
                <text>
            location.href = '@Model.DownloadUrl';
            </text>
            }

            $('.btn-deliver').click(function(e) {
                e.preventDefault();
                changeModule('.module-1');
                var form = $('#addUserAdForm');
                form.find('#adId').val(currentItem.id);
                form.find('#deliveryMethod').val($(this).data('deliveryMethod'));
                form.submit();
            });

            var verifyingAdId = null;
            $(document).on('click', '.verify', function() {
                verifyingAdId = $(this).closest('.fakeTable__row').data('id');
                $('#js__modal-4').modal('show');
            });
            $('.btn-perform-verify').click(function(e) {
                e.preventDefault();
                $.ajax({
                    url: '@Url.Action("Verify")',
                    data: {
                        adId: verifyingAdId
                    },
                    success: function(result) {
                        $('#js__modal-4').modal('hide');
                        var status = result.data;
                        var verify = $('.fakeTable__row[data-id=' + verifyingAdId + ']').find('.verify');
                        if (status == '@VerifyStatus.InProgress')
                            verify.siblings('.process').show();
                        else if (status == '@VerifyStatus.Failed')
                            verify.siblings('.failed').show();
                        else if (status == '@VerifyStatus.CampaignStopped')
                            verify.siblings('.stopped').show();
                        verifyingAdId = null;
                        verify.remove();
                        updateContent();
                    }
                });
            });

            function updateContent(initial) {
                $.ajax({
                    url: '@Url.Action("GetContent", "Content")',
                    success: function(data) {
                        items = data;
                        if (!initial && items.length > 0 && $('.verify').length == 0) $('#keepEarning').show();
                        rerenderSlider();
                        if (initial) {
                            var target = $.cookie('chooseModule');
                            if (target)
                                changeModule(target);
                            var index = $.cookie('choosedItem') || 0;
                            setCurrentItem(index);
                        } else {
                            setCurrentItem(0);
                        }
                    }
                });
            }

            function rerenderSlider() {
                $('#slider').slick('unslick');
                $('#slider').empty();
                if (items.length > 0) {
                    for (var i = 0; i < items.length; i++) {
                        var sliderItem;
                        if (items[i].adType == imageType) {
                            sliderItem = sliderItemTemplate.clone();
                            $('#slider').append(sliderItem);
                            sliderItem.children('img').attr('src', items[i].fileUrl);
                        }
                        if (items[i].adType == videoType) {
                            sliderItem = sliderVideoItemTemplate.clone();
                            var containerId = 'jp_container_' + (i + 1);
                            sliderItem.find('.jp-video').attr('id', containerId);
                            var playerId = 'jquery_jplayer_' + (i + 1);
                            sliderItem.find('.jp-jplayer').attr('id', playerId).data('itemId', i);
                            $('#slider').append(sliderItem);
                            $('#' + playerId).jPlayer({
                                ready: function() {
                                    $(this).jPlayer("setMedia", {
                                        title: items[$(this).data('itemId')].name,
                                        m4v: items[$(this).data('itemId')].fileUrl,
                                    });
                                },
                                play: function() { // To avoid multiple jPlayers playing together.
                                    $(this).jPlayer("pauseOthers");
                                },
                                swfPath: "../../dist/jplayer",
                                supplied: "webmv, ogv, m4v",
                                cssSelectorAncestor: "#" + containerId,
                                globalVolume: true,
                                useStateClassSkin: true,
                                autoBlur: false,
                                smoothPlayBar: true,
                                keyEnabled: true
                            });
                        }
                    }
                }
            }

            function setCurrentItem(index) {
                currentItem = items[index];
                $.cookie('choosedItem', index, { path: '/' });
                if (currentItem) {
                    var iOS = !!navigator.userAgent.match(/iP(hone|od|ad)/i);;
                    $('.preview').empty();
                    if (currentItem.adType == imageType) {
                        if (iOS) {
                            $('.btn-direct-download').show();
                        }
                        $('.preview').css('background-image', 'url(' + currentItem.fileUrl + ')');
                    }
                    if (currentItem.adType == videoType) {
                        if (iOS) {
                            $('.btn-direct-download').hide();
                        }
                        $('.preview').css('background-image', '');
                        var video = previewTemplate.clone();
                        video.find('.jp-jplayer').data('itemId', index);
                        $('.preview').append(video);
                        $('#jquery_jplayer_preview').jPlayer({
                            ready: function() {
                                $(this).jPlayer("setMedia", {
                                    title: items[$(this).data('itemId')].name,
                                    m4v: items[$(this).data('itemId')].fileUrl,
                                });
                            },
                            play: function() { // To avoid multiple jPlayers playing together.
                                $(this).jPlayer("pauseOthers");
                            },
                            swfPath: "../../dist/jplayer",
                            supplied: "webmv, ogv, m4v",
                            cssSelectorAncestor: "#jp_container_preview",
                            globalVolume: true,
                            useStateClassSkin: true,
                            autoBlur: false,
                            smoothPlayBar: true,
                            keyEnabled: true
                        });
                    }
                    $('.preview__text').text(currentItem.caption);
                }
            }

            function changeModule(target) {
                $('.module').removeClass('active');
                history.pushState({ module: target }, target);
                $(target).addClass('active');
                $.cookie('chooseModule', target, { path: '/' });
                $(target).setEqualHeight();
                if (target == '.module-2') {
                    $('#slider').slick({
                        arrows: false,
                        dots: true,
                        infinite: true,
                        adaptiveHeight: true
                    });
                }
            }

            $.post('@Url.RouteUrl("DefaultApi", new {action = "GetFollowersInfo", controller = "Data", httproute = string.Empty})', {
                instagramLogin: '@currentUser.InstagramLogin'
            }, function(data) {
                if (data) {
                    $('.followers-count').text(data.FollowedBy);
                    $('#followersCount').val(data.FollowedBy);
                    $('.followers-balance').html('$' + data.Balance.toFixed(2) + '<small>@Global.Instagram_Post</small>');
                }
            });

            $(document).on('click', '.failed', function(e) {
                e.preventDefault();
                var adId = $(this).closest('.fakeTable__row').data('id');
                var self = $(this);
                $.ajax({
                    url: '@Url.Action("ResetVerifyInfo")',
                    data: {
                        adId: adId
                    },
                    success: function() {
                        self.hide();
                        self.parent().prepend($('<a href="#"/>').attr('class', 'fakeTable__btn verify').text('@Global.Instagrm_VerifyAgain'));
                    }
                });
            });

            $('.btn-create-request').click(function() {
                var area = $(this).closest('.module').find('.account-area');
                if (area.val()) {
                    $.ajax({
                        url: '@Url.Action("CreateWithdrawRequest")',
                        data: {
                            account: area.val(),
                            type: area.data('withdrawType')
                        },
                        success: function() {
                            $('#withdraw-now').hide();
                            changeModule('.module-1');
                        }
                    });
                    $('.btn-create-request').hide();
                } else {
                    area.css('border-color', 'red');
                }
            });

            $('.module__btn,.btn-change-module').click(function(e) {
                var target = $(this).data('target');
                if (target) {
                    e.preventDefault();
                    changeModule(target);
                }
            });

            $('#slider').on('beforeChange', function(event, slick, currentSlide, nextSlide) {
                setCurrentItem(nextSlide);
            });

            history.pushState({ module: '.module-1' }, ".module-1");

            window.onpopstate = function(event) {
                if (event.state != null) {
                    $('.module').removeClass('active');
                    $(event.state.module).addClass('active');
                }
            };

            $('.btn-show-save-text-modal').click(function() {
                $('#js__modal-5').modal('show');
            });

            $('#btn_send_sms').click(function(){
                var phone = $('#newPhone').val();
                $.post('@Url.RouteUrl("DefaultApi", new {action = "SendCode", controller = "Data", httproute = string.Empty})', {
                    number: phone
                }, function (data) {
                    $('.m-box_phone').hide();
                    $('.m-box_sms').show();

                    $('#btn_send_sms').hide();
                    $('#btn_change_phone').show();

                    $('#sms_request_id').val(data);
                });
            });

            $('.btn_phone_change').click(function(){
                $.post('@Url.RouteUrl("DefaultApi", new {action = "VerifyCode", controller = "Data", httproute = string.Empty})', {
                    requestId: $('#sms_request_id').val(),
                    code: $('#smsCode').val()
                }, function (data) {
                    if (data.Success) {
                        var phoneVal = $('#newPhone').val();
                        if (phoneVal) {
                            $.post({
                                url: '@Url.Action("UpdatePhone")',
                                data: {
                                    phone: phoneVal
                                }
                            });
                            $('.mob_numb').text(phoneVal);
                            $('#js__modal-16').modal('hide');

                            $('.m-box_phone').show();
                            $('.m-box_sms').hide();
                        };
                    }
                });
            });

            $('.btn_paypal_change').click(function(){
                var paypalVal = $('#newPaypal').val();
                if (paypalVal) {
                    $.post({
                        url: '@Url.Action("UpdatePayPal")',
                        data: {
                            account: paypalVal
                        }
                    });
                    $('.paypal_akk').text(paypalVal);
                    $('#js__modal-17').modal('hide');
                };
            });

            function getPagesPresentationArray(pagesCount, currentPage){
                var array = [];
                var counter = 0;

                array.push(1);
                if(pagesCount > 1) {
                    for(var i = 2; i < pagesCount; i++) {
                        if(i == currentPage - 2 || i == currentPage - 1 || i == currentPage || i == currentPage + 1 || i == currentPage + 2) {
                            array.push(i);
                        }
                    }
                    array.push(pagesCount);

                    var counter = 1;
                    while(counter < array.length) {
                        if(array[counter-1] != array[counter] - 1){
                            array.splice(counter, 0, '...');
                            counter++;
                        }
                        counter++;
                    }
                }

                return array;
            };

            function getSelectedPaymentType() {
                var selectedType = $('#select-type').val()==0?null:$('#select-type').val();
                return selectedType;
            };

            function getSelectedStartDate() {
                var getDatePeriod = $('#choose-dates').val();
                var slicedDatePeriodFrom = getDatePeriod.slice(0,10);
                var slicedDatePeriodTo = getDatePeriod.slice(13,);

                if(slicedDatePeriodFrom.length > 0 && slicedDatePeriodTo.length > 0) {
                    return slicedDatePeriodFrom;
                }
                return null;
            };

            function getSelectedEndDate() {
                var getDatePeriod = $('#choose-dates').val();
                var slicedDatePeriodFrom = getDatePeriod.slice(0,10);
                var slicedDatePeriodTo = getDatePeriod.slice(13,);

                if(slicedDatePeriodFrom.length > 0 && slicedDatePeriodTo.length > 0) {
                    return slicedDatePeriodTo;
                }
                return null;
            };

            function getPaymentsCountPerPage() {
                var paymentsCountPerPage = $('#edit_row_per_page').val();
                return paymentsCountPerPage;
            };

            function updatePayments(paymentCount, startDate, endDate, paymentType, page) {
                $.ajax({
                    url: '@Url.Action("GetPayments")',
                    data: {
                        paymentsCount: paymentCount,
                        startDate: startDate,
                        endDate: endDate,
                        paymentType: paymentType,
                        page: page
                    },
                    success: function(data) {
                        var table = $('.money_table>.fakeTable__body');
                        table.empty();
                        for (var i = 0; i < data.data.Transactions.length; i++) {
                            var tr = $('#paymentTemplate').clone().show();
                            tr.find('.instagrammer_date').text(data.data.Transactions[i].DateStr);
                            tr.find('.instagrammer_paypalID').text(data.data.Transactions[i].AdId);
                            tr.find('.copy_data_identy').text(data.data.Transactions[i].AdId);

                            tr.find('.fakeTable__box3>.fakeTable__box_body_right>.instagrammer_amount').text(data.data.Transactions[i].Amount);

                            var pType = "";
                            if(data.data.Transactions[i].PaymentType == '1'){
                                pType = "@Global.Instagram_PH_PaymentAD";
                            }else{
                                pType = "@Global.Instagram_PH_PaymentInvite";
                            }
                            tr.find('.fakeTable__box4>.fakeTable__box_body_right>.instagrammer_amount').text(pType);
                            table.append(tr);
                        }

                        if(data.data.PageNum == 1){
                            $('.pagination__arrow>.prev').hide();
                        }else{
                            $('.pagination__arrow>.prev').show();
                        }

                        if(data.data.PageNum == data.data.PagesCount){
                            $('.pagination__arrow>.next').hide();
                        }else{
                            $('.pagination__arrow>.next').show();
                        }

                        var pages = getPagesPresentationArray(data.data.PagesCount, data.data.PageNum);

                        var paginationPages = $('.pagination__pages').empty();
                        for(var i = 0; i < pages.length; i++) {
                            if(pages[i] != '...') {
                                if(pages[i] == data.data.PageNum) {
                                    paginationPages.append('<a href="#" class="active">' + pages[i] + '</a>');
                                } else {
                                    paginationPages.append('<a href="#">' + pages[i] + '</a>');
                                }

                            } else {
                                paginationPages.append('<span class="disabled">...</span>');
                            }
                        }

                        $('.pagination__pages a').click(function(){
                            var clickedPage = $(this).text();

                            updatePayments(getPaymentsCountPerPage(), getSelectedStartDate(), getSelectedEndDate(), getSelectedPaymentType(), clickedPage);
                        });
                    }
                });
            }



            updatePayments(getPaymentsCountPerPage(), getSelectedStartDate(), getSelectedEndDate(), getSelectedPaymentType(), 1);

            $('.pagination__arrow>.next').click(function(){
                var clickedPage = $('.pagination__pages .active').text();
                updatePayments(getPaymentsCountPerPage(), getSelectedStartDate(), getSelectedEndDate(), getSelectedPaymentType(), parseInt(clickedPage) + 1);
            });

            $('.pagination__arrow>.prev').click(function(){
                var clickedPage = $('.pagination__pages .active').text();
                updatePayments(getPaymentsCountPerPage(), getSelectedStartDate(), getSelectedEndDate(), getSelectedPaymentType(), parseInt(clickedPage) - 1);
            });

            $('#select-type').change(function(){
                var selectedType = $('#select-type').val()==0?null:$('#select-type').val();
                updatePayments(getPaymentsCountPerPage(), getSelectedStartDate(), getSelectedEndDate(), getSelectedPaymentType(), 1);
            });

            $('.filter-page__button').on('click',function (event) {
                event.stopPropagation();

                $('#choose-dates').focus();
                $('#choose-dates').dateRangePicker(configObject).click().bind('datepicker-closed',function(event)
                {

                    /* This event will be triggered after date range picker close animation */
                    $('.filter-page__reload').addClass('active');
                    var getDatePeriod = $('#choose-dates').val();
                    var slicedDatePeriodFrom = getDatePeriod.slice(0,10);
                    var slicedDatePeriodTo = getDatePeriod.slice(13,);
                    $('.filter-page__reload').addClass('active');
                    slicedDatePeriodFrom = slicedDatePeriodFrom.split('.');
                    slicedDatePeriodTo = slicedDatePeriodTo.split('.');
                    slicedDatePeriodFrom = new Date(slicedDatePeriodFrom[2]+'-'+slicedDatePeriodFrom[1]+'-'+slicedDatePeriodFrom[0]).valueOf();
                    slicedDatePeriodTo = new Date(slicedDatePeriodTo[2]+'-'+slicedDatePeriodTo[1]+'-'+slicedDatePeriodTo[0]).valueOf();
                    $('.filter-page__button').text(getDatePeriod);
                    if(getDatePeriod) {
                        updatePayments(getPaymentsCountPerPage(), getSelectedStartDate(), getSelectedEndDate(), getSelectedPaymentType(), 1);
                    }
                });
                $('.month-wrapper').append($( '<div class="choose-date-triangle"></div>' ));

            });

            $('#edit_row_per_page').change(function(){
                updatePayments(getPaymentsCountPerPage(), getSelectedStartDate(), getSelectedEndDate(), getSelectedPaymentType(), 1);
            });

            // Reload filter
            $('.filter-page__reload').on('click', function() {
                $(this).removeClass('active');
                $('.filter-page__button').text('@Global.Instagram_PH_ChooseDate').append("<img src='../static/image/datetimepicker-right.png' alt='choose datepicker'>");
                $('#choose-dates').val('');
                updatePayments(getPaymentsCountPerPage(), getSelectedStartDate(), getSelectedEndDate(), getSelectedPaymentType(), 1);
            });

        });
    </script>
}

