﻿@using Kigl.Controllers
@{
    var controller = (BaseController)ViewContext.Controller;
    var currentUser = controller.CurrentUser;
}

<script>
    @*function loginStatusChange(response) {
        @if (currentUser == null)
            {
                <text>
        if (response.status == 'connected') {
            FB.api('/me', function (response) {
                if (!(response.id == null || response.name == null)) {
                    document.cookie = 'fblo_' + @ViewBag.FacebookAppId + '=;expires=Thu, 01 Jan 1970 00:00:01 GMT;path=/';
                    location.href = '@Url.Action("FacebookLogin", "Account")?facebookId=' + response.id + '&name=' + response.name;
                }

            });
        }
        </text>
            }
            else if (!string.IsNullOrWhiteSpace(currentUser.FacebookId))
            {
                <text>
        if (response.status == 'unknown') {

            location.href = '@Url.Action("InstagramLogout", "Account")';
        }
        </text>
            }
    }

    function bindByClassName(className, callback) {
        var elems = document.getElementsByClassName(className);
        if (elems.length > 0) {
            elems[0].onclick = callback;
        }
    }

    function bindMultiplyByClassName(className, callback) {
        var elems = document.getElementsByClassName(className);
        for (var i = 0; i < elems.length; i++) {
            elems[i].onclick = callback;
        }
    }

    window.fbAsyncInit = function () {
        FB.init({
            appId: '@ViewBag.FacebookAppId',
            xfbml: true,
            version: 'v2.8'
        });
        FB.getLoginStatus(function (response) {
            loginStatusChange(response);
        });
        FB.Event.subscribe('auth.login', function (response) {
            loginStatusChange(response);
        });
        FB.Event.subscribe('auth.logout', function (response) {
            loginStatusChange(response);
        });
        bindMultiplyByClassName('btn-facebook-login', function (e) {
            e.preventDefault();
            FB.login();
        });
        bindByClassName('btn-facebook-logout', function (e) {
            e.preventDefault();
            FB.logout();
        });
        @if (!string.IsNullOrWhiteSpace(currentUser?.FacebookId))
            {
                <text>
        FB.api('/@currentUser.FacebookId/picture?type=normal', function (response) {
            if (response && !response.error) {
                $('.m-inform__image img').attr('src', response.data.url);
            }
        });</text>
            }

    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
            return;
        }
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));*@
</script>
