﻿@using ControlPanel.Common.Enums
@using Kigl.Controllers
@using Kigl.Helpers
@using Global = Resources.Global

<!DOCTYPE html>
<html class="no-js" lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@Global.WebSiteTitle</title>
    <meta content="" name="description">
    @Html.Partial("_Keywords")
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta content="telephone=no" name="format-detection">
    <!-- This make sence for mobile browsers. It means, that content has been optimized for mobile browsers -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700|Ubuntu:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.min.css" />
    @RenderSection("Styles", false)
    <style type="text/css">
		.line-break {
			display: none;
		}
    </style>
    <meta name="HandheldFriendly" content="true">

    <!--[if (gt IE 9)|!(IE)]><!-->
    @{ var version = 22;}
    <link href="/static/css/mainc6qtq589f6r-new.css?version=22" rel="stylesheet" type="text/css">
    @*<link href="/static/css/mainc6qtq589f6r.css?version=22" rel="stylesheet" type="text/css">*@
    <link href="/Content/fixmain.css?version=@version" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/static/css/daterangepicker.min.css">
    <!--<![endif]-->
    <meta property="og:url" content="https://kigl.eu/" />
    <meta property="fb:app_id" content="183187772227147" />
    <meta property="og:title" content="@Global.Home_FB_Title" />
    <meta property="og:image" content="https://kigl.eu/img/head__img.png" />
    <meta property="og:description" content="@Global.Home_FB_Description" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="500" />
    <meta property="og:image:height" content="300" />
    <meta property="twitter:description" content="" />
    <link rel="image_src" href="" />

    <link rel="icon" href="~/images/kigl_logo_pink_favicon_16x16px.ico" sizes="16x16" type="image/ico" />
    <link rel="icon" href="~/images/kigl_logo_pink_favicon_16x16px.png" sizes="16x16" type="image/png" />
    <link rel="icon" href="~/images/kigl_logo_pink_favicon_32x32px.png" sizes="32x32" type="image/png" />
    <link rel="icon" href="~/images/kigl_logo_pink_favicon_48x48px.png" sizes="48x48" type="image/png" />
    <link rel="icon" href="~/images/kigl_logo_pink_favicon_180x180px.png" sizes="180x180" type="image/png" />
    <script>
        (function (H) { H.className = H.className.replace(/\bno-js\b/, 'js') })(document.documentElement)
    </script>
    @Html.Partial("_HeadScripts")
</head>
<body class="page">
    @{
        var controller = (BaseController)ViewContext.Controller;
        var currentUser = controller.CurrentUser;
    }
    @Html.Partial("_FBScripts")
    <header class="header">
        <div class="container clearfix">
            <div class="header__logo">
                <a href="@Url.Action("Choose", "Content", new {removeCookie = true})" class="logo">Kigl</a>
            </div>
            <div class="header__menu">
                <ul class="menu" id="btn-open">
                    <div class="js-menu">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </ul>
            </div>
        </div>
        <div class="menu-aside">
            <!-- <a href="#" class="menu-close" id="btn-close">
                <i class="icon-cancel"></i>
            </a> -->
            <div class="menu-aside__block">
                <ul class="menu-list">
                    <li class="menu-list__row">
                        <a href="@Url.Action("PublisherTermsOfUse", "Info")" class="menu-list__link">@Global.Admin_TermsAndConditions</a>
                    </li>
                    <li class="menu-list__row">
                        <a href="@Url.Action("FAQ", "Info")" class="menu-list__link">@Global.Admin_FAQ</a>
                    </li>
                    <li class="menu-list__row">
                        <a href="@Url.Action("PrivacyPolicy", "Info")" class="menu-list__link">@Global.Admin_PrivacyPolicy</a>
                    </li>
                </ul>
            </div>            
            <div class="menu-aside__block lang-block">
                <div style="display: none">
                    @Html.LanguageSelectorLink("en-US", Language.English.Localize(), Language.English.Localize(), new Dictionary<string, object> { { "id", "enLink" } })
                    @Html.LanguageSelectorLink("ru-RU", Language.Russian.Localize(), Language.Russian.Localize(), new Dictionary<string, object> { { "id", "ruLink" } })
                </div>
                <select name="lang" id="lang" class="select-lang">
                    <option value="en" @(controller.CurrentLanguage == Language.English ? "selected" : "")>@Language.English.Localize()</option>
                    <option value="ru" @(controller.CurrentLanguage == Language.Russian ? "selected" : "")>@Language.Russian.Localize()</option>
                </select>
            </div>
			@if (currentUser != null)
            {
                <div class="menu-aside__block">
                    <a href="@Url.Action("InstagramLogout", "Account")" class="header__logOut btn-facebook-logout">
                        <span>@Global.Admin_Logout</span><img src="/static/image/log-out.png" alt="">
                    </a>
                </div>
            }
        </div>
    </header>

    <section class="main @(Request.RawUrl == "/" || Request.RawUrl == "/Home" ? "main2" : "")">
        @RenderBody()
    </section>
    
    @if (Request.RawUrl.Contains("/Home/Index"))
    {
        <footer class="footer">
            <div class="container">
                <ul class="footer__col f-list">
                    <li class="f-list__row copyright">2017 - 2018 Kigl</li>
                    <li class="f-list__row">support@kigl.eu</li>
                </ul>
                <div class="footer__inform inform">
                    <span class="inform__comment">FAQ tutorial videos</span>
                    <div class="inform__block inform-b" style="min-height: 70px">
                        <a class="inform-b__video" data-fancybox href="https://www.youtube.com/watch?v=VfYXYOi5k1g&feature=youtu.be">
                            <img src="/images/img.png"/>
                        </a>
                        <b class="inform-b__subtitle">Watch how to register in Kigl</b>
                    </div>
                    <div class="inform__block inform-b" style="min-height: 70px">
                        <a class="inform-b__video" data-fancybox href="https://youtu.be/vIFKaNMsv10">
                            <img src="/images/img2.png"/>
                        </a>
                        <b class="inform-b__subtitle">Watch how to post ads and earn</b>
                    </div>
                </div>
            </div>
        </footer>
    }
    else
    {
        <div class="footer__right footer__box" style="max-width: 1170px">
            <div class="footer__right-wr">
                <ul class="footer__contact">
                    <li>
                        <a href="mailto:support@kigl.eu">support@kigl.eu</a>
                    </li>
                </ul>
                <ul class="footer__content__list">
                    <li><a href="@Url.Action("CampaignInitiatorsTermsOfUse", "Info")">@Global.Admin_TermsAndConditions</a></li>
                </ul>
                <ul class="footer__content__list">
                    <li><a href="@Url.Action("PrivacyPolicy", "Info")">@Global.Admin_PrivacyPolicy</a></li>
                </ul>
                <ul class="footer__content__list">
                    <li><a href="@Url.Action("FAQ", "Info")">@Global.Admin_FAQ</a></li>
                </ul>

                <div class="footer__social">
                    <span>Follow us:</span>
                    <a href="https://www.instagram.com/kigl__/">
                        <img src="/static/image/inst.png" alt="">
                    </a>
                    <a href="https://www.youtube.com/channel/UCPRZnPzupY_V0jqf9senVrg">
                        <img src="/static/image/youtube.svg" alt="">
                    </a>
                </div>
                <ul class="footer__contact">
                    <li>
                        <span>© 2017 - 2018 Kigl</span>
                    </li>
                </ul>
            </div>
        </div>
    }



        
    

    <!-- Main scripts. You can replace it, but I recommend you to leave it here -->
    <script src="../Scripts/jquery-1.10.2.min.js"></script>
    <script src="../Scripts/jquery.validate.min.js"></script>
    <script src="/static/js/mainc6qtq589f6r.js?version=22"></script>
    <script src="/static/select2/dist/js/select2.full.min.js">
    </script>
    <script src="/static/js/separate-js/start.js?version=22"></script>
    <script src="../Scripts/fixstart.js?version=22"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../Scripts/jquery.cookie-1.4.1.min.js"></script>
    <script src="../Scripts/jquery.waitforimages.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.16.0/moment.min.js" type="text/javascript"></script>
    <script src="/static/js/jPlayer-master/dist/jplayer/jquery.jplayer.min.js"></script>
    <script src="/static/js/jquery.daterangepicker.min.js"></script>
    <script src="/static/js/page-choose-script.js"></script>

    @RenderSection("Scripts", false)

    <script>
        $('#lang').on('change', function () {
            location.href = $('#' + $(this).val() + 'Link').attr('href');
        })
    </script>
    </body>
</html>