﻿@using Common.DAL.Entities
@using ControlPanel.Common.Enums
@using Kigl.Controllers
@using Kigl.Helpers
@using Global = Resources.Global
<!doctype html>
<html class="no-js" lang="ru">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@Global.WebSiteTitle</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <meta content="telephone=no" name="format-detection">
    <!-- This make sence for mobile browsers. It means, that content has been optimized for mobile browsers -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Ubuntu:300,400,700" rel="stylesheet">

    <meta name="HandheldFriendly" content="true">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    @{ var version = 26;}
    <!--[if (gt IE 9)|!(IE)]><!-->
    <link href="/static/css/mainc6qtq589f6r.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/static/select2/dist/css/select2.min.css">
    @RenderSection("Styles", false)
    <link href="/Content/fixmain.css" rel="stylesheet" type="text/css">
    <link href="/Content/simplebar.css" rel="stylesheet" type="text/css">
    <!--<![endif]-->


    <meta property="og:url" content="https://kigl.eu/" />
    <meta property="fb:app_id" content="183187772227147" />
    <meta property="og:title" content="@Global.Home_FB_Title" />
    <meta property="og:image" content="https://kigl.eu/img/head__img.png" />
    <meta property="og:description" content="@Global.Home_FB_Description" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="500" />
    <meta property="og:image:height" content="300" />
    <meta property="twitter:description" content="" />
    <link rel="image_src" href="" />

    <link rel="icon" href="~/images/kigl_logo_pink_favicon_16x16px.ico" sizes="16x16" type="image/ico" />
    <link rel="icon" href="~/images/kigl_logo_pink_favicon_16x16px.png" sizes="16x16" type="image/png" />
    <link rel="icon" href="~/images/kigl_logo_pink_favicon_32x32px.png" sizes="32x32" type="image/png" />
    <link rel="icon" href="~/images/kigl_logo_pink_favicon_48x48px.png" sizes="48x48" type="image/png" />
    <link rel="icon" href="~/images/kigl_logo_pink_favicon_180x180px.png" sizes="180x180" type="image/png" />
    <script>
        (function (H) { H.className = H.className.replace(/\bno-js\b/, 'js') })(document.documentElement)
    </script>

</head>

<body class="page left_menu">
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" style="display: none; height: 0">
        <symbol id="approvals" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
        <path d="M256,0C114.497,0,0,114.509,0,256c0,141.503,114.509,256,256,256c141.503,0,256-114.509,256-256
			C512,114.497,397.491,0,256,0z M256,477.867c-122.337,0-221.867-99.529-221.867-221.867S133.663,34.133,256,34.133
			S477.867,133.663,477.867,256S378.337,477.867,256,477.867z" />
        <path d="M391.515,161.929c-6.665-6.665-17.472-6.665-24.136,0L215.442,313.866l-70.82-70.819c-6.665-6.665-17.472-6.665-24.136,0
			c-6.665,6.665-6.665,17.471,0,24.136l82.887,82.887c6.664,6.664,17.474,6.662,24.136,0l164.006-164.006
			C398.18,179.399,398.18,168.594,391.515,161.929z" />
        </symbol>
        <symbol id="banners-videos" viewBox="0 0 58 58" style="enable-background:new 0 0 58 58;" xml:space="preserve">
        <path d="M43.585,35.042c-0.27-0.032-0.543-0.053-0.821-0.053c-0.491,0-0.969,0.053-1.431,0.151
				c-4.595,0.594-8.827,3.552-12.062,8.492l-0.466,0.711l0.359,0.548c3.635,5.552,8.529,8.609,13.783,8.609
				c5.254,0,10.148-3.058,13.783-8.609l0.466-0.711l-0.359-0.548C53.325,38.268,48.636,35.241,43.585,35.042z M47.673,41.897
				c0,2.707-2.202,4.909-4.909,4.909s-4.909-2.202-4.909-4.909c0-2.343,1.652-4.302,3.852-4.788c0.446-0.053,0.895-0.087,1.348-0.087
				c0.025,0,0.05,0.002,0.075,0.003C45.663,37.216,47.673,39.315,47.673,41.897z M42.946,51.5c-4.387,0-8.537-2.537-11.743-7.161
				c1.559-2.286,3.348-4.069,5.28-5.304c-0.4,0.874-0.629,1.841-0.629,2.863c0,3.81,3.1,6.909,6.909,6.909s6.909-3.1,6.909-6.909
				c0-1.216-0.318-2.357-0.872-3.351c2.204,1.207,4.242,3.107,5.996,5.637C51.577,48.906,47.383,51.5,42.946,51.5z" />
        <path d="M37,27.5c0-0.342-0.175-0.66-0.463-0.844l-11-7c-0.309-0.195-0.698-0.208-1.019-0.033C24.199,19.799,24,20.135,24,20.5v14
				c0,0.365,0.199,0.701,0.519,0.877C24.669,35.459,24.834,35.5,25,35.5c0.187,0,0.374-0.053,0.537-0.156l11-7
				C36.825,28.16,37,27.842,37,27.5z M26,32.679V22.321l8.137,5.179L26,32.679z" />
        <path d="M57,4.5H47H11H1c-0.552,0-1,0.447-1,1v11v11v11v11c0,0.553,0.448,1,1,1h10h15c0.552,0,1-0.447,1-1s-0.448-1-1-1H12v-10v-11
				v-11v-10h34v10v11c0,0.553,0.448,1,1,1h9v8c0,0.553,0.448,1,1,1s1-0.447,1-1v-9v-11v-11C58,4.947,57.552,4.5,57,4.5z M2,28.5h8v9H2
				V28.5z M10,26.5H2v-9h8V26.5z M2,48.5v-9h8v9H2z M10,15.5H2v-9h8V15.5z M56,6.5v9h-8v-9H56z M48,26.5v-9h8v9H48z" />
        </symbol>
        <symbol id="portal-images" viewBox="0 0 58 58" style="enable-background:new 0 0 58 58;" xml:space="preserve">
        <path d="M56.188,40.863l-1.444-0.277c-0.677-0.13-1.21-0.573-1.462-1.216c-0.253-0.642-0.163-1.329,0.245-1.885l0.907-1.236
				c0.292-0.398,0.25-0.95-0.1-1.299l-1.959-1.958c-0.339-0.339-0.871-0.389-1.268-0.121l-1.217,0.824
				c-0.571,0.389-1.261,0.452-1.895,0.175c-0.632-0.275-1.055-0.825-1.16-1.508l-0.233-1.515C46.528,30.36,46.108,30,45.615,30h-2.77
				c-0.479,0-0.892,0.341-0.982,0.812l-0.358,1.865c-0.127,0.662-0.558,1.19-1.181,1.448c-0.624,0.26-1.301,0.189-1.86-0.189
				l-1.572-1.064c-0.397-0.268-0.928-0.218-1.268,0.121l-1.959,1.958c-0.35,0.349-0.392,0.9-0.1,1.299l0.907,1.236
				c0.408,0.556,0.498,1.243,0.245,1.885c-0.252,0.643-0.785,1.086-1.462,1.216l-1.444,0.277C31.341,40.954,31,41.366,31,41.846v2.77
				c0,0.493,0.36,0.913,0.848,0.988l1.515,0.233c0.683,0.105,1.232,0.528,1.508,1.16c0.276,0.633,0.212,1.323-0.175,1.895
				l-0.824,1.217c-0.269,0.396-0.218,0.929,0.121,1.268l1.958,1.959c0.348,0.348,0.898,0.391,1.299,0.1l1.236-0.907
				c0.556-0.407,1.245-0.497,1.885-0.245c0.643,0.252,1.086,0.785,1.216,1.462l0.277,1.444C41.954,55.659,42.366,56,42.846,56h2.77
				c0.493,0,0.913-0.36,0.988-0.848l0.164-1.065c0.105-0.688,0.552-1.256,1.193-1.522c0.643-0.265,1.36-0.179,1.921,0.232l0.869,0.638
				c0.399,0.292,0.951,0.249,1.299-0.1l1.958-1.959c0.339-0.339,0.39-0.871,0.121-1.268l-0.824-1.217
				c-0.387-0.571-0.451-1.262-0.175-1.895c0.275-0.632,0.825-1.055,1.508-1.16l1.515-0.233C56.64,45.528,57,45.108,57,44.615v-2.77
				C57,41.366,56.659,40.954,56.188,40.863z M55,43.758l-0.667,0.103c-1.354,0.208-2.489,1.082-3.036,2.337
				c-0.548,1.256-0.416,2.682,0.352,3.815l0.361,0.533l-0.768,0.768l-0.177-0.13c-1.13-0.827-2.575-1.002-3.869-0.467
				c-1.294,0.536-2.192,1.682-2.405,3.065L44.758,54h-1.086l-0.121-0.633c-0.259-1.346-1.175-2.447-2.449-2.947
				c-1.276-0.499-2.695-0.314-3.8,0.494l-0.544,0.399l-0.768-0.768l0.361-0.533c0.768-1.134,0.899-2.56,0.352-3.815
				c-0.547-1.255-1.683-2.129-3.036-2.337L33,43.758v-1.086l0.633-0.121c1.346-0.259,2.447-1.175,2.947-2.449
				c0.5-1.275,0.315-2.695-0.494-3.8l-0.399-0.544l0.768-0.768l0.889,0.602c1.107,0.752,2.51,0.892,3.747,0.381
				c1.237-0.513,2.127-1.604,2.38-2.919L43.672,32h1.086l0.103,0.667c0.208,1.354,1.082,2.489,2.337,3.036
				c1.255,0.548,2.682,0.416,3.815-0.352l0.533-0.361l0.768,0.768l-0.399,0.544c-0.81,1.104-0.994,2.524-0.494,3.8
				c0.5,1.274,1.602,2.19,2.947,2.449L55,42.672V43.758z" />
        <path d="M44,38c-2.757,0-5,2.243-5,5s2.243,5,5,5s5-2.243,5-5S46.757,38,44,38z M44,46c-1.654,0-3-1.346-3-3s1.346-3,3-3
				s3,1.346,3,3S45.654,46,44,46z" />
        <path d="M21.569,15.569C21.569,12.498,19.071,10,16,10s-5.569,2.498-5.569,5.569c0,3.07,2.498,5.568,5.569,5.568
				S21.569,18.64,21.569,15.569z M12.431,15.569C12.431,13.602,14.032,12,16,12s3.569,1.602,3.569,3.569S17.968,19.138,16,19.138
				S12.431,17.537,12.431,15.569z" />
        <path d="M6.249,38.661C6.447,38.886,6.723,39,7,39c0.235,0,0.471-0.082,0.661-0.249l16.313-14.362l7.319,7.318
				c0.391,0.391,1.023,0.391,1.414,0s0.391-1.023,0-1.414l-1.825-1.825l9.18-10.054l11.262,10.323c0.408,0.373,1.04,0.345,1.413-0.062
				c0.373-0.407,0.346-1.04-0.062-1.413l-12-11c-0.195-0.18-0.459-0.275-0.72-0.262c-0.266,0.012-0.516,0.129-0.694,0.325
				l-9.794,10.727l-4.743-4.743c-0.372-0.372-0.972-0.391-1.368-0.044L6.339,37.249C5.925,37.614,5.885,38.246,6.249,38.661z" />
        <path d="M57,2H1C0.447,2,0,2.447,0,3v44c0,0.553,0.447,1,1,1h25c0.553,0,1-0.447,1-1s-0.447-1-1-1H2V4h54v28c0,0.553,0.447,1,1,1 s1-0.447,1-1V3C58,2.447,57.553,2,57,2z" />
        </symbol>
        <symbol id="statistics" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
        <path d="M494.139,476.278H52.515l66.881-92.696c30.558,9.792,62.732-7.276,72.492-37.09h49.103
			c7.534,23.015,29.199,39.689,54.699,39.689c39.873,0,67.873-39.886,54.006-77.432l72.9-57.552
			c10.329,6.892,22.997,10.541,36.544,9.46c28.036-2.237,50.601-24.921,52.694-52.969c2.516-33.709-24.2-61.943-57.387-61.943
			c-39.873,0-67.873,39.886-54.006,77.432l-72.9,57.552c-31.558-21.054-74.699-6.161-86.55,30.041H191.63
			c-9.253-28.266-39.825-46.971-72.635-36.96c-17.752,5.416-31.714,19.543-37.015,37.329c-5.724,19.208-1.599,37.6,8.475,51.38
			l-54.734,75.862V18.33c0-9.168-6.717-17.211-15.829-18.218C9.119-1.076,0.001,7.328,0.001,17.861v476.278
			c0,9.647,7.863,17.862,17.845,17.862c0.007,0,0.013-0.001,0.02-0.001H493.67c9.168,0,17.211-6.717,18.218-15.829
			C513.076,485.397,504.673,476.278,494.139,476.278z M454.45,181.947c12.037,0,21.829,9.792,21.829,21.829
			s-9.793,21.829-21.829,21.829c-12.036,0-21.829-9.793-21.829-21.829C432.621,191.74,442.413,181.947,454.45,181.947z
			 M295.691,307.283c12.037,0,21.829,9.792,21.829,21.829s-9.792,21.829-21.829,21.829s-21.83-9.791-21.83-21.829
			C273.861,317.075,283.654,307.283,295.691,307.283z M136.931,307.283c12.037,0,21.829,9.792,21.829,21.829
			s-9.792,21.829-21.829,21.829s-21.829-9.792-21.829-21.829S124.894,307.283,136.931,307.283z" />
        </symbol>
    </svg>
    <!-- begin header -->
    <header class="header">
        <div class="container clearfix container__big">
            <div class="header__logo">
                <a href="@Url.Action("Index", "Home")" class="logo">Kigl</a>
            </div>
            @{
                var controller = (BaseController)ViewContext.Controller;
                var currentUser = controller.CurrentUser;
                var url = Request.RawUrl;
            }
            @if (currentUser != null)
            {
                <div class="header_right">
                    <a href="#" class="header__userName">@Global.Admin_Welcome, <span>@currentUser.Username</span></a>
                    <div class="choose__language-wr">
                        <div style="display: none">
                            @Html.LanguageSelectorLink("en-US", "en", "en", new Dictionary<string, object> { { "class", Language.English + "-language-link" } })
                            @Html.LanguageSelectorLink("ru-RU", "ru", "ru", new Dictionary<string, object> { { "class", Language.Russian + "-language-link" } })
                        </div>
                        <select class="choose__language" name="" id="">
                            <option value="@Language.English" @(controller.CurrentLanguage == Language.English ? "selected" : "")>ENG</option>
                            <option value="@Language.Russian" @(controller.CurrentLanguage == Language.Russian ? "selected" : "")>РУС</option>
                        </select>
                    </div>
                    <a href="@Url.Action("SignOut", "Account")" class="header__logOut header__logOut-custom">
                        <span>@Global.Admin_Logout</span><img src="/static/image/log-out.png" alt="">
                    </a>
                </div>
            }
        </div>
    </header>
    <!-- end header -->
    <!-- begin mainSec -->
    <section class="mainSec">
        <div class="container container__big">
            <div class="row mainSec__wrapper">
                <div class="col-md-2 nopadding">
                    <div class="mainSec__left">
                        <div class="mainSec__left-content">
                            <div class="mainSec-menu visible-xs visible-sm">
                                <div class="js-mainSec-menu">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                            </div>
                            <div class="tabMenu__active visible-xs visible-sm">
                                <img src="/static/image/icon22.png" alt="">
                                <span>accounts</span>
                            </div>
                            @if (url == "/Account/Advertisers")
                            {
                                <div class="mainSec__hello">
                                    <p>Welcome!</p>
                                    <span>Please sign up <br> to start earn <br> money</span>
                                    <div class="mainSec__arrow">
                                        <a href="#"><img src="/static/image/arrow__right.png" alt=""></a>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <ul class="tabMenu">
                                    <li class="@(url.Contains("Home") || url == "/" ? "active" : "")">
                                        <a href="@Url.Action("AdvertiserIndex", "Home")">
                                            <svg xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" fill="#000000" version="1.1" x="0px" y="0px" viewBox="0 0 100 100"><g transform="translate(0,-952.36218)"><path d="m 49.946123,970.36242 c -0.41963,0.009 -0.81113,0.14803 -1.1875,0.40625 l -38,30.00003 c -0.8742896,0.7021 -0.9983296,1.9978 -0.34375,2.8437 0.64516,0.8338 2.01747,0.9673 2.84375,0.3125 l 36.75,-28.99998 36.75,28.99998 c 0.82628,0.6548 2.16085,0.5162 2.8125,-0.3125 0.64676,-0.8225 0.57722,-2.1888 -0.3125,-2.8437 l -38,-30.00003 c -0.44511,-0.29323 -0.89287,-0.415 -1.3125,-0.40625 z m -24.9375,26.90625 -4,3.15623 0,31.9375 a 2.0001999,2.0001999 0 0 0 2,2 l 19,0 a 2.0001999,2.0001999 0 0 0 2,-2 l 0,-18 12,0 0,18 a 2.0001999,2.0001999 0 0 0 2,2 l 19,0 a 2.0001999,2.0001999 0 0 0 2,-2 l 0,-31.9375 -4,-3.15623 0,33.09373 -15,0 0,-18 a 2.0001999,2.0001999 0 0 0 -2,-2 l -16,0 a 2.0001999,2.0001999 0 0 0 -2,2 l 0,18 -15,0 0,-33.09373 z" fill-opacity="1" stroke="none" marker="none" visibility="visible" display="inline" overflow="visible"/></g></svg>
                                            <span>@(controller.CurrentUserRoles.Contains(RoleName.Advertiser) ? Global.Admin_Campaigns : Global.Admin_Home) </span>
                                        </a>
                                    </li>
                                    @if (controller.CurrentUserRoles.Contains(RoleName.Admin))
                                    {
                                        <li class="@(url.Contains("Company") ? "active" : "")">
                                            <a href="@Url.Action("Index", "Company")">
                                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 100" xml:space="preserve"><path d="M72.9,22.5c-0.4-0.3-0.8-0.4-1.3-0.3l-5.2,1.3c-5.5,1.4-11.3,1.1-16.7-0.9l-0.2-0.1c-5.4-2-11.3-2.4-17-1.3l-3.1,0.6V20  c0-0.8-0.7-1.5-1.5-1.5s-1.5,0.7-1.5,1.5v3.7v28V80c0,0.8,0.7,1.5,1.5,1.5s1.5-0.7,1.5-1.5V52.9l3.7-0.7c5.1-1,10.4-0.6,15.4,1.2  l0.2,0.1c3.5,1.3,7.2,1.9,10.8,1.9c2.5,0,5.1-0.3,7.6-0.9l5.2-1.3c0.7-0.2,1.1-0.8,1.1-1.5v-28C73.5,23.2,73.3,22.8,72.9,22.5z   M70.5,50.5l-4,1c-5.5,1.4-11.3,1.1-16.7-0.9l-0.2-0.1c-3.5-1.3-7.2-1.9-10.8-1.9c-2.1,0-4.1,0.2-6.1,0.6l-3.1,0.6V24.9l3.7-0.7  c5.1-1,10.4-0.6,15.4,1.2l0.2,0.1c5.9,2.2,12.3,2.5,18.4,1l3.3-0.8V50.5z"/></svg>
                                                <span>@Global.Admin_Advertisers</span>
                                            </a>
                                        </li>
                                        <li class="@(url.Contains("BankAccounts") ? "active" : "")">
                                            <a href="@Url.Action("Index", "BankAccounts")">
                                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 100" xml:space="preserve"><g><path d="M66.234,82.416h-49.05c-1.489,0-2.269-1.967-2.269-3.021c0-6.904,4.896-12.151,14.16-15.175   c2.82-0.695,5.523-1.77,5.975-2.359c0.001-0.397,0.006-0.816,0.011-1.236c0.013-1.046,0.032-2.579-0.065-3.141   c-3.902-2.686-8.392-8.418-8.392-15.905c0-10.081,6.89-18.923,14.743-18.923h0.724c7.854,0,14.743,8.84,14.743,18.917   c0,7.485-4.493,13.219-8.394,15.901c-0.095,0.577-0.076,2.105-0.063,3.15c0.004,0.385,0.009,0.769,0.011,1.135   c0.635,0.596,3.507,1.723,5.95,2.454c9.423,3.144,14.185,8.249,14.185,15.182C68.503,80.449,67.724,82.416,66.234,82.416z    M17.316,80.416h48.786c0.17-0.184,0.4-0.72,0.4-1.021c0-5.977-4.303-10.443-12.787-13.275c-7.348-2.195-7.348-3.565-7.348-4.15   c0-0.421-0.006-0.87-0.011-1.321c-0.037-2.999-0.002-4.013,0.558-4.548c0.102-0.1,0.204-0.164,0.26-0.198   c3.807-2.565,7.64-7.988,7.64-14.33c0-9.012-5.955-16.917-12.743-16.917h-0.724c-6.788,0-12.743,7.908-12.743,16.923   c0,6.347,3.833,11.771,7.631,14.331c0.104,0.069,0.188,0.137,0.276,0.222c0.551,0.528,0.587,1.537,0.55,4.518   c-0.005,0.45-0.011,0.899-0.011,1.32c0,1.56-2.498,2.964-7.426,4.172c-5.759,1.882-12.709,5.73-12.709,13.253   C16.916,79.695,17.146,80.231,17.316,80.416z"/><path d="M83.775,69.459H67.391c-0.258,0-0.506-0.1-0.692-0.278c-2.13-2.043-5.202-3.744-9.13-5.054   c-2.365-0.707-4.293-1.82-5.07-2.551c-0.2-0.188-0.313-0.449-0.315-0.723l-0.011-1.073c-0.017-1.392-0.022-2.581,0.073-3.165   c0.045-0.269,0.196-0.508,0.421-0.662c3.04-2.091,6.59-7.087,6.59-14.283c0-7.214-2.506-13.55-6.385-16.141   c-0.422-0.282-0.565-0.836-0.334-1.288c2.36-4.604,5.367-6.657,9.748-6.657h0.625c6.854,0,12.866,7.697,12.866,16.471   c0,6.485-3.873,11.459-7.257,13.809c-0.07,0.521-0.056,1.774-0.045,2.638c0.004,0.311,0.008,0.621,0.009,0.919   c0.575,0.469,2.817,1.388,5.041,2.053c8.202,2.737,12.346,7.188,12.346,13.24C85.87,67.672,85.15,69.459,83.775,69.459z    M67.785,67.459h15.811c0.128-0.174,0.274-0.555,0.274-0.745c0-5.096-3.684-8.909-10.948-11.333   c-6.438-1.923-6.438-3.177-6.438-3.713c0-0.364-0.005-0.751-0.01-1.141c-0.033-2.778,0.014-3.537,0.522-4.025   c0.049-0.046,0.183-0.147,0.239-0.183c3.261-2.197,6.54-6.836,6.54-12.263c0-7.708-5.078-14.471-10.866-14.471h-0.625   c-3.394,0-5.632,1.409-7.566,4.822c3.997,3.207,6.537,9.846,6.537,17.263c0,7.68-3.583,13.058-7.071,15.655   c-0.034,0.652-0.021,1.762-0.013,2.419l0.006,0.624c0.666,0.479,2.091,1.284,3.993,1.853   C62.236,63.576,65.459,65.334,67.785,67.459z"/></g></svg>
                                                <span>@Global.Admin_Accounts</span>
                                            </a>
                                        </li>
                                        <li class="@(url.Contains("Rates") ? "active" : "")">
                                            <a href="@Url.Action("Index", "Rates")">
                                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000" version="1.1" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve"><g><g><path d="M9.197,85.211h23.233V44.404H9.197V85.211z M13.408,48.615H28.22V81H13.408V48.615z"/><path d="M37.656,85.211h23.232V23.77H37.656V85.211z M41.867,27.981h14.811V81H41.867V27.981z"/><path d="M66.114,85.211h23.232V5.585H66.114V85.211z M70.325,9.796h14.811V81H70.325V9.796z"/></g></g></svg>
                                                <span>@Global.Admin_Rates</span>
                                            </a>
                                        </li>
                                    }
                                    @*@if (controller.CurrentUserRoles.Contains("Advertiser") && !controller.CurrentUserRoles.Contains(RoleName.NetworkAdmin))
                                    {
                                        <li class="@(url.Contains("Users") ? "active" : "")">
                                            <a href="@Url.Action("AdvertiserUsers", "Users")">
                                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 24 24" xml:space="preserve"><path d="M20.4,18.395c-0.306-1.203-2.215-1.791-4.062-2.359c-0.61-0.188-1.185-0.365-1.64-0.549c-0.26-0.105-0.463-0.85-0.49-1.763  c0.222-0.201,0.431-0.467,0.648-0.823c0.07-0.115,0.14-0.223,0.208-0.331c0.222-0.348,0.451-0.706,0.647-1.19  c0.193-0.085,0.369-0.246,0.479-0.446c0.409-0.751,0.647-1.955,0.479-2.431c-0.068-0.191-0.207-0.331-0.399-0.405  c0.001-2.239-0.991-3.958-2.677-4.626c-0.336-0.148-0.897-0.369-1.662-0.581C11.61,2.804,11.422,2.649,11.4,2.601  c-0.015-0.089-0.065-0.169-0.139-0.22c-0.074-0.052-0.167-0.07-0.255-0.053c-0.301,0.06-0.565,0.467-0.67,0.725  c-0.046,0.115-0.074,0.226-0.084,0.332C9.679,3.461,9.11,3.733,8.948,4.321C8.926,4.381,8.92,4.447,8.932,4.508  C8.318,5.193,7.731,6.31,7.732,8.081C7.516,8.15,7.36,8.295,7.287,8.502c-0.168,0.475,0.069,1.678,0.478,2.429  c0.117,0.215,0.311,0.381,0.52,0.459c0.191,0.478,0.408,0.82,0.637,1.181c0.065,0.102,0.131,0.206,0.198,0.316  c0.231,0.379,0.464,0.661,0.725,0.874c-0.051,0.986-0.297,1.653-0.511,1.717l-0.334,0.098c-2.505,0.729-5.107,1.634-5.414,2.819  c-0.259,0.999-0.301,1.637-0.303,1.685c0,0.882,0.717,1.599,1.598,1.599h14.236c0.882,0,1.599-0.717,1.599-1.599  C20.717,19.715,20.66,19.416,20.4,18.395z M19.118,21.012H4.882c-0.514,0-0.932-0.418-0.933-0.911c0-0.006,0.042-0.607,0.283-1.539  c0.168-0.649,1.835-1.439,4.955-2.346l0.339-0.099c0.841-0.252,0.974-1.838,0.992-2.508c0.003-0.113-0.051-0.219-0.143-0.283  c-0.243-0.168-0.461-0.418-0.685-0.786c-0.069-0.113-0.137-0.221-0.205-0.327c-0.245-0.386-0.457-0.72-0.638-1.221  c-0.046-0.128-0.168-0.216-0.303-0.222c-0.037-0.001-0.138-0.062-0.194-0.163c-0.366-0.671-0.514-1.67-0.437-1.892  C7.921,8.708,7.96,8.68,8.059,8.68c0.001,0,0.001,0,0.002,0c0.089,0,0.181-0.022,0.246-0.088c0.065-0.065,0.1-0.144,0.096-0.235  C8.329,6.321,9.079,5.225,9.722,4.664c0.111-0.096,0.145-0.254,0.085-0.388c-0.006-0.014-0.014-0.027-0.021-0.04  c0.278-0.197,0.738-0.204,0.806-0.204l0.035,0c0.121,0.008,0.235-0.05,0.3-0.152c0.073-0.113,0.07-0.259-0.006-0.37  c-0.004-0.006-0.012-0.035,0.001-0.098c0.017-0.083,0.058-0.171,0.104-0.247c0.203,0.176,0.482,0.302,0.729,0.371  c0.727,0.201,1.255,0.409,1.582,0.553c1.516,0.6,2.341,2.157,2.263,4.27c-0.003,0.089,0.029,0.176,0.091,0.241  c0.061,0.065,0.146,0.103,0.236,0.104C16,8.706,16.036,8.721,16.04,8.726c0.079,0.224-0.069,1.219-0.435,1.89  c-0.055,0.1-0.153,0.16-0.193,0.165c-0.122,0.017-0.224,0.099-0.266,0.214c-0.184,0.497-0.407,0.847-0.644,1.217  c-0.071,0.111-0.143,0.224-0.216,0.343c-0.212,0.349-0.415,0.595-0.618,0.753c-0.083,0.064-0.13,0.162-0.13,0.266  c0.006,0.81,0.131,2.217,0.909,2.531c0.482,0.195,1.071,0.377,1.694,0.568c1.514,0.466,3.398,1.046,3.612,1.887  c0.257,1.008,0.296,1.241,0.296,1.519C20.05,20.593,19.632,21.012,19.118,21.012z"/></svg>
                                                <span>@Global.Admin_Users</span>
                                            </a>
                                        </li>
                                    }*@
                                    @if (controller.CurrentUserRoles.Contains("InstagramAdmin") && !controller.CurrentUserRoles.Contains(RoleName.NetworkAdmin))
                                    {
                                        <li class="@(url.Contains("Users") ? "active" : "")">
                                            <a href="@Url.Action("Instagramers", "Users")">
                                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 24 24" xml:space="preserve"><path d="M20.4,18.395c-0.306-1.203-2.215-1.791-4.062-2.359c-0.61-0.188-1.185-0.365-1.64-0.549c-0.26-0.105-0.463-0.85-0.49-1.763  c0.222-0.201,0.431-0.467,0.648-0.823c0.07-0.115,0.14-0.223,0.208-0.331c0.222-0.348,0.451-0.706,0.647-1.19  c0.193-0.085,0.369-0.246,0.479-0.446c0.409-0.751,0.647-1.955,0.479-2.431c-0.068-0.191-0.207-0.331-0.399-0.405  c0.001-2.239-0.991-3.958-2.677-4.626c-0.336-0.148-0.897-0.369-1.662-0.581C11.61,2.804,11.422,2.649,11.4,2.601  c-0.015-0.089-0.065-0.169-0.139-0.22c-0.074-0.052-0.167-0.07-0.255-0.053c-0.301,0.06-0.565,0.467-0.67,0.725  c-0.046,0.115-0.074,0.226-0.084,0.332C9.679,3.461,9.11,3.733,8.948,4.321C8.926,4.381,8.92,4.447,8.932,4.508  C8.318,5.193,7.731,6.31,7.732,8.081C7.516,8.15,7.36,8.295,7.287,8.502c-0.168,0.475,0.069,1.678,0.478,2.429  c0.117,0.215,0.311,0.381,0.52,0.459c0.191,0.478,0.408,0.82,0.637,1.181c0.065,0.102,0.131,0.206,0.198,0.316  c0.231,0.379,0.464,0.661,0.725,0.874c-0.051,0.986-0.297,1.653-0.511,1.717l-0.334,0.098c-2.505,0.729-5.107,1.634-5.414,2.819  c-0.259,0.999-0.301,1.637-0.303,1.685c0,0.882,0.717,1.599,1.598,1.599h14.236c0.882,0,1.599-0.717,1.599-1.599  C20.717,19.715,20.66,19.416,20.4,18.395z M19.118,21.012H4.882c-0.514,0-0.932-0.418-0.933-0.911c0-0.006,0.042-0.607,0.283-1.539  c0.168-0.649,1.835-1.439,4.955-2.346l0.339-0.099c0.841-0.252,0.974-1.838,0.992-2.508c0.003-0.113-0.051-0.219-0.143-0.283  c-0.243-0.168-0.461-0.418-0.685-0.786c-0.069-0.113-0.137-0.221-0.205-0.327c-0.245-0.386-0.457-0.72-0.638-1.221  c-0.046-0.128-0.168-0.216-0.303-0.222c-0.037-0.001-0.138-0.062-0.194-0.163c-0.366-0.671-0.514-1.67-0.437-1.892  C7.921,8.708,7.96,8.68,8.059,8.68c0.001,0,0.001,0,0.002,0c0.089,0,0.181-0.022,0.246-0.088c0.065-0.065,0.1-0.144,0.096-0.235  C8.329,6.321,9.079,5.225,9.722,4.664c0.111-0.096,0.145-0.254,0.085-0.388c-0.006-0.014-0.014-0.027-0.021-0.04  c0.278-0.197,0.738-0.204,0.806-0.204l0.035,0c0.121,0.008,0.235-0.05,0.3-0.152c0.073-0.113,0.07-0.259-0.006-0.37  c-0.004-0.006-0.012-0.035,0.001-0.098c0.017-0.083,0.058-0.171,0.104-0.247c0.203,0.176,0.482,0.302,0.729,0.371  c0.727,0.201,1.255,0.409,1.582,0.553c1.516,0.6,2.341,2.157,2.263,4.27c-0.003,0.089,0.029,0.176,0.091,0.241  c0.061,0.065,0.146,0.103,0.236,0.104C16,8.706,16.036,8.721,16.04,8.726c0.079,0.224-0.069,1.219-0.435,1.89  c-0.055,0.1-0.153,0.16-0.193,0.165c-0.122,0.017-0.224,0.099-0.266,0.214c-0.184,0.497-0.407,0.847-0.644,1.217  c-0.071,0.111-0.143,0.224-0.216,0.343c-0.212,0.349-0.415,0.595-0.618,0.753c-0.083,0.064-0.13,0.162-0.13,0.266  c0.006,0.81,0.131,2.217,0.909,2.531c0.482,0.195,1.071,0.377,1.694,0.568c1.514,0.466,3.398,1.046,3.612,1.887  c0.257,1.008,0.296,1.241,0.296,1.519C20.05,20.593,19.632,21.012,19.118,21.012z" /></svg>
                                                <span>@Global.Admin_Users</span>
                                            </a>
                                        </li>
                                    }
                                    @if (controller.CurrentUserRoles.Contains("Admin") && !controller.CurrentUserRoles.Contains(RoleName.NetworkAdmin))
                                    {
                                        <li class="@(url.Contains("Users") ? "active" : "")">
                                            <a href="@Url.Action("AdminUsers", "Users")">
                                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 24 24" xml:space="preserve"><path d="M20.4,18.395c-0.306-1.203-2.215-1.791-4.062-2.359c-0.61-0.188-1.185-0.365-1.64-0.549c-0.26-0.105-0.463-0.85-0.49-1.763  c0.222-0.201,0.431-0.467,0.648-0.823c0.07-0.115,0.14-0.223,0.208-0.331c0.222-0.348,0.451-0.706,0.647-1.19  c0.193-0.085,0.369-0.246,0.479-0.446c0.409-0.751,0.647-1.955,0.479-2.431c-0.068-0.191-0.207-0.331-0.399-0.405  c0.001-2.239-0.991-3.958-2.677-4.626c-0.336-0.148-0.897-0.369-1.662-0.581C11.61,2.804,11.422,2.649,11.4,2.601  c-0.015-0.089-0.065-0.169-0.139-0.22c-0.074-0.052-0.167-0.07-0.255-0.053c-0.301,0.06-0.565,0.467-0.67,0.725  c-0.046,0.115-0.074,0.226-0.084,0.332C9.679,3.461,9.11,3.733,8.948,4.321C8.926,4.381,8.92,4.447,8.932,4.508  C8.318,5.193,7.731,6.31,7.732,8.081C7.516,8.15,7.36,8.295,7.287,8.502c-0.168,0.475,0.069,1.678,0.478,2.429  c0.117,0.215,0.311,0.381,0.52,0.459c0.191,0.478,0.408,0.82,0.637,1.181c0.065,0.102,0.131,0.206,0.198,0.316  c0.231,0.379,0.464,0.661,0.725,0.874c-0.051,0.986-0.297,1.653-0.511,1.717l-0.334,0.098c-2.505,0.729-5.107,1.634-5.414,2.819  c-0.259,0.999-0.301,1.637-0.303,1.685c0,0.882,0.717,1.599,1.598,1.599h14.236c0.882,0,1.599-0.717,1.599-1.599  C20.717,19.715,20.66,19.416,20.4,18.395z M19.118,21.012H4.882c-0.514,0-0.932-0.418-0.933-0.911c0-0.006,0.042-0.607,0.283-1.539  c0.168-0.649,1.835-1.439,4.955-2.346l0.339-0.099c0.841-0.252,0.974-1.838,0.992-2.508c0.003-0.113-0.051-0.219-0.143-0.283  c-0.243-0.168-0.461-0.418-0.685-0.786c-0.069-0.113-0.137-0.221-0.205-0.327c-0.245-0.386-0.457-0.72-0.638-1.221  c-0.046-0.128-0.168-0.216-0.303-0.222c-0.037-0.001-0.138-0.062-0.194-0.163c-0.366-0.671-0.514-1.67-0.437-1.892  C7.921,8.708,7.96,8.68,8.059,8.68c0.001,0,0.001,0,0.002,0c0.089,0,0.181-0.022,0.246-0.088c0.065-0.065,0.1-0.144,0.096-0.235  C8.329,6.321,9.079,5.225,9.722,4.664c0.111-0.096,0.145-0.254,0.085-0.388c-0.006-0.014-0.014-0.027-0.021-0.04  c0.278-0.197,0.738-0.204,0.806-0.204l0.035,0c0.121,0.008,0.235-0.05,0.3-0.152c0.073-0.113,0.07-0.259-0.006-0.37  c-0.004-0.006-0.012-0.035,0.001-0.098c0.017-0.083,0.058-0.171,0.104-0.247c0.203,0.176,0.482,0.302,0.729,0.371  c0.727,0.201,1.255,0.409,1.582,0.553c1.516,0.6,2.341,2.157,2.263,4.27c-0.003,0.089,0.029,0.176,0.091,0.241  c0.061,0.065,0.146,0.103,0.236,0.104C16,8.706,16.036,8.721,16.04,8.726c0.079,0.224-0.069,1.219-0.435,1.89  c-0.055,0.1-0.153,0.16-0.193,0.165c-0.122,0.017-0.224,0.099-0.266,0.214c-0.184,0.497-0.407,0.847-0.644,1.217  c-0.071,0.111-0.143,0.224-0.216,0.343c-0.212,0.349-0.415,0.595-0.618,0.753c-0.083,0.064-0.13,0.162-0.13,0.266  c0.006,0.81,0.131,2.217,0.909,2.531c0.482,0.195,1.071,0.377,1.694,0.568c1.514,0.466,3.398,1.046,3.612,1.887  c0.257,1.008,0.296,1.241,0.296,1.519C20.05,20.593,19.632,21.012,19.118,21.012z" /></svg>
                                                <span>@Global.Admin_Users</span>
                                            </a>
                                        </li>
                                    }
                                    @if (controller.CurrentUserRoles.Contains(RoleName.Advertiser))
                                    {
                                        <li class="@(url.Contains("StartCampaign") ? "active" : "")">
                                            <a href="@Url.Action("StartCampaign", "Ads")">
                                                <svg>
                                                    <use xlink:href="#banners-videos"/>
                                                </svg>
                                                <span>@Global.Admin_StartCampaign</span>
                                            </a>
                                        </li>
                                    }
                                    @if (controller.CurrentUserRoles.Contains(RoleName.NetworkAdmin))
                                    {
                                        <li class="@(url.Contains("NetworkSettings") ? "active" : "")">
                                            <a href="@Url.Action("Index", "NetworkSettings")">
                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                     fill="#000000"
                                                     data-name="Layer 1"
                                                     viewBox="0 0 512 512"
                                                     x="0px"
                                                     y="0px">
                                                    <title>setting</title>
                                                    <path d="M284.52,512h-57c-15.22,0-27.13-12.31-27.13-28V449a204.75,204.75,0,0,1-40.64-16.75l-25.1,24.85A27.61,27.61,0,0,1,115,465.16h-0.07A27.69,27.69,0,0,1,95.28,457L54.95,416.62a27.92,27.92,0,0,1,0-39.44l24.81-24.93A204.67,204.67,0,0,1,63,311.65H28c-15.72,0-28-11.92-28-27.13v-57c0-15.22,12.31-27.13,28-27.13H63a204.75,204.75,0,0,1,16.75-40.64L54.91,134.58A27.84,27.84,0,0,1,55,95.29L95.38,54.95a27.93,27.93,0,0,1,39.44,0l24.93,24.81A204.67,204.67,0,0,1,200.35,63V28c0-15.72,11.92-28,27.13-28h57c15.22,0,27.13,12.31,27.13,28V63a204.75,204.75,0,0,1,40.64,16.75l25.1-24.85A27.61,27.61,0,0,1,397,46.84h0.07A27.69,27.69,0,0,1,416.72,55l40.34,40.38a27.92,27.92,0,0,1,0,39.44l-24.81,24.93A204.67,204.67,0,0,1,449,200.35h35c15.72,0,28,11.92,28,27.13v57c0,15.22-12.31,27.13-28,27.13H449a204.75,204.75,0,0,1-16.75,40.64l24.88,25.14a27.84,27.84,0,0,1-.09,39.29l-40.38,40.34a27.93,27.93,0,0,1-39.44,0l-24.93-24.81A204.67,204.67,0,0,1,311.65,449v35C311.65,499.69,299.73,512,284.52,512Zm-47.07-37.1h37.1V419.46l14.71-3.11a165.84,165.84,0,0,0,55.74-23l12.58-8.2,39.32,39.12L424.25,397l-39-39.44L393.38,345a165.84,165.84,0,0,0,23-55.74l3.11-14.71H474.9v-37.1H419.46l-3.11-14.71a165.84,165.84,0,0,0-23-55.74l-8.2-12.58,39.12-39.32L397,87.75l-39.44,39L345,118.62a165.84,165.84,0,0,0-55.74-23l-14.71-3.11V37.1h-37.1V92.54l-14.71,3.11a165.84,165.84,0,0,0-55.74,23l-12.58,8.2L115.11,87.68,87.75,115l39,39.44L118.62,167a165.84,165.84,0,0,0-23,55.74l-3.11,14.71H37.1v37.1H92.54l3.11,14.71a165.84,165.84,0,0,0,23,55.74l8.2,12.58L87.68,396.89,115,424.25l39.44-39L167,393.38a165.84,165.84,0,0,0,55.74,23l14.71,3.11V474.9Zm165.91-44.15,0,0Zm27.37-27.22,0.07,0.07Zm-349.47-.17,0,0ZM430.78,108.61l0,0Zm-349.57-.2,0.07,0.07Zm27.4-27.19,0,0ZM256,348.75A92.75,92.75,0,1,1,348.75,256,92.86,92.86,0,0,1,256,348.75Zm0-148.41A55.65,55.65,0,1,0,311.65,256,55.72,55.72,0,0,0,256,200.35Z"/>
                                                    <path d="M256,348.75A92.75,92.75,0,1,1,348.75,256,92.86,92.86,0,0,1,256,348.75Zm0-148.41A55.65,55.65,0,1,0,311.65,256,55.72,55.72,0,0,0,256,200.35Z"/>
                                                </svg>
                                                <span>@Global.Admin_Settings</span>
                                            </a>
                                        </li>
                                        <li class="@(url.Contains("PortalImages") ? "active" : "")">
                                            <a href="@Url.Action("PortalImages", "Ads")">
                                                <svg>
                                                    <use xlink:href="#banners-videos"/>
                                                </svg>
                                                <span>@Global.Admin_PortalImages</span>
                                            </a>
                                        </li>
                                        <li class="@(url.Contains("Approvals") ? "active" : "")">
                                            <a href="@Url.Action("Index", "Approvals")">
                                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 100" xml:space="preserve"><path d="M72.9,22.5c-0.4-0.3-0.8-0.4-1.3-0.3l-5.2,1.3c-5.5,1.4-11.3,1.1-16.7-0.9l-0.2-0.1c-5.4-2-11.3-2.4-17-1.3l-3.1,0.6V20  c0-0.8-0.7-1.5-1.5-1.5s-1.5,0.7-1.5,1.5v3.7v28V80c0,0.8,0.7,1.5,1.5,1.5s1.5-0.7,1.5-1.5V52.9l3.7-0.7c5.1-1,10.4-0.6,15.4,1.2  l0.2,0.1c3.5,1.3,7.2,1.9,10.8,1.9c2.5,0,5.1-0.3,7.6-0.9l5.2-1.3c0.7-0.2,1.1-0.8,1.1-1.5v-28C73.5,23.2,73.3,22.8,72.9,22.5z   M70.5,50.5l-4,1c-5.5,1.4-11.3,1.1-16.7-0.9l-0.2-0.1c-3.5-1.3-7.2-1.9-10.8-1.9c-2.1,0-4.1,0.2-6.1,0.6l-3.1,0.6V24.9l3.7-0.7  c5.1-1,10.4-0.6,15.4,1.2l0.2,0.1c5.9,2.2,12.3,2.5,18.4,1l3.3-0.8V50.5z"/></svg>
                                                <span>@Global.Admin_Approvals</span>
                                            </a>
                                        </li>
                                    }
                                </ul>
                            }
                        </div>
                    </div>
                </div>
                <div class="col-md-10 nopadding">
                    <div class="mainSec__right">
                        <div class="mainSec__right-content">
                            @RenderBody()
                        </div>
                    </div>
                    <div class="footer__right footer__box">
                        <div class="footer__right-wr">
                            <ul class="footer__contact">
                                <li>
                                    <a href="mailto:support@kigl.eu">support@kigl.eu</a>
                                </li>
                            </ul>
                            <ul class="footer__content__list">
                                <li><a href="@Url.Action("CampaignInitiatorsTermsOfUse", "Info")">@Global.Admin_TermsAndConditions</a></li>
                            </ul>
                            <ul class="footer__content__list">
                                <li><a href="@Url.Action("PrivacyPolicy", "Info")">@Global.Admin_PrivacyPolicy</a></li>
                            </ul>
                            <ul class="footer__content__list">
                                <li><a href="@Url.Action("FAQ", "Info")">@Global.Admin_FAQ</a></li>
                            </ul>

                            <div class="footer__social">
                                <span>Follow us:</span>
                                <a href="https://www.instagram.com/kigl__/">
                                    <img src="/static/image/inst.png" alt="">
                                </a>
                                <a href="https://www.youtube.com/channel/UCPRZnPzupY_V0jqf9senVrg">
                                    <img src="/static/image/youtube.svg" alt="">
                                </a>
                            </div>
                            <ul class="footer__contact">
                                <li>
                                    <span>© 2017 - 2018 Kigl</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    @RenderSection("Modals", false)
    
    <!-- Main scripts. You can replace it, but I recommend you to leave it here -->
    <script src="/static/js/mainc6qtq589f6r.js"></script>
    @*<script src="/static/js/jquery.maskedinput.min.js"></script>*@
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="~/scripts/jquery.validate.min.js"></script>
    <script src="/scripts/simplebar.js"></script>
    <script src="~/scripts/underscore.min.js"></script>
    <script src="/static/select2/dist/js/select2.full.min.js">	</script>
    <script src="/static/js/separate-js/start.js"></script>
    <script type="text/javascript">
        $(function() {
            $('.choose__language').on('change.fs', function() {
                var lang = $(this).val();
                location.href = $('.' + lang + '-language-link').attr('href');
            });
        });
    </script>
    @RenderSection("Scripts", false)
</body>

</html>