﻿@model Kigl.Models.EditNetworkModel
@{
    ViewBag.Title = "Edit network";
}

<h2>Edit network</h2>

@using (Html.BeginForm("EditNetwork", "Settings", FormMethod.Post, new { id = "frmEditNetwork", @class = "form-horizontal" }))
{
    @Html.HiddenFor(m => m.Id)
    <div class="form-group">
        <label for="Name" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label for="cityId" class="col-sm-2 control-label">City</label>
        <div class="col-sm-10">
            <select id="cityId" name="CityId" class="form-control">
                <option value="">Select city</option>
                @foreach (var city in Model.Cities)
                {
                    if (city.Id == Model.CityId)
                    {
                        <option value="@city.Id" selected="selected">@city.Name</option>
                    }
                    else
                    {
                        <option value="@city.Id">@city.Name</option>
                    }
                }
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-success">Create</button>
        </div>
    </div>
}

@section Scripts{
    <script type="text/javascript">
        $(function () {
            $('#frmEditNetwork')
                .validate({
                    rules: {
                        Name: 'required',
                        CityId: 'required'
                    },
                    messages: {
                        Name: 'Please specify advertiser name',
                        CityId: 'Please select city'
                    }
                });
        });
    </script>
}