﻿@model Kigl.Models.EditCityModel
@{
    ViewBag.Title = "Edit city";
}

<h2>Edit city</h2>

@using (Html.BeginForm("EditCity", "Settings", FormMethod.Post, new { id = "frmEditCity", @class = "form-horizontal" }))
{
    @Html.HiddenFor(m => m.Id)
    <div class="form-group">
        <label for="Name" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label for="countryId" class="col-sm-2 control-label">Country</label>
        <div class="col-sm-10">
            <select id="countryId" name="CountryId" class="form-control">
                <option value="">Select country</option>
                @foreach (var country in Model.Countries)
                {
                    if (country.Id == Model.CountryId)
                    {
                        <option value="@country.Id" selected="selected">@country.Name</option>
                    }
                    else
                    {
                        <option value="@country.Id">@country.Name</option>
                    }
                }
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-success">Create</button>
        </div>
    </div>
}

@section Scripts{
    <script type="text/javascript">
        $(function () {
            $('#frmEditCity')
                .validate({
                    rules: {
                        Name: 'required',
                        CountryId: 'required'
                    },
                    messages: {
                        Name: 'Please specify city name',
                        CountryId: 'Please select country'
                    }
                });
        });
    </script>
}