﻿@model Kigl.Models.SettingsModel
@{
    ViewBag.Title = "Settings";
}

<h2>Index</h2>

<div class="row">
    <div class="col-sm-6">
        <table class="table table-striped table-bordered table-country">
            <thead>
                <tr>
                    <th>Country</th>
                </tr>
            </thead>
            <tr class="country-row country-template">
                <td class="country-name"></td>
            </tr>
            @foreach (var country in Model.Countries)
            {
                <tr class="country-row" data-id="@country.Id">
                    <td class="country-name">@country.Name</td>
                </tr>
            }
        </table>
        <form class="form-inline">
            <div class="form-group">
                <input type="text" class="form-control" id="newCountryName">
            </div>
            <button type="button" class="btn btn-success btn-add-country">Add country</button>
        </form>
        <label class="error" style="display: none">Please specify country name</label>
    </div>
    <div class="col-sm-6">
        <table class="table table-striped table-bordered table-currency">
            <thead>
                <tr>
                    <th>Currency</th>
                </tr>
            </thead>
            <tr class="currency-row currency-template">
                <td class="currency-name"></td>
            </tr>
            @foreach (var currency in Model.Currencies)
            {
                <tr class="currency-row" data-id="@currency.Id">
                    <td class="currency-name">@currency.Name</td>
                </tr>
            }
        </table>
        <form class="form-inline">
            <div class="form-group">
                <input type="text" class="form-control" id="newCurrencyName">
            </div>
            <button type="button" class="btn btn-success btn-add-currency">Add currency</button>
        </form>
        <label class="error" style="display: none">Please specify currency</label>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-sm-6">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Country</th>
                    <th>City</th>
                </tr>
            </thead>
            @foreach (var city in Model.Cities)
            {
                <tr data-id="@city.Id">
                    <td>@city.Name</td>
                    <td>@city.Country.Name</td>
                </tr>
            }
        </table>
        <form class="form-inline pull-right">
            <a href="@Url.Action("EditCity", "Settings")" class="btn btn-success btn-add-network">Add city</a>
        </form>
    </div>
    <div class="col-sm-6">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Network</th>
                    <th>Country</th>
                </tr>
            </thead>
            @foreach (var network in Model.Networks)
            {
                <tr data-id="@network.Id">
                    <td>@network.Name</td>
                    <td>@network.City.Name</td>
                </tr>
            }
        </table>
        <form class="form-inline pull-right">
            <a href="@Url.Action("EditNetwork", "Settings")" class="btn btn-success btn-add-network">Add network</a>
        </form>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(function () {
            var countryTemplate = $('.country-template');
            countryTemplate.remove();

            var currencyTemplate = $('.currency-template');
            currencyTemplate.remove();

            $('.btn-add-country').click(function () {
                var newCountryName = $('#newCountryName').val();
                var error = $(this).closest('.form-inline').siblings('.error');
                if (newCountryName) {
                    $('#newCountryName').val('');
                    error.hide();
                    $.post('@Url.Action("AddCountry", "Settings")',
                        { countryName: newCountryName },
                        function (response) {
                            var country = response.data;
                            var row = countryTemplate.clone();
                            row.data('data-id', country.Id);
                            row.find('.country-name').text(country.Name);
                            $('.table-country').append(row);
                        });
                } else {
                    error.show();
                }
            });

            $('.btn-add-currency').click(function () {
                var newCurrencyName = $('#newCurrencyName').val();
                var error = $(this).closest('.form-inline').siblings('.error');
                if (newCurrencyName) {
                    $('#newCurrencyName').val('');
                    error.hide();
                    $.post('@Url.Action("AddCurrency", "Settings")',
                        { currencyName: newCurrencyName },
                        function (response) {
                            var currency = response.data;
                            var row = currencyTemplate.clone();
                            row.data('data-id', currency.Id);
                            row.find('.currency-name').text(currency.Name);
                            $('.table-currency').append(row);
                        });
                } else {
                    error.show();
                }
            });
        });
    </script>
}