﻿
@{
    ViewBag.Title = "CampaignInitiatorsTermsOfUse";
    Layout = "../Shared/_InstagramLayoutDocs.cshtml";
}

<div class="module module-faq active">
    <div class="module__up">
        <h2 class="module__title module__header">
            <strong class="module__title_black">Kigl Platform Campaign Initiators Terms of Use</strong>
        </h2>
    </div>    
    <div class="module__up">
        <div class="module__box m-box">
            <p class="m-box__Text m-box__Text_font18">Last Updated: March 28, 2017 </p>
            <p class="m-box__Text m-box__Text_font18">The following terms of use (the "Terms of Use") govern your access to Kigl website located at Kigl.biz (the “Website”) and use of the platform facilitating the matching of Publishers (as defined below) and other users (each, a “Campaign Initiator”) interested in entering in agreement by retaining a Publisher to post a promotional online media content on his social-media network (the "Campaign agreement"), and (3) all other services provided by Kigl, as described on the Website (collectively, the "Platform”). These Terms of Use form an agreement between Kigl, LTD ("Kigl", “us”, “we”, “our”) and you. The term "you" refers to the person or entity (including, but not limited to Campaign Initiators) visiting the Platform, browsing or otherwise using the Platform, or communicating with content creators registered with Kigl (each content creator registered with Kigl is referred to herein as an “Publisher”) for the purpose of creating promotional online media content for your products or services (each, a “Campaign”). By accessing and using (the term “use” when used herein in respect of the Platform shall mean access or use, and using shall have a corresponding meaning) the Platform, you accept and agree to be bound by and comply with these Terms of Use. If you do not accept and agree to be bound by these Terms of Use, please do not access or use the Platform. If you are accessing or using the Platform on behalf of another person or a corporate entity, you represent and warrant that you have the authority to bind such person or entity to these Terms of Use.</p>
            <p class="m-box__Text m-box__Text_font18">The Platform is provided solely (the “Permitted Use”) to: (a) upload the content to the Platform (b) create opportunity to the Publisher to post a content suitable your criteria (c) to post content by the Publisher on the social-media networks (d) make the published content to be available for viewing by the Publisher’s followers. By the follower is meant a person who follows or subscribes to Publisher's a social-media network (collectively referred to as the “Platform Services”).</p>
        </div>
    </div>
    <div class="module__up">
        <h2 class="module__title">
            Changes to these Terms of Use and Platform
        </h2>
        <div class="module__box m-box">
            <p class="m-box__Text m-box__Text_font18">Except where prohibited by applicable law, Kigl reserves the right to change these Terms of Use at any time without notice. Your continued access to or use of the Platform after any changes to these Terms of Use indicates your acceptance of such changes. It is your responsibility to review these Terms of Use regularly.</p>
            <p class="m-box__Text m-box__Text_font18">Kigl reserves the right to change any information, material or content (including, but not limited to, price, features, availability of the Publishers, Publisher’s Profiles and types of Campaigns) contained on or provided through the Platform (the "Content") at any time, and from time to time, without notice.</p>
        </div>
    </div>
    <div class="module__up">
        <h2 class="module__title">
            Use of the Platform
        </h2>
        <div class="module__box m-box">
            <p class="m-box__Text m-box__Text_font18">As a condition of your use of the Platform, you warrant that (b) you possess the legal authority to create a binding legal obligation; (c) you shall use the Platform in accordance with these Terms of Use; and (d) all information supplied by you on the Platform is true, accurate, current and complete.</p>
            <p class="m-box__Text m-box__Text_font18">Kigl retains the right, at its sole discretion, to deny access to anyone to the Platform or the services it offers, at any time and for any reason, including, but not limited to, for violation of these Terms of Use. You shall cease and desist from any such access or use immediately upon request by Kigl.</p>
        </div>
    </div>
    <div class="module__up">
        <h2 class="module__title">
            User Account
        </h2>
        <div class="module__box m-box">
            <p class="m-box__Text m-box__Text_font18">You will be required to successfully sign up for a user account (the “User Account”) using the available interfaces at the Platform. Kigl reserves the right to disable any User Account issued to you at any time in Kigl’s sole discretion. If Kigl disables access to a User Account issued to you, you may be prevented from accessing Kigl, your account details or any Campaigns that are associated with your account.</p>
        </div>
    </div>
    <div class="module__up">
        <h2 class="module__title">
            Term and Termination
        </h2>
        <div class="module__box m-box">
            <p class="m-box__Text m-box__Text_font18">We may terminate your access to and use of the Services, at our sole discretion, at any time and without notice to you. You may cancel your Account at any time by sending an email to us at <a href="mailto:support@Kigl.com">support@Kigl.com</a>. Upon any termination, discontinuation or cancellation of Services or your Account, all provisions of these Terms which by their nature should survive will survive, including, without limitation, ownership provisions, warranty disclaimers, limitations of liability, and dispute resolution provisions. Furthermore, any Campaign Agreement shall be subject to the cancellation and payment provisions as specified in such Campaign Agreement.
            </p>
        </div>
    </div>
    <div class="module__up">
        <h2 class="module__title">
            Campaign Agreements with Publishers
        </h2>
        <div class="module__box m-box">
            <p class="m-box__Text m-box__Text_font18">You understand that Kigl is not a party to any Campaign agreement and will be in no way responsible for the performance of either you or the Publisher under any Agreements, except for facilitating the transmission of payment from you to the Publisher in accordance with these Terms of Use. Kigl does not make any representations or warranties of any kind in respect of a Publisher or a Campaign Agreement. Any Campaign Agreement may be terminated by you at any time without fee or penalty, however all Publishers who have already posted the content on their social-media networks are entitled to get fee.</p>
        </div>
    </div>
    <div class="module__up">
        <h2 class="module__title">
            Fees and Payment
        </h2>
        <div class="module__box m-box">
            <p class="m-box__Text m-box__Text_font18">To enter into any Campaign agreement and use the Services available on the Platform, you should provide Kigl with deposit. The remuneration of Kigl for the services rendered is equal to 20 % (twentypercent) of the amount payable by you to Kigl as a revenue earned by a Publisher under a Campaign agreement.</p>
        </div>
    </div>
    <div class="module__up">
        <h2 class="module__title">
            Rights and License Grants
        </h2>
        <div class="module__box m-box">
            <p class="m-box__Text m-box__Text_font18">Kigl does not claim ownership of any content and data that you load, transmit or enter into the Platform. Instead, you hereby grant to Kigl a non-exclusive, fully paid and royalty-free, transferable, sub-licensable, worldwide license to collect, store and use any content and data that you upload or Kigl collect from your local computer system or from third-parties with your permission and including all results from processing such data for the purpose of: (a) providing the Platform Services, (b) complying with applicable law, and (c) Kigl’s reasonable audit and data retention policies.You represent and warrant that: (a) you own the content uploaded by you into the Platform or otherwise have the right to grant the rights and licenses set forth in these Terms of Use; (b) the uploading posting and using of your content does not violate, misappropriate or infringe on the rights of any third party, including, without limitation, privacy rights, publicity rights, copyrights, trademark and/or other intellectual property rights; (c) you agree to pay for all royalties, fees, and any other monies owed by reason of content you upload and (iv) you have the legal right and capacity to enter into these Terms of Use in your jurisdiction. The content loaded by You into the Platform is protected by copyright, trademark, patent, trade secret and other laws.</p>
            <p class="m-box__Text m-box__Text_font18">You agree that Kigl is not responsible for, and does not endorse content posted within the Platform and social media network. Kigl does not have any obligation to prescreen, monitor, edit, or remove any Content which violates third parties rights. If your Content violates these Terms of Use or third party rights, you may bear legal responsibility for that content.</p>
            <p class="m-box__Text m-box__Text_font18">Subject to these Terms of Use, Kigl grants you a personal, revocable, non-exclusive and non-transferable license during the Term to permit you to access and use the Platform in accordance with these Terms of Use.</p>
            <p class="m-box__Text m-box__Text_font18">You will not use, license or otherwise exploit any copyright, trademark, service mark or other proprietary rights owned by Kigl without special permission.</p>
            <p class="m-box__Text m-box__Text_font18">All contents of the Kigl website are: © 2017 Kigl, LTD.</p>
        </div>
    </div>
    <div class="module__up">
        <h2 class="module__title">
            Privacy Policy
        </h2>
        <div class="module__box m-box">
            <p class="m-box__Text m-box__Text_font18">Please visit <a href="http://www.Kigl.eu/Info/PrivacyPolicy">http://www.Kigl.eu/Info/PrivacyPolicy</a> to review our current Privacy Policy, which contains important information about our practices in collecting, storing, using and disclosing your personal information, and which is hereby incorporated into and forms a part of these Terms of Use
            </p>
        </div>
    </div>
    <div class="module__up">
        <h2 class="module__title">
            No Unlawful or Prohibited Use
        </h2>
        <div class="module__box m-box">
            <p class="m-box__Text m-box__Text_font18">You shall not, without Kigl's prior written permission, use the Platform and the Content for purposes other than the Permitted Use. Without limiting the generality of the foregoing, you shall not, and shall not permit anyone else to: </p>
            <ol class="lower-alpha-parentheses">
                <li class="m-box__Text m-box__Text_font18">“frame”, “mirror” or otherwise incorporate the Platform or the Content or any part thereof on any commercial or non-commercial website;</li>
                <li class="m-box__Text m-box__Text_font18">access, monitor or copy any part of the Platform or the Content using any robot, spider, scraper or other automated means or any manual process for any purpose without our express written permission;</li>
                <li class="m-box__Text m-box__Text_font18">violate the restrictions in any robot exclusion headers on the Content or the Platform or bypass or circumvent other measures employed to prevent or limit access to the Platform;</li>
                <li class="m-box__Text m-box__Text_font18">take any action that imposes, or may impose, in Kigl’s discretion, an unreasonable or disproportionately large load on the Platform;</li>
                <li class="m-box__Text m-box__Text_font18">deep-link to any portion of the Platform for any purpose;</li>
                <li class="m-box__Text m-box__Text_font18">remove (or permit anyone else to remove) any watermarks, labels or other legal or proprietary notices included in any Campaign, the Platform or the Content;</li>
                <li class="m-box__Text m-box__Text_font18">modify or attempt to modify (or permit anyone else to modify or attempt to modify) the Platform or any Campaigns, including any modification for the purpose of disguising or changing any indications of the ownership or source of the Platform or a Campaign</li>
                <li class="m-box__Text m-box__Text_font18">use the Platform or any Campaign or Content as part of any service for sharing, lending or multi-person use, or for the purpose of any other institution, except as specifically permitted by an applicable Campaign Agreement and only in the exact manner specified and enabled by therein;</li>
                <li class="m-box__Text m-box__Text_font18">attempt to, assist, authorize or encourage others to circumvent, disable or defeat any of the security features or components, such as digital rights management software or encryption, that protect the Platform;</li>
                <li class="m-box__Text m-box__Text_font18">copy, reproduce, modify, distribute, transfer, sell, publish, broadcast, perform, transmit, publish, license or circulate in any form any part of the Platform or the Content;</li>
                <li class="m-box__Text m-box__Text_font18">create derivative works based on the Platform or the Content, in whole or in part, or to decompile, disassemble, reverse engineer or other exploit any part of the Platform or the Content;</li>
                <li class="m-box__Text m-box__Text_font18">use of access the Platform in a manner that violates the rights (including, but not limited to intellectual property rights) of any third party; or</li>
                <li class="m-box__Text m-box__Text_font18">upload to or transmit through the Platform any information, images, text, data, media or other content that is offensive, pornographic, hateful, obscene, defamatory or violates any laws or regulations (including but not limited to criminal laws and FTC regulations), in each case as determined by Kigl in its sole discretion,</li>
                <li class="m-box__Text m-box__Text_font18">post, upload, publish, submit or transmit any Content that:</li>
            </ol>
            <ol class="lower-roman-parentheses">
                <li class="m-box__Text m-box__Text_font18">infringes, misappropriates or violates a third party’s patent, copyright, trademark, trade secret, moral rights or other intellectual property rights, or rights of publicity or privacy;</li>
                <li class="m-box__Text m-box__Text_font18">violates, or encourages any conduct that would violate, any applicable law or regulation (including but not limited to any FTC regulation) r would give rise to civil liability;</li>
                <li class="m-box__Text m-box__Text_font18">is fraudulent, false, misleading or deceptive;</li>
                <li class="m-box__Text m-box__Text_font18">is defamatory, obscene, pornographic, vulgar or offensive;</li>
                <li class="m-box__Text m-box__Text_font18">promotes discrimination, bigotry, racism, hatred, harassment or harm against any individual or group;</li>
                <li class="m-box__Text m-box__Text_font18">is violent or threatening or promotes violence or actions that are threatening to any person or entity; or</li>
                <li class="m-box__Text m-box__Text_font18">promotes illegal or harmful activities or substances.</li>
            </ol>
            <p class="m-box__Text m-box__Text_font18">You shall be solely liable for any damages resulting from any violation of the foregoing restrictions, or any other harm resulting from your posting of content to the Platform. You acknowledge that Kigl may exercise its rights (e.g. use, publish, delete) to use any Submissions without any notice to you.</p>
        </div>
    </div>
    <div class="module__up">
        <h2 class="module__title">
            Third Party Websites
        </h2>
        <div class="module__box m-box">
            <p class="m-box__Text m-box__Text_font18">The Platform may provide links to third party websites. Kigl does not endorse the information contained on those web sites or guarantee their quality, accuracy, reliability, completeness, currency, timeliness, non-infringement, merchantability or fitness for any purpose. The content in any linked web site is not under Kigl's control, and if you choose to access any such web site, you do so entirely at your own risk.</p>
        </div>
    </div>
    <div class="module__up">
        <h2 class="module__title">
            Viruses
        </h2>
        <div class="module__box m-box">
            <p class="m-box__Text m-box__Text_font18">The downloading and viewing of Content is done at your own risk. Kigl cannot and does not guarantee or warrant that the Platform or the Content are compatible with your computer system or that the Platform or the Content, or any links from the Platform or the Content, shall be free of viruses, worms, trojan horses or disabling devices or other code that manifests contaminating or destructive properties. You are responsible for implementing safeguards to protect the security and integrity of your computer system, and you are responsible for the entire cost of any service, repairs or connections of and to your computer system that may be necessary as a result of your use of the Platform.</p>
        </div>
    </div>
    <div class="module__up">
        <h2 class="module__title">
            Communications Not Confidential
        </h2>
        <div class="module__box m-box">
            <p class="m-box__Text m-box__Text_font18">Kigl does not guarantee the confidentiality of any communications made by you through the Platform. Although Kigl generally adheres to the accepted industry practices in securing the transmission of data to, from and through the Platform, you understand, agree and acknowledge that Kigl cannot and does not guarantee the security of data transmitted over the Internet or public networks in connection with your use of the Platform or any Campaigns.</p>
        </div>
    </div>
    <div class="module__up">
        <h2 class="module__title">
            DISCLAIMER AND LIMITATION OF LIABILITY
        </h2>
        <div class="module__box m-box">
            <p class="m-box__Text m-box__Text_font18">THE PLATFORM AND THE CONTENT ARE PROVIDED "AS IS" WITHOUT WARRANTY OR CONDITION OF ANY KIND. USE OF THE PLATFORM OR THE CONTENT IS AT YOUR OWN RISK. KIGL DOES NOT MAKE ANY REPRESENTATIONS, WARRANTIES OR CONDITIONS ABOUT THE QUALITY, ACCURACY, RELIABILITY, COMPLETENESS, CURRENCY, OR TIMELINESS OF THE PLATFORM OR THE CONTENT. THE PLATFORM AND THE CONTENT MAY INCLUDE ERRORS, OMISSIONS AND INACCURACIES, INCLUDING, WITHOUT LIMITAITON, PRICING ERRORS. KIGL DOES NOT ASSUME ANY RESPONSIBILITY FOR ANY ERRORS, OMISSIONS OR INACCURACIES IN THE PLATFORM OR THE CONTENT. IN ADDITION, KIGL EXPRESSLY RESERVES THE RIGHT TO CORRECT ANY PRICING ERRORS ON THE PLATFORM.</p>
            <p class="m-box__Text m-box__Text_font18">PUBLISHER AND CAMPAIGN REVIEWS DISPLAYED ON THE SITE ARE INTENDED AS ONLY GENERAL GUIDELINES, AND KIGL DOES NOT GUARANTEE THE ACCURACY OF THE REVIEWS. KIGL MAKES NO GUARANTEES ABOUT THE AVAILABILITY OF SPECIFIC INFLUENCERS, CAMPAIGNS OR TYPES OF CAMPAIGNS.</p>
            <p class="m-box__Text m-box__Text_font18">TO THE FULLEST EXTENT PERMITTED BY LAW, KIGL DISCLAIMS ALL WARRANTIES, REPRESENTATIONS AND CONDITIONS OF ANY KIND WITH RESPECT TO THE PLATFORM AND THE CONTENT WHETHER EXPRESS, IMPLIED, STATUTORY OR COLLATERAL, INCLUDING, WITHOUT LIMITATION, THE IMPLIED WARRANTIES AND CONDITIONS OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT OR THAT THE PLATFORM OR THE CONTENT ARE OR WILL BE ERROR-FREE OR WILL OPERATE WITHOUT INTERRUPTION. IN NO EVENT WILL KIGL BE LIABLE, WHETHER BASED ON WARRANTY, CONTRACT, TORT, NEGLIGENCE, STRICT LIABILITY OR ANY OTHER LEGAL THEORY, FOR ANY DAMAGES OF ANY KIND (INCLUDING, WITHOUT LIMITATION, DIRECT, INDIRECT, INCIDENTAL, CONSEQUENTIAL, SPECIAL, EXEMPLARY OR PUNITIVE DAMAGES, LOST PROFITS, LOSS OF USE, LOSS OF DATA, PERSONAL INJURY, FINES, FEES, PENALTIES OR OTHER LIABILITIES), WHETHER OR NOT KIGL IS ADVISED OF THE POSSIBILITY OF SUCH DAMAGES, RESULTING FROM OR RELATED TO THE USE OF, OR THE INABILITY TO MAKE USE OF, THE PLATFORM OR THE CONTENT OR ANY CAMPAIGN AGREEMENT.</p>
            <p class="m-box__Text m-box__Text_font18">INFLUENCERS MARKETING THEIR SERVICES THROUGH THE PLATFORM ARE INDEPENDENT ORGANIZATIONS AND NOT CONTRACTORS, AGENTS OR EMPLOYEES OF KIGL. KIGL IS NOT LIABLE FOR THE ACTS, ERRORS, OMISSIONS, REPRESENTATIONS, WARRANTIES, BREACHES OR NEGLIGENCE OF ANY INFLUENCERS OR FOR ANY PERSONAL INJURIES, DEATH, PROPERTY DAMAGE, OR OTHER DAMAGES OR EXPENSES RESULTING THEREFROM AND TAKES NO RESPONSIBILITY WHATSOEVER FOR CAMPAIGNS CREATED BY INFLUENCERS.</p>
            <p class="m-box__Text m-box__Text_font18">TO THE EXTENT THAT THE FOREGOING LIMITATION DOES NOT APPLY, IN NO EVENT WILL THE TOTAL AGGREGATE LIABILITY OF KIGL IN CONNECTION WITH OR UNDER THESE TERMS OF USE, INCLUDING FROM A CAMPAIGN AGREEMENT, OR YOUR USE OF, OR INABILITY TO MAKE USE OF, THE PLATFORM OR THE CONTENT, OR FOR ANY OTHER CLAIM RELATED IN ANY WAY TO A CAMPAIGN AGREEMENT, OR YOUR USE OF, OR INABILITY TO MAKE USE OF, THE PLATFORM OR THE CONTENT EXCEED ALL FEES KIGL HAS COLLECTED FROM YOU UNDER THESE TERMS OF USE IN THE PRECEDING 12 MONTHS OR THE EQUIVALENT IN LOCAL CURRENCY. FOR GREATER CERTAINTY, THE EXISTENCE OF ONE OR MORE CLAIMS UNDER THESE TERMS OF USE WILL NOT INCREASE THE MAXIMUM LIABILITY AMOUNT.</p>
        </div>
    </div>
    <div class="module__up">
        <h2 class="module__title">
            Limitations Period
        </h2>
        <div class="module__box m-box">
            <p class="m-box__Text m-box__Text_font18">YOU AND KIGL AGREE THAT ANY CAUSE OF ACTION ARISING OUT OF OR RELATED TO THESE TERMS, THE KIGL WEBSITE, THE SERVICES OR THE CAMPAIGNS MUST COMMENCE WITHIN ONE (1) YEAR AFTER THE CAUSE OF ACTION ACCRUES. OTHERWISE, SUCH CAUSE OF ACTION IS PERMANENTLY BARRED.</p>
            <p class="m-box__Text m-box__Text_font18">The limitations above reflect the allocation of risk between the parties. The limitations specified in this section will survive and apply even if any limited remedy specified in these terms is found to have failed of its essential purpose.</p>
        </div>
    </div>
    <div class="module__up">
        <h2 class="module__title">
            Indemnification
        </h2>
        <div class="module__box m-box">
            <p class="m-box__Text m-box__Text_font18">You shall defend, indemnify and hold harmless Kigl and all of its officers, directors, employees and agents from and against any claims, causes of action, demands, recoveries, losses, damages, fines, penalties or other costs or expenses of any kind or nature including but not limited to reasonable legal and accounting fees, brought in connection with or as a result of:</p>
            <ol class="lower-alpha-parentheses">
                <li class="m-box__Text m-box__Text_font18">your breach of any of your warranties, representations or obligations under these Terms of Use or any documents referenced herein;</li>
                <li class="m-box__Text m-box__Text_font18">your violation of any law or the rights of a third party (including, without limitation, intellectual property rights);</li>
                <li class="m-box__Text m-box__Text_font18">your use of the Platform;</li>
                <li class="m-box__Text m-box__Text_font18">breach of or failure to perform under any Campaign Agreement by you or by any third party acting on your behalf or with your permission; or (d) the use of any media content created by Publishers, you or third parties in connection with a Campaign by you, Publishers, or by any third party acting on your behalf or with your permission.</li>
            </ol>
        </div>
    </div>
    <div class="module__up">
        <h2 class="module__title">
            Geographic Application of the Platform
        </h2>
        <div class="module__box m-box">
            <p class="m-box__Text m-box__Text_font18">Not all of the Publishers, Campaigns and services described on the Platform are available in all jurisdictions worldwide. Furthermore, nothing on the Platform constitutes an offer or solicitation to buy or sell any product or service to anyone in any jurisdiction in which such an offer or solicitation is prohibited by law.</p>
        </div>
    </div>
    <div class="module__up">
        <h2 class="module__title">
            Governing Law
        </h2>
        <div class="module__box m-box">
            <p class="m-box__Text m-box__Text_font18">These Terms of Use and any action related thereto shall be governed by the laws of are governed by English law. You and we both agree that the courts of England and Wales will have non-exclusive jurisdiction.</p>
            <p class="m-box__Text m-box__Text_font18">These laws apply to your access to or use of the Platform or the Content, notwithstanding your domicile, residency or physical location. The Platform and the Content are intended for use only in jurisdictions where they may lawfully be offered for use.</p>
        </div>
    </div>
    <div class="module__up">
        <h2 class="module__title">
            Entire Agreement, Waiver and Severability
        </h2>
        <div class="module__box m-box">
            <p class="m-box__Text m-box__Text_font18">These Terms of Use constitute the entire agreement between Kigl and you pertaining to the subject matter hereof and supersede all prior or contemporaneous communications and proposals, whether electronic, oral or written, between you and Kigl with respect to the Platform. A printed version of these Terms of Use and of any notice given in electronic form shall be admissible in judicial or administrative proceedings based upon or relating to these Terms of Use to the same extent and subject to the same conditions as other business documents and records originally generated and maintained in printed form.</p>
            <p class="m-box__Text m-box__Text_font18">Kigl's failure to insist upon or enforce strict performance of any provision of these Terms of Use shall not be construed as a waiver of any provisions or right. The waiver of any such right or provision will be effective only if in writing and signed by a duly authorized representative of Kigl. Except as expressly set forth in these Terms, the exercise by either party of any of its remedies under these Terms will be without prejudice to its other remedies under these Terms or otherwise.</p>
            <p class="m-box__Text m-box__Text_font18">If for any reason a court of competent jurisdiction finds any provision of these Terms of Use invalid or unenforceable, that provision will be enforced to the maximum extent permissible and the other provisions of these Terms will remain in full force and effect.</p>
            <p class="m-box__Text m-box__Text_font18">If any of the provisions contained in these Terms of Use conflict with the terms of another agreement between the parties (such as the terms of a Campaign Agreement in respect of a Campaign), then these Terms of Use shall prevail; provided that, if you are also a Campaign Initiator registered on the Platform, the terms of use applicable to Campaign Initiators will govern your relationship with Kigl in that respect.</p>
        </div>
    </div>
</div>

