﻿@{
    ViewBag.Title = "CampaignInitiatorsTermsOfUse";
    Layout = "../Shared/_InstagramLayoutDocs.cshtml";
}

<div class="module module-faq active">
    <div class="module__up">
        <h2 class="module__title module__header">
            <strong class="module__title_black">Условия использования платформы компании «Kigl» инициаторами кампании</strong>
        </h2>
    </div>    
    <div class="module__up">
        <div class="module__box m-box">
            <p class="m-box__Text m-box__Text_font18">Редакция от: 28 марта 2017 г.</p>
            <p class="m-box__Text m-box__Text_font18">Следующими условиями использования («Условия использования») регулируется доступ к сайту компании «Kigl», расположенному по адресу: Kigl.biz («Сайт»), использование Платформы, обеспечивающей подбор Блогеров (определённых далее) и прочих пользователей (каждый – «Инициатор кампании»), заинтересованных в заключении соглашения посредством приглашения Блогеров к размещению рекламного контента онлайн-медиа в его социальной сети («Соглашение о проведении кампании»), и (3) всех прочих сервисов, предоставляемых компанией «Kigl», описанных на Сайте (собирательно –«Платформа»). Настоящие Условия использования составляют соглашение между компанией «Kigl, LTD» («компания "Kigl"», «нас/нам», «мы», «наш») и пользователем. Термин «Пользователь» относится к физическому или юридическому лицу (включая, но не ограничиваясь,Инициаторов кампании), посещающему Платформу, просматривающему или иным образом использующему Платформу, или общающемуся с создателями контента, зарегистрированными компанией «Kigl» (каждый из создателей контента, зарегистрированных компанией «Kigl», именуется в дальнейшем «Блогер»), с целью создания рекламного контента онлайн-медиа для продукции или услуг Пользователя (в каждом случае «Кампания»). Посещая и используя (термин «использовать» при использовании в настоящих Условиях в отношении Платформы означает доступ или использование, а термин «использование» имеет соответствующее значение) Платформу, Пользователь принимает настоящие Условия использования и выражает согласие нести ответственность и соблюдать их. При непринятии и несогласии нести ответственность согласно настоящим Условиям использования просим не посещать и не использовать Платформу. При посещении или использовании Платформы от имени другого физического или юридического лица Пользователь заверяет и гарантирует, что он имеет полномочия обеспечивать ответственность такого физического или юридического лица по настоящим Условиям использования.</p>
            <p class="m-box__Text m-box__Text_font18">Платформа предоставляет исключительно («Разрешённый вид использования») для: (a) загрузки контента на Платформу, (b) создания возможностей для Блогера размещать контент, соответствующий критериям Пользователя, (c) размещения контента Блогеромв социальных сетях, (d) предоставления опубликованного контента для просмотра подписчиками Блогера. Под подписчиком понимается лицо, подписывающееся на социальную сеть Блогера (собирательно именуемых «Сервисы Платформы»).</p>
        </div>
    </div>
    <div class="module__up">
        <h2 class="module__title">
            Изменения настоящих Условий использования и изменения в Платформе
        </h2>
        <div class="module__box m-box">
            <p class="m-box__Text m-box__Text_font18">За исключением запретов, предусмотренных применимым законодательством, компания «Kigl» сохраняет за собой право изменять настоящие Условия использованияв любое время без уведомления. Непрерывный доступ к Платформе или её использование Пользователем после внесения любых изменений в настоящие Условия использования указывает на принятие Пользователем таких изменений. Пользователь несёт ответственность за регулярную проверку настоящих Условий использования.</p>
            <p class="m-box__Text m-box__Text_font18">Компания «Kigl» сохраняет за собой право изменять любую информацию, материалы или контент (включая,но не ограничиваясь, цены, характеристики, наличие Блогеров, Профили Блогеров и типы Кампаний), содержащиеся на Платформе или предоставляемые через неё («Контент») в любое время и по мере необходимости без уведомления.</p>
        </div>
    </div>
    <div class="module__up">
        <h2 class="module__title">
            Использование платформы
        </h2>
        <div class="module__box m-box">
            <p class="m-box__Text m-box__Text_font18">В качестве условия использования Пользователем Платформы Пользователь гарантирует, что (b) он имеет юридические полномочия для создания имеющего обязательную силу юридического обязательства; (c) использует Платформу в соответствии с настоящими Условиями использования; и (d) вся информация, предоставленная Пользователем на Платформе, является верной, точной, актуальной и полной.</p>
            <p class="m-box__Text m-box__Text_font18">По собственному усмотрению компания «Kigl» сохраняет за собой право отказать любому лицу в доступе к Платформе или предлагаемым на ней сервисам в любое время по любой причине, включая, но не ограничиваясь, нарушение настоящих Условий использования. Пользователь прекращает осуществлять любой такой доступ или использование и воздерживается от него непосредственно после получения запроса от компании «Kigl».</p>
        </div>
    </div>
    <div class="module__up">
        <h2 class="module__title">
            Учётная запись пользователя
        </h2>
        <div class="module__box m-box">
            <p class="m-box__Text m-box__Text_font18">Пользователю необходимо успешно зарегистрировать учётную запись пользователя («Учётная запись пользователя»), воспользовавшись имеющимися интерфейсами наПлатформе. Компания «Kigl» сохраняет за собой право заблокировать любую Учётную запись пользователя, созданную для Пользователя, в любое время по усмотрению компании «Kigl». Если компания «Kigl» блокирует доступ к Учётной записи пользователя, созданной для Пользователя, Пользователь может не иметь доступ к компании «Kigl», данным учётной записи Пользователя или любой Кампании, связанной с учётной записью Пользователя.</p>
        </div>
    </div>
    <div class="module__up">
        <h2 class="module__title">
            Срок и прекращение действия
        </h2>
        <div class="module__box m-box">
            <p class="m-box__Text m-box__Text_font18">Компания «Kigl» может прекратить доступ Пользователя к Сервисам и их использование по своему усмотрению в любое время без уведомления Пользователя. Пользователь можетудалить Учётную записьПользователя в любое время, направив электронное сообщение компании «Kigl» по адресу: support@Kigl.com. После прекращения действия, отмены или удаления Сервисов или Учётной записи Пользователя все положения настоящих Условий, действие которых должно продолжитьсяв силу их природы, продолжают действовать, включая, без ограничений, положения о владении, отказе от гарантийных обязательств, ограничениях ответственности и урегулировании споров. Более того, на любоеСоглашение о проведении кампании распространяется действие положений о расторжении и оплате, указанных в таком Соглашении о проведении кампании.</p>
        </div>
    </div>
    <div class="module__up">
        <h2 class="module__title">
            Соглашения о проведении кампаний с Блогерами
        </h2>
        <div class="module__box m-box">
            <p class="m-box__Text m-box__Text_font18">Пользователь понимает, что компания «Kigl» не является стороной ни по какому Соглашению о проведении кампании и не будет нести ответственность за выполнение Пользователем или Блогером никаких Соглашений, за исключением содействия переводу оплаты Пользователя Блогеру в соответствии с настоящими Условиями использования. Компания «Kigl»не предоставляет никаких заверений или гарантий любого рода в отношении Блогера или Соглашения о проведении кампании. Действие любого Соглашения о проведении кампании может быть прекращено Пользователем в любое время без оплаты какой-либо комиссии или штрафа, однако все Блогеры, уже разместившие контент в своих социальных сетях, имеют право на получение комиссии.</p>
        </div>
    </div>
    <div class="module__up">
        <h2 class="module__title">
            Комиссии и оплата
        </h2>
        <div class="module__box m-box">
            <p class="m-box__Text m-box__Text_font18">Для заключения любого Соглашения о проведении кампании и использованияСервисов, доступных наПлатформе, Пользователь делает взнос компании «Kigl». Вознаграждениекомпании «Kigl» за предоставленные сервисы составляет 20 % (двадцать процентов) от суммы, подлежащей оплате Пользователем Компании «Kigl» в качестве прибыли, заработанной Блогером по Соглашению о проведении кампании.</p>
        </div>
    </div>
    <div class="module__up">
        <h2 class="module__title">
            Права и предоставление лицензий
        </h2>
        <div class="module__box m-box">
            <p class="m-box__Text m-box__Text_font18">Компания «Kigl» не предъявляет требований в отношении владения любымконтентоми данными, которые Пользователь загружает, передаёт или вводит в Платформу.Вместо этого Пользователь настоящим предоставляет компании «Kigl» не исключительную полностью оплаченную, передаваемую глобальную лицензию без уплаты роялти с правом предоставления сублицензии на сбор, хранение и использование любого контентаи данных, которые загружает Пользователь или компания «Kigl» собирает из локальной компьютерной системы Пользователя или у сторонних лиц с разрешения Пользователя, включая все результаты обработки таких данных с целью: (a) предоставления Сервисов Платформы, (b) соблюдения применимого законодательства, и (c) проведения надлежащей политики аудита и хранения данных компанией «Kigl». Пользователь заверяет и гарантирует, что: (a) Пользователь владеет контентом, загруженным Пользователем на Платформу, или иным образом имеет право предоставлять права и лицензии, указанные в настоящих Условиях использования; (b) загрузка, размещение и использование контента Пользователя не является нарушением, незаконным присвоением прав любого стороннего лица, включая, без ограничений, права на приватность, права на публичное использование, авторское право, права на товарные знаки и/или иные права интеллектуальной собственности; (c) Пользователь выражает согласие оплачивать все роялти, комиссии и любые иные денежные средства, которые подлежат оплате по причине загрузки контента Пользователем, и (iv) Пользователь имеет законное право и полномочия принимать настоящие Условия использования в юрисдикции Пользователя. Загруженный Пользователем на Платформу контент защищается законодательством об авторском праве, товарных знаках, патентам, коммерческой тайне и иными законами.</p>
            <p class="m-box__Text m-box__Text_font18">Пользователь выражает согласие с тем, что компания «Kigl» не несёт ответственность за и не одобряет контент, размещённый на Платформе и в социальной сети. Компания «Kigl» не несёт никаких обязательств по предварительному просмотру, мониторингу, редактированию или удалению любого Контента, которым нарушаются права сторонних лиц. Если Контент Пользователя нарушаетнастоящие Условия использованияили права сторонних лиц, Пользователь может нести юридическую ответственность за этот контент.</p>
            <p class="m-box__Text m-box__Text_font18">С учётом настоящих Условий использования компания «Kigl» предоставляет Пользователю личную отзывную неисключительную непередаваемую лицензию в течение Срока действия, чтобы предоставить Пользователю возможность доступа к Платформе и её использования в соответствии с настоящимиУсловиями использования.</p>
            <p class="m-box__Text m-box__Text_font18">Пользователь не будет использовать, предоставлять лицензии или иным образом пользоваться любыми авторскими правами, правами на товарные знаки, знаки обслуживания или иными правами собственности компании «Kigl» без специального разрешения.</p>
            <p class="m-box__Text m-box__Text_font18">Всё содержание сайта компании «Kigl»: © 2017 г.компания «Kigl, LTD».</p>
        </div>
    </div>
    <div class="module__up">
        <h2 class="module__title">
            Политика обеспечения приватности
        </h2>
        <div class="module__box m-box">
            <p class="m-box__Text m-box__Text_font18">Посетите сайт по адресу: <a href="http://www.Kigl.eu/Info/PrivacyPolicy">http://www.Kigl.eu/Info/PrivacyPolicy</a> чтобы ознакомиться с действующей Политикой обеспечения приватности компании «Kigl», в которой содержится важная информация о практике компании «Kigl» по сбору, хранению, использованию и обработке персональных данных Пользователя и которая настоящим включается в Условия использования и является их частью.</p>
        </div>
    </div>
    <div class="module__up">
        <h2 class="module__title">
            Запрет незаконного или запрещённого использования
        </h2>
        <div class="module__box m-box">
            <p class="m-box__Text m-box__Text_font18">Пользователь без предварительного письменного разрешения компании «Kigl» не использует Платформу и Контентни в какихцелях, кроме Разрешённого использования. Без ограничения общего смысла вышеизложенного, Пользователь не разрешает никому и самостоятельно не совершает следующие действия: </p>
            <ol class="lower-alpha-parentheses">
                <li class="m-box__Text m-box__Text_font18">не «включает», «отображает» и иным образом не делает Платформу,Контент или любую их часть составной частью любого коммерческого или некоммерческого Сайта;</li>
                <li class="m-box__Text m-box__Text_font18">не осуществляет доступ, мониторинг и не копирует никакую часть Платформы или Контента с использованием любого робота, программы автоматического поиска, скрепера или иных автоматических средств, или любого ручного процесса с любой целью без непосредственного письменного разрешения;</li>
                <li class="m-box__Text m-box__Text_font18">не нарушает ограничения любых заголовков HTTP для блокирования роботов в Контенте или на Платформе, не обходит иные меры, принимаемые для предотвращения или ограничения доступа к Платформе;</li>
                <li class="m-box__Text m-box__Text_font18">не предпринимает никакие действия, которые приводят или могут приводить к необоснованной или непропорционально большой нагрузке на Платформу по мнению компании «Kigl»;</li>
                <li class="m-box__Text m-box__Text_font18">не создаёт внешних ссылок ни к какой части Платформы ни с какой целью;</li>
                <li class="m-box__Text m-box__Text_font18">не удаляет (и не разрешает никому удалять) никакие подложки, ярлыки или иные правовые оговорки, или указания на правообладателя, включённые в любую Кампанию, Платформуили вКонтент;</li>
                <li class="m-box__Text m-box__Text_font18">не изменяет и не пытается изменить (и не разрешает никакому иному лицу изменять или пытаться изменить) Платформу или любые Кампании, включая любое изменение с целью сокрытия или изменения любых указаний на владение или источник Платформы или Кампании;</li>
                <li class="m-box__Text m-box__Text_font18">не использует Платформу, любую Кампанию или Контент как часть любого сервиса для обмена, предоставления или многопользовательского использования, или в любых иных целях, за исключением непосредственно предоставленных разрешений согласно применимому Соглашению о проведении кампании и только способом, непосредственно указанным в нём и предусмотренным им;</li>
                <li class="m-box__Text m-box__Text_font18">не пытается, не содействует, не уполномочивает и не поощряет других при обходе, блокировании любых средств или компонентов безопасности, таких как программное обеспечение по управлению цифровыми правами или шифрование, посредством которого обеспечивается защита Платформы;</li>
                <li class="m-box__Text m-box__Text_font18">не копирует, воспроизводит, изменяет, распространяет, передаёт, продаёт, транслирует, исполняет, публикует, предоставляет лицензии или тиражирует в любой форме любую часть Платформы или Контента;</li>
                <li class="m-box__Text m-box__Text_font18">не создаёт производные работы на основе Платформы или Контента полностью или частично и не декомпилирует, дизассемблирует, осуществляет вскрытие или иным образом не эксплуатирует никакую часть Платформы или Контента;</li>
                <li class="m-box__Text m-box__Text_font18">не пользуется доступом к Платформе способом, нарушающим права (включая,но не ограничиваясь, права интеллектуальной собственности) любого стороннего лица; или</li>
                <li class="m-box__Text m-box__Text_font18">не загружает и не передаёт через Платформу никакую информацию, изображения, текст, данные, мультимедийный или иной контент, являющийся оскорбительным, порнографическим, содержащий нецензурную лексику, грубость, оскорбляющий достоинство или нарушающий любое законодательство или нормативно-правовые акты (включая, но не ограничиваясь, уголовное законодательство и нормативы Федеральной торговой комиссии), в каждом случае согласно решению компании «Kigl»по своему усмотрению;</li>
                <li class="m-box__Text m-box__Text_font18">не размещает, загружает, публикует, предоставляет или передаёт любой Контент:</li>
            </ol>
            <ol class="lower-roman-parentheses">
                <li class="m-box__Text m-box__Text_font18">которым нарушаются или незаконно присваиваются патентные, авторские права, права на товарные знаки, коммерческую тайну, личные неимущественные права или прочие права интеллектуальной собственности, или права на публичное использование или приватность стороннего лица;</li>
                <li class="m-box__Text m-box__Text_font18">которым нарушается любое применимое законодательство или нормативно-правовые акты или поощряется любое поведение, которое будет составлять такое нарушение (включая, но не ограничиваясь, нормативы ФТК), или использование которого приведёт к возникновению гражданско-правовой ответственности;</li>
                <li class="m-box__Text m-box__Text_font18">являющийся мошенническим, фальшивым, вводящим в заблуждение или обманным;</li>
                <li class="m-box__Text m-box__Text_font18">оскорбляющий достоинство, содержащий нецензурную лексику, являющийся порнографическим, вульгарным или оскорбительным;</li>
                <li class="m-box__Text m-box__Text_font18">содействующий дискриминации, нетерпимости, расизму, ненависти, притеснениям или причинению вреда любому физическому лицу или группе;</li>
                <li class="m-box__Text m-box__Text_font18">пропагандирующий насилие и жестокость, содействующий насилию или действиям, которые могут угрожать любому физическому или юридическому лицу; или</li>
                <li class="m-box__Text m-box__Text_font18">с предложением незаконных или опасных действий или веществ.</li>
            </ol>
            <p class="m-box__Text m-box__Text_font18">Пользователь несёт единоличную ответственность за любой ущерб, являющийся результатом любого нарушения вышеуказанных ограничений, или любой иной ущерб, являющийся результатом размещения ПользователемконтентанаПлатформе. Пользователь признаёт, что компания «Kigl» может осуществлять права (например,использовать, публиковать, удалять) использования любых Подаваемых документов без какого-либо уведомления Пользователя.</p>
        </div>
    </div>
    <div class="module__up">
        <h2 class="module__title">
            Сайты сторонних лиц
        </h2>
        <div class="module__box m-box">
            <p class="m-box__Text m-box__Text_font18">На Платформе могут предоставляться ссылки на сайты сторонних лиц. Компания «Kigl»не одобряет никакую информацию, содержащуюся на этих сайтах, и не гарантирует качество, точность, надёжность, полноту, действительность, своевременность, надежность, коммерческую пригодность или соответствие любой цели. Контент на любом сайте, на который дана ссылка, не контролируется компанией «Kigl», а если Пользователь принимает решение посетить любой такой сайт, Пользователь совершает такое действие полностью под свою ответственность.</p>
        </div>
    </div>
    <div class="module__up">
        <h2 class="module__title">
            Вирусы
        </h2>
        <div class="module__box m-box">
            <p class="m-box__Text m-box__Text_font18">Загрузка и просмотр Контента совершается Пользователем под свою ответственность. Компания «Kigl» не может гарантировать и не гарантирует, что Платформаили Контент совместимы с компьютерной системой Пользователя или чтоПлатформаилиКонтент, или любые ссылки с Платформыили изКонтента не содержат вирусов, вирусов-червей, троянских программ, средств ограничения доступа или иного кода, имеющегоспособности к инфицированию или уничтожению. Пользовательнесёт ответственность за внедрение средств безопасности для обеспечения безопасности и неприкосновенности своей компьютерной системы, ион несёт ответственность за полную стоимость любой услуги, ремонта или средств соединения, которые могут быть необходимы компьютерной системе в результате использования Платформы Пользователем.</p>
        </div>
    </div>
    <div class="module__up">
        <h2 class="module__title">
            Отсутствие конфиденциальности обмена информацией
        </h2>
        <div class="module__box m-box">
            <p class="m-box__Text m-box__Text_font18">Компания «Kigl»не гарантирует конфиденциальность любого обмена информацией, осуществляемого ПользователемпосредствомПлатформы. Хотя компания «Kigl», в общем, придерживается принятой в индустрии практики при обеспечении безопасности передачи данных на Платформу, с неё и посредством её, Пользовательпонимает, выражает согласие с тем и признаёт, что компания «Kigl» не может гарантировать и не гарантирует безопасность данных, переданных по сети Интернет или сетям общегопользования в связи с использованием Пользователем Платформы или любой Кампании.</p>
        </div>
    </div>
    <div class="module__up">
        <h2 class="module__title">
            ЗАЯВЛЕНИЕ ОБ ОТКАЗЕ И ОГРАНИЧЕНИЕ ОТВЕТСТВЕННОСТИ
        </h2>
        <div class="module__box m-box">
            <p class="m-box__Text m-box__Text_font18">ПЛАТФОРМАИ КОНТЕНТ ПРЕДОСТАВЛЕНЫ В СУЩЕСТВУЮЩЕМ СОСТОЯНИИ БЕЗ КАКОЙ-ЛИБО ГАРАНТИИ ИЛИ УСЛОВИЯ. ИСПОЛЬЗОВАНИЕ ПЛАТФОРМЫ ИЛИ КОНТЕНТА ОСУЩЕСТВЛЯЕТСЯ ПОД ОТВЕТСТВЕННОСТЬ ПОЛЬЗОВАТЕЛЯ. КОМПАНИЯ «KIGL» НЕ ДЕЛАЕТ НИКАКИХ ЗАВЕРЕНИЙ, ГАРАНТИЙ ИЛИ УСЛОВИЙ В ОТНОШЕНИИ КАЧЕСТВА, ВЕРНОСТИ, НАДЁЖНОСТИ, ПОЛНОТЫ, ДЕЙСТВИТЕЛЬНОСТИ ИЛИ СВОЕВРЕМЕННОСТИ ПЛАТФОРМЫИЛИ КОНТЕНТА. ПЛАТФОРМА И КОНТЕНТ МОГУТ ВКЛЮЧАТЬ ОШИБКИ, ПРОПУСКИ И НЕТОЧНОСТИ, ВКЛЮЧАЯ, БЕЗ ОГРАНИЧЕНИЙ, ОШИБКИ ЦЕНООБРАЗОВАНИЯ. КОМПАНИЯ «KIGL» НЕ НЕСЁТ ОТВЕТСТВЕННОСТИ НИ ЗА КАКИЕ ОШИБКИ, ПРОПУСКИ ИЛИ НЕТОЧНОСТИ НА ПЛАТФОРМЕ ИЛИ В КОНТЕНТЕ. КРОМЕ ТОГО,КОМПАНИЯ «KIGL» НЕПОСРЕДСТВЕННО СОХРАНЯЕТ ЗА СОБОЙ ПРАВО НА ИСПРАВЛЕНИЕ КАКИХ-ЛИБО ОШИБОК ЦЕНООБРАЗОВАНИЯ НА ПЛАТФОРМЕ.</p>
            <p class="m-box__Text m-box__Text_font18">ОБЗОРЫ БЛОГЕРА И КАМПАНИИ, ПРЕДОСТАВЛЕННЫЕ НА САЙТЕ, ПРЕДНАЗНАЧЕНЫ ТОЛЬКО В КАЧЕСТВЕ ОБЩЕГО РУКОВОДСТВА, ИКОМПАНИЯ «KIGL» НЕ ГАРАНТИРУЕТ ТОЧНОСТИ ОБЗОРОВ. КОМПАНИЯ «KIGL»НЕ ПРЕДОСТАВЛЯЕТ НИКАКИХ ГАРАНТИЙ В ОТНОШЕНИИ НАЛИЧИЯ КОНКРЕТНЫХ ВЛИЯТЕЛЬНЫХ ЛИЦ, КАМПАНИЙ ИЛИ ТИПОВ КАМПАНИИ.</p>
            <p class="m-box__Text m-box__Text_font18">В МАКСИМАЛЬНО ПРЕДУСМОТРЕННОЙ ЗАКОНОМ СТЕПЕНИ КОМПАНИЯ «KIGL» НЕ ДАЁТ НИКАКИХ ОБЯЗАТЕЛЬСТВ В ОТНОШЕНИИ ЛЮБЫХ ГАРАНТИЙ, ЗАВЕРЕНИЙ И УСЛОВИЙ ЛЮБОГО РОДА КАСАТЕЛЬНОПЛАТФОРМЫ И КОНТЕНТА, ЯВНО ВЫРАЖЕННЫХ, ПОДРАЗУМЕВАЕМЫХ, ПРЕДУСМОТРЕННЫХ ПО ЗАКОНУ ИЛИ СОПУТСТВУЮЩИХ, ВКЛЮЧАЯ, БЕЗ ОГРАНИЧЕНИЙ, ПОДРАЗУМЕВАЕМЫЕ ГАРАНТИИ И УСЛОВИЯ ТОВАРНОГО КАЧЕСТВА, СООТВЕТСТВИЯ НАЗНАЧЕНИЮ И НЕНАРУШЕНИЯ ПРАВ ИЛИ ТОГО, ЧТО ПЛАТФОРМАИЛИ КОНТЕНТ НЕ СОДЕРЖАТ И НЕ БУДУТ СОДЕРЖАТЬ ОШИБКИ ИЛИ БУДУТ РАБОТАТЬ НЕПРЕРЫВНО. НИ В КОЕМ СЛУЧАЕ КОМПАНИЯ «KIGL» НЕ БУДЕТ НЕСТИ ОТВЕТСТВЕННОСТЬ НА ОСНОВАНИИ ГАРАНТИИ, ДОГОВОРА, ПРАВОНАРУШЕНИЯ, НЕБРЕЖНОСТИ, ОБЪЕКТИВНОЙ ОТВЕТСТВЕННОСТИ ИЛИ ЛЮБОЙ ИНОЙ ПРАВОВОЙ ТЕОРИИ НИ ЗА КАКОЙ УЩЕРБ ЛЮБОГО РОДА (ВКЛЮЧАЯ, БЕЗ ОГРАНИЧЕНИЙ, ПРЯМОЙ, КОСВЕННЫЙ, ОПРЕДЕЛЯЕМЫЙ ОСОБЫМИ ОБСТОЯТЕЛЬСТВАМИ ДЕЛА, ШТРАФНЫЕ УБЫТКИ, УПУЩЕННУЮ ВЫГОДУ, УТРАТУ ВОЗМОЖНОСТИ ЭКСПЛУАТАЦИИ, ПОТЕРЮ ДАННЫХ, ТРАВМУ, ШТРАФЫ, КОМИССИИ, ПЕНЮ И ИНЫЕ ОБЯЗАТЕЛЬСТВА), НЕЗАВИСИМО ОТ ТОГО, СООБЩЕНО ЛИ КОМПАНИИ «KIGL» О ВОЗМОЖНОСТИ ТАКОГО УЩЕРБА, ЯВЛЯЮЩЕГОСЯ РЕЗУЛЬТАТОМ ИСПОЛЬЗОВАНИЯ ИЛИ НЕВОЗМОЖНОСТИ ИСПОЛЬЗОВАНИЯ ПЛАТФОРМЫ, КОНТЕНТА ИЛИ ЛЮБОГО СОГЛАШЕНИЯ О ПРОВЕДЕНИИ КАМПАНИИ ИЛИ СВЯЗАННОГО С НИМ.</p>
            <p class="m-box__Text m-box__Text_font18">ВЛИЯТЕЛЬНЫЕ ЛИЦА, РЕКЛАМИРУЮЩИЕ СВОИ УСЛУГИ ПОСРЕДСТВОМ ПЛАТФОРМЫ, ЯВЛЯЮТСЯ НЕЗАВИСИМЫМИ ОРГАНИЗАЦИЯМИ, А НЕ ПОДРЯДЧИКАМИ, ПРЕДСТАВИТЕЛЯМИ ИЛИ РАБОТНИКАМИ КОМПАНИИ «KIGL». КОМПАНИЯ «KIGL» НЕ НЕСЁТ ОТВЕТСТВЕННОСТИ ЗА ДЕЙСТВИЯ, ОШИБКИ, ПРОПУСКИ, ЗАВЕРЕНИЯ, ГАРАНТИИ, НАРУШЕНИЯ ИЛИ НЕБРЕЖНОСТЬ ЛЮБЫХ ВЛИЯТЕЛЬНЫХ ЛИЦ И ЗА ЛЮБЫЕ ТРАВМЫ, СМЕРТИ, УЩЕРБ ИМУЩЕСТВУ ИЛИ ИНОЙ УЩЕРБ ИЛИ ЗАТРАТЫ В ИХ РЕЗУЛЬТАТЕ И НЕ НЕСЁТ НИКАКОЙ ОТВЕТСТВЕННОСТИ ЗА КАМПАНИИ, СОЗДАННЫЕ ВЛИЯТЕЛЬНЫМИ ЛИЦАМИ.</p>
            <p class="m-box__Text m-box__Text_font18">В ТОЙ СТЕПЕНИ, В КОТОРОЙ НЕ ПРИМЕНЯЕТСЯ ВЫШЕУКАЗАННОЕ ОГРАНИЧЕНИЕ, НИ В КОЕМ СЛУЧАЕ ОБЩАЯ СОВОКУПНАЯ ОТВЕТСТВЕННОСТЬ КОМПАНИИ «KIGL» В СВЯЗИ С НАСТОЯЩИМИ УСЛОВИЯМИ ИСПОЛЬЗОВАНИЯ ИЛИ СОГЛАСНО ИМ, ВКЛЮЧАЯ ПОСОГЛАШЕНИЮ О ПРОВЕДЕНИИ КАМПАНИИ, ИЛИ В СВЯЗИ С ИСПОЛЬЗОВАНИЕМ, ИЛИ НЕВОЗМОЖНОСТЬЮ ИСПОЛЬЗОВАНИЯ ПОЛЬЗОВАТЕЛЕМ ПЛАТФОРМЫ ИЛИ КОНТЕНТА, ИЛИ ПО ЛЮБОМУ ИНОМУ ТРЕБОВАНИЮ, СВЯЗАННОМУ ЛЮБЫМ ОБРАЗОМ С СОГЛАШЕНИЕМ О ПРОВЕДЕНИИ КАМПАНИИ, ИЛИ ВСВЯЗИ С ИСПОЛЬЗОВАНИЕМ, ИЛИ НЕВОЗМОЖНОСТЬЮ ИСПОЛЬЗОВАНИЯ ПЛАТФОРМЫИЛИ КОНТЕНТА, НЕ БУДЕТ ПРЕВЫШАТЬ ВСЕХ КОМИССИЙ, ПОЛУЧЕННЫХ КОМПАНИЕЙ «KIGL»ОТ ПОЛЬЗОВАТЕЛЯ СОГЛАСНО НАСТОЯЩИМ УСЛОВИЯМ ИСПОЛЬЗОВАНИЯ ЗА ПРЕДЫДУЩИЕ 12 МЕСЯЦЕВ, ИЛИ ЭКВИВАЛЕНТ В МЕСТНОЙ ВАЛЮТЕ.ДЛЯ БОЛЬШЕЙ ЯСНОСТИ, СУЩЕСТВОВАНИЕ ОДНОГО ИЛИ НЕСКОЛЬКИХ ТРЕБОВАНИЙ ПО НАСТОЯЩИМ УСЛОВИЯМ ИСПОЛЬЗОВАНИЯ НЕ БУДЕТ УВЕЛИЧИВАТЬ МАКСИМАЛЬНУЮ СУММУ ОТВЕТСТВЕННОСТИ.</p>
        </div>
    </div>
    <div class="module__up">
        <h2 class="module__title">
            Срок давности
        </h2>
        <div class="module__box m-box">
            <p class="m-box__Text m-box__Text_font18">ПОЛЬЗОВАТЕЛЬ И КОМПАНИЯ «KIGL» ДОГОВАРИВАЮТСЯ О ТОМ, ЧТО ДЕЙСТВИЕ ЛЮБОГО ОСНОВАНИЯ ДЛЯ ВОЗБУЖДЕНИЯ ИСКА, ВОЗНИКАЮЩЕГО ПО НАСТОЯЩИМ УСЛОВИЯМ ИЛИ В СВЯЗИ С НИМИ, С САЙТОМ КОМПАНИИ «KIGL», СЕРВИСАМИ ИЛИ КАМПАНИЯМИ, ДОЛЖНО НАЧИНАТЬСЯ В ТЕЧЕНИЕ ОДНОГО (1) ГОДА С МОМЕНТА ВОЗНИКНОВЕНИЯ ПРАВА НА ИСК. В ПРОТИВНОМ СЛУЧАЕ, ТАКОЕ ОСНОВАНИЕ ДЛЯ ВОЗБУЖДЕНИЯ ИСКА НАВСЕГДА ПОГАШАЕТСЯ ДАВНОСТЬЮ.</p>
            <p class="m-box__Text m-box__Text_font18">Вышеуказанные ограничения отражают распределение ответственности между сторонами. Указанные в настоящем разделе ограничения продолжат действовать и применяться, даже есливыяснилось, чтокакое-либо ограниченное средство правовой защиты, указанное в настоящих условиях, не соответствует своей основной цели.</p>
        </div>
    </div>
    <div class="module__up">
        <h2 class="module__title">
            Гарантия возмещения ущерба
        </h2>
        <div class="module__box m-box">
            <p class="m-box__Text m-box__Text_font18">Пользователь осуществляет защиту, компенсирует ущерб и освобождает от ответственности компанию «Kigl»и всех её должностных лиц с распорядительными функциями, директоров, работников и представителей в отношении любых требований, оснований для иска, претензий, полученного возмещения, ущерба, убытков, штрафов, пени или иных расходов или затрат любого рода или характера, включая, но не ограничиваясь, обоснованные юридические и бухгалтерские расходы, понесённые в связи или в результате:</p>
            <ol class="lower-alpha-parentheses">
                <li class="m-box__Text m-box__Text_font18">нарушения Пользователем любых гарантий, заверений или обязанностейПользователя согласно настоящим Условиям использования или любым документам, указанным в настоящих Условиях;</li>
                <li class="m-box__Text m-box__Text_font18">нарушения Пользователем любого законодательства или прав стороннего лица (включая, без ограничений, права интеллектуальной собственности);</li>
                <li class="m-box__Text m-box__Text_font18">использования Пользователем Платформы;</li>
                <li class="m-box__Text m-box__Text_font18">нарушения или неисполнения любого Соглашения о проведении кампанииПользователем или любым сторонним лицом, действующим от имени Пользователяили с согласия Пользователя; или (d) использования любого контента, созданного Блогерами, Пользователем или сторонними лицами в связи с Кампанией, проводимой Пользователем, Блогером или любым сторонним лицом, действующим от имени Пользователяили с его разрешения.</li>
            </ol>
        </div>
    </div>
    <div class="module__up">
        <h2 class="module__title">
            Географическое использование Платформы
        </h2>
        <div class="module__box m-box">
            <p class="m-box__Text m-box__Text_font18">Не все Блогеры, Кампании и сервисы, описанные на Платформе, доступны во всех странах и на всех территориях по всему миру. Более того, ничего на Платформе не является предложением о покупке или продаже любого продукта или сервиса любому лицу в любой стране или территории, где такое предложение запрещено законом.</p>
        </div>
    </div>
    <div class="module__up">
        <h2 class="module__title">
            Применимое право
        </h2>
        <div class="module__box m-box">
            <p class="m-box__Text m-box__Text_font18">Настоящие Условия использования и любое действие в их отношении регулируются законодательством Англии. Пользователь и компания «Kigl» договариваются о том, что суды Англии и Уэльса будут иметь неисключительную юрисдикцию.</p>
            <p class="m-box__Text m-box__Text_font18">Настоящее право применяется к доступу Пользователя или использованию Пользователем Платформы или Контента, независимо от места регистрации, проживания или физического нахождения Пользователя. Платформа и Контент предназначены для использования только в странах и на территориях, на которых они могут быть законно предложены для использования.</p>
        </div>
    </div>
    <div class="module__up">
        <h2 class="module__title">
            Исчерпывающий характер соглашения, отказ от прав и независимость положений
        </h2>
        <div class="module__box m-box">
            <p class="m-box__Text m-box__Text_font18">Настоящие Условия использования составляют полное соглашение между компанией «Kigl» и Пользователем, относящееся к предмету настоящих Условий, и заменяют весь предыдущий или действующий обмен сообщениями и предложениями, в электронном, устном или письменном виде, между Пользователем и компанией «Kigl» в отношении Платформы. Печатная версия настоящих Условий использования и любого уведомления, предоставленного в электронном виде, приемлема для рассмотрения в судебном или административном производстве на основании настоящих Условий использования или в их отношении в той же степени и с учётом тех же условий, как и прочие деловые документы и записи, которые первоначально созданы и ведутся в печатной форме.</p>
            <p class="m-box__Text m-box__Text_font18">Неистребование компанией «Kigl» или необеспечение принудительного применения любого положения настоящих Условий использования не составляет отказ от любых положений или права. Отказ от любого такого права или положения будет действителен только в том случае, если он будет предоставлен в письменном виде и подписан надлежащим образом уполномоченным представителем компании «Kigl». Кроме случаев, непосредственно изложенных в настоящих Условиях, применение любой из сторон любых средств правовой защиты по настоящим Условиям не будет осуществляться в ущерб её иным средствам правовой защиты согласно настоящим Условиям или иному.</p>
            <p class="m-box__Text m-box__Text_font18">Если по любой причине суд компетентной юрисдикции определяет, что любое из положений настоящих Условий использования является недействительным или не подлежащим принудительному применению, это положение будет принудительно применяться в максимальной разрешённой степени, а остальные положения настоящих Условий продолжат действовать в полную силу.</p>
            <p class="m-box__Text m-box__Text_font18">Если любые из положений, содержащихся в настоящих Условиях использования, вступают в противоречие с условиями иного соглашения сторон (такими как условия Соглашения о проведении кампаниив отношенииКампании), то настоящиеУсловия использованияимеют преобладающую силу; при условии, что, если Пользовательтакже являетсяИнициатором кампании, зарегистрированным на Платформе, Условия использования, применимыек Инициаторам кампании, будут регулировать отношения Пользователя с компанией «Kigl»в этом отношении.</p>
        </div>
    </div>
</div>

