﻿@{
    ViewBag.Title = "FAQ";
    Layout = "../Shared/_InstagramLayoutDocs.cshtml";
}

<div class="module module-faq active">
    <div class="module__up">
        <h2 class="module__title module__header">
            <strong class="module__title_black">FAQs - Kigl</strong>
        </h2>        
    </div>
    <div class="module__up">
        <h2 class="module__title">
            What is Kigl?
        </h2>
        <div class="module__box m-box">
            <p class="m-box__Text m-box__Text_font18">Kigl is a number one Instagram marketing platform, where we connect the Influencers and Brands. With Kigl creators can start earning money instantly, while brands can reach out to instagrammers and market their products.</p>
            <p class="m-box__Text m-box__Text_font18">Kigl is FREE to join, and this is the easiest way to monetize your content and/or reach out to as many people as possible, on one of the fastest-growing platforms on the Internet.</p>
        </div>
    </div>
    <div class="module__up">
        <h2 class="module__title">
            How do I register with Kigl?
        </h2>
        <div class="module__box m-box">
            <p class="m-box__Text m-box__Text_font18">You can join in two simple steps: </p>
            <ol>
                <li class="m-box__Text m-box__Text_font18">Go to our homepage kigl.biz and click “Log in with Facebook</li>
                <li class="m-box__Text m-box__Text_font18">Enter your Facebook log in details and your registration is complete!</li>
            </ol>
            <p class="m-box__Text m-box__Text_font18 m-box__Text_link">Watch a video tutorial <a href="https://www.youtube.com/watch?v=VfYXYOi5k1g&feature=youtu.be">here</a></p>
        </div>
    </div>
    <div class="module__up">
        <h2 class="module__title">
            Is there an age restriction for using Kigl?
        </h2>
        <div class="module__box m-box">
            <p class="m-box__Text m-box__Text_font18">You need to be over 18 to join Kigl.</p>
        </div>
    </div>
    <div class="module__up">
        <h2 class="module__title">
            How much does it cost to use Kigl?
        </h2>
        <div class="module__box m-box">
            <p class="m-box__Text m-box__Text_font18">There are no monthly charges or signup fee that you have to pay. Our first and foremost goal here is to connect influencers and brands!</p>
            <p class="m-box__Text m-box__Text_font18">We charge a 20% fee when an ad is put forward by a brand and accepted by the influencer.</p>
            <p class="m-box__Text m-box__Text_font18">We DO NOT charge a transaction fee, if you wish to withdraw your funds. (Any such charges are only subject to fees that have been established by the payment platforms used).</p>
        </div>
    </div>
    <div class="module__up">
        <h2 class="module__title">
            I still have not been paid yet for placing an advertisement?
        </h2>
        <div class="module__box m-box">
            <p class="m-box__Text m-box__Text_font18">All payments are processed within a week. Please note that to get paid, the advertisement must stay posted on your account for at least 24 hours. If you have complied with all the rules, and after one week you still have not been paid, please contact our support team at: <a href="mailto:support@kigl.eu">support@kigl.eu</a>.</p>
        </div>
    </div>
    <div class="module__up">
        <h2 class="module__title module__header">
            <strong class="module__title_black">For Influencers</strong>
        </h2>
    </div>
    <div class="module__up">
        <h2 class="module__title">
            How do I advertise the products on my Instagram?
        </h2>
        <div class="module__box m-box">
            <ul>
                <li class="m-box__Text m-box__Text_font18">On your Kigl homepage click “keep earning!”. Now you can choose any ad that you wish to post to your Instagram.</li>
                <li class="m-box__Text m-box__Text_font18">After you have chosen an ad, click “continue”.</li>
                <li class="m-box__Text m-box__Text_font18">In the screen “How it will look in your Instagram” click “continue” again, if you are satisfied with the way the ad will look when you post it.</li>
                <li class="m-box__Text m-box__Text_font18">Under “Choose delivery methods” select </li>
                <li class="m-box__Text m-box__Text_font18">
                    
                </li>
                <li class="m-box__Text m-box__Text_font18" style="list-style-type: none">
                    1) “Direct Download”. Click on the image to save it to your phone, <b>as well as its description</b>.
                </li>
                <li class="m-box__Text m-box__Text_font18" style="list-style-type: none">
                    2) "email me image/video and text". Now please, open your email and follow the instructions in the letter that we have sent you.
                </li>
                <li class="m-box__Text m-box__Text_font18">
                    Go to your Instagram and post the ad-image <b>with the description</b> (if you do not copy the image description, the process would not count as completed).
                </li>
                <li class="m-box__Text m-box__Text_font18">Return to Kigl, click back to return to the main menu.</li>
                <li class="m-box__Text m-box__Text_font18">Under the image click the button “Verify”.</li>
                <li class="m-box__Text m-box__Text_font18">Click “Yes please verify”.</li>
                <li class="m-box__Text m-box__Text_font18">Once the image has been verified, you are all done!</li>
            </ul>
            <p class="m-box__Text m-box__Text_font18 m-box__Text_link">Watch a video tutorial <a href="https://youtu.be/vIFKaNMsv10">here</a></p>
        </div>
    </div>
    <div class="module__up">
        <h2 class="module__title">
            Is there a limit on how many ads I can post to my Instagram?
        </h2>
        <div class="module__box m-box">
            <p class="m-box__Text m-box__Text_font18">You can only post one ad in 24 hours.</p>
        </div>
    </div>
    <div class="module__up">
        <h2 class="module__title">
            How can I access my funds?
        </h2>
        <div class="module__box m-box">
            <ul>
                <li class="m-box__Text m-box__Text_font18">On your Kigl homepage click “Withdraw earned money”.</li>
                <li class="m-box__Text m-box__Text_font18">Select payment method.</li>
                <li class="m-box__Text m-box__Text_font18">Enter your details in the field provided.</li>
                <li class="m-box__Text m-box__Text_font18">Click “done”.</li>
            </ul>
        </div>
    </div>
    <div class="module__up">
        <h2 class="module__title">
            How long does it take for funds to be processed?
        </h2>
        <div class="module__box m-box">
            <p class="m-box__Text m-box__Text_font18">All funds are transferred within one working week.</p>
        </div>
    </div>
    <div class="module__up">
        <h2 class="module__title">
            When can I delete an ad from my account?
        </h2>
        <div class="module__box m-box">
            <p class="m-box__Text m-box__Text_font18">All ads posted to your Instagram account must remain there for 24 hours, subject to our regulations.</p>
        </div>
    </div>
</div>


