﻿@{
    ViewBag.Title = "FAQ";
    Layout = "../Shared/_InstagramLayoutDocs.cshtml";
}

<div class="module module-faq active">
    <div class="module__up">
        <h2 class="module__title module__header">
            <strong class="module__title_black">Часто Задаваемые Вопросы Kigl</strong>
        </h2>
    </div>
    <div class="module__up">
        <h2 class="module__title">
            Что такое Kigl?
        </h2>
        <div class="module__box m-box">
            <p class="m-box__Text m-box__Text_font18">Kigl – это рекламная площадка для Instagram, на которой мы способствуем сотрудничеству блогеров и рекламодателей. С Kigl блогеры могут зарабатывать деньги на рекламе, а рекламодатели показать свой продукт пользователям Instagram.</p>
            <p class="m-box__Text m-box__Text_font18">Регистрация на Kigl БЕСПЛАТНАЯ, и это самый простой способ монетизировать ской контент и/или охватить как можно больше пользователей на одной из самых быстрорастущих платформ в интернете.</p>
        </div>
    </div>
    <div class="module__up">
        <h2 class="module__title">
            Как мне зарегистрироваться в Kigl?
        </h2>
        <div class="module__box m-box">
            <p class="m-box__Text m-box__Text_font18">Вы можете зарегистрироваться, проделав всего три действия:</p>
            <ol>
                <li class="m-box__Text m-box__Text_font18">Зайдите на нашу главную страницу www.kigl.eu и нажмите «Войти через Facebook»</li>
                <li class="m-box__Text m-box__Text_font18">Введите свои данные для Facebook</li>
                <li class="m-box__Text m-box__Text_font18">Укажите контактный номер телефона и email</li>
            </ol>
            <p class="m-box__Text m-box__Text_font18 m-box__Text_link">Посмотреть видео инструкцию <a target="_blank" href="https://www.youtube.com/watch?v=VfYXYOi5k1g&feature=youtu.be">здесь</a></p>
        </div>
    </div>
    <div class="module__up">
        <h2 class="module__title">
            Есть ли какие-то ограничения по возрасту, при регистрации в Kigl?
        </h2>
        <div class="module__box m-box">
            <p class="m-box__Text m-box__Text_font18">Вам должно быть больше 18 лет, чтобы зарегистрироваться в Kigl.</p>
        </div>
    </div>
    <div class="module__up">
        <h2 class="module__title">
            Сколько стоит использование Kigl?
        </h2>
        <div class="module__box m-box">
            <p class="m-box__Text m-box__Text_font18">Нет никаких взносов и вам не надо платить за регистрацию. Наша цель – это установление контакта между блогерами и брендами!</p>
            <p class="m-box__Text m-box__Text_font18">Мы вычитаем 20% комиссии с рекламодателя, когда он выставляет рекламу и блогер ее «забирает».</p>
            <p class="m-box__Text m-box__Text_font18">Мы НЕ вычитаем комиссию за вывод средств (любая оплата транзакции производится только если комиссию требует платежная система, через которую вы выводите средства).</p>
        </div>
    </div>
    <div class="module__up">
        <h2 class="module__title">
            Мне по-прежнему не оплатили рекламу, выставленную в моем Instagram?
        </h2>
        <div class="module__box m-box">
            <p class="m-box__Text m-box__Text_font18">Все платежи будут произведены в течение рабочей недели. Пожалуйста, учтите, что реклама должна быть выставлена в вашем Instagram не менее 24 часов, чтобы вам ее оплатили. Если вы сделали все правильно, и средства все равно не были начислены в течение недели, пожалуйста, сообщите об этом нашей службе поддержки: <a href="mailto:support@kigl.eu">support@kigl.eu</a>.</p>
        </div>
    </div>
    <div class="module__up">
        <h2 class="module__title module__header">
            <strong class="module__title_black">Для инстаграмеров</strong>
        </h2>
    </div>
    <div class="module__up">
        <h2 class="module__title">
            Как мне выставить рекламу в моем Instagram?
        </h2>
        <div class="module__box m-box">
            <ul>
                <li class="m-box__Text m-box__Text_font18">На вашей главной странице в Kigl, нажмите «Продолжить зарабатывать!»</li>
                <li class="m-box__Text m-box__Text_font18">Далее выберите любую рекламу, которую вы бы хотели выставить в Instagram и нажмите «Продолжить»</li>
                <li class="m-box__Text m-box__Text_font18">В окне «Как это будет выглядеть на Instagram» нажмите «Продолжить»</li>
                <li class="m-box__Text m-box__Text_font18">Выберите способ доставки контента:</li>
                <li class="m-box__Text m-box__Text_font18" style="list-style-type: none">
                    1) «скачать напрямую». Нажмите на картинку, чтобы сохранить ее на ваш телефон, а также <b>скопируйте описание под картинкой</b>.
                </li>
                <li class="m-box__Text m-box__Text_font18" style="list-style-type: none">
                    2) "отправьте мне контент на email". Зайдите на свою электронную почту и следуйте инструкциям в письме.
                </li>
                <li class="m-box__Text m-box__Text_font18">
                    Далее войдите в Instagram, создайте пост с картинкой и <b>описанием</b> (если вы не вставите описание под картинкой, процесс не будет считаться завершенным).
                </li>
                <li class="m-box__Text m-box__Text_font18">Вернитесь обратно на главную страницу Kigl</li>
                <li class="m-box__Text m-box__Text_font18">Под рекламной картинкой нажмите «Подтвердить»</li>
                <li class="m-box__Text m-box__Text_font18">Нажмите «Да, выполните проверку»</li>
                <li class="m-box__Text m-box__Text_font18">Как только картинка будет подтверждена, это означает что процесс был завершен! Процесс проверки занимает 24 часа.</li>
            </ul>
            <p class="m-box__Text m-box__Text_font18 m-box__Text_link">Посмотреть видео инструкцию <a target="_blank" href="https://youtu.be/vIFKaNMsv10">здесь</a></p>
        </div>
    </div>
    <div class="module__up">
        <h2 class="module__title">
            Есть ли ограничение на то, сколько рекламы я могу выставить в моем Instagram?
        </h2>
        <div class="module__box m-box">
            <p class="m-box__Text m-box__Text_font18">Вы можете выставить только одну рекламу в течение 24 часов.</p>
        </div>
    </div>
    <div class="module__up">
        <h2 class="module__title">
            Как мне вывести средства?
        </h2>
        <div class="module__box m-box">
            <ul>
                <li class="m-box__Text m-box__Text_font18">На вашей главной странице в Kigl нажмите «Вывести заработанные средства»</li>
                <li class="m-box__Text m-box__Text_font18">Выберите платежный метод</li>
                <li class="m-box__Text m-box__Text_font18">Введите ваши данные</li>
                <li class="m-box__Text m-box__Text_font18">Нажмите «Готово»</li>
            </ul>
        </div>
    </div>
    <div class="module__up">
        <h2 class="module__title">
            Сколько по времени занимает вывод средств?
        </h2>
        <div class="module__box m-box">
            <p class="m-box__Text m-box__Text_font18">Все средства переводятся в течение одной рабочей недели.</p>
        </div>
    </div>
    <div class="module__up">
        <h2 class="module__title">
            Когда я могу удалить рекламу из моего Instagram?
        </h2>
        <div class="module__box m-box">
            <p class="m-box__Text m-box__Text_font18">Все рекламные посты должны простоять в вашем Instagram не менее 24 часов, в соотвествии с нашими правилами.</p>
        </div>
    </div>
</div>


