﻿@{
    ViewBag.Title = "FAQ";
    Layout = "../Shared/_InstagramLayoutDocs.cshtml";
}


<div class="module module-faq active">
        <div class="module__up">
            <h2 class="module__title module__header">
                <strong class="module__title_black">Политика обеспечения приватности на платформе компании «Kigl»</strong>
            </h2>
        </div>
        <div class="module__up">
            <div class="module__box m-box">
                <ul class="contents-list">
                    <li>
                        <a href="#article-one" class="module__title">
                            Персональные данные
                        </a>
                    </li>
                    <li>
                        <a href="#article-two" class="module__title">
                            Какие персональные данные собирает компания «Kigl»
                        </a>
                    </li>
                    <li>
                        <a href="#article-three" class="module__title">
                            Как компания «Kigl» использует персональные данные пользователя
                        </a>
                    </li>
                    <li>
                        <a href="#article-four" class="module__title">
                            В каких случаях компания «Kigl» использует персональные данные пользователя
                        </a>
                    </li>
                    <li>
                        <a href="#article-five" class="module__title">
                            Информирование и согласие
                        </a>
                    </li>
                    <li>
                        <a href="#article-six" class="module__title">
                            Использование или разглашение в маркетинговых целях
                        </a>
                    </li>
                    <li>
                        <a href="#article-seven" class="module__title">
                            Идентификационные файлы (Cookies)
                        </a>
                    </li>
                    <li>
                        <a href="#article-eight" class="module__title">
                            Каким образом компания «Kigl» защищает персональные данные пользователя
                        </a>
                    </li>
                    <li>
                        <a href="#article-nine" class="module__title">
                            Ссылки на сайты сторонних лиц
                        </a>
                    </li>
                    <li>
                        <a href="#article-ten" class="module__title">
                            Хранение персональных данных пользователя
                        </a>
                    </li>
                    <li>
                        <a href="#article-eleven" class="module__title">
                            Изменения настоящей Политики обеспечения приватности

                        </a>
                    </li>
                    <li>
                        <a href="#article-twelve" class="module__title">
                            Исправление или обновление данных пользователя
                        </a>
                    </li>
                    <li>
                        <a href="#article-thirteen" class="module__title">
                            Контакты
                        </a>
                    </li>
                </ul>
                <p class="m-box__Text m-box__Text_font18">Редакция от: 24 мая 2018г.</p>
                <p class="m-box__Text m-box__Text_font18">Данная Политика конфиденциальности составлена и обновлена в соответствии с Общим регулированием защиты данных (GDPR) (EU) 2016/679.</p>
                <p class="m-box__Text m-box__Text_font18">Компания «Kigl, LTD»(«компания "Kigl"», «нас/нам», «мы», «наш») привержена принципам защиты приватности пользователя и поддерживает общую политику открытости относительно способов сбора, использования и разглашения персональных данных.</p>
                <p class="m-box__Text m-box__Text_font18">Целью настоящей Политики обеспечения приватности является информирование пользователя о практиках компании «Kigl» в отношении сбора, использования и разглашения персональных данных, которые могут быть собраны посредством доступа или использования сайтов компании, включая сайт, расположенный по адресу: <a href="https://kigl.eu">https://kigl.eu</a> (собирательно именуемых«Сайт»), а также сервисов и связанных продуктов (собирательно именуемых «Сервисы»), или которые могут быть получены компанией «Kigl» иным образом. Используя Сервисы или Сайт компании «Kigl», пользователь соглашается на сбор, использование и обработкуперсональных данных (как определено далее) в соответствии со следующими условиями и положениями.
                </p>
                <p class="m-box__Text m-box__Text_font18">В настоящей Политике обеспечения приватности также объясняется, каким образом пользователь может связаться с компанией «Kigl» при наличии вопросов о любых персональных данных, которые могут находиться в распоряжении компании «Kigl» в отношении пользователя, при желании изменить или удалить их. Компания «Kigl» настоятельно рекомендует уделить время изучению настоящей Политики обеспечения приватности и сохранить её для использования в будущем.</p>
                <p class="m-box__Text m-box__Text_font18">ПЕРСОНАЛЬНЫЕ ДАННЫЕ ПОЛЬЗОВАТЕЛЯ МОГУТ ОБРАБАТЫВАТЬСЯ КОМПАНИЕЙ «KIGL», ОДНИМ ИЗ ЕЁ АФФИЛИРОВАННЫХ ЛИЦ ИЛИ НЕ СВЯЗАННЫМ С КОМПАНИЕЙСТОРОННИМ ЛИЦОМПОСТАВЩИКОМ УСЛУГ В СТРАНЕ НАХОЖДЕНИЯ ПОЛЬЗОВАТЕЛЯ, А ТАКЖЕ В ДРУГИХ СТРАНАХ, В КОТОРЫХ ЗАКОНОДАТЕЛЬСТВО ОБ ОБРАБОТКЕ ПЕРСОНАЛЬНЫХ ДАННЫХ МОЖЕТ БЫТЬ МЕНЕЕ СТРОГИМ, ЧЕМ ЗАКОНОДАТЕЛЬСТВО В СТРАНЕ ПОЛЬЗОВАТЕЛЯ. ИСПОЛЬЗУЯ САЙТИ/ИЛИСЕРВИСЫ, ПОЛЬЗОВАТЕЛЬСОГЛАШАЕТСЯ НА ПЕРЕДАЧУ ДАННЫХ, ВКЛЮЧАЯ ПЕРСОНАЛЬНЫЕ ДАННЫЕ, ИЗ СТРАНЫПОЛЬЗОВАТЕЛЯ В СТРАНУ С МЕНЕЕ СТРОГИМ ЗАКОНОДАТЕЛЬСТВОМ И НА ОБРАБОТКУ ПЕРСОНАЛЬНЫХ ДАННЫХ ПОЛЬЗОВАТЕЛЯ В СООТВЕТСТВИИ С НАСТОЯЩЕЙ ПОЛИТИКОЙ.</p>
            </div>
        </div>
        <div id="article-one" class="module__up">
            <h2 class="module__title">
                Персональные данные
            </h2>
            <div class="module__box m-box">
                <p class="m-box__Text m-box__Text_font18">Применительно к настоящейПолитике обеспечения приватности «<b>персональные данные</b>» означают данные о поддающемся идентификации физическом лице.
                </p>
            </div>
        </div>
        <div id="article-two" class="module__up">
            <h2 class="module__title">
                Какие персональные данные собирает компания «Kigl»
            </h2>
            <div class="module__box m-box">
                <p class="m-box__Text m-box__Text_font18">Персональные данные, которые может собирать компания «Kigl» в процессе доступа пользователяк СайтуилиСервисам или их использования (включая посредством первоначальной регистрации пользователем учётной записи и последующего администрирования этой учётной записи), могут включать следующее, но не ограничиваться им: </p>
                <ol>
                    <li class="m-box__Text m-box__Text_font18">контактная информация (такая, как имя, адрес, почтовый индекс, адрес электронной почты и номер телефона);</li>
                    <li class="m-box__Text m-box__Text_font18">информация профиля социальной сети (такая, как имя пользователя и прочие данные профиля); </li>
                    <li class="m-box__Text m-box__Text_font18">финансовая информация и платёжные реквизиты (такие как номер и дата окончания действия кредитной карты); </li>
                    <li class="m-box__Text m-box__Text_font18">демографические сведения (такие как пол, возраст и род занятий) и информация о личных предпочтениях; и </li>
                    <li class="m-box__Text m-box__Text_font18">любая иная информация, которую пользователь может передать компании «Kigl» или разрешить компании «Kigl» получить от пользователя или стороннего лица в связи с Сервисами. </li>
                </ol>
            </div>
        </div>
        <div id="article-three" class="module__up">
            <h2 class="module__title">
                Как компания «Kigl» использует персональные данные пользователя
            </h2>
            <div class="module__box m-box">
                <p class="m-box__Text m-box__Text_font18">Компания «Kigl» использует персональные данные пользователя для: </p>
                <ol>
                    <li class="m-box__Text m-box__Text_font18">Предоставления пользователю персонализированных сервисов и персонализированных возможностей на Сайте компании и в интерактивной коммуникации;</li>
                    <li class="m-box__Text m-box__Text_font18">Предоставления пользователю своевременных и надёжных Сервисов;</li>
                    <li class="m-box__Text m-box__Text_font18">Совершения всех действий, необходимых для администрирования этих Сервисов и Сайта;</li>
                    <li class="m-box__Text m-box__Text_font18">Исследования, развития, управления, защиты и улучшения этих Сервисов и Сайта;</li>
                    <li class="m-box__Text m-box__Text_font18">Предоставления пользователю рекомендаций относительно новых продуктов и Сервисов, которые могут быть ему интересны;</li>
                    <li class="m-box__Text m-box__Text_font18">Развития и поддержания отношений с пользователем и общения с ним; </li>
                    <li class="m-box__Text m-box__Text_font18">Выставления пользователю счетов за предоставляемые компанией «Kigl» Сервисы; и</li>
                    <li class="m-box__Text m-box__Text_font18">Получения денежных средств в погашение неуплаченных долгов. </li>
                </ol>
                <p class="m-box__Text m-box__Text_font18">Несмотря ни на что иное в настоящей Политике обеспечения приватности, компания «Kigl» не будет изучать, предоставлять, распространять или делать ссылки на любые данные клиентов, за исключением предусмотренных условиями использования Сайта и Сервисов компании «Kigl» или требованиями законодательства. </p>
            </div>
        </div>
        <div id="article-four" class="module__up">
            <h2 class="module__title">
                В каких случаях компания «Kigl» использует персональные данные пользователя
            </h2>
            <div class="module__box m-box">
                <p class="m-box__Text m-box__Text_font18">Компания «Kigl» не будет продавать, предоставлять лицензию, обмениваться или предоставлять в аренду персональные данные пользователя другим лицам, только с согласия пользователя. </p>
                <p class="m-box__Text m-box__Text_font18">Компания «Kigl» может предоставлять персональные данные сторонним лицам, нанятым для оказания помощи при предоставлении Сервисовпользователю или для достижения одной или нескольких из целей, описанных выше. Этим поставщикам услуг запрещается использовать персональные данные пользователя с любой целью, кроме оказания такой помощи, и они обязаны обеспечивать защиту персональных данных, собранных ими от имени компании «Kigl» или раскрытых им компанией «Kigl», и соблюдать общие принципы обеспечения приватности, описанные в настоящей Политике обеспечения приватности.</p>
                <p class="m-box__Text m-box__Text_font18">Компания «Kigl» сохраняет за собой право разглашатьперсональные данные стороннему лицу, если такие действия законно требуются или разрешаются законом, нормативным актом, ордером на обыск, судебной повесткой или судебным приказом.</p>
                <p class="m-box__Text m-box__Text_font18">Компания «Kigl» сохраняет за собой право разглашать и/или передавать персональные данныестороннему лицу в случае предполагаемой или фактической покупки, продажи (включая ликвидацию, реализацию, обращение взыскания или вступление кредитора во владение имуществом должника), сдачи в аренду, поглощения, слияния или любого иного типа приобретения, отчуждения, передачи или финансирования всей компании «Kigl» или любой её части, или любого предприятия, активов или акций компании «Kigl», или их разделения с целью дальнейшего получения пользователем тех же продуктов и Сервисов от стороннего лица.</p>
            </div>
        </div>
        <div id="article-five" class="module__up">
            <h2 class="module__title">
                Информирование и согласие
            </h2>
            <div class="module__box m-box">
                <p class="m-box__Text m-box__Text_font18">Компания «Kigl» собирает персональные данные о пользователе от него или от сторонних лиц, от которых пользователь уполномочивает нас собирать данные, только в случае добровольного их предоставления пользователем или предоставления полномочий на их сбор. Компания «Kigl» будет запрашивать согласие на использование илипередачу данных пользователя во время сбора данных. При определённых обстоятельствах согласие может запрашиваться после сбора данных, но до их использования (например, при необходимости использования данных в иных, ранее не определённых целях).</p>
                <p class="m-box__Text m-box__Text_font18">Форма запрашиваемого компанией «Kigl» согласия, включая явный или неявный характер согласия, будет в значительной степени зависеть от уязвимостиперсональных данных и обоснованных ожиданий физического лица в соответствующих обстоятельствах.</p>
                <p class="m-box__Text m-box__Text_font18">Пользователь может отозвать согласие в любое время с учётом юридических или договорных ограничений и заблаговременного уведомления. Еслипользователь желает отозвать своёсогласиев любое время, просим связаться с компанией «Kigl», используя контактные данные, указанные в разделе «Контакты»настоящейПолитики обеспечения приватности. Компания «Kigl» проинформирует пользователяо последствиях отзыва согласия.</p>
                <p class="m-box__Text m-box__Text_font18">Компания «Kigl» не будет в качестве условия предоставления продукта или сервиса требовать от пользователя согласие на сбор, использование и обработку информации помимо необходимого для достижения непосредственно указанных и законных целей, для которых предоставляются данные.</p>
            </div>
        </div>
        <div id="article-six" class="module__up">
            <h2 class="module__title">
                Использование или разглашение в маркетинговых целях
            </h2>
            <div class="module__box m-box">
                <p class="m-box__Text m-box__Text_font18">Если пользователь не отказался от получения рекламных материалов, компания «Kigl» также может использовать (но не будет разглашать) персональные данные пользователя для рекламы и выведения на рынок дополнительных товаров, Сервисов и специальных предложений компании «Kigl», её аффилированных лиц и/или деловых партнёров, в том числе средствами прямого маркетинга. Компания «Kigl» также может раскрыть имя и почтовый адрес пользователя таким аффилированным лицам и/или сторонним лицам – деловым партнёрам, чтобы они могли направлять рекламные материалы пользователю напрямую.</p>
                <p class="m-box__Text m-box__Text_font18">Пользователь может запретить компании «Kigl» использовать или разглашатьперсональные данные пользователя в целях прямой рекламы, указав предпочтения пользователяна странице настроек пользователя или связавшись с компанией «Kigl»,как указано далее (см.«Контакты»). </p>
            </div>
        </div>
        <div id="article-seven" class="module__up">
            <h2 class="module__title">
                Идентификационные файлы (Cookies)
            </h2>
            <div class="module__box m-box">
                <p class="m-box__Text m-box__Text_font18">При посещении пользователем сайта компании «Kigl» компания размещает текстовый идентификационный файл (именуемый «cookie») в директории браузера на жёстком диске компьютера пользователя. Идентификационный файл – это небольшой объём информации, который может храниться сайтом в браузере пользователя, и к которому сайт может затем обращаться. Идентификационный файл не читаем ни одним сайтом, кроме того, которым создан файл. Некоторые браузеры могут иметь настройку непринятия никаких идентификационных файлов. Если пользователь решит настроитьсвой браузер таким образом, некоторые страницы этого сайта могут не работать надлежащим образом.</p>
                <p class="m-box__Text m-box__Text_font18">Компания «Kigl» также использует идентификационные файлы и работает со сторонними лицами – поставщиками услуг, использующими идентификационные файлы для сбора данных о трафике и прочей информации об использовании Сайта компании «Kigl» пользователем. Компания «Kigl» и её поставщики услуг используют эту информацию в агрегированном и анонимном виде для анализа использования Сайта компании «Kigl» и улучшения работы Сайта, Сервисов компании «Kigl» и коммерческой деятельности в целом.</p>
            </div>
        </div>
        <div id="article-eight" class="module__up">
            <h2 class="module__title">
                Каким образом компания «Kigl» защищает персональные данные пользователя
            </h2>
            <div class="module__box m-box">
                <p class="m-box__Text m-box__Text_font18">Компания «Kigl» прилагает экономически обоснованные усилия для обеспечения того, чтобы персональные данные, собранные в ходе доступа пользователя или использования имСайта или Сервисов, были защищены от потери, кражи или незаконного доступа. Эта защита применяется в отношении информации, хранящейся в электронной форме и на бумажных носителях. Доступ к таким персональным данным ограничен отобранным персоналом или представителями.</p>
            </div>
        </div>
        <div id="article-nine" class="module__up">
            <h2 class="module__title">
                Ссылки на сайты сторонних лиц
            </h2>
            <div class="module__box m-box">
                <p class="m-box__Text m-box__Text_font18">На настоящем Сайте могут предлагаться ссылки на другие сайты сторонних лиц. Пользователю следует знать, что операторы сайтов, на которые предоставляются ссылки, также могут собирать персональные данные пользователя (включая данные, генерированные с использованием идентификационных файлов) при переходепользователя на такие сайты. Компания «Kigl» не несёт ответственность за то, каким образом такие сторонние лица собирают, используют или разглашаютперсональные данные пользователя, поэтому важно ознакомиться с политикой обеспечения приватности таких лиц до предоставления им персональных данных пользователя.</p>
            </div>
        </div>
        <div id="article-ten" class="module__up">
            <h2 class="module__title">
                Хранение персональных данных пользователя
            </h2>
            <div class="module__box m-box">
                <p class="m-box__Text m-box__Text_font18">Компания «Kigl» хранит персональные данныепользователя в течение времени, необходимого для достижения цели (-ей) их сбора и соблюдения применимого законодательства, а согласие пользователя с такой целью (-ями) продолжает действовать после прекращения отношений с пользователем. </p>
            </div>
        </div>
        <div id="article-eleven" class="module__up">
            <h2 class="module__title">
                Изменения настоящей Политики обеспечения приватности
            </h2>
            <div class="module__box m-box">
                <p class="m-box__Text m-box__Text_font18">Компания «Kigl» сохраняет за собой право изменятьнастоящую Политику обеспечения приватности в любое время без уведомления для отражения изменений юридических и регулятивных обязанностей или изменений способа, которым компания «Kigl» обрабатывает персональные данные. Политика обеспечения приватности, в любое или в соответствующее время размещённая на настоящем сайте, считается действующей в это время Политикой обеспечения приватности.</p>
            </div>
        </div>
        <div id="article-twelve" class="module__up">
            <h2 class="module__title">
                Исправление или обновление данных пользователя
            </h2>
            <div class="module__box m-box">
                <p class="m-box__Text m-box__Text_font18">Пользователь может помочь обеспечить точность персональных данных пользователя, уведомив компанию «Kigl» о любых изменениях настоящей информации. Пользовательможет связаться с компанией «Kigl» с требованием доступа к своим персональным данным, их исправления или обновления, используя контактную информацию, предоставленную в разделе «Контакты» настоящей Политики обеспечения приватности. </p>
            </div>
        </div>
        <div id="article-thirteen" class="module__up">
            <h2 class="module__title">
                Контакты
            </h2>
            <div class="module__box m-box">
                <p class="m-box__Text m-box__Text_font18">В случае возникновения у пользователя любых вопросов о Политике обеспечения приватностикомпании «Kigl» или наличия у пользователя оснований полагать, что компания «Kigl» может нарушать настоящую Политику обеспечения приватности, он может связаться с компанией по адресу: </p>
                <p class="m-box__Text m-box__Text_font18">E-mail: <a href="mailto:support@kigl.eu">support@kigl.eu</a></p>
            </div>
        </div>
    </div>
