@{
    ViewBag.Title = "FAQ";
    Layout = "../Shared/_InstagramLayoutDocs.cshtml";
}

<div class="module module-faq active">
        <div class="module__up">
            <h2 class="module__title module__header">
                <strong class="module__title_black">Kigl Platform Privacy Policy </strong>
            </h2>
        </div>
        <div class="module__up">
            <div class="module__box m-box">
                <ul class="contents-list">
                    <li>
                        <a href="#article-one" class="module__title">
                            Personal Information
                        </a>
                    </li>
                    <li>
                        <a href="#article-two" class="module__title">
                            How We Use Your Personal Information
                        </a>
                    </li>
                    <li>
                        <a href="#article-three" class="module__title">
                            When We Disclose Your Personal Information
                        </a>
                    </li>
                    <li>
                        <a href="#article-four" class="module__title">
                            Cookies
                        </a>
                    </li>
                    <li>
                        <a href="#article-five" class="module__title">
                            How We Protect Your Personal Information
                        </a>
                    </li>
                    <li>
                        <a href="#article-six" class="module__title">
                            Links to Third Party Sites
                        </a>
                    </li>
                    <li>
                        <a href="#article-seven" class="module__title">
                            Retention and Storage of Your Personal Information
                        </a>
                    </li>
                    <li>
                        <a href="#article-eight" class="module__title">
                            Changes to this Privacy Policy
                        </a>
                    </li>
                    <li>
                        <a href="#article-nine" class="module__title">
                            Correcting or Updating Your Information
                        </a>
                    </li>
                    <li>
                        <a href="#article-ten" class="module__title">
                            Contacting Us
                        </a>
                    </li>
                </ul>
                <p class="m-box__Text m-box__Text_font18">Last Updated: May 24, 2018</p>
                <p class="m-box__Text m-box__Text_font18">This Policy is created and updated according to General Data Protection Regulation GDPR (EU) 2016/679</p>
                <p class="m-box__Text m-box__Text_font18">At Kigl, LTD ("Kigl", "we", "our" and "us") we are committed to protecting your privacy, and support a general policy of openness about how we collect, use and disclose your personal information. </p>
                <p class="m-box__Text m-box__Text_font18">The purpose of this Privacy Policy is to inform you about Kigl's practices relating to the collection, use and disclosure of personal information that may be provided through access to or use of our websites, including the website located at <a href="https://kigl.eu">https://kigl.eu</a> (collectively referred to as the "Website") as well as our services and related products (collectively referred to as the " Services"), or that may otherwise be collected by us. By using our Services or Website, you consent to the collection, use and disclosure of your personal information (as defined below) in accordance with the following terms and conditions.
                </p>
                <p class="m-box__Text m-box__Text_font18">This Privacy Policy also explains how you can contact us if you have a question about, want to make a change to or delete any personal information that Kigl may be holding about you. We strongly recommend that you take the time to read this Privacy Policy and retain it for future reference.</p>
                <p class="m-box__Text m-box__Text_font18">YOUR PERSONAL INFORMATION MAY BE PROCESSED BY US, ONE OF OUR AFFILIATES, OR AN UNAFFILIATED THIRD PARTY SERVICE PROVIDER, IN THE COUNTRY WHERE YOU ARE LOCATED AS WELL AS OTHER COUNTRIES WHERE LAWS REGARDING PROCESSING OF PERSONAL INFORMATION MAY BE LESS STRINGENT THAN THE LAWS IN YOUR COUNTRY. BY USING THE WEBSITE AND/OR SERVICES, YOU ARE CONSENTING TO THE TRANSFER OF DATA, INCLUDING PERSONAL INFORMATION, FROM YOUR COUNTRY TO A COUNTRY THAT HAS LESS STRINGENT LAWS, AND THE PROCESSING OF YOUR PERSONAL INFORMATION IN CONFORMANCE WITH THIS POLICY.</p>
            </div>
        </div>
        <div id="article-one" class="module__up">
            <h2 class="module__title">
                Personal Information
            </h2>
            <div class="module__box m-box">
                <p class="m-box__Text m-box__Text_font18">For the purpose of this Privacy Policy, "<b>personal information</b>" means information about an identifiable individual.
                </p>
            </div>
        </div>
        <div class="module__up">
            <h2 class="module__title">
                What Personal Information We Collect
            </h2>
            <div class="module__box m-box">
                <p class="m-box__Text m-box__Text_font18">The personal information we may collect in the course of you accessing or using the Website or the Services (including through your initial registration for an account and the subsequent administration of that account) may include, but is not limited to, the following: </p>
                <ol>
                    <li class="m-box__Text m-box__Text_font18">Contact information (such as name, address, postal code, e-mail address and telephone number); </li>
                    <li class="m-box__Text m-box__Text_font18">Social media profile information (such as username and other profile data); </li>
                    <li class="m-box__Text m-box__Text_font18">Financial and billing information (such as credit card number and expiration date); </li>
                    <li class="m-box__Text m-box__Text_font18">Demographic information (such as gender, age and occupation) and information about individual preferences; and </li>
                    <li class="m-box__Text m-box__Text_font18">Any other information you may transmit to us or authorize us to obtain from you or a third party in connection with the Services. </li>
                </ol>
            </div>
        </div>
        <div id="article-two" class="module__up">
            <h2 class="module__title">
                How We Use Your Personal Information
            </h2>
            <div class="module__box m-box">
                <p class="m-box__Text m-box__Text_font18">We use your personal information to: </p>
                <ol>
                    <li class="m-box__Text m-box__Text_font18">Provide you with personalized Services and a personalized experience on our Website and interactive communication; </li>
                    <li class="m-box__Text m-box__Text_font18">Provide you with timely and reliable Services; </li>
                    <li class="m-box__Text m-box__Text_font18">Do all the things necessary to administer those Services and the Website; </li>
                    <li class="m-box__Text m-box__Text_font18">Research, develop, manage, protect and improve those Services and the Website; </li>
                    <li class="m-box__Text m-box__Text_font18">Advise you about new products and services that may be of interest to you; </li>
                    <li class="m-box__Text m-box__Text_font18">Develop and maintain our relationship with you and communicate with you; </li>
                    <li class="m-box__Text m-box__Text_font18">Bill you for our Services; and </li>
                    <li class="m-box__Text m-box__Text_font18">Collect outstanding debts. </li>
                </ol>
                <p class="m-box__Text m-box__Text_font18">Notwithstanding anything else in this Privacy Policy, we will not review, share, distribute, or reference any Customer Data except as provided for in the terms of use for our Website and Services, or as may be required by law. </p>
            </div>
        </div>
        <div id="article-three" class="module__up">
            <h2 class="module__title">
                When We Disclose Your Personal Information
            </h2>
            <div class="module__box m-box">
                <p class="m-box__Text m-box__Text_font18">Except with your consent, we will not sell, license, trade or rent your personal information to or with others.</p>
                <p class="m-box__Text m-box__Text_font18">Kigl may share personal information with third parties engaged to assist us in providing the Services to you or to carry out one or more of the purposes described above. These service providers are prohibited from using your personal information for any purpose other than to provide this assistance and are required to protect personal information collected by them on behalf of Kigl or disclosed to them by Kigl and to comply with the general privacy principles described in this Privacy Policy.</p>
                <p class="m-box__Text m-box__Text_font18">Kigl reserves the right to disclose personal information to a third party if a law, regulation, search warrant, subpoena or court order legally requires or authorizes us to do so.</p>
                <p class="m-box__Text m-box__Text_font18">Kigl also reserves the right to disclose and/or transfer personal information to a third party in the event of a proposed or actual purchase, sale (including a liquidation, realization, foreclosure or repossession), lease, merger, amalgamation or any other type of acquisition, disposal, transfer, conveyance or financing of all or any portion of Kigl or of any of the business or assets or shares of Kigl or a division thereof in order for you to continue to receive the same products and services from the third party.</p>
            </div>
        </div>
        <div class="module__up">
            <h2 class="module__title">
                Knowledge and Consent
            </h2>
            <div class="module__box m-box">
                <p class="m-box__Text m-box__Text_font18">Kigl collects personal information about you, from you, or from third parties you authorize us to collect such information from, only when you voluntarily provide it or authorize us to collect it. Typically, we will seek consent for the use or disclosure of your personal information at the time of collection. In certain circumstances, consent may be sought after the information has been collected but before use (for example, when we want to use information for a purpose not previously identified).</p>
                <p class="m-box__Text m-box__Text_font18">The form of consent that we seek, including whether it is express or implied, will largely depend on the sensitivity of the personal information and the reasonable expectations of the individual in the circumstances.</p>
                <p class="m-box__Text m-box__Text_font18">You may withdraw consent at any time, subject to legal or contractual restrictions and reasonable notice. If you wish to withdraw your consent at any time, please contact us using the contact information provided in the "Contact Us" section of this Privacy Policy. We will inform you of the implications of withdrawing consent.</p>
                <p class="m-box__Text m-box__Text_font18">We will not, as a condition of the supply of a product or service, require you to consent to the collection, use or disclosure of information beyond that required to fulfill the explicitly specified and legitimate purposes for which the information is being provided.</p>
            </div>
        </div>
        <div class="module__up">
            <h2 class="module__title">
                Use or Disclosure for Marketing Purposes
            </h2>
            <div class="module__box m-box">
                <p class="m-box__Text m-box__Text_font18">If you have not opted out of receiving marketing materials, we may also use (but will not disclose) your personal information to promote and market additional goods, services and special offers from us, our affiliates and/or our business associates, including by means of direct marketing. We may also disclose your name and mailing address to these affiliates and/or third party business associates so that they can send you promotional materials directly.</p>
                <p class="m-box__Text m-box__Text_font18">You can choose not to allow us to use or disclose your personal information for direct marketing purposes by indicating your preference on the user settings page or by contacting us as outlined below (see "Contacting Us").</p>
            </div>
        </div>
        <div class="module__up">
            <h2 id="article-four" class="module__title">
                Cookies
            </h2>
            <div class="module__box m-box">
                <p class="m-box__Text m-box__Text_font18">When you visit our website, we place a text file called a "cookie" in the browser directory of your computer's hard drive. A cookie is a small piece of information that a website can store on your web browser and later retrieve. The cookie cannot be read by any website other than the one that set up the cookies. Some browsers can be set to reject all cookies. If you choose to modify your browser in this manner, some pages of this website may not function properly.</p>
                <p class="m-box__Text m-box__Text_font18">We also use cookies and work with third party service providers who use cookies to collect traffic data and other information about your use of our Website. We and our service providers use this information in aggregated and anonymous form to analyze usage of our Website and to improve the operation of our Website, Services and business generally.</p>
            </div>
        </div>
        <div id="article-five" class="module__up">
            <h2 class="module__title">
                How We Protect Your Personal Information
            </h2>
            <div class="module__box m-box">
                <p class="m-box__Text m-box__Text_font18">Kigl makes commercially reasonable efforts to ensure that personal information collected in the course of you accessing or using the Website or the Services is protected against loss, theft and unauthorized access. This protection applies in relation to information stored in both electronic and hard copy form. Access to such personal information is restricted to selected employees or representatives.</p>
            </div>
        </div>
        <div id="article-six" class="module__up">
            <h2 class="module__title">
                Links to Third Party Sites
            </h2>
            <div class="module__box m-box">
                <p class="m-box__Text m-box__Text_font18">This website may offer links to other third party websites. You should be aware that operators of linked websites may also collect your personal information (including information generated through the use of cookies) when you link to their websites. Kigl is not responsible for how such third parties collect, use or disclose your personal information, so it is important to familiarize yourself with their privacy policies before providing them with your personal information.</p>
            </div>
        </div>
        <div id="article-seven" class="module__up">
            <h2 class="module__title">
                Retention and Storage of Your Personal Information
            </h2>
            <div class="module__box m-box">
                <p class="m-box__Text m-box__Text_font18">Kigl retains your personal information for as long as necessary to fulfill the purpose(s) for which it was collected and to comply with applicable laws, and your consent to such purposes(s) remains valid after termination of our relationship with you.</p>
            </div>
        </div>
        <div id="article-eight" class="module__up">
            <h2 class="module__title">
                Changes to this Privacy Policy
            </h2>
            <div class="module__box m-box">
                <p class="m-box__Text m-box__Text_font18">Kigl reserves the right to modify this Privacy Policy at anytime without notice to reflect changes in legal or regulatory obligations or changes in the manner in which we deal with personal information. The Privacy Policy posted at any time or from time to time via this website shall be deemed to be the Privacy Policy then in effect.</p>
            </div>
        </div>
        <div id="article-nine" class="module__up">
            <h2 class="module__title">
                Correcting or Updating Your Information
            </h2>
            <div class="module__box m-box">
                <p class="m-box__Text m-box__Text_font18">You can help us maintain the accuracy of your personal information by notifying us of any changes to this information. You may contact Kigl to request access to or correction or update of your personal information using the contact information provided in the "Contact Us" section of this Privacy Policy.</p>
            </div>
        </div>
        <div id="article-ten" class="module__up">
            <h2 class="module__title">
                Contacting Us
            </h2>
            <div class="module__box m-box">
                <p class="m-box__Text m-box__Text_font18">In the event that you have any questions about Kigl's Privacy Policy or if you have reason to believe that Kigl may have failed to adhere to this Privacy Policy, you may contact us at:</p>
                <p class="m-box__Text m-box__Text_font18">E-mail: <a href="mailto:support@kigl.eu">support@kigl.eu</a></p>
            </div>
        </div>
    </div>

