﻿@{
    ViewBag.Title = "FAQ";
    Layout = "../Shared/_InstagramLayoutDocs.cshtml";
}

<div class="module module-faq active">
    <div class="module__up">
        <h2 class="module__title module__header">
            <strong class="module__title_black">Условия использования платформы компании «Kigl» Блогерами</strong>
        </h2>
    </div>
    <div class="module__up">
        <div class="module__box m-box">
            <p class="m-box__Text m-box__Text_font18">Редакция от: 28 марта 2017 г.</p>
            <p class="m-box__Text m-box__Text_font18">Следующими условиями использования («Условия использования») регулируется доступ к сайту компании «Kigl», расположенному по адресу: <a href="https://www.kigl.eu">https://kigl.eu</a> («Сайт»), и использование Платформы, обеспечивающей подбор лиц, пользующихся возможностью публикации рекламного контента онлайн-медиа (каждый –«Блогер»), и Инициаторов кампании, определённых далее, и всех иных сервисов, предоставляемых компанией «Kigl», описанных на Сайте (собирательно – «Платформа»)</p>
            <p class="m-box__Text m-box__Text_font18">Настоящие Условия использования составляют соглашение между компанией «Kigl» («компания "Kigl"», «нас/нам», «мы», «наш») и Пользователем. Термин «Пользователь» относится к физическому лицу, посещающему Платформу, просматривающему или иным образом использующему Платформу, или общающемуся с предприятиями, зарегистрированными компанией «Kigl» (каждый – «Инициатор кампании»), с целью создания рекламного контента онлайн-медиа для продукции или услуг Пользователя (в каждом случае «Кампания»). Посещая и используя (термин «использовать» при использовании в настоящих Условиях в отношении Платформы означает доступ или использование, а термин «использование» имеет соответствующее значение) Платформу, Пользователь принимает настоящие Условия использования и выражает согласие нести ответственность и соблюдать их. При непринятии и несогласии нести ответственность согласно настоящим Условиям использования просим не посещать и не использовать Платформу. При посещении или использовании Платформы от имени другого физического или юридического лица Пользователь заверяет и гарантирует, что он имеет полномочия обеспечивать ответственность такого физического или юридического лица по настоящим Условиям использования.</p>
            <p class="m-box__Text m-box__Text_font18">Платформа предоставляет исключительно («Разрешённый вид использования») для: (a) содействия Пользователю в сборе информации о различных Кампаниях и Инициаторах кампаний, представленных на Платформе, (b) предоставления Пользователю возможностей размещения информации о кампаниях в его ленте сообщений, (c)получения вознаграждения за успешно опубликованную информацию о кампаниях («Сервисы Платформы»).</p>
        </div>
    </div>
    <div class="module__up">
        <h2 class="module__title">
            Изменения настоящих Условий использования и изменения в Платформе
        </h2>
        <div class="module__box m-box">
            <p class="m-box__Text m-box__Text_font18">За исключением запретов, предусмотренных применимым законодательством, компания «Kigl» сохраняет за собой право изменять настоящие Условия использования в любое время без уведомления. Непрерывный доступ к Платформе или её использование Пользователем после внесения любых изменений в настоящие Условия использования указывает на принятие Пользователем таких изменений. Пользователь несёт ответственность за регулярную проверку настоящих Условий использования.</p>
            <p class="m-box__Text m-box__Text_font18">Компания «Kigl» сохраняет за собой право изменять любую информацию, материалы или контент (включая, но не ограничиваясь, цены, характеристики, наличие Инициаторов кампаний, Профили Инициаторов кампаний, типы Кампаний и обзоры Кампаний и Инициаторов кампаний), содержащиеся на Платформе или предоставляемые через неё («Контент») в любое время и по мере необходимости без уведомления.</p>
        </div>
    </div>
    <div class="module__up">
        <h2 class="module__title">
            Использование Платформы
        </h2>
        <div class="module__box m-box">
            <p class="m-box__Text m-box__Text_font18">В качестве условия использования Пользователем Платформы Пользователь гарантирует, что: (а) он достиг совершеннолетия в стране или на территории проживания; (b) имеет законные полномочия для создания имеющего обязательную силу юридического обязательства; (c) использует Платформу в соответствии с настоящими Условиями использования; и (d) вся информация, предоставленная Пользователем на Платформе, является верной, точной, актуальной и полной.</p>
            <p class="m-box__Text m-box__Text_font18">По собственному усмотрению компания «Kigl» сохраняет за собой право отказать любому лицу в доступе к Платформе или предлагаемым на ней сервисам в любое время по любой причине, включая, но не ограничиваясь, нарушение настоящих Условий использования. Пользователь прекращает осуществлять любой такой доступ или использование и воздерживается от него непосредственно после получения запроса от компании «Kigl».</p>
        </div>
    </div>
    <div class="module__up">
        <h2 class="module__title">
            Права и предоставление лицензий
        </h2>
        <div class="module__box m-box">
            <p class="m-box__Text m-box__Text_font18">Пользователь не предъявляет требований в отношении владения любым контентом и данными, которые Инициатор кампании или компания «Kigl» загружает, передаёт или вводит в Платформу. Загруженный контент защищается законодательством об авторском праве, товарных знаках, патентах, коммерческой тайне и иным.</p>
            <p class="m-box__Text m-box__Text_font18">Пользователь выражает согласие с тем, что компания «Kigl» не несёт ответственность заи не одобряет контент, размещённый на Платформе и в социальной сети. Компания «Kigl» не несёт никаких обязательств по предварительному просмотру, мониторингу, редактированию или удалению любого Контента, которым нарушаются права сторонних лиц.</p>
            <p class="m-box__Text m-box__Text_font18">С учётом настоящих Условий использования компания «Kigl» предоставляет Пользователю личную отзывную неисключительную непередаваемую лицензию в течение Срока действия, чтобы предоставить Пользователю возможность доступа к Платформе и её использования в соответствии с настоящими Условиями использования.  Пользователь не будет использовать, предоставлять лицензии или иным образом пользоваться любыми авторскими правами, правами на товарные знаки, знаки обслуживания или иными правами собственности компании «Kigl» или Инициатора кампании без специального разрешения.</p>
            <p class="m-box__Text m-box__Text_font18">Всё содержание сайта компании «Kigl»: © 2017 - 2018 г. компания «Kigl, LTD».</p>
        </div>
    </div>
    <div class="module__up">
        <h2 class="module__title">
            Учётная запись пользователя
        </h2>
        <div class="module__box m-box">
            <p class="m-box__Text m-box__Text_font18">Пользователю необходимо успешно зарегистрировать учётную запись пользователя («Учётная запись пользователя»), воспользовавшись имеющимися интерфейсами на Платформе и регистрационными данными в социальных сетях, чтобы использовать Платформу и обмениваться сообщениями с Инициаторами кампаний посредством Платформы. Компания «Kigl» своевременно подтверждает регистрацию новых пользователей. Компания «Kigl» сохраняет за собой право заблокировать любую Учётную запись, созданную для Пользователя, в любое время по усмотрению компании «Kigl». Если компания «Kigl» блокирует доступ к Учётной записи пользователя, созданной для Пользователя,  этот Пользователь может не иметь доступ к компании «Kigl», данным учётной записи Пользователя или любой Кампании, связанной с учётной записью Пользователя.</p>
        </div>
    </div>
    <div class="module__up">
        <h2 class="module__title">
            Срок и прекращение действия
        </h2>
        <div class="module__box m-box">
            <p class="m-box__Text m-box__Text_font18">Компания «Kigl» может прекратить доступ Пользователя к Сервисам и их использование по своему усмотрению в любое время без уведомления Пользователя. Пользователь может удалить Учётную запись Пользователя в любое время, направив электронное сообщение компании «Kigl» по адресу: <a href="mailto:support@kigl.eu">support@kigl.eu</a>. После прекращения действия, отмены или удаления Сервисов или Учётной записи Пользователя все положения настоящих Условий, действие которых должно продолжиться в силу их природы, продолжают действовать, включая, без ограничений, положения о владении, отказе от гарантийных обязательств, ограничениях ответственности и урегулировании споров.</p>
        </div>
    </div>
    <div class="module__up">
        <h2 class="module__title">
            Инициаторы кампаний
        </h2>
        <div class="module__box m-box">
            <p class="m-box__Text m-box__Text_font18">Пользователь понимает и выражает согласие с тем, что любой контент, поданный через Платформу в соответствии с Соглашением о проведении кампании, остаётся общедоступным через учётную запись (-и) в социальных сетях не менее 24 часов. Компания «Kigl» не предоставляет никаких заверений или гарантий любого рода в отношении Инициатора кампании или Соглашения о проведении кампании. Пользователь также выражает согласие действовать добросовестно при выполнении обязанностей по каждому из Соглашений о проведении кампании.</p>
        </div>
    </div>
    <div class="module__up">
        <h2 class="module__title">
            Комиссии и оплата
        </h2>
        <div class="module__box m-box">
            <p class="m-box__Text m-box__Text_font18">Вознаграждение Пользователя за опубликование рекламного контента онлайн-медиа согласно Соглашению о проведении кампании равняется ставке, указанной на сайте в отношении определённого контента, в долл. США или в эквивалентной сумме, в валюте страны проживания Пользователя на каждые 1 000 подписчиков социальной сети Пользователя. Оплата производится не позднее двух недель после недели опубликования рекламного контента онлайн-медиа.</p>
        </div>
    </div>
    <div class="module__up">
        <h2 class="module__title">
            Privacy Policy
        </h2>
        <div class="module__box m-box">
            <p class="m-box__Text m-box__Text_font18">Посетите сайт по адресу:  <a href="https://Kigl.eu/Info/PrivacyPolicy">https://kigl.eu/Info/PrivacyPolicy</a> , чтобы ознакомиться с действующей Политикой обеспечения приватности компании «Kigl», в которой содержится важная информация о практике компании «Kigl» по сбору, хранению, использованию и обработке персональных данных Пользователя и которая, настоящим включается в Условия использования и является их частью.
            </p>
            <p class="m-box__Text m-box__Text_font18">Обратите внимание, что Инициаторы кампании могут иметь дополнительную политику обеспечения приватности или заявления, регулирующие их практику по сбору, хранению, использованию и обработке персональных данных Пользователя. Пользователь настоящим заверяет и гарантирует компании «Kigl», что он ознакомился и согласен с политикой обеспечения приватности или заявлениями, установленными любым Инициатором кампании, с которым Пользователь решает вести дела посредством Платформы.</p>
        </div>
    </div>
    <div class="module__up">
        <h2 class="module__title">
            Запрет незаконного или запрещённого использования
        </h2>
        <div class="module__box m-box">
            <p class="m-box__Text m-box__Text_font18">Пользователь без предварительного письменного разрешения компании «Kigl» не использует Платформу и Контент ни в каких целях, кроме Разрешённого вида использования. Без ограничения общего смысла вышеизложенного, Пользователь не разрешает никому и самостоятельно не совершает следующие действия:</p>
            <ol class="lower-alpha-parentheses">
                <li class="m-box__Text m-box__Text_font18">не «включает», «отображает» и иным образом не делает Платформу, Контент или любую их часть составной частью любого коммерческого или некоммерческого Сайта;</li>
                <li class="m-box__Text m-box__Text_font18">не осуществляет доступ, мониторинг и не копирует никакую часть Платформы или Контента с использованием любого робота, программы автоматического поиска, скрепера или иных автоматических средств, или любого ручного процесса с любой целью без непосредственного письменного разрешения;</li>
                <li class="m-box__Text m-box__Text_font18">не нарушает ограничения любых заголовков HTTP для блокирования роботов в Контенте или на Платформе, не обходит иные меры, принимаемые для предотвращения или ограничения доступа к Платформе;</li>
                <li class="m-box__Text m-box__Text_font18">не предпринимает никакие действия, которые приводят или могут приводить к необоснованной или непропорционально большой нагрузке на Платформу по мнению компании «Kigl»;</li>
                <li class="m-box__Text m-box__Text_font18">не создаёт внешних ссылок ни к какой части Платформы ни с какой целью;</li>
                <li class="m-box__Text m-box__Text_font18">не удаляет (и не разрешает никому удалять) никакие подложки, ярлыки или иные правовые оговорки, или указания на правообладателя, включённые в любую Кампанию, Платформу или в Контент;</li>
                <li class="m-box__Text m-box__Text_font18">не изменяет и не пытается изменить (и не разрешает никакому иному лицу изменять или пытаться изменить) Платформу или любые Кампании, включая любое изменение с целью сокрытия или изменения любых указаний на владение или источник Платформы или Кампании;</li>
                <li class="m-box__Text m-box__Text_font18">не использует Платформу, любую Кампанию или Контент как часть любого сервиса для обмена, предоставления или многопользовательского использования, или в целях любого иного учреждения, за исключением непосредственно предоставленных разрешений согласно применимому Соглашению о проведении кампании и только способом, непосредственно указанным в нём и предусмотренным им;</li>
                <li class="m-box__Text m-box__Text_font18">не пытается, не содействует, не уполномочивает и не поощряет других при обходе, блокировании любых средств или компонентов безопасности, таких как программное обеспечение по управлению цифровыми правами или шифрование, посредством которого обеспечивается защита Платформы;</li>
                <li class="m-box__Text m-box__Text_font18">не копирует, воспроизводит, изменяет, распространяет, передаёт, продаёт, транслирует, исполняет, публикует, предоставляет лицензии или тиражирует в любой форме любую часть Платформы или Контента;</li>
                <li class="m-box__Text m-box__Text_font18">не создаёт производные работы на основе Платформы или Контента полностью или частично и не декомпилирует, дизассемблирует, осуществляет вскрытие или иным образом не эксплуатирует никакую часть Платформы или Контента;</li>
                <li class="m-box__Text m-box__Text_font18">не пользуется доступом к Платформе способом, нарушающим права (включая, но не ограничиваясь, права интеллектуальной собственности) любого стороннего лица; или</li>
                <li class="m-box__Text m-box__Text_font18">не загружает и не передаёт через Платформу никакую информацию, изображения, текст, данные, мультимедийный или иной контент, являющийся оскорбительным, порнографическим, содержащий нецензурную лексику, грубость, оскорбляющий достоинство или нарушающий любое законодательство или нормативно-правовые акты (включая, но не ограничиваясь, уголовное законодательство и нормативы Федеральной торговой комиссии), в каждом случае согласно решению компании «Kigl» по своему усмотрению;</li>
                <li class="m-box__Text m-box__Text_font18">не размещает, загружает, публикует, предоставляет или передаёт любой Контент:</li>
            </ol>
            <ol class="lower-roman-parentheses">
                <li class="m-box__Text m-box__Text_font18">которым нарушаются или незаконно присваиваются патентные, авторские права, права на товарные знаки, коммерческую тайну, личные неимущественные права или прочие права интеллектуальной собственности, или права на публичное использование или приватность стороннего лица;</li>
                <li class="m-box__Text m-box__Text_font18">которым нарушается любое применимое законодательство или нормативно-правовые акты или поощряется любое поведение, которое будет составлять такое нарушение, или использование которого приведёт к возникновению гражданско-правовой ответственности;</li>
                <li class="m-box__Text m-box__Text_font18">являющийся мошенническим, фальшивым, вводящим в заблуждение или обманным;</li>
                <li class="m-box__Text m-box__Text_font18">оскорбляющий достоинство, содержащий нецензурную лексику, являющийся порнографическим, вульгарным или оскорбительным;</li>
                <li class="m-box__Text m-box__Text_font18">содействующий дискриминации, нетерпимости, расизму, ненависти, притеснениям или причинению вреда любому физическому лицу или группе;</li>
                <li class="m-box__Text m-box__Text_font18">пропагандирующий насилие и жестокость, содействующий насилию или действиям, которые могут угрожать любому физическому или юридическому лицу; или</li>
                <li class="m-box__Text m-box__Text_font18">с предложением незаконных или опасных действий или веществ.</li>
            </ol>
            <p class="m-box__Text m-box__Text_font18">Пользователь несёт единоличную ответственность за любой ущерб, являющийся результатом любого нарушения вышеуказанных ограничений, или любой иной ущерб, являющийся результатом размещения Пользователем контента на Платформе. Пользователь признаёт, что компания «Kigl» может осуществлять права (например, использовать, публиковать, удалять) использования любых Подаваемых документов без какого-либо уведомления Пользователя.</p>
        </div>
    </div>
    <div class="module__up">
        <h2 class="module__title">
            Сайты сторонних лиц
        </h2>
        <div class="module__box m-box">
            <p class="m-box__Text m-box__Text_font18">На Платформе могут предоставляться ссылки на сайты сторонних лиц. Компания «Kigl» не одобряет никакую информацию, содержащуюся на этих сайтах, и не гарантирует качество, точность, надёжность, полноту, действительность, своевременность, надежность, коммерческую пригодность или соответствие любой цели. Контент на любом сайте, на который дана ссылка, не контролируется компанией «Kigl», а если Пользователь принимает решение посетить любой такой сайт, Пользователь совершает такое действие полностью под свою ответственность.</p>
            <p class="m-box__Text m-box__Text_font18">Компания «Kigl» может позволить Пользователю связать его Учётную запись пользователя с действующей учётной записью пользователя в сервисе социальной сети, электронной почты или контента стороннего лица, таком как «Facebook», «YouTube»или«Twitter» (такой сервис –«<b>Сервис стороннего лица</b>», а каждая такая учётная запись –«<b>Учётная запись у стороннего лица</b>»), предоставляя компании «Kigl» доступ к Учётной записи Пользователя у стороннего лица в соответствии с разрешениями согласно применимым условиям использования Пользователем каждой Учётной записи у стороннего лица. Пользователь заверяет, что он вправе разглашать информацию о логине Учётной записи у стороннего лица компании «Kigl» и/или предоставлять доступ компании «Kigl» к Учётной записи у стороннего лица (включая, но не ограничиваясь, для использования в целях, описанных в настоящих Условиях), не нарушая любых условий, регулирующих использование Пользователем Учётной записи у стороннего лица, и не налагая обязательств на компанию «Kigl» по оплате любых комиссий, и не подвергая компанию «Kigl» никаким ограничениям использования, наложенным поставщиками услуг такого стороннего лица.
            </p>
            <p class="m-box__Text m-box__Text_font18">Предоставляя компании «Kigl» доступ к любым Учётным записям у стороннего лица, Пользователь понимает, что компания «Kigl» может получать доступ, предоставлять и хранить (в соответствующих случаях) любую информацию, данные, тексты, ПО, музыку, звуковые данные, фотографии, графические изображения, видео, сообщения, тэги и/или иные доступные материалы («<b>Контент</b>»), предоставленные Пользователем по Учётной записи у стороннего лица и/или хранящиеся в такой учётной записи («<b>Контент ССЛ</b>»), так что они доступны на Платформе компании«Kigl» посредством Учётной записи Пользователя. В зависимости от Учётных записей у стороннего лица, выбранных Пользователем, и с учётом настроек приватности Пользователя по таким Учётным записям у стороннего лица персональные данные, соотносимые с конкретной личностью, размещаемые Пользователем через Учётные записи у стороннего лица, могут быть доступны через Учётную запись Пользователя на Платформе компании «Kigl». Пользователь настоящим уполномочивает компанию «Kigl» получать информацию от таких Сервисов стороннего лица и подавать им информацию по запросу Пользователя; и предоставлять Сервисы в отношении любой информации, получаемойкомпанией «Kigl» по Учётным записям у стороннего лица. Обратите внимание, что если Учётная запись у стороннего лица или связанный с ней сервис становятся недоступными, или доступ компании «Kigl» к такой Учётной записи у стороннего лица прекращается сторонним лицом – поставщиком услуг, то Контент ССЛ будет более недоступен через Материалы компании «Kigl». Пользователь может отключить Учётную запись пользователя от Учётных записей у стороннего лица в любое время в разделе «Настройки». В большинстве случаев компания «Kigl» фактически не хранит весь Контент ССЛ, но вместо этого компания «Kigl» собирает и хранит метаданные, связанные с таким Контентом ССЛ. Пользователь настоящим даёт разрешение на такой сбор и хранение.
            </p>
        </div>
    </div>
    <div class="module__up">
        <h2 class="module__title">
            Взаимоотношения с Сервисами сторонних лиц. 
        </h2>
        <div class="module__box m-box">
            <p class="m-box__Text m-box__Text_font18">ОБРАТИТЕ ВНИМАНИЕ, ЧТО ВЗАИМООТНОШЕНИЯ СО СТОРОННИМИ ЛИЦАМИ – ПОСТАВЩИКАМИ УСЛУГ, СВЯЗАННЫМИ С УЧЁТНЫМИ ЗАПИСЯМИ У СТОРОННЕГО ЛИЦА, РЕГУЛИРУЮТСЯ ИСКЛЮЧИТЕЛЬНО СОГЛАШЕНИЕМ (-ЯМИ) ПОЛЬЗОВАТЕЛЯ С ТАКИМИ СТОРОННИМИ ЛИЦАМИ – ПОСТАВЩИКАМИ УСЛУГ, А КОМПАНИЯ «KIGL» ОТКАЗЫВАЕТСЯ ОТ ЛЮБОЙ ОТВЕТСТВЕННОСТИ ЗА ПЕРСОНАЛЬНЫЕ ДАННЫЕ, СООТНОСИМЫЕ С КОНКРЕТНОЙ ЛИЧНОСТЬЮ, КОТОРЫЕ МОГУТ БЫТЬ ЕЙ ПРЕДОСТАВЛЕНЫ ТАКИМИ СТОРОННИМИ ЛИЦАМИ – ПОСТАВЩИКАМИ УСЛУГ В НАРУШЕНИЕ НАСТРОЕК ПРИВАТНОСТИ, ОПРЕДЕЛЁННЫХ ПОЛЬЗОВАТЕЛЕМ В ОТНОШЕНИИ УЧЁТНЫХ ЗАПИСЕЙ У СТОРОННЕГО ЛИЦА. Компания«Kigl» не занимается проверкой никакого Контента ССЛ ни с какой целью, включая, но не ограничиваясь, в отношении точности, законности или ненарушения прав, и компания «Kigl» не несёт ответственность ни за какой Контент ССЛ. Пользователю следует отметить, что Сервис стороннего лица может изменить правила и доступ к нему в любое время, и компания «Kigl» не может гарантировать, что Сервисы компании «Kigl» всегда будут связаны с таким Сервисом стороннего лица.</p>
            <p class="m-box__Text m-box__Text_font18">Компания «Kigl» может нанимать иные компании для исполнения определённых функций, связанных с коммерческой деятельностью, таких как обработка платежей от имени компании. Партнёр компании по обработке платежей может истребовать от Пользователя предоставления определённых персональных данных (например,номер действующего государственного удостоверения личности, официально зарегистрированное имя, адрес и дата рождения) с целью осуществления платежей через финансовые учреждения и соблюдения любого федерального законодательства и законодательства штата и нормативно-правовых актов. Партнёр также может связываться с Пользователем напрямую относительно любых проблем с оплатой. Любая информация, предоставленная стороннему лицу компании «Kigl», будет конфиденциальной и будет использоваться только с предусмотренной целью.</p>
        </div>
    </div>
    <div class="module__up">
        <h2 class="module__title">
            Вирусы
        </h2>
        <div class="module__box m-box">
            <p class="m-box__Text m-box__Text_font18">Загрузка и просмотр Контента совершается Пользователем под свою ответственность. Компания «Kigl» не может гарантировать и не гарантирует, что Платформа или Контент совместимы с компьютерной системой Пользователя или что Платформа или Контент, или любые ссылки с Платформы или из Контента не содержат вирусов, вирусов-червей, троянских программ, средств ограничения доступа или иного кода, имеющего способности к инфицированию или уничтожению. Пользователь несёт ответственность за внедрение средств безопасности для обеспечения безопасности и неприкосновенности своей компьютерной системы Пользователя, и он несёт ответственность за полную стоимость любой услуги, ремонта или средств соединения, которые могут быть необходимы компьютерной системе в результате использования Пользователем Платформы.</p>
        </div>
    </div>
    <div class="module__up">
        <h2 class="module__title">
            Отсутствие конфиденциальности обмена информацией
        </h2>
        <div class="module__box m-box">
            <p class="m-box__Text m-box__Text_font18">Компания «Kigl» не гарантирует конфиденциальность любого обмена информацией, осуществляемого Пользователем посредством Платформы. Хотя компания «Kigl», в общем, придерживается принятой в индустрии практики при обеспечении безопасности передачи данных на Платформу, с неё и посредством её, Пользователь понимает, выражает согласие с тем и признаёт, что компания «Kigl» не может гарантировать и не гарантирует безопасность данных, переданных по сети Интернет или сетям общего пользования в связи с использованием Пользователем Платформы или с любой Кампанией.</p>
        </div>
    </div>
    <div class="module__up">
        <h2 class="module__title">
            ОТКАЗ ОТ ПРАВ И ОГРАНИЧЕНИЕ ОТВЕТСТВЕННОСТИ
        </h2>
        <div class="module__box m-box">
            <p class="m-box__Text m-box__Text_font18">ПЛАТФОРМА И КОНТЕНТ ПРЕДОСТАВЛЕНЫ В СУЩЕСТВУЮЩЕМ СОСТОЯНИИ БЕЗ КАКОЙ-ЛИБО ГАРАНТИИ ИЛИ УСЛОВИЯ. ИСПОЛЬЗОВАНИЕ ПЛАТФОРМЫ ИЛИ КОНТЕНТА ОСУЩЕСТВЛЯЕТСЯ ПОД ОТВЕТСТВЕННОСТЬ ПОЛЬЗОВАТЕЛЯ. КОМПАНИЯ «KIGL» НЕ ДЕЛАЕТ НИКАКИХ ЗАВЕРЕНИЙ, ГАРАНТИЙ ИЛИ УСЛОВИЙ В ОТНОШЕНИИ КАЧЕСТВА, ВЕРНОСТИ, НАДЁЖНОСТИ, ПОЛНОТЫ, ДЕЙСТВИТЕЛЬНОСТИ ИЛИ СВОЕВРЕМЕННОСТИ ПЛАТФОРМЫ ИЛИ КОНТЕНТА. ПЛАТФОРМА И КОНТЕНТ МОГУТ ВКЛЮЧАТЬ ОШИБКИ, ПРОПУСКИ И НЕТОЧНОСТИ, ВКЛЮЧАЯ, БЕЗ ОГРАНИЧЕНИЙ, ОШИБКИ ЦЕНООБРАЗОВАНИЯ. КОМПАНИЯ «KIGL» НЕ НЕСЁТ ОТВЕТСТВЕННОСТИ НИ ЗА КАКИЕ ОШИБКИ, ПРОПУСКИ ИЛИ НЕТОЧНОСТИ НА ПЛАТФОРМЕ ИЛИ В КОНТЕНТЕ. КРОМЕ ТОГО, КОМПАНИЯ «KIGL» НЕПОСРЕДСТВЕННО СОХРАНЯЕТ ЗА СОБОЙ ПРАВО НА ИСПРАВЛЕНИЕ КАКИХ-ЛИБО ОШИБОК ЦЕНООБРАЗОВАНИЯ НА ПЛАТФОРМЕ.</p>
            <p class="m-box__Text m-box__Text_font18">ОБЗОРЫ ПРЕДПРИЯТИЯ И КАМПАНИИ, ПРЕДОСТАВЛЕННЫЕ НА САЙТЕ, ПРЕДНАЗНАЧЕНЫ ТОЛЬКО В КАЧЕСТВЕ ОБЩЕГО РУКОВОДСТВА, И КОМПАНИЯ «KIGL» НЕ ГАРАНТИРУЕТ ТОЧНОСТИ ОБЗОРОВ. КОМПАНИЯ «KIGL» НЕ ПРЕДОСТАВЛЯЕТ НИКАКИХ ГАРАНТИЙ В ОТНОШЕНИИ НАЛИЧИЯ КОНКРЕТНЫХ ПРЕДПРИЯТИЙ, КАМПАНИЙ ИЛИ ТИПОВ КАМПАНИИ.</p>
            <p class="m-box__Text m-box__Text_font18">В МАКСИМАЛЬНО ПРЕДУСМОТРЕННОЙ ЗАКОНОМ СТЕПЕНИ КОМПАНИЯ «KIGL» НЕ ДАЁТ НИКАКИХ ОБЯЗАТЕЛЬСТВ В ОТНОШЕНИИ ЛЮБЫХ ГАРАНТИЙ, ЗАВЕРЕНИЙ И УСЛОВИЙ ЛЮБОГО РОДА КАСАТЕЛЬНО ПЛАТФОРМЫ И КОНТЕНТА, ЯВНО ВЫРАЖЕННЫХ, ПОДРАЗУМЕВАЕМЫХ, ПРЕДУСМОТРЕННЫХ ПО ЗАКОНУ ИЛИ СОПУТСТВУЮЩИХ, ВКЛЮЧАЯ, БЕЗ ОГРАНИЧЕНИЙ, ПОДРАЗУМЕВАЕМЫЕ ГАРАНТИИ И УСЛОВИЯ ТОВАРНОГО КАЧЕСТВА, СООТВЕТСТВИЯ НАЗНАЧЕНИЮ И НЕНАРУШЕНИЯ ПРАВ ИЛИ ТОГО, ЧТО ПЛАТФОРМА ИЛИ КОНТЕНТ НЕ СОДЕРЖАТ И НЕ БУДУТ СОДЕРЖАТЬ ОШИБКИ ИЛИ БУДУТ РАБОТАТЬ НЕПРЕРЫВНО. НИ В КОЕМ СЛУЧАЕ КОМПАНИЯ «KIGL» НЕ БУДЕТ НЕСТИ ОТВЕТСТВЕННОСТЬ НА ОСНОВАНИИ ГАРАНТИИ, ДОГОВОРА, ПРАВОНАРУШЕНИЯ, НЕБРЕЖНОСТИ, ОБЪЕКТИВНОЙ ОТВЕТСТВЕННОСТИ ИЛИ ЛЮБОЙ ИНОЙ ПРАВОВОЙ ТЕОРИИ НИ ЗА КАКОЙ УЩЕРБ ЛЮБОГО РОДА (ВКЛЮЧАЯ, БЕЗ ОГРАНИЧЕНИЙ, ПРЯМОЙ, КОСВЕННЫЙ, ОПРЕДЕЛЯЕМЫЙ ОСОБЫМИ ОБСТОЯТЕЛЬСТВАМИ ДЕЛА, ШТРАФНЫЕ УБЫТКИ, УПУЩЕННУЮ ВЫГОДУ, УТРАТУ ВОЗМОЖНОСТИ ЭКСПЛУАТАЦИИ, ПОТЕРЮ ДАННЫХ, ТРАВМУ, ШТРАФЫ, КОМИССИИ, ПЕНЮ И ИНЫЕ ОБЯЗАТЕЛЬСТВА), НЕЗАВИСИМО ОТ ТОГО, СООБЩЕНО ЛИ КОМПАНИИ «KIGL» О ВОЗМОЖНОСТИ ТАКОГО УЩЕРБА, ЯВЛЯЮЩЕГОСЯ РЕЗУЛЬТАТОМ ИСПОЛЬЗОВАНИЯ ИЛИ НЕВОЗМОЖНОСТИ ИСПОЛЬЗОВАНИЯ ПЛАТФОРМЫ, КОНТЕНТА ИЛИ ЛЮБОГО СОГЛАШЕНИЯ О ПРОВЕДЕНИИ КАМПАНИИ ИЛИ СВЯЗАННОГО С НИМ.</p>
            <p class="m-box__Text m-box__Text_font18">ПРЕДПРИЯТИЯ, ПОЛЬЗУЮЩИЕСЯ УСЛУГАМИ ПОЛЬЗОВАТЕЛЯ ПОСРЕДСТВОМ ПЛАТФОРМЫ, ЯВЛЯЮТСЯ НЕЗАВИСИМЫМИ ОРГАНИЗАЦИЯМИ, А НЕ ПОДРЯДЧИКАМИ, ПРЕДСТАВИТЕЛЯМИ ИЛИ РАБОТНИКАМИ КОМПАНИИ «KIGL». КОМПАНИЯ «KIGL» НЕ НЕСЁТ ОТВЕТСТВЕННОСТИ ЗА ДЕЙСТВИЯ, ОШИБКИ, ПРОПУСКИ, ЗАВЕРЕНИЯ, ГАРАНТИИ НАРУШЕНИЯ ИЛИ НЕБРЕЖНОСТЬ ЛЮБЫХ ПРЕДПРИЯТИЙ И ЗА ЛЮБЫЕ ТРАВМЫ, СМЕРТИ, УЩЕРБ ИМУЩЕСТВУ ИЛИ ИНОЙ УЩЕРБ ИЛИ ЗАТРАТЫ В ИХ РЕЗУЛЬТАТЕ И НЕ ПРИНИМАЕТ НИКАКУЮ ОТВЕТСТВЕННОСТЬ, СВЯЗАННУЮ С ЛЮБЫМИ КАМПАНИЯМИ ИЛИ СОГЛАШЕНИЯМИ О ПРОВЕДЕНИИ КАМПАНИИ.</p>
            <p class="m-box__Text m-box__Text_font18">В НЕКОТОРЫХ СТРАНАХ И НА НЕКОТОРЫХ ТЕРРИТОРИЯХ НЕ РАЗРЕШАЕТСЯ ИСКЛЮЧЕНИЕ ИЛИ ОГРАНИЧЕНИЕ ОТВЕТСТВЕННОСТИ ЗА КОСВЕННЫЙ ИЛИ ПОБОЧНЫЙ УЩЕРБ, ТАК ЧТО ВЫШЕУКАЗАННОЕ ОГРАНИЧЕНИЕ МОЖЕТ НЕ ПРИМЕНЯТЬСЯ К ПОЛЬЗОВАТЕЛЮ. В ТОЙ СТЕПЕНИ, В КОТОРОЙ ВЫШЕУКАЗАННОЕ ОГРАНИЧЕНИЕ НЕ ПРИМЕНЯЕТСЯ, НИ В КОЕМ СЛУЧАЕ ОБЩАЯ СОВОКУПНАЯ ОТВЕТСТВЕННОСТЬ КОМПАНИИ «KIGL» В СВЯЗИ С НАСТОЯЩИМИ УСЛОВИЯМИ ИСПОЛЬЗОВАНИЯ ИЛИ СОГЛАСНО ИМ, ВКЛЮЧАЯ ПО СОГЛАШЕНИЮ О ПРОВЕДЕНИИ КАМПАНИИ, ИЛИ В СВЯЗИ С ИСПОЛЬЗОВАНИЕМ, ИЛИ НЕВОЗМОЖНОСТЬЮ ИСПОЛЬЗОВАНИЯ ПОЛЬЗОВАТЕЛЕМ ПЛАТФОРМЫ ИЛИ КОНТЕНТА, ИЛИ ПО ЛЮБОМУ ИНОМУ ТРЕБОВАНИЮ, СВЯЗАННОМУ ЛЮБЫМ ОБРАЗОМ С СОГЛАШЕНИЕМ О ПРОВЕДЕНИИ КАМПАНИИ, ИЛИ В СВЯЗИ С ИСПОЛЬЗОВАНИЕМ, ИЛИ НЕВОЗМОЖНОСТЬЮ ИСПОЛЬЗОВАНИЯ ПЛАТФОРМЫ ИЛИ КОНТЕНТА, НЕ БУДЕТ ПРЕВЫШАТЬ СТО ДОЛЛАРОВ США (100 ДОЛЛ, США) ИЛИ ЭКВИВАЛЕНТ В МЕСТНОЙ ВАЛЮТЕ. ДЛЯ БОЛЬШЕЙ ЯСНОСТИ СУЩЕСТВОВАНИЕ ОДНОГО ИЛИ НЕСКОЛЬКИХ ТРЕБОВАНИЙ ПО НАСТОЯЩИМ УСЛОВИЯМ ИСПОЛЬЗОВАНИЯ НЕ БУДЕТ УВЕЛИЧИВАТЬ МАКСИМАЛЬНУЮ СУММУ ОТВЕТСТВЕННОСТИ.</p>
            <p class="m-box__Text m-box__Text_font18">Вышеуказанные ограничения отражают распределение ответственности между сторонами. Указанные в настоящем разделе ограничения продолжат действовать и применяться, даже есливыяснилось, чтокакое-либо ограниченное средство правовой защиты, указанное в настоящих условиях, не соответствует своей основной цели.</p>
        </div>
    </div>
    <div class="module__up">
        <h2 class="module__title">
            Срок давности
        </h2>
        <div class="module__box m-box">
            <p class="m-box__Text m-box__Text_font18">ПОЛЬЗОВАТЕЛЬ И КОМПАНИЯ «KIGL» ДОГОВАРИВАЮТСЯ О ТОМ, ЧТО ДЕЙСТВИЕ ЛЮБОГО ОСНОВАНИЯ ДЛЯ ВОЗБУЖДЕНИЯ ИСКА, ВОЗНИКАЮЩЕГО ПО НАСТОЯЩИМ УСЛОВИЯМ ИЛИ В СВЯЗИ С НИМИ, САЙТОМ КОМПАНИИ «KIGL», СЕРВИСАМИ ИЛИ КАМПАНИЯМИ, ДОЛЖНО НАЧИНАТЬСЯ В ТЕЧЕНИЕ ОДНОГО (1) ГОДА С МОМЕНТА ВОЗНИКНОВЕНИЯ ПРАВА НА ИСК. В ПРОТИВНОМ СЛУЧАЕ, ТАКОЕ ОСНОВАНИЕ ДЛЯ ВОЗБУЖДЕНИЯ ИСКА НАВСЕГДА ПОГАШАЕТСЯ ДАВНОСТЬЮ.</p>
        </div>
    </div>
    <div class="module__up">
        <h2 class="module__title">
            Гарантия возмещения ущерба
        </h2>
        <div class="module__box m-box">
            <p class="m-box__Text m-box__Text_font18">Пользователь осуществляет защиту, компенсирует ущерб и освобождает от ответственности компанию «Kigl» и всех её должностных лиц с распорядительными функциями, директоров, работников и представителей в отношении любых требований, оснований для иска, претензий, полученного возмещения, ущерба, убытков, штрафов, пени или иных расходов или затрат любого рода или характера, включая, но не ограничиваясь, обоснованные юридические и бухгалтерские расходы, понесённые в связи с или в результате: (a) нарушения Пользователем любых гарантий, заверений или обязанностей Пользователя согласно настоящим Условиям использования или любым документам, указанным в настоящих Условиях; (b) нарушения Пользователем любого законодательства или прав стороннего лица (включая, без ограничений, права интеллектуальной собственности); (c) использования Пользователем Платформы; (d) нарушения или неисполнения любого Соглашения о проведении кампании Пользователем или любым сторонним лицом, действующим от имени Пользователя или с согласия Пользователя; или (d) использования любого контента, созданного Пользователем, Инициаторами кампании или сторонними лицами в связи с Кампанией, проводимой Пользователем, Инициаторами кампании или любым сторонним лицом, действующим от имени Пользователя или с его разрешения.</p>
        </div>
    </div>
    <div class="module__up">
        <h2 class="module__title">
            Географическое использование Платформы
        </h2>
        <div class="module__box m-box">
            <p class="m-box__Text m-box__Text_font18">Не все Блогеры, Кампании и сервисы, описанные на Платформе, доступны во всех странах и на всех территориях по всему миру. Более того, ничего на Платформе не является предложением о покупке или продаже любого продукта или сервиса любому лицу в любой стране или территории, где такое предложение запрещено законом.</p>
        </div>
    </div>
    <div class="module__up">
        <h2 class="module__title">
            Применимое право
        </h2>
        <div class="module__box m-box">
            <p class="m-box__Text m-box__Text_font18">Настоящие Условия использования и любое действие в их отношении регулируются законодательством Англии. Пользователь и компания «Kigl» договариваются о том, что суды Англии и Уэльса будут иметь неисключительную юрисдикцию.</p>
            <p class="m-box__Text m-box__Text_font18">Настоящее право применяется к доступу Пользователя или использованию Пользователем Платформы или Контента, независимо от места регистрации, проживания или физического нахождения Пользователя. Платформа и Контент предназначены для использования только в странах и на территориях, на которых они могут быть законно предложены для использования.</p>
        </div>
    </div>
    <div class="module__up">
        <h2 class="module__title">
            Исчерпывающий характер соглашения, отказ от прав и независимость положений
        </h2>
        <div class="module__box m-box">
            <p class="m-box__Text m-box__Text_font18">Настоящие Условия использования составляют полное соглашение между компанией «Kigl» и Пользователем, относящееся к предмету настоящих Условий, и заменяют весь предыдущий или действующий обмен сообщениями и предложения, в электронном, устном или письменном виде, между Пользователем и компанией «Kigl» в отношении Платформы. Печатная версия настоящих Условий использования и любого уведомления, предоставленного в электронном виде, приемлема для рассмотрения в судебном или административном производстве на основании настоящих Условий использования или в их отношении в той же степени и с учётом тех же условий, как и прочие деловые документы и записи, которые первоначально созданы и ведутся в печатной форме.</p>
            <p class="m-box__Text m-box__Text_font18">Неистребование компанией «Kigl» или необеспечение принудительного применения любого положения настоящих Условий использования не составляет отказ от любых положений или права. Отказ от любого такого права или положения будет действителен только в том случае, если он будет предоставлен в письменном виде и подписан надлежащим образом уполномоченным представителем компании «Kigl». Кроме случаев, непосредственно изложенных в настоящих Условиях, применение любой из сторон любых средств правовой защиты по настоящим Условиям не будет осуществляться в ущерб её иным средствам правовой защиты согласно настоящим Условиям или иному.</p>
            <p class="m-box__Text m-box__Text_font18">Если по любой причине суд компетентной юрисдикции определяет, что любое из положений настоящих Условий использования является недействительным или не подлежащим принудительному применению, это положение будет принудительно применяться в максимальной разрешённой степени, а остальные положения настоящих Условий продолжат действовать в полную силу.</p>
            <p class="m-box__Text m-box__Text_font18">Если любые из положений, содержащихся в настоящих Условиях использования, вступают в противоречие с условиями иного соглашения сторон (такими как условия Соглашения о проведении кампании в отношении Кампании), то настоящие Условия использования имеют преобладающую силу; при условии, что, если Пользователь также является Инициатором кампании, зарегистрированным на Платформе, Условия использования, применимые к Инициаторам кампании, будут регулировать отношения Пользователя с компанией «Kigl» в этом отношении.</p>
        </div>
    </div>    
</div>