﻿@{
    ViewBag.Title = "FAQ";
    Layout = "../Shared/_InstagramLayoutDocs.cshtml";
}

<div class="module module-faq active">
    <div class="module__up">
        <h2 class="module__title module__header">
            <strong class="module__title_black">Kigl Platform Publisher Terms of Use</strong>
        </h2>
    </div>
    <div class="module__up">
        <div class="module__box m-box">
            <p class="m-box__Text m-box__Text_font18">Last Updated: March 28, 2017</p>
            <p class="m-box__Text m-box__Text_font18">The following terms of use (the "Terms of Use") govern your access to Kigl website located at <a href="https://www.kigl.eu">https://kigl.eu</a> (the “Website”) and use of the platform facilitating the matching of persons taking the opportunity to publish promotional online media content (each, an “Publisher”) and Campaign Initiators (as defined below) and all other services provided by Kigl, as described on the Website (collectively, the "Platform”).</p>
            <p class="m-box__Text m-box__Text_font18">These Terms of Use form an agreement between Kigl ("Kigl", “us”, “we”, “our”) and You. The term "you" refers to the person visiting the Platform, browsing or otherwise using the Platform, or communicating with or businesses registered with Kigl (each, a “Campaign Initiator”) for the purpose of creating promotional online media content for your products or services (each, a “Campaign”). By accessing and using (the term “use” when used herein in respect of the Platform shall mean access or use, and using shall have a corresponding meaning) the Platform, you accept and agree to be bound by and comply with these Terms of Use. If you do not accept and agree to be bound by these Terms of Use, please do not access or use the Platform. If you are accessing or using the Platform on behalf of another person or a corporate entity, you represent and warrant that you have the authority to bind such person or entity to these Terms of Use.</p>
            <p class="m-box__Text m-box__Text_font18">The Platform is provided solely (the “Permitted Use”) to (a) assist you in gathering information about the various types of Campaign opportunities and Campaign Initiators available on the Platform,(b) enable you to post on your timeline campaign opportunities (c) getting remuneration for the successfully published campaign opportunity (“Platform Services”).</p>
        </div>
    </div>
    <div class="module__up">
        <h2 class="module__title">
            Changes to these Terms of Use and Platform
        </h2>
        <div class="module__box m-box">
            <p class="m-box__Text m-box__Text_font18">Except where prohibited by applicable law, Kigl reserves the right to change these Terms of Use at any time without notice. Your continued access to or use of the Platform after any changes to these Terms of Use indicates your acceptance of such changes. It is your responsibility to review these Terms of Use regularly.</p>
            <p class="m-box__Text m-box__Text_font18">Kigl reserves the right to change any information, material or content (including, but not limited to, price, features, availability of Campaign Initiators, Campaign Initiator Profiles, types of Campaigns, and reviews of Campaigns and Campaign Initiators) contained on or provided through the Platform (the "Content") at any time, and from time to time, without notice.</p>
        </div>
    </div>
    <div class="module__up">
        <h2 class="module__title">
            Use of the Platform
        </h2>
        <div class="module__box m-box">
            <p class="m-box__Text m-box__Text_font18">As a condition of your use of the Platform, you warrant that: (a) you have reached the age of majority in your jurisdiction of residence; (b) you possess the legal authority to create a binding legal obligation; (c) you shall use the Platform in accordance with these Terms of Use; and (d) all information supplied by you on the Platform is true, accurate, current and complete.</p>
            <p class="m-box__Text m-box__Text_font18">Kigl retains the right, at its sole discretion, to deny access to anyone to the Platform or the services it offers, at any time and for any reason, including, but not limited to, for violation of these Terms of Use. You shall cease and desist from any such access or use immediately upon request by Kigl.</p>
        </div>
    </div>
    <div class="module__up">
        <h2 class="module__title">
            Rights and License Grants
        </h2>
        <div class="module__box m-box">
            <p class="m-box__Text m-box__Text_font18">You do not claim ownership of any content and data loaded, transmitted or entered into the Platform by Company Initiator or Kigl. The loaded content is protected by copyright, trademark, patent, trade secret and other laws.</p>
            <p class="m-box__Text m-box__Text_font18">You agree that Kigl is not responsible for, and does not endorse content posted within the Platform or social-media network. Kigl does not have any obligationtoprescreen, monitor, edit, or remove any Content which violates third parties rights.</p>
            <p class="m-box__Text m-box__Text_font18">Subject to these Terms of Use, Kigl grants you a personal, revocable, non-exclusive and non-transferable license during the Term to access and use the Platform in accordance with these Terms of Use. You will not use, license or otherwise exploit any copyright, trademark, service mark or othe rproprietary right sowned by Kigl or Company Initiator without special permission. </p>
            <p class="m-box__Text m-box__Text_font18">All contents of the Kigl website are: © 2017 - 2018 Kigl, LTD.</p>
        </div>
    </div>
    <div class="module__up">
        <h2 class="module__title">
            User Account
        </h2>
        <div class="module__box m-box">
            <p class="m-box__Text m-box__Text_font18">You will be required to successfully sign up for a user account (the “User Account”) using the available interfaces at the Platform and your credentials in social networks in order to use the Platform and communicate with Campaign Initiators through the Platform. Kigl shall approve newly registered users in the timely manner. Kigl reserves the right to disable any User Account issued to you at any time in Kigl’s sole discretion. If Kigl disables access to a User Account issued to you, you may be prevented from accessing Kigl, your account details or any Campaigns that are associated with your account.</p>
        </div>
    </div>
    <div class="module__up">
        <h2 class="module__title">
            Term and Termination
        </h2>
        <div class="module__box m-box">
            <p class="m-box__Text m-box__Text_font18">We may terminate your access to and use of the Services, at our sole discretion, at any time and without notice to you. You may cancel your Account at any time by sending an email to us at <a href="mailto:support@kigl.eu">support@kigl.eu</a> Upon any termination, discontinuation or cancellation of Services or your Account, all provisions of these Terms which by their nature should survive will survive, including, without limitation, ownership provisions, warranty disclaimers, limitations of liability, and dispute resolution provisions.</p>
        </div>
    </div>
    <div class="module__up">
        <h2 class="module__title">
            Campaign Initiators
        </h2>
        <div class="module__box m-box">
            <p class="m-box__Text m-box__Text_font18">You understand and agree that any content submitted through the Platform pursuant to a Campaign Agreement and provided by a Campaign Initiator shall remain publicly accessible through your social media account(s) for a minimum of 24 hours. Kigl does not make any representations or warranties of any kind in respect of a Campaign Initiator or a Campaign Agreement. You also agree to act in good faith when performing your obligations under each Campaign Agreement.</p>
        </div>
    </div>
    <div class="module__up">
        <h2 class="module__title">
            Fees and Payment
        </h2>
        <div class="module__box m-box">
            <p class="m-box__Text m-box__Text_font18">Your remuneration for publishing of promotional online media content under a Campaign agreement is equal to the rate shown on the website for the particular content either in USD orin the equivalent amount in a currency of your country of residence for every 1000 followers subscribed to your social-media network. The term of payment shall be not later than two weeks after the week when promotional online media content was published.</p>
        </div>
    </div>
    <div class="module__up">
        <h2 class="module__title">
            Privacy Policy
        </h2>
        <div class="module__box m-box">
            <p class="m-box__Text m-box__Text_font18">Please visit <a href="https://Kigl.eu/Info/PrivacyPolicy">https://kigl.eu/Info/PrivacyPolicy</a> to review our current Privacy Policy, which contains important information about our practices in collecting, storing, using and disclosing your personal information, and which is hereby incorporated into and forms a part of these Terms of Use.
            </p>
            <p class="m-box__Text m-box__Text_font18">Please note that Campaign Initiators may have additional privacy policies or statements that govern their practices in collecting, storing, using and disclosing your personal information. Please read those additional privacy policies or statements carefully. You hereby represent and warrant to Kigl that you have familiarized yourself and agree with those privacy policies or statements imposed by any Campaign Initiator with whom you elect to deal through the Platform.</p>
        </div>
    </div>
    <div class="module__up">
        <h2 class="module__title">
            No Unlawful or Prohibited Use
        </h2>
        <div class="module__box m-box">
            <p class="m-box__Text m-box__Text_font18">You shall not, without Kigl's prior written permission, use the Platform and the Content for purposes other than the Permitted Use. Without limiting the generality of the foregoing, you shall not, and shall not permit anyone else to:</p>
            <ol class="lower-alpha-parentheses">
                <li class="m-box__Text m-box__Text_font18">“frame”, “mirror” or otherwise incorporate the Platform or the Content or any part thereof on any commercial or non-commercial website;</li>
                <li class="m-box__Text m-box__Text_font18">access, monitor or copy any part of the Platform or the Content using any robot, spider, scraper or other automated means or any manual process for any purpose without our express written permission;</li>
                <li class="m-box__Text m-box__Text_font18">violate the restrictions in any robot exclusion headers on the Content or the Platform or bypass or circumvent other measures employed to prevent or limit access to the Platform;</li>
                <li class="m-box__Text m-box__Text_font18">take any action that imposes, or may impose, in Kigl’s discretion, an unreasonable or disproportionately large load on the Platform;</li>
                <li class="m-box__Text m-box__Text_font18">deep-link to any portion of the Platform for any purpose;</li>
                <li class="m-box__Text m-box__Text_font18">remove (or permit anyone else to remove) any watermarks, labels or other legal or proprietary notices included in any Campaign, the Platform or the Content;</li>
                <li class="m-box__Text m-box__Text_font18">modify or attempt to modify (or permit anyone else to modify or attempt to modify) the Platform or any Campaigns, including any modification for the purpose of disguising or changing any indications of the ownership or source of the Platform or a Campaign</li>
                <li class="m-box__Text m-box__Text_font18">use the Platform or any Campaign or Content as part of any service for sharing, lending or multi-person use, or for the purpose of any other institution, except as specifically permitted by an applicable Campaign Agreement and only in the exact manner specified and enabled by therein;</li>
                <li class="m-box__Text m-box__Text_font18">attempt to, assist, authorize or encourage others to circumvent, disable or defeat any of the security features or components, such as digital rights management software or encryption, that protect the Platform;</li>
                <li class="m-box__Text m-box__Text_font18">copy, reproduce, modify, distribute, transfer, sell, publish, broadcast, perform, transmit, publish, license or circulate in any form any part of the Platform or the Content;</li>
                <li class="m-box__Text m-box__Text_font18">create derivative works based on the Platform or the Content, in whole or in part, or to decompile, disassemble, reverse engineer or other exploit any part of the Platform or the Content;</li>
                <li class="m-box__Text m-box__Text_font18">use of access the Platform in a manner that violates the rights (including, but not limited to intellectual property rights) of any third party; or</li>
                <li class="m-box__Text m-box__Text_font18">upload to or transmit through the Platform any information, images, text, data, media or other content that is offensive, pornographic, hateful, obscene, defamatory or violates any laws or regulations (including but not limited to criminal laws and FTC regulations), in each case as determined by Kigl in its sole discretion,</li>
                <li class="m-box__Text m-box__Text_font18">post, upload, publish, submit or transmit any Content that:</li>
            </ol>
            <ol class="lower-roman-parentheses">
                <li class="m-box__Text m-box__Text_font18">infringes, misappropriates or violates a third party’s patent, copyright, trademark, trade secret, moral rights or other intellectual property rights, or rights of publicity or privacy;</li>
                <li class="m-box__Text m-box__Text_font18">violates, or encourages any conduct that would violate, any applicable law or regulation or would give rise to civil liability;</li>
                <li class="m-box__Text m-box__Text_font18">is fraudulent, false, misleading or deceptive;</li>
                <li class="m-box__Text m-box__Text_font18">is defamatory, obscene, pornographic, vulgar or offensive;</li>
                <li class="m-box__Text m-box__Text_font18">promotes discrimination, bigotry, racism, hatred, harassment or harm against any individual or group;</li>
                <li class="m-box__Text m-box__Text_font18">is violent or threatening or promotes violence or actions that are threatening to any person or entity; or</li>
                <li class="m-box__Text m-box__Text_font18">promotes illegal or harmful activities or substances.</li>
            </ol>
            <p class="m-box__Text m-box__Text_font18">You shall be solely liable for any damages resulting from any violation of the foregoing restrictions, or any other harm resulting from your posting of content to the Platform. You acknowledge that Kigl may exercise its rights (e.g. use, publish, delete) to use any Submissions without any notice to you.</p>
        </div>
    </div>
    <div class="module__up">
        <h2 class="module__title">
            Third Party Websites
        </h2>
        <div class="module__box m-box">
            <p class="m-box__Text m-box__Text_font18">The Platform may provide links to third party websites. Kigl does not endorse the information contained on those web sites or guarantee their quality, accuracy, reliability, completeness, currency, timeliness, non-infringement, merchantability or fitness for any purpose. The content in any linked web site is not under Kigl's control, and if you choose to access any such web site, you do so entirely at your own risk.</p>
            <p class="m-box__Text m-box__Text_font18">Kigl may enable you to link your User Account with a valid account on a third party social networking, email or content service such as Facebook, YouTube, or Twitter, (such service, a “<b>Third-Party Service</b>” and each such account, a “<b>Third-Party Account</b>”) by allowing Kigl to access your Third-Party Account, as is permitted under the applicable terms and conditions that govern your use of each Third-Party Account. You represent that you are entitled to disclose your Third-Party Account login information to Kigl and/or grant Kigl access to your Third-Party Account (including, but not limited to, for use for the purposes described herein) without breach by you of any of the terms and conditions that govern your use of the applicable Third-Party Account and without obligating Kigl to pay any fees or making Kigl subject to any usage limitations imposed by such third-party service providers.
            </p>
            <p class="m-box__Text m-box__Text_font18">By granting Kigl access to any Third-Party Accounts, you understand that Kigl may access, make available and store (if applicable) any information, data, text, software, music, sound, photographs, graphics, video, messages, tags and/or other materials accessible (“<b>Content</b>”) that you have provided to and/or stored in your Third-Party Account (“<b>TPS Content</b>”) so that it is available on and through the Kigl Platform via your User Account. Depending on the Third-Party Accounts you choose and subject to the privacy settings that you have set in such Third-Party Accounts, personally identifiable information that you post to your Third-Party Accounts may be available on and through your User Account on the Kigl Platform. You hereby authorize Kigl to retrieve information from, and submit information to, such Third Party Services at your request; and to provide Services relating to any information we retrieve from those Third-Party Accounts. Please note that if a Third-Party Account or associated service becomes unavailable or Kigl’s access to such Third-Party Account is terminated by the third-party service provider, then TPS Content will no longer be available on and through the Kigl Materials. You have the ability to disable the connection between your Account and your Third-Party Accounts at any time by accessing the “Settings” section. In most cases, we do not actually store the entirety of your TPS Content, but instead we collect and store the metadata associated with such TPS Content. You hereby authorized such collection and storage.
            </p>
        </div>
    </div>
    <div class="module__up">
        <h2 class="module__title">
            Relationship with Third-Party Services
        </h2>
        <div class="module__box m-box">
            <p class="m-box__Text m-box__Text_font18">PLEASE NOTE THAT YOUR RELATIONSHIP WITH THE THIRD-PARTY SERVICE PROVIDERS ASSOCIATED WITH YOUR THIRD-PARTY ACCOUNTS IS GOVERNED SOLELY BY YOUR AGREEMENT(S) WITH SUCH THIRD-PARTY SERVICE PROVIDERS, AND KIGL DISCLAIMS ANY LIABILITY FOR PERSONALLY IDENTIFIABLE INFORMATION THAT MAY BE PROVIDED TO IT BY SUCH THIRD-PARTY SERVICE PROVIDERS IN VIOLATION OF THE PRIVACY SETTINGS THAT YOU HAVE SET IN SUCH THIRD-PARTY ACCOUNTS. Kigl makes no effort to review any TPS Content for any purpose, including but not limited to, for accuracy, legality or non-infringement, and Kigl is not responsible for any TPS Content. You should note that a Third-Party Service may change or amend its guidelines and our access to it at any time, and we cannot guarantee that our Services will always include a connection to such Third Party Service.</p>
            <p class="m-box__Text m-box__Text_font18">We may hire other companies to perform certain business related functions such as processing payments on our behalf. Our payment processing partner may request that you provide certain personal data (e.g., a valid government issued ID, your legal name, address, and data of birth) for the purpose of making payment through its financial institutions and complying with any federal and state laws and regulations. They may also communicate directly with you regarding any issues with a payment. Any information provided to our third party will be confidential and only be used for intended purposes.</p>
        </div>
    </div>
    <div class="module__up">
        <h2 class="module__title">
            Viruses
        </h2>
        <div class="module__box m-box">
            <p class="m-box__Text m-box__Text_font18">The downloading and viewing of Content is done at your own risk. Kigl cannot and does not guarantee or warrant that the Platform or the Content are compatible with your computer system or that the Platform or the Content, or any links from the Platform or the Content, shall be free of viruses, worms, trojan horses or disabling devices or other code that manifests contaminating or destructive properties. You are responsible for implementing safeguards to protect the security and integrity of your computer system, and you are responsible for the entire cost of any service, repairs or connections of and to your computer system that may be necessary as a result of your use of the Platform.</p>
        </div>
    </div>
    <div class="module__up">
        <h2 class="module__title">
            Communications Not Confidential
        </h2>
        <div class="module__box m-box">
            <p class="m-box__Text m-box__Text_font18">Kigl does not guarantee the confidentiality of any communications made by you through the Platform. Although Kigl generally adheres to the accepted industry practices in securing the transmission of data to, from and through the Platform, you understand, agree and acknowledge that Kigl cannot and does not guarantee the security of data transmitted over the Internet or public networks in connection with your use of the Platform or any Campaigns.</p>
        </div>
    </div>
    <div class="module__up">
        <h2 class="module__title">
            DISCLAIMER AND LIMITATION OF LIABILITY
        </h2>
        <div class="module__box m-box">
            <p class="m-box__Text m-box__Text_font18">THE PLATFORM AND THE CONTENT ARE PROVIDED "AS IS" WITHOUT WARRANTY OR CONDITION OF ANY KIND. USE OF THE PLATFORM OR THE CONTENT IS AT YOUR OWN RISK. KIGL DOES NOT MAKE ANY REPRESENTATIONS, WARRANTIES OR CONDITIONS ABOUT THE QUALITY, ACCURACY, RELIABILITY, COMPLETENESS, CURRENCY, OR TIMELINESS OF THE PLATFORM OR THE CONTENT. THE PLATFORM AND THE CONTENT MAY INCLUDE ERRORS, OMISSIONS AND INACCURACIES, INCLUDING, WITHOUT LIMITATION, PRICING ERRORS. KIGL DOES NOT ASSUME ANY RESPONSIBILITY FOR ANY ERRORS, OMISSIONS OR INACCURACIES IN THE PLATFORM OR THE CONTENT. IN ADDITION, KIGL EXPRESSLY RESERVES THE RIGHT TO CORRECT ANY PRICING ERRORS ON THE PLATFORM.</p>
            <p class="m-box__Text m-box__Text_font18">BUSINESS AND CAMPAIGN REVIEWS DISPLAYED ON THE SITE ARE INTENDED AS ONLY GENERAL GUIDELINES, AND KIGL DOES NOT GUARANTEE THE ACCURACY OF THE REVIEWS. KIGL MAKES NO GUARANTEES ABOUT THE AVAILABILITY OF SPECIFIC BUSINESSES, CAMPAIGNS OR TYPES OF CAMPAIGNS.</p>
            <p class="m-box__Text m-box__Text_font18">TO THE FULLEST EXTENT PERMITTED BY LAW, KIGL DISCLAIMS ALL WARRANTIES, REPRESENTATIONS AND CONDITIONS OF ANY KIND WITH RESPECT TO THE PLATFORM AND THE CONTENT WHETHER EXPRESS, IMPLIED, STATUTORY OR COLLATERAL, INCLUDING, WITHOUT LIMITATION, THE IMPLIED WARRANTIES AND CONDITIONS OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT OR THAT THE PLATFORM OR THE CONTENT ARE OR WILL BE ERROR-FREE OR WILL OPERATE WITHOUT INTERRUPTION. IN NO EVENT WILL KIGL BE LIABLE, WHETHER BASED ON WARRANTY, CONTRACT, TORT, NEGLIGENCE, STRICT LIABILITY OR ANY OTHER LEGAL THEORY, FOR ANY DAMAGES OF ANY KIND (INCLUDING, WITHOUT LIMITATION, DIRECT, INDIRECT, INCIDENTAL, CONSEQUENTIAL, SPECIAL, EXEMPLARY OR PUNITIVE DAMAGES, LOST PROFITS, LOSS OF USE, LOSS OF DATA, PERSONAL INJURY, FINES, FEES, PENALTIES OR OTHER LIABILITIES), WHETHER OR NOT KIGL IS ADVISED OF THE POSSIBILITY OF SUCH DAMAGES, RESULTING FROM OR RELATED TO THE USE OF, OR THE INABILITY TO MAKE USE OF, THE PLATFORM OR THE CONTENT OR ANY CAMPAIGN AGREEMENT.</p>
            <p class="m-box__Text m-box__Text_font18">BUSINESSES ENGAGING YOUR SERVICES THROUGH THE PLATFORM ARE INDEPENDENT ORGANIZATIONS AND NOT CONTRACTORS, AGENTS OR EMPLOYEES OF KIGL. KIGL IS NOT LIABLE FOR THE ACTS, ERRORS, OMISSIONS, REPRESENTATIONS, WARRANTIES, BREACHES OR NEGLIGENCE OF ANY BUSINESSES OR FOR ANY PERSONAL INJURIES, DEATH, PROPERTY DAMAGE, OR OTHER DAMAGES OR EXPENSES RESULTING THEREFROM AND TAKES NO RESPONSIBILITY WHATSOEVER RELATED TO ANY CAMPAIGNS OR CAMPAIGN AGREEMENTS.</p>
            <p class="m-box__Text m-box__Text_font18">SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR LIMITATION OF LIABILITY FOR CONSEQUENTIAL OR INCIDENTAL DAMAGES, SO THE ABOVE LIMITATION MAY NOT APPLY TO YOU. TO THE EXTENT THAT THE FOREGOING LIMITATION DOES NOT APPLY, IN NO EVENT WILL THE TOTAL AGGREGATE LIABILITY OF KIGL IN CONNECTION WITH OR UNDER THESE TERMS OF USE, INCLUDING FROM A CAMPAIGN AGREEMENT, OR YOUR USE OF, OR INABILITY TO MAKE USE OF, THE PLATFORM OR THE CONTENT, OR FOR ANY OTHER CLAIM RELATED IN ANY WAY TO A CAMPAIGN AGREEMENT, OR YOUR USE OF, OR INABILITY TO MAKE USE OF, THE PLATFORM OR THE CONTENT EXCEED ONE HUNDRED DOLLARS ($100) OR THE EQUIVALENT IN LOCAL CURRENCY. FOR GREATER CERTAINTY, THE EXISTENCE OF ONE OR MORE CLAIMS UNDER THESE TERMS OF USE WILL NOT INCREASE THE MAXIMUM LIABILITY AMOUNT.</p>
            <p class="m-box__Text m-box__Text_font18">The limitations above reflect the allocation of risk between the parties. The limitations specified in this section will survive and apply even if any limited remedy specified in these terms is found to have failed of its essential purpose.</p>
        </div>
    </div>
    <div class="module__up">
        <h2 class="module__title">
            Limitations Period
        </h2>
        <div class="module__box m-box">
            <p class="m-box__Text m-box__Text_font18">YOU AND KIGL AGREE THAT ANY CAUSE OF ACTION ARISING OUT OF OR RELATED TO THESE TERMS, THE KIGL WEBSITE, THE SERVICES OR THE CAMPAIGNS MUST COMMENCE WITHIN ONE (1) YEAR AFTER THE CAUSE OF ACTION ACCRUES. OTHERWISE, SUCH CAUSE OF ACTION IS PERMANENTLY BARRED.</p>
        </div>
    </div>
    <div class="module__up">
        <h2 class="module__title">
            Indemnification
        </h2>
        <div class="module__box m-box">
            <p class="m-box__Text m-box__Text_font18">You shall defend, indemnify and hold harmless Kigl and all of its officers, directors, employees and agents from and against any claims, causes of action, demands, recoveries, losses, damages, fines, penalties or other costs or expenses of any kind or nature including but not limited to reasonable legal and accounting fees, brought in connection with or as a result of: (a) your breach of any of your warranties, representations or obligations under these Terms of Use or any documents referenced herein; (b) your violation of any law or the rights of a third party (including, without limitation, intellectual property rights); (c) your use of the Platform; (d) breach of or failure to perform under any Campaign Agreement by you or by any third party acting on your behalf or with your permission; or (d) the use of any media content created by you, Campaign Initiators or third parties in connection with a Campaign by you, Campaign Initiators or by any third party acting on your behalf or with your permission.</p>
        </div>
    </div>
    <div class="module__up">
        <h2 class="module__title">
            Geographic Application of the Platform
        </h2>
        <div class="module__box m-box">
            <p class="m-box__Text m-box__Text_font18">Not all of the Publishers, Campaigns and services described on the Platform are available in all jurisdictions worldwide. Furthermore, nothing on the Platform constitutes an offer or solicitation to buy or sell any product or service to anyone in any jurisdiction in which such an offer or solicitation is prohibited by law.</p>
        </div>
    </div>
    <div class="module__up">
        <h2 class="module__title">
            Governing Law
        </h2>
        <div class="module__box m-box">
            <p class="m-box__Text m-box__Text_font18">These Terms of Use and any action related thereto shall be governed by the laws of are governed by English law. You and we both agree that the courts of England and Wales will have non-exclusive jurisdiction.</p>
            <p class="m-box__Text m-box__Text_font18">These laws apply to your access to or use of the Platform or the Content, notwithstanding your domicile, residency or physical location. The Platform and the Content are intended for use only in jurisdictions where they may lawfully be offered for use.</p>
        </div>
    </div>
    <div class="module__up">
        <h2 class="module__title">
            Entire Agreement, Waiver and Severability
        </h2>
        <div class="module__box m-box">
            <p class="m-box__Text m-box__Text_font18">These Terms of Use constitute the entire agreement between Kigl and you pertaining to the subject matter hereof and supersede all prior or contemporaneous communications and proposals, whether electronic, oral or written, between you and Kigl with respect to the Platform. A printed version of these Terms of Use and of any notice given in electronic form shall be admissible in judicial or administrative proceedings based upon or relating to these Terms of Use to the same extent and subject to the same conditions as other business documents and records originally generated and maintained in printed form.</p>
            <p class="m-box__Text m-box__Text_font18">Kigl's failure to insist upon or enforce strict performance of any provision of these Terms of Use shall not be construed as a waiver of any provisions or right. The waiver of any such right or provision will be effective only if in writing and signed by a duly authorized representative of Kigl. Except as expressly set forth in these Terms, the exercise by either party of any of its remedies under these Terms will be without prejudice to its other remedies under these Terms or otherwise.</p>
            <p class="m-box__Text m-box__Text_font18">If for any reason a court of competent jurisdiction finds any provision of these Terms of Use invalid or unenforceable, that provision will be enforced to the maximum extent permissible and the other provisions of these Terms will remain in full force and effect.</p>
            <p class="m-box__Text m-box__Text_font18">If any of the provisions contained in these Terms of Use conflict with the terms of another agreement between the parties (such as the terms of a Campaign Agreement in respect of a Campaign), then these Terms of Use shall prevail; provided that, if you are also a Campaign Initiator registered on the Platform, the terms of use applicable to Campaign Initiators will govern your relationship with Kigl in that respect.</p>
        </div>
    </div>    
</div>