/*!
 * 
 *             SimpleBar.js - v2.4.4
 *             Scrollbars, simpler.
 *             https://grsmto.github.io/simplebar/
 *             
 *             Made by Adrien Grsmto from a fork by Jonathan Nicol
 *             Under MIT License
 *         
 */

[data-simplebar] {
	position: relative;
	z-index: 0;
	overflow: hidden;
	-webkit-overflow-scrolling: touch
}

[data-simplebar=init] {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex
}

.simplebar-scroll-content {
	overflow-x: hidden;
	overflow-y: scroll;
	min-width: 100%;
	-webkit-box-sizing: content-box;
	box-sizing: content-box
}

.simplebar-content {
	overflow-x: scroll;
	overflow-y: hidden;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	min-height: 100%
}

.simplebar-track {
	z-index: 1;
	position: absolute;
	right: 0;
	bottom: 0;
	width: 11px
}

.simplebar-scrollbar {
	position: absolute;
	right: 2px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	min-height: 10px;
	width: 7px;
	opacity: 1;
	-webkit-transition: opacity .2s linear;
	-o-transition: opacity .2s linear;
	transition: opacity .2s linear;
	background: #808080;
	-webkit-background-clip: padding-box;
	background-clip: padding-box
}

.simplebar-track:hover .simplebar-scrollbar {
	opacity: .5;
	-webkit-transition: opacity 0 linear;
	-o-transition: opacity 0 linear;
	transition: opacity 0 linear
}

.simplebar-track .simplebar-scrollbar.visible {
	opacity: .5
}

.simplebar-track.horizontal {
	left: 0;
	width: auto;
	height: 11px
}

.simplebar-track.vertical {
	top: 0
}

.horizontal.simplebar-track .simplebar-scrollbar {
	right: auto;
	top: 2px;
	height: 7px;
	min-height: 0;
	min-width: 10px;
	width: auto
}