﻿@using Global = Resources.Global;
@using System.Configuration;

@model Kigl.Models.InvoiceModelSubmit

@{
    ViewBag.Title = "Card Topup";
}

@section Styles{
    <link href="~/static/css/stripe/kigl-stripe.css" rel="stylesheet" />

    <style type="text/css">
        
    </style>
}

<!-- begin users -->
<div class="payment">
    <div class="advertisers__header">
        <span class="payment_title">@Global.Advertiser_CardTopup_Title</span>
    </div>

    @using (Html.BeginForm("CardTopupSubmit", "Advertiser", FormMethod.Post, new { @class = "rates__form payment_details_form", id = "payment-form" }))
    {
        @Html.HiddenFor(model => model.Amount)
        @Html.HiddenFor(model => model.CardToken)
        <div class="rates__item2">
            <label>
                @Global.Advertiser_CardTopup_CardholderName
                <div class="noncard_elements">
                    <input id="card_holder_name" type="text" name="" class="input empty">
                </div>
            </label>
        </div>

        <div class="rates__item2">
            <label>
                @Global.Advertiser_CardTopup_CardNumber
                <div class="card_elements">
                    <div id="card-number"  class="input empty"></div>
                </div>
                @*<div class="" id="brand-icon"></div>*@
                @*<input id="card-number" type="text" name="" class="card_number">*@
            </label>
        </div>

        <div class="rates__item2 two_inputs">
            <label>
                @Global.Advertiser_CardTopup_ExparationDate
                <div class="card_elements">
                    <div id="card-expiry"  class="input empty"></div>
                </div>
                @*<input type="text" name="" class="card_expiry">*@
            </label>

            <label>
                @Global.Advertiser_CardTopup_CVC
                <div class="card_elements">
                    <div id="card-cvc"  class="input empty"></div>
                </div>
                @*<input type="text" name="" class="card_cvv">*@
            </label>
        </div>

        <div class="payment_details_footer">
            <span class="checkbox_item_wrap">
                <label class="stripe_elemenet-valid"><input id="terms" type="checkbox"><span></span></label>
                <span>@Global.Advertiser_CardTopup_Agree1 <a href="http://kigl.eu:8000/Info/CampaignInitiatorsTermsOfUse">@Global.Advertiser_CardTopup_Agree2</a></span>
            </span>
            <input id="payBtn" type="submit" value="Pay" class="">
            <p>@Global.Advertiser_CardTopup_Secure</p>
        </div>

        @*<div class="error" role="alert">
            <svg xmlns = "http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17">
                <path class="base" fill="#000" d="M8.5,17 C3.80557963,17 0,13.1944204 0,8.5 C0,3.80557963 3.80557963,0 8.5,0 C13.1944204,0 17,3.80557963 17,8.5 C17,13.1944204 13.1944204,17 8.5,17 Z"></path>
                <path class="glyph" fill="#FFF" d="M8.5,7.29791847 L6.12604076,4.92395924 C5.79409512,4.59201359 5.25590488,4.59201359 4.92395924,4.92395924 C4.59201359,5.25590488 4.59201359,5.79409512 4.92395924,6.12604076 L7.29791847,8.5 L4.92395924,10.8739592 C4.59201359,11.2059049 4.59201359,11.7440951 4.92395924,12.0760408 C5.25590488,12.4079864 5.79409512,12.4079864 6.12604076,12.0760408 L8.5,9.70208153 L10.8739592,12.0760408 C11.2059049,12.4079864 11.7440951,12.4079864 12.0760408,12.0760408 C12.4079864,11.7440951 12.4079864,11.2059049 12.0760408,10.8739592 L9.70208153,8.5 L12.0760408,6.12604076 C12.4079864,5.79409512 12.4079864,5.25590488 12.0760408,4.92395924 C11.7440951,4.59201359 11.2059049,4.59201359 10.8739592,4.92395924 L8.5,7.29791847 L8.5,7.29791847 Z"></path>
            </svg>
            <span class="message"></span>
        </div>*@
    }

</div>
<!-- end users -->

@section Scripts{
    <script src="https://js.stripe.com/v3/"></script>
    <script src="~/static/js/stripe/kigl-stripe.js"></script>

    <script type="text/javascript">
        // Create a Stripe client
        var stripe = Stripe('@ConfigurationManager.AppSettings["StripePublishableKey"]');

        kiglStripeInit(stripe);

        var elements = stripe.elements({
            fonts: [
              {
                  cssSrc: 'https://fonts.googleapis.com/css?family=Source+Code+Pro',
              },
            ],
            // Stripe's examples are localized to specific languages, but if
            // you wish to have Elements automatically detect your user's locale,
            // use `locale: 'auto'` instead.
            locale: window.__exampleLocale
        });

        // Floating labels
        var inputs = document.querySelectorAll('.payment_details_form .input');
        Array.prototype.forEach.call(inputs, function (input) {
            input.addEventListener('focus', function () {
                input.classList.add('focused');
            });
            input.addEventListener('blur', function () {
                input.classList.remove('focused');
            });
            input.addEventListener('keyup', function () {
                if (input.value.length === 0) {
                    input.classList.add('empty');
                } else {
                    input.classList.remove('empty');
                }
            });
        });

        var elementStyles = {
            base: {
                
            },
            invalid: {
                
            },
        };

        var elementClasses = {
            focus: 'focused',
            empty: 'empty',
            invalid: 'invalid',
        };

        var cardBrandToPfClass = {
            'visa': 'card-visa',
            'mastercard': 'card-mastercard',
            'amex': 'card-american-express',
            'discover': 'card-discover',
            'diners': 'card-diners',
            'jcb': 'card-jcb',
            'unknown': 'card-credit-card',
        }

        var cardNumber = elements.create('cardNumber', {
            style: elementStyles,
            classes: elementClasses,
        });
        cardNumber.mount('#card-number');
        //cardNumber.on('change', function (event) {
        //    if (event.brand) {
        //        var brand = event.brand;
        //        var brandIconElement = document.getElementById('brand-icon');
        //        var pfClass = '';
        //        if (brand in cardBrandToPfClass) {
        //            pfClass = cardBrandToPfClass[brand];
        //        }
        //        for (var i = brandIconElement.classList.length - 1; i >= 0; i--) {
        //            brandIconElement.classList.remove(brandIconElement.classList[i]);
        //        }
        //        brandIconElement.classList.add(pfClass);
        //    }
        //});

        var cardExpiry = elements.create('cardExpiry', {
            style: elementStyles,
            classes: elementClasses,
        });
        cardExpiry.mount('#card-expiry');

        var cardCvc = elements.create('cardCvc', {
            style: elementStyles,
            classes: elementClasses,
        });
        cardCvc.mount('#card-cvc');

        registerElements([cardNumber, cardExpiry, cardCvc]);


    </script>
}
