﻿@using Global = Resources.Global;
@{
    ViewBag.Title = "Topup";
}

<!-- begin users -->
<div id="processing" class="payment_details">
    <div class="advertisers__header">
        <span class="payment_status_img"><img src="../static/image/payment_spin.svg" alt=""></span><br>
        <span class="payment_title">@Global.Advertiser_Processing_PrcessingTitle</span>
        <span class="payment_subtitle">@Global.Advertiser_Processing_PrcessingNote</span>
    </div>

</div>
<!-- end users -->

<!-- begin users -->
<div id="success" class="payment_details" style="display:none;">
    <div class="advertisers__header">
        <span class="payment_status_img"><img src="../static/image/payment_ok.svg" alt=""></span><br>
        <span class="payment_title">@Global.Advertiser_Processing_SuccessTitle</span>
        <span class="payment_subtitle">@Global.Advertiser_Processing_SuccessNote</span>
    </div>

    <a href="@Url.Action("AdvertiserIndex","Home")" class="payment_status_link">@Global.Advertiser_Processing_Cabinet</a>


</div>

<!-- begin users -->
<div id="fail" class="payment_details" style="display:none;">
    <div class="advertisers__header">
        <span class="payment_status_img"><img src="../static/image/payment_error.svg" alt=""></span><br>
        <span class="payment_title">@Global.Advertiser_Processing_FailTitle</span>
        <span class="payment_subtitle">@Global.Advertiser_Processing_FailNote</span>
    </div>

    <a href="@Url.Action("Topup","Advertiser")" class="payment_status_link">@Global.Advertiser_Processing_TryAgain</a>


</div>
<!-- end users -->

<!-- begin users -->
<div id="timeout" class="payment_details" style="display:none;">
    <div class="advertisers__header">
        <span class="payment_status_img"><img src="../static/image/payment_clock.svg" alt=""></span><br>
        <span class="payment_title">@Global.Advertiser_Processing_TimeoutTitle</span>
        <span class="payment_subtitle">@Global.Advertiser_Processing_TimeoutNote</span>
    </div>

    <a href="@Url.Action("AdvertiserIndex","Home")" class="payment_status_link">@Global.Advertiser_Processing_Cabinet</a>


</div>
<!-- end users -->


@section Scripts{
    <script type="text/javascript">
        $(function() {
            var cnt = 0;

            var timesRun = 0;
            var interval = setInterval(function () {
                timesRun += 1;
                if (timesRun === 20) {
                    clearInterval(interval);

                    $('#processing').hide();
                    $('#timeout').show();
                }
                $.post('@Url.Action("Check", "Stripe", new { paymentId = ViewBag.PaymentId })', {
                }, function (data) {
                    if (data.data == "3") {
                        clearInterval(interval);

                        $('#processing').hide();
                        $('#success').show();
                    } else if (data.data == "2") {
                        clearInterval(interval);

                        $('#processing').hide();
                        $('#fail').show();
                    }

                });
            }, 1000);
        });
    </script>
}