﻿@using Global = Resources.Global;
@{
    ViewBag.Title = "Topup";
}

<!-- begin users -->
<div class="payment">
    <div class="advertisers__header">
        <span class="payment_title">@Global.Advertiser_ChoosePayment_Title</span>
        <span class="payment_subtitle">@Global.Advertiser_ChoosePayment_Constraint</span>
    </div>

    @using (Html.BeginForm("PaymentMethod", "Advertiser", FormMethod.Post, new { @class = "payment_form", id = "frmTopup" }))
    {
        <div class="rates__item">
            <input type="text" name="Amount" class="" placeholder="$">
        </div>
        <p class="text">@Global.Advertiser_ChoosePayment_ChooseMethod</p>
        <input type="submit" value="@Global.Admin_DownloadInvoice" name="submit" class="payment_method bank" />
        <span class="or">@Global.Advertiser_ChoosePayment_Or</span>
        <input type="submit" value="@Global.Admin_PayByCard" name="submit" class="payment_method card" />
    }

</div>
<!-- end users -->


@section Scripts{
    <script type="text/javascript">
        $(function() {
            $('#frmTopup')
                .validate({
                    rules: {
                        Amount: {
                            required: true,
                            number: true,
                            min: 200
                        }
                    },
                    messages: {
                        Amount: '',
                    }
                });
        });
    </script>
}