﻿@model Kigl.Models.EditAdModel
@using Global = Resources.Global;
<label>@Global.Admin_Categories</label>
<select class="chosen-select" id="categories" name="CategoryIds" placeholder="Select category"
        multiple data-placeholder="@Global.Admin_PleaseSelectHere" >
    @foreach (var category in Model.Categories)
    {
        if (Model.CategoryIds != null && Model.CategoryIds.Contains(category.Id))
        {
            <option selected="selected" value="@category.Id">@category.Name</option>
        }
        else
        {
            <option value="@category.Id">@category.Name</option>
        }
    }
</select>