﻿@using Global = Resources.Global;
<div class="rates__item">
    <label>@Global.Admin_Countries</label>
    <div class="rates__select">
        <select class="select-multiple" id="countries" multiple="multiple">
            @foreach (var country in Model.Countries)
            {
                <option value="@country.Id">@country.Name</option>
            }
        </select>
    </div>
</div>
<div class="rates__item" style="display: none">
    <label>@Global.Admin_Cities</label>
    <div class="rates__select">
        <select class="select-multiple" id="cities" multiple="multiple">
        </select>
    </div>
</div>
<div class="rates__item" style="display: none">
    <label>@Global.Admin_Networks</label>
    <div class="rates__select">
        <select class="select-multiple" id="networks" name="NetworkIds" multiple="multiple">
        </select>
    </div>
</div>