﻿@using ControlPanel.Common.Enums
@using Global = Resources.Global;
@model Kigl.Models.ListAdModel
@{
    ViewBag.Title = "Content";
}

<div class="rates">
    <div class="advertisers__header banner__header">
        <span>@Global.Admin_BannersAndVideos</span>
        <div class="banner__buttons">
            <a class="profileInfo__btn contentInfo__btn" href="@Url.Action("EditBanner", "Ads")">@Global.Admin_Add @Global.Admin_Banner</a>
            <a class="profileInfo__btn contentInfo__btn" href="@Url.Action("EditVideo", "Ads")" >@Global.Admin_Add @Global.Admin_Video</a>
        </div>
    </div>
    <!-- begin banVideo -->
    <div class="banVideo">
        <div class="banVideo__left">
            <div class="banVideo__table">
                <div class="banVideo__row">
                    <div class="banVideo__head">@Global.Admin_Banners</div>
                </div>
                @foreach (var ad in Model.Banners)
                {
                    <div class="banVideo__row">
                        <div class="banVideo__box banVideo__box1">
                            <div class="banVideo__img">
                                <img src="@Url.Action("GetFileByName", "Files", new {fileName = ad.FileName, adType = AdType.Banner})" alt="">
                            </div>
                        </div>
                        <div class="banVideo__box banVideo__box2">@ad.Name</div>
                        <div class="banVideo__box banVideo__box3">
                            <a href="@Url.Action("EditBanner", "Ads", new {id = ad.Id})" class="video__edit link__edit">
                                <svg xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" fill="#000000" version="1.1" x="0px" y="0px" viewBox="0 0 100 100"><g transform="translate(0,-952.36218)"><path d="m 79.652601,958.34659 a 3.0003,3.0003 0 0 0 -0.3124,0.0312 3.0003,3.0003 0 0 0 -1.7813,0.875 l -45.25,45.25001 a 3.0003,3.0003 0 0 0 -0.875,1.7812 l -1.4063,12.7188 a 3.0003,3.0003 0 0 0 3.3126,3.3125 l 12.7187,-1.4063 a 3.0003,3.0003 0 0 0 1.8125,-0.8437 l 45.25,-45.25001 a 3.0003,3.0003 0 0 0 0,-4.25 l -11.3125,-11.3125 a 3.0003,3.0003 0 0 0 -2.1563,-0.90625 z m 0.031,7.25 7.0625,7.09375 -1.4062,1.40625 -7.0626,-7.0625 1.4063,-1.4375 z m -70.9999998,2.78125 a 3.0003,3.0003 0 0 0 -2.6872,3 l 0,71.99996 a 3.0003,3.0003 0 0 0 3,3 l 71.9999998,0 a 3.0003,3.0003 0 0 0 3,-3 l 0,-48.99996 a 3.0003,3.0003 0 1 0 -6,0 l 0,45.99996 -66,0 0,-65.99996 46,0 a 3.0003,3.0003 0 1 0 0,-6 l -48.9999998,0 a 3.0003,3.0003 0 0 0 -0.3125,0 z m 65.3436998,2.875 7.0626,7.09375 -34.6563,34.65621 -7.0625,-7.0937 34.6562,-34.65626 z m -37.1874,40.59376 3.6562,3.6562 -4.0938,0.4688 0.4376,-4.125 z" fill-opacity="1" stroke="none" marker="none" visibility="visible" display="inline" overflow="visible"></path></g></svg>
                            </a>

                            <a href="#" class="video__cancel link__cancel">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000" version="1.1" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve"><path d="M19.347,93.306c-0.322,0-0.645-0.078-0.939-0.234c-0.652-0.347-1.061-1.026-1.061-1.766V8.694  c0-0.739,0.408-1.418,1.061-1.766c0.653-0.346,1.444-0.306,2.057,0.107l61.307,41.306c0.552,0.372,0.883,0.994,0.883,1.659  s-0.331,1.287-0.883,1.659L20.464,92.964C20.128,93.191,19.738,93.306,19.347,93.306z M21.347,12.454v75.093L77.074,50  L21.347,12.454z"/></svg>
                            </a>
                            <a href="#" class="video__close link__close">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 25 25" x="0px" y="0px"><path d="M17.449 6.843l-4.949 4.95-4.95-4.95-0.707 0.707 4.95 4.95-4.95 4.949 0.707 0.708 4.95-4.95 4.949 4.95 0.707-0.708-4.949-4.949 4.949-4.95z"></path><path d="M12.5 0c-6.904 0-12.5 5.596-12.5 12.5 0 6.903 5.596 12.5 12.5 12.5s12.5-5.597 12.5-12.5c0-6.904-5.596-12.5-12.5-12.5zM12.5 24c-6.328 0-11.5-5.172-11.5-11.5 0-6.329 5.172-11.5 11.5-11.5s11.5 5.171 11.5 11.5c0 6.328-5.172 11.5-11.5 11.5z"></path></svg>
                            </a>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="banVideo__right">
            <div class="banVideo__table">
                <div class="banVideo__row">
                    <div class="banVideo__head">@Global.Admin_VideoBanners</div>
                </div>
               @foreach (var ad in Model.Videos)
               {
                <div class="banVideo__row">
                    <div class="banVideo__box banVideo__box1">
                        <div class="banVideo__img">
                        </div>
                    </div>
                    <div class="banVideo__box banVideo__box2">@ad.Name</div>
                    <div class="banVideo__box banVideo__box3">
                        <a href="@Url.Action("EditVideo", "Ads", new {id = ad.Id})" class="video__edit link__edit">
                            <svg xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" fill="#000000" version="1.1" x="0px" y="0px" viewBox="0 0 100 100"><g transform="translate(0,-952.36218)"><path d="m 79.652601,958.34659 a 3.0003,3.0003 0 0 0 -0.3124,0.0312 3.0003,3.0003 0 0 0 -1.7813,0.875 l -45.25,45.25001 a 3.0003,3.0003 0 0 0 -0.875,1.7812 l -1.4063,12.7188 a 3.0003,3.0003 0 0 0 3.3126,3.3125 l 12.7187,-1.4063 a 3.0003,3.0003 0 0 0 1.8125,-0.8437 l 45.25,-45.25001 a 3.0003,3.0003 0 0 0 0,-4.25 l -11.3125,-11.3125 a 3.0003,3.0003 0 0 0 -2.1563,-0.90625 z m 0.031,7.25 7.0625,7.09375 -1.4062,1.40625 -7.0626,-7.0625 1.4063,-1.4375 z m -70.9999998,2.78125 a 3.0003,3.0003 0 0 0 -2.6872,3 l 0,71.99996 a 3.0003,3.0003 0 0 0 3,3 l 71.9999998,0 a 3.0003,3.0003 0 0 0 3,-3 l 0,-48.99996 a 3.0003,3.0003 0 1 0 -6,0 l 0,45.99996 -66,0 0,-65.99996 46,0 a 3.0003,3.0003 0 1 0 0,-6 l -48.9999998,0 a 3.0003,3.0003 0 0 0 -0.3125,0 z m 65.3436998,2.875 7.0626,7.09375 -34.6563,34.65621 -7.0625,-7.0937 34.6562,-34.65626 z m -37.1874,40.59376 3.6562,3.6562 -4.0938,0.4688 0.4376,-4.125 z" fill-opacity="1" stroke="none" marker="none" visibility="visible" display="inline" overflow="visible"></path></g></svg>
                        </a>

                        <a href="#" class="video__cancel link__cancel">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000" version="1.1" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve"><path d="M19.347,93.306c-0.322,0-0.645-0.078-0.939-0.234c-0.652-0.347-1.061-1.026-1.061-1.766V8.694  c0-0.739,0.408-1.418,1.061-1.766c0.653-0.346,1.444-0.306,2.057,0.107l61.307,41.306c0.552,0.372,0.883,0.994,0.883,1.659  s-0.331,1.287-0.883,1.659L20.464,92.964C20.128,93.191,19.738,93.306,19.347,93.306z M21.347,12.454v75.093L77.074,50  L21.347,12.454z"/></svg>
                            </a>
                            <a href="#" class="video__close link__close">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 25 25" x="0px" y="0px"><path d="M17.449 6.843l-4.949 4.95-4.95-4.95-0.707 0.707 4.95 4.95-4.95 4.949 0.707 0.708 4.95-4.95 4.949 4.95 0.707-0.708-4.949-4.949 4.949-4.95z"></path><path d="M12.5 0c-6.904 0-12.5 5.596-12.5 12.5 0 6.903 5.596 12.5 12.5 12.5s12.5-5.597 12.5-12.5c0-6.904-5.596-12.5-12.5-12.5zM12.5 24c-6.328 0-11.5-5.172-11.5-11.5 0-6.329 5.172-11.5 11.5-11.5s11.5 5.171 11.5 11.5c0 6.328-5.172 11.5-11.5 11.5z"></path></svg>
                            </a>
                    </div>
                </div>
               }
            </div>
        </div>
    </div>
    <!-- end banVideo -->
</div>
<!-- end rates -->