﻿@using ControlPanel.Common.Enums
@using Kigl.Controllers
@using Global = Resources.Global;
@model Kigl.Models.EditAdModel

@{
    ViewBag.Title = "Edit video";
}

@section Styles{
    <link href="~/Content/jQuery.FileUpload/css/jquery.fileupload.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/static/select2/dist/css/select2.min.css">
    <link rel="stylesheet" href="~/static/chosen/chosen.css">
    <link rel="stylesheet" href="~/static/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="~/static/css/add-banner.css">
}

@{
    var file = Model.Files.FirstOrDefault(item => item.FileAdType == FileAdType.Video);
    var isAdd = Model.Id == Guid.Empty;
    var operation = isAdd ? Global.Admin_Add : Global.Admin_Edit;
    var lang = ((BaseController)ViewContext.Controller).CurrentLanguage;
}

<!-- begin add-banner -->
<div class="add-banner">

    <div class="add-banner__page-title" style="text-align: center">
        @operation<br> @Global.Admin_Video
    </div>

    <hr>

    <div class="add-banner__form">
        @using (Html.BeginForm("EditVideo", "Ads", FormMethod.Post, new { id = "frmEditVideo", @class = "bannerBox" }))
        {
            @Html.HiddenFor(item => item.Id)
            @Html.HiddenFor(item => item.NetworkId)
            <div class="form__left-part">
                @if (Model.Id == Guid.Empty)
                {
                    <label>@Global.Admin_Type</label>
                    <select data-placeholder="Choose a type"
                            class="chosen-select"
                            id="adType" name="AdType">
                        <option value="@AdType.Video">WiFi @Global.Admin_Networks</option>
                        <option>@AdType.InstagramVideo</option>
                    </select>
                }
                else
                {
                    @Html.HiddenFor(m => m.AdType)
                }
                <label>@Global.Admin_Name</label>
                @Html.TextBoxFor(m => m.Name)
                @Html.Partial("_SelectInstagramCategory")
                <label>@Global.Admin_SetStartDate</label>
                <div class='input-group date' id='startdatepicker'>
                    <input type='text' class="form-control" id="StartDate" name="StartDate" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                <label>@Global.Admin_SetEndDate</label>
                <div class='input-group date' id='enddatepicker'>
                    <input type='text' class="form-control" id="EndDate" name="EndDate" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                <label>@Global.Admin_SetCampaignBudget</label>
                <input type="text" placeholder="" id="Budget" name="Budget" value="@(!isAdd && Model.Budget.HasValue ? ((Int32)Model.Budget.Value).ToString() : "")">
                <div class="instagram-item">
                    <label>@Global.Admin_AdvertisingText @Global.Admin_SymbolsMax</label>
                    <textarea rows="3" id="Caption" name="Caption" maxlength="2000">@(isAdd ? "" : Model.Caption)</textarea>
                    <span id="CaptionSymbolsCounter"></span>
                </div>
                @*<div class="content-item">
                        <label>@Global.Admin_Url</label>
                        <input type="text" placeholder="" id="Url" name="Url">
                        @Html.Partial("_SelectNetwork")
                    </div>*@
                <div>
                    <input type="hidden" name="Files[0].FileName" class="FileName" value="@(file != null ? file.FileName : "")" />
                    <input type="hidden" name="Files[0].UploadedFileName" class="UploadedFileName" value="@(file != null ? file.UploadedFileName : "")" />
                </div>
            </div>
            <div class="form__right-part" style="min-height: 500px">
                <div class="load-button upload-form" style="@(file != null ? "display: none" : "")">
                    <label for="small-banner" class="active">@Global.Admin_Select @Global.Admin_VideoFile</label>
                    <input id="small-banner" class="file-upload" type="file" name="file" accept="video/mp4">
                    <div class="load-bar active">
                        <span class="progress-val"></span>
                        <div class="progress-bar"></div>
                    </div>
                    <div class="notes-info file-error" style="margin-bottom: 0; display: none">
                        @Global.Admin_PleaseSelectFile
                    </div>
                </div>
                <div class="preview-form" style="@(file != null ? "" : "display: none")">

                    <div class="bannerBox__controls">
                        <span>@Global.Admin_Video</span><a href="#" class="btn-show-upload">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 25 25" x="0px" y="0px"><path d="M17.449 6.843l-4.949 4.95-4.95-4.95-0.707 0.707 4.95 4.95-4.95 4.949 0.707 0.708 4.95-4.95 4.949 4.95 0.707-0.708-4.949-4.949 4.949-4.95z" /><path d="M12.5 0c-6.904 0-12.5 5.596-12.5 12.5 0 6.903 5.596 12.5 12.5 12.5s12.5-5.597 12.5-12.5c0-6.904-5.596-12.5-12.5-12.5zM12.5 24c-6.328 0-11.5-5.172-11.5-11.5 0-6.329 5.172-11.5 11.5-11.5s11.5 5.171 11.5 11.5c0 6.328-5.172 11.5-11.5 11.5z" /></svg>
                        </a>
                    </div>

                    <div class="bannerBox__image">
                        @if (file != null)
                        {
                            <video controls>
                                <source type="video/mp4" src="@Url.Action("GetVideoFileByName", "Files", new {filename = file.FileName})">
                            </video>
                        }
                    </div>
                </div>
                <hr>
                <div class="button-start">
                    <button type="button" class="btn-create-video">@(isAdd ? Global.Admin_StartCampaign : Global.Admin_Update)</button>
                </div>
                <div class="notes-info">
                    @Global.Admin_OnceCampaignStarted
                </div>
            </div>
        }
    </div>
</div>

<!-- end add-banner -->

@section Scripts{
    <script src="~/static/js/moment.js"></script>
    <script src="~/static/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/static/chosen/chosen.jquery.js" type="text/javascript"></script>
    <script src="~/static/chosen/docsupport/prism.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/static/chosen/docsupport/init.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/static/js/add-banner.js"></script>
    <script src="~/scripts/jquery-ui-1.9.0.min.js"></script>
    <script src="~/scripts/jQuery.FileUpload/jquery.iframe-transport.js"></script>
    <script src="~/scripts/jQuery.FileUpload/jquery.fileupload.js"></script>

    <script type="text/javascript">
        $(function() {
            $('.file-upload').fileupload({
                url: '@Url.Action("Upload", "Files")',
                dataType: 'json',
                formData: { adType: '@AdType.Video' },
                done: function(e, data) {
                    $('.file-error').hide();
                    var existingFile = $('.FileName').val();
                    if (existingFile) {
                        $.post('@Url.Action("RemoveFile", "Files")',
                            { fileName: existingFile, adType: '@AdType.Video' });
                    }
                    for (var name in data.result) {
                        if (data.result.hasOwnProperty(name)) {
                            $('.' + name).val(data.result[name]);
                        }
                    }
                    $('.upload-form').hide();
                    $('.preview-form').show();
                    var container = $('.preview-form').find('.bannerBox__image');
                    container.empty();
                    var source = $('<source>').attr('type', 'video/mp4').attr('src', '@Url.Action("GetVideoFileByName", "Files")' + '?fileName=' + data.result.FileName);
                    var video = $('<video>').attr('controls', '');
                    video.append(source);
                    container.append(video);
                    //video.load();
                    video.show();
                    $('.progress-bar').css(
                        'width',
                        '0%'
                    );
                    $('.form__right-part .load-bar .progress-val').text('0%');
                    $('.btn-create-video').removeAttr('disabled');
                    console.log('finished')
                }
            }).on('fileuploadadd', function (e, data) {
                console.log('started')
            }).on('fileuploadprogressall', function (e, data) {
                $('.btn-create-video').attr('disabled', 'disabled');
                var progress = parseInt(data.loaded / data.total * 100, 10);
                $('.progress-bar').css(
                    'width',
                    progress + '%'
                );
                $('.form__right-part .load-bar .progress-val').text(progress + '%');
                console.log('progress' + progress);
            });

            $('#frmEditVideo')
                .validate({
                    rules: {
                        Name: 'required',
                        Budget: {
                            digits: true,
                            required: true
                        },
                        Caption: 'required'
                    },
                    messages: {
                        Name: 'Please specify name.',
                        Caption: 'Please specify advertiser text'
                    }
                });

            $('.btn-create-video').click(function () {
                var form = $('#frmEditVideo');
                var isValid = $('.FileName').val();
                if (form.valid() && isValid) {
                    form.submit();
                }
                if (!isValid) {
                    $('.file-error').show();
                }
            });

            $('.btn-show-upload').click(function() {
                $('.upload-form').show();
                $('.preview-form').hide();
            });

            $('#startdatepicker,#enddatepicker').datetimepicker({
                widgetPositioning: {
                    horizontal: 'right',
                    vertical: 'bottom'
                },
                format: 'DD/MM/YYYY',
            });

            $('#startdatepicker').data("DateTimePicker").date(new Date("@Model.StartDate"))
            $('#enddatepicker').data("DateTimePicker").date(new Date("@Model.EndDate"))

            var maxCaptionLength = 2000;

            $('#CaptionSymbolsCounter').text(maxCaptionLength - $('#Caption').length + 1);

            $('#Caption').keyup(function (event) {
                var len = event.target.value.length;
                $('#CaptionSymbolsCounter').text(maxCaptionLength - len);
            });
        });
    </script>
    @if (isAdd)
    {
        @Html.Partial("_SelectInstagramCategoryScripts", Model, new ViewDataDictionary
        {
            {"contentType", AdType.Video},
            {"instagramType", AdType.InstagramVideo}
        })
    }
    @Html.Partial("_SelectNetworkScripts")
}