﻿@model ControlPanel.Domain.Models.PortalImage[]
@using Global = Resources.Global
@using ControlPanel.Common.Enums

@{
    ViewBag.Title = "Portal images";
}

@section Styles{
    <link rel="stylesheet" href="~/static/css/portal-image.css">
}

<!-- begin portal-images -->
<div class="portal-images">
    <!-- begin portal-images__page-title -->
    <h2 class="portal-images__page-title">
        @Global.Admin_PortalImages
    </h2>
    <!-- end portal-images__page-title -->
    <!-- begin portal-images__configure-blocks -->

    <div class="portal-images__configure-blocks">
        @foreach (var type in new[] {PortalImageType.Header, PortalImageType.Footer})
        {
            var image = Model.FirstOrDefault(item => item.PortalImageType == type);
            var typeString = type.ToString().ToLower();
            var headerName = type == PortalImageType.Header ? Global.Admin_ImagesHeader : Global.Admin_ImagesFooter;
            <div class="setup-block" data-image-type="@typeString">
                <div class="setup-block__head">
                    @string.Format(Global.Admin_ConfigureImages, headerName)
                </div>
                <hr>
                <div class="setup-block__content">
                    <div class="setup-block__url">
                        <form class="">
                            <label for="url">url</label>
                            <input type="url" id="url" class="setup-block__input @typeString-url" disabled value="@(image != null ? image.Url : "")">
                            <div class="setup-block__btn active">
                                <button type="button" class="setup-block__edit" data-btn="edit">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19"><path class="edit-button-icon" d="M9 4H2v13h12v-7l1-1v8c0 .59-.41 1-1 1H2.06c-.59 0-1.07-.47-1.07-1.06L1 4c0-.59.41-1 1-1h8zm6.59-1.94c-.5 0-.91.39-.95.43L7.47 9.65c-.15.54-.5 1.68-.78 2.62l2.54-.81.33-.32c4.27-4.2 6.58-6.5 6.87-6.8.34-.35.51-.68.5-.97 0-.29-.17-.6-.5-.91-.28-.27-.56-.4-.84-.4 0 0 .5 0 0 0zm0-1.06c.56 0 1.09.23 1.57.69.54.52.83 1.08.84 1.66.01.59-.26 1.17-.8 1.73-.53.54-6.99 6.91-7.33 7.24a.42.42 0 0 1-.18.11 417.24 417.24 0 0 0-3.93 1.23.42.42 0 0 1-.31-.13.45.45 0 0 1-.12-.45c.01-.03.97-3.16 1.16-3.86a.5.5 0 0 1 .11-.2l7.29-7.28c.17-.17.82-.74 1.7-.74z"/></svg>
                                </button>
                            </div>
                            <div class="setup-block__btns">
                                <button type="button" class="setup-block__ok" data-btn="ok">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                         width="17"
                                         height="16"
                                         viewBox="0 0 17 16">
                                        <path class="ok"
                                              d="M8 1A7.02 7.02 0 0 1 8 15 7 7 0 0 1 8 1c3.86 0 0 0 0 0zM0 8a8 8 0 1 0 16 0A8 8 0 0 0 0 8zm4.17-.83a.51.51 0 0 0 0 .7l2.96 2.95c.1.1.24.16.37.15a.5.5 0 0 0 .38-.15l4.95-4.94a.5.5 0 0 0 0-.71.5.5 0 0 0-.7 0L7.5 9.79 4.88 7.17a.5.5 0 0 0-.71 0z"/>
                                    </svg>
                                </button>
                                <button type="button" class="setup-block__cancel" data-btn="cancel">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                         width="17"
                                         height="16"
                                         viewBox="0 0 17 16">
                                        <path class="cancel"
                                              d="M8 1A7.02 7.02 0 0 1 8 15 7 7 0 0 1 8 1c3.86 0 0 0 0 0zM0 8a8 8 0 1 0 16 0A8 8 0 0 0 0 8zm5.17-2.83a.51.51 0 0 0 0 .7L7.3 8l-2.13 2.12a.51.51 0 0 0 0 .7c.2.2.52.2.71 0L8 8.7l2.13 2.12c.19.2.51.2.7 0a.5.5 0 0 0 0-.7L8.71 8l2.12-2.12a.5.5 0 0 0 0-.71.5.5 0 0 0-.7 0L8 7.29 5.88 5.17a.5.5 0 0 0-.71 0z"/>
                                    </svg>
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="setup-block__image-block">
                        <div class="setup-block__image">
                            <img src="@(image != null && !string.IsNullOrWhiteSpace(image.FileName) ? Url.Action("GetPortalImageFileByName", "Files", new {fileName = image.FileName}) : "/static/image/portal-images-image-mask.png")" class="@typeString-image" data-file-name="@(image?.FileName)" alt="">
                        </div>
                    </div>
                    <div class="setup-block__info">
                        <form>
                            <input class="file-upload-input" type="file" name="file" accept="image/jpeg,image/png,image/gif">
                            <button type="button" class="setup-block__select-image">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="28" viewBox="0 0 30 28"><path class="load-picture" d="M29 17.55V1a.5.5 0 0 0-.5-.5H.5A.5.5 0 0 0 0 1v22c0 .28.22.5.5.5h17A6.5 6.5 0 0 0 30 21c0-1.27-.37-2.45-1-3.45zM17.18 22.5H1v-21h27v14.81l-.27-.23-.13-.12c-.11-.1-.24-.18-.36-.27l-.14-.1-.37-.23-.17-.09-.11-.06a.5.5 0 0 0-.11-.58l-6-5.5a.5.5 0 0 0-.36-.13.5.5 0 0 0-.35.16l-4.9 5.37-2.37-2.38a.5.5 0 0 0-.68-.02l-8.51 7.5a.5.5 0 0 0-.05.7.5.5 0 0 0 .71.05l8.16-7.19 5.15 5.15c.1.1.23.15.37.15a6.37 6.37 0 0 0-.33 4.01zm7.21-7.93l-.24-.04a6.49 6.49 0 0 0-6.25 3.19c-.02-.03-.03-.06-.06-.08l-2.4-2.4 4.59-5.03 4.85 4.44a1.8 1.8 0 0 0-.1-.02l-.39-.06zM23.5 26.5a5.5 5.5 0 0 1-5.31-4.08l-.02-.09a4.4 4.4 0 0 1-.11-.56l-.03-.27a5.5 5.5 0 0 1 6.1-5.96c.07 0 .13.02.19.03a5.04 5.04 0 0 1 1.04.26l.2.07.43.2.13.06.49.31.19.14a8.74 8.74 0 0 1 .48.4l.28.3.14.15A5.43 5.43 0 0 1 29 21a5.5 5.5 0 0 1-5.5 5.5zm3-6H24V18a.5.5 0 0 0-.5-.5.5.5 0 0 0-.5.5v2.5h-2.5a.5.5 0 0 0-.5.5c0 .28.22.5.5.5H23V24c0 .28.22.5.5.5a.5.5 0 0 0 .5-.5v-2.5h2.5a.5.5 0 0 0 .5-.5.5.5 0 0 0-.5-.5zM8 11.57A2.78 2.78 0 1 0 8 6a2.78 2.78 0 0 0 0 5.56zM8 7a1.79 1.79 0 0 1 0 3.57A1.79 1.79 0 0 1 8 7z"/></svg>
                                @Global.Admin_SelectAd @headerName
                            </button>
                        </form>
                        @*<div class="setup-block__load-bar">
                            <div class="setup-block__progress-bar">
                                <div class="setup-block__full-bar"></div>
                            </div>
                        </div>*@
                    </div>
                </div>
            </div>
        }
    </div>
    <!-- end portal-images__configure-blocks -->

</div>
<!-- end portal-images -->
@section Scripts{
    <script src="~/scripts/jquery-ui-1.9.0.min.js"></script>
    <script src="~/scripts/jQuery.FileUpload/jquery.iframe-transport.js"></script>
    <script src="~/scripts/jQuery.FileUpload/jquery.fileupload.js"></script>
    <script src="~/static/js/portal-images.js"></script>
    <script type="text/javascript">
        $(function () {
            $('.file-upload-input')
                .fileupload({
                    url: '@Url.Action("UploadPortalImage", "Files")',
                    dataType: 'json',
                    done: function (e, data) {
                        var imageType = $(this).closest('.setup-block').data('imageType');
                        var image = $('.' + imageType + '-image');
                        var existingFile = image.data('fileName');
                        if (existingFile) {
                            $.post('@Url.Action("RemovePortalImageFile", "Files")', { fileName: existingFile });
                        }
                        image.attr('src', '@Url.Action("GetPortalImageFileByName", "Files")' + '?fileName=' + data.result);
                        image.data('fileName', data.result);
                        image.parent().show();
                        var url = $('.' + imageType + '-url').val();
                        $.post('@Url.Action("EditPortalImage", "Ads")',
                        { fileName: data.result, portalImageType: imageType, url: url });
                    }
                }).on('fileuploadsubmit', function (e, data) {
                    data.formData = { portalImageType: $(this).closest('.setup-block').data('imageType') };
                    return data;
                });

            $('.setup-block__ok').click(function () {
                var imageType = $(this).closest('.setup-block').data('imageType');
                var fileName = $('.' + imageType + '-image').data('fileName');
                var url = $('.' + imageType + '-url').val();
                $.post('@Url.Action("EditPortalImage", "Ads")',
                        { fileName: fileName, portalImageType: imageType, url: url });
            });
        });
    </script>
}