﻿@using Global = Resources.Global;
@{
    ViewBag.Title = "Start campaign";
}

@section Styles{
    <link rel="stylesheet" href="~/static/css/advertiser-page.css">
}

<!-- begin advertiser-page -->
<div class="advertiser-page">
    <!-- begin advertiser-page__page-title -->
    <h2 class="advertiser-page__page-title">
        @Global.Admin_StartYourCampaignNow
    </h2>
    <!-- end advertiser-page__page-title -->

    <div class="advertiser-page__buttons">
        <a href="@Url.Action("EditBanner", "Ads")" class="start-button">
            <svg xmlns="http://www.w3.org/2000/svg" width="44" height="34" viewBox="0 0 44 36">
                <path d="M43 .75H1a.75.75 0 0 0-.75.75v33c0 .42.34.75.75.75h42c.41 0 .75-.33.75-.75v-33A.75.75 0 0 0 43 .75zm-.75 33H1.75V2.25h40.5zm-30-16.4a4.18 4.18 0 1 0 0-8.36 4.18 4.18 0 0 0 0 8.36zm0-6.85a2.68 2.68 0 1 1 0 5.36 2.68 2.68 0 0 1 0-5.36zM5.5 30.75c.17 0 .35-.06.5-.19L18.23 19.8l7.73 7.73a.75.75 0 1 0 1.06-1.06l-3.6-3.6 6.88-7.55 8.44 7.74a.75.75 0 0 0 1.02-1.1l-9-8.25a.75.75 0 0 0-1.06.05l-7.35 8.04-3.56-3.56a.75.75 0 0 0-1.02-.03L5 29.44a.75.75 0 0 0 .5 1.31z" />
            </svg>
            @Global.Admin_StartAnImageAd
        </a>
        <div class="or">@Global.Instagram_Or</div>
        <a href="@Url.Action("EditVideo", "Ads")" class="start-button">
            <svg xmlns="http://www.w3.org/2000/svg" width="44" height="36" viewBox="0 0 44 36">
                <path d="M27.65 17.37l-8.25-5.25a.75.75 0 0 0-1.15.63v10.5a.75.75 0 0 0 1.15.63l8.25-5.25a.75.75 0 0 0 0-1.26zm-7.9 4.51v-7.76l6.1 3.88zM43 .75H1a.75.75 0 0 0-.75.75v33c0 .42.34.75.75.75h42c.41 0 .75-.33.75-.75v-33A.75.75 0 0 0 43 .75zM7.75 17.25h-6V10.5h6zm-6 1.5h6v6.75h-6zm7.5-16.5h25.5v31.5H9.25zm33 15h-6V10.5h6zm-6 1.5h6v6.75h-6zm6-16.5V9h-6V2.25zm-40.5 0h6V9h-6zm0 31.5V27h6v6.75zm40.5 0h-6V27h6z" />
            </svg>
            @Global.Admin_StartAVideoAd
        </a>
    </div>
    <!-- /.advertiser-page__buttons -->

</div>
<!-- end advertiser-page -->