﻿@using ControlPanel.Common.Enums
@using Global = Resources.Global
@model Kigl.Models.ListApprovalModel
@{
    ViewBag.Title = "Approvals";
}

@section Styles{
    <link href="~/static/css/approvals.css" rel="stylesheet" />
}
<!-- begin approvals -->
<div class="approvals">
    <!-- begin approvals__head-page -->
    <div class="approvals__head-page">
        <!-- begin approvals__page-title -->
        <h2 class="approvals__page-title">
            @Global.Admin_Approvals
        </h2>
        <!-- end approvals__head-page -->
        <!-- begin approvals__sort -->
        <div class="sortby">
            <ul class="sortby__list">
                <li class="sortby__item">
                    @Global.Admin_Show:
                </li>
                <li class="sortby__item active" data-ad-status="@AdStatus.Pending.ToString()">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         width="17"
                         height="16"
                         viewBox="0 0 17 16">
                        <path class="cls-1"
                              d="M1083,184a7.006,7.006,0,1,1-7,7,7.016,7.016,0,0,1,7-7m0-1a8,8,0,1,0,8.01,8,8,8,0,0,0-8.01-8h0Zm-1,3h1v6h-1v-6Zm0,6v-1h5v1h-5Z"
                              transform="translate(-1075 -183)" />
                    </svg>
                    @Global.Admin_WaitingForApproval
                </li>
                <li class="sortby__item" data-ad-status="@AdStatus.Approved.ToString()">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         width="17"
                         height="16"
                         viewBox="0 0 17 16">
                        <path d="M1294,184a7.006,7.006,0,1,1-7,7,7.016,7.016,0,0,1,7-7m0-1a8,8,0,1,0,8.01,8,8,8,0,0,0-8.01-8h0Zm-3.12,7.17,2.95,2.948a0.5,0.5,0,1,1-.7.707l-2.96-2.948a0.51,0.51,0,0,1,0-.707A0.5,0.5,0,0,1,1290.88,190.17Zm7.95-1.293-4.95,4.948a0.5,0.5,0,0,1-.71,0,0.51,0.51,0,0,1,0-.707l4.96-4.948A0.5,0.5,0,0,1,1298.83,188.877Z"
                              transform="translate(-1286 -183)" />
                    </svg>
                    @Global.Admin_Approved
                </li>
                <li class="sortby__item" data-ad-status="@AdStatus.Rejected.ToString()">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         width="17"
                         height="16"
                         viewBox="0 0 17 16">
                        <path d="M1426,184a7.006,7.006,0,1,1-7,7,7.016,7.016,0,0,1,7-7m0-1a8,8,0,1,0,8.01,8,8,8,0,0,0-8.01-8h0Zm-2.12,5.17,4.95,4.948a0.5,0.5,0,1,1-.7.707l-4.96-4.948a0.51,0.51,0,0,1,0-.707A0.5,0.5,0,0,1,1423.88,188.17Zm4.95,0.707-4.95,4.948a0.5,0.5,0,0,1-.71,0,0.51,0.51,0,0,1,0-.707l4.96-4.948A0.5,0.5,0,0,1,1428.83,188.877Z"
                              transform="translate(-1418 -183)" />
                    </svg>
                    @Global.Admin_Disaproved
                </li>
            </ul>
        </div>
        <!-- end approvals__sort -->
    </div>
    <hr>
    <!-- begin approvals__list -->
    <div class="approvals__list">
        <div class="approvals__list-head">
            <ul class="approvals__head-names">
                <li class="approvals__head-name">@Global.Admin_User</li>
                <li class="approvals__head-name">@Global.Admin_Advertiser</li>
                <li class="approvals__head-name">@Global.Admin_File</li>
                <li class="approvals__head-name">@Global.Admin_Preview</li>
                <li class="approvals__head-name">@Global.Admin_Actions</li>
            </ul>
        </div>
    </div>
    <!-- end approvals__list -->
    <!-- begin approval-account -->
    <div class="approval-account">
        <div class="approval-account__name">
            Jeremy Haznsen
        </div>
        <div class="approval-account__adv">
            <a href="#">http://kigl.eu/Approvals/Index</a>
        </div>
        <div class="approval-account__file image-icon">

        </div>
        <div class="approval-account__image-block">
            <div class="approval-account__image">
                <a href="#">
                    <img src="/static/image/portal-images-image-mask.png"
                         alt="">
                    <div class="dark-bg">
                        @Global.Admin_View
                    </div>
                </a>
            </div>
        </div>
        <div class="approval-account__buttons">
            <form style="min-height: 110px">
                <button class="approve" data-new-status="@AdStatus.Approved.ToString()">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         width="17"
                         height="16"
                         viewBox="0 0 17 16">
                        <path d="M1294,184a7.006,7.006,0,1,1-7,7,7.016,7.016,0,0,1,7-7m0-1a8,8,0,1,0,8.01,8,8,8,0,0,0-8.01-8h0Zm-3.12,7.17,2.95,2.948a0.5,0.5,0,1,1-.7.707l-2.96-2.948a0.51,0.51,0,0,1,0-.707A0.5,0.5,0,0,1,1290.88,190.17Zm7.95-1.293-4.95,4.948a0.5,0.5,0,0,1-.71,0,0.51,0.51,0,0,1,0-.707l4.96-4.948A0.5,0.5,0,0,1,1298.83,188.877Z"
                              transform="translate(-1286 -183)" />
                    </svg>
                    @Global.Admin_Approve
                </button>
                <button class="disapprove" data-new-status="@AdStatus.Rejected.ToString()">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         width="17"
                         height="16"
                         viewBox="0 0 17 16">
                        <path d="M1426,184a7.006,7.006,0,1,1-7,7,7.016,7.016,0,0,1,7-7m0-1a8,8,0,1,0,8.01,8,8,8,0,0,0-8.01-8h0Zm-2.12,5.17,4.95,4.948a0.5,0.5,0,1,1-.7.707l-4.96-4.948a0.51,0.51,0,0,1,0-.707A0.5,0.5,0,0,1,1423.88,188.17Zm4.95,0.707-4.95,4.948a0.5,0.5,0,0,1-.71,0,0.51,0.51,0,0,1,0-.707l4.96-4.948A0.5,0.5,0,0,1,1428.83,188.877Z"
                              transform="translate(-1418 -183)" />
                    </svg>
                    @Global.Admin_Disaprove
                </button>
            </form>
        </div>
        <div class="approval-account__confirm-buttons" style="display: none">
            <form>
                <button class="confirm">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         width="17"
                         height="16"
                         viewBox="0 0 17 16">
                        <path d="M1294,184a7.006,7.006,0,1,1-7,7,7.016,7.016,0,0,1,7-7m0-1a8,8,0,1,0,8.01,8,8,8,0,0,0-8.01-8h0Zm-3.12,7.17,2.95,2.948a0.5,0.5,0,1,1-.7.707l-2.96-2.948a0.51,0.51,0,0,1,0-.707A0.5,0.5,0,0,1,1290.88,190.17Zm7.95-1.293-4.95,4.948a0.5,0.5,0,0,1-.71,0,0.51,0.51,0,0,1,0-.707l4.96-4.948A0.5,0.5,0,0,1,1298.83,188.877Z"
                              transform="translate(-1286 -183)" />
                    </svg>
                    @Global.Admin_Confirm
                </button>
                <button class="return">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         width="17"
                         height="16"
                         viewBox="0 0 17 16">
                        <path d="M1426,184a7.006,7.006,0,1,1-7,7,7.016,7.016,0,0,1,7-7m0-1a8,8,0,1,0,8.01,8,8,8,0,0,0-8.01-8h0Zm-2.12,5.17,4.95,4.948a0.5,0.5,0,1,1-.7.707l-4.96-4.948a0.51,0.51,0,0,1,0-.707A0.5,0.5,0,0,1,1423.88,188.17Zm4.95,0.707-4.95,4.948a0.5,0.5,0,0,1-.71,0,0.51,0.51,0,0,1,0-.707l4.96-4.948A0.5,0.5,0,0,1,1428.83,188.877Z"
                              transform="translate(-1418 -183)" />
                    </svg>
                    @Global.Admin_Cancel
                </button>
            </form>
        </div>
        <div class="approval-select-buttons" style="display: none">
            <form>
                <button class="select">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         width="17"
                         height="16"
                         viewBox="0 0 17 16">
                        <path d="M1294,184a7.006,7.006,0,1,1-7,7,7.016,7.016,0,0,1,7-7m0-1a8,8,0,1,0,8.01,8,8,8,0,0,0-8.01-8h0Zm-3.12,7.17,2.95,2.948a0.5,0.5,0,1,1-.7.707l-2.96-2.948a0.51,0.51,0,0,1,0-.707A0.5,0.5,0,0,1,1290.88,190.17Zm7.95-1.293-4.95,4.948a0.5,0.5,0,0,1-.71,0,0.51,0.51,0,0,1,0-.707l4.96-4.948A0.5,0.5,0,0,1,1298.83,188.877Z"
                              transform="translate(-1286 -183)" />
                    </svg>
                    @Global.Admin_Select
                </button>
                <button class="unselect">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         width="17"
                         height="16"
                         viewBox="0 0 17 16">
                        <path d="M1426,184a7.006,7.006,0,1,1-7,7,7.016,7.016,0,0,1,7-7m0-1a8,8,0,1,0,8.01,8,8,8,0,0,0-8.01-8h0Zm-2.12,5.17,4.95,4.948a0.5,0.5,0,1,1-.7.707l-4.96-4.948a0.51,0.51,0,0,1,0-.707A0.5,0.5,0,0,1,1423.88,188.17Zm4.95,0.707-4.95,4.948a0.5,0.5,0,0,1-.71,0,0.51,0.51,0,0,1,0-.707l4.96-4.948A0.5,0.5,0,0,1,1428.83,188.877Z"
                              transform="translate(-1418 -183)" />
                    </svg>
                    @Global.Admin_Unselect
                </button>
            </form>
        </div>
    </div>
    <!-- end approval-account -->

    @*<div class="approvals__pagination">
        <ul class="approvals__pagination-list">
            <li class="approvals__pagination-page active"><a href="#">1</a></li>
            <li class="approvals__pagination-page"><a href="#">2</a></li>
            <li class="approvals__pagination-page"><a href="#">3</a></li>
            <li class="approvals__pagination-page"><a href="#">...</a></li>
            <li class="approvals__pagination-page"><a href="#">8</a></li>
            <li class="approvals__pagination-page"><a href="#">9</a></li>
        </ul>
    </div>*@


</div>
<!-- end approvals -->

@section Scripts{

    <script src="~/static/js/approvals.js"></script>
    <script type="text/javascript">

        $(function() {
            var approvalAccountTemplate = $('.approval-account');
            approvalAccountTemplate.remove();

            var approvals;
            var pendingStatus = '@AdStatus.Pending.ToString()';

            function fillApprovals(adStatus) {
                if (!approvals) return;
                $('.approval-account').remove();
                for (var i = 0; i < approvals.length; i++) {
                    var approval = approvals[i];
                    if (approval.adStatus == adStatus) {
                        var approvalItem = approvalAccountTemplate.clone();
                        approvalItem.data('approvalId', approval.id);
                        approvalItem.find('.approval-account__name').text(approval.name);
                        approvalItem.find('.approval-account__adv a').text(approval.url);
                        approvalItem.find('.approval-account__image img').attr('src', '/Files/GetFile?id=' + approval.fileId);
                        approvalItem.find('.approval-account__image a').attr('href', '/Files/GetFile?id=' + approval.fileId);
                        if (approval.adStatus != pendingStatus) {
                            approvalItem.find('.approval-account__buttons button').hide();
                            if (approval.showActive) {
                                if (approval.isActive) {
                                    approvalItem.find('.approval-select-buttons .select').hide();
                                } else {
                                    approvalItem.find('.approval-select-buttons .unselect').hide();
                                }
                                approvalItem.find('.approval-account__buttons').hide();
                                approvalItem.find('.approval-select-buttons').show();
                            }
                        }
                        $('.approvals').append(approvalItem);
                    }
                }
            }

            $.ajax({
                url: '@Url.Action("GetApprovals", "Approvals")',
                success: function(data) {
                    approvals = data;
                    fillApprovals(pendingStatus);
                }
            });

            $('.sortby__item').click(function() {
                if (!$(this).hasClass('active')) {
                    var adStatus = $(this).data('adStatus');
                    if (adStatus) {
                        $('.sortby__item.active').removeClass('active');
                        $(this).addClass('active');
                        fillApprovals(adStatus);
                    }
                }
            });

            var approvalStatus = null;
            $(document).on('click', '.approval-account__buttons button', function(e) {
                    e.preventDefault();
                    var container = $(this).closest('.approval-account__buttons');
                    container.hide();
                    container.siblings('.approval-account__confirm-buttons').show();
                    $('.approval-account__buttons button').hide();
                    approvalStatus = $(this).data('newStatus');
                });

            $(document).on('click', '.approval-account__confirm-buttons button', function(e) {
                    e.preventDefault();
                    if ($(this).hasClass('confirm')) {
                        submitApproval($(this), approvalStatus);
                    } else {
                        $('.approval-account__buttons .approve,.approval-account__buttons .disapprove').removeClass('ok').removeClass('cancel').removeClass('disable');
                        $(this).closest('.approval-account').removeClass('ok').removeClass('cancel');
                        var container = $(this).closest('.approval-account__confirm-buttons');
                        container.hide();
                        container.siblings('.approval-account__buttons').show();
                        approvalStatus = null;
                    }
                    $('.approval-account__buttons button').show();

                });

            function submitApproval(el, status) {
                var adId = el.closest('.approval-account').data('approvalId');
                $.ajax({
                    url: '@Url.Action("UpdateAdStatus", "Approvals")',
                    data: {
                        adId: adId,
                        status: status
                    },
                    success: function() {
                        if (approvals) {
                            for (var i = 0; i < approvals.length; i++) {
                                var approval = approvals[i];
                                if (approval.id == adId)
                                    approval.adStatus = status;
                            }
                        }
                        el.closest('.approval-account').remove();
                    }
                });
            }

            $(document).on('click', '.approval-select-buttons button',
                function(e) {
                    e.preventDefault();
                    var $self = $(this);
                    var adId = $self.closest('.approval-account').data('approvalId');
                    $.ajax({
                        url: '@Url.Action("ChangeAdActive", "Approvals")',
                        data: {
                            adId: adId,                            
                        },
                        success: function () {
                            $self.hide();
                            $self.siblings('button').show();
                        }
                    });                    
                });
        });
    </script>
}