﻿@using ControlPanel.Common.Enums
@using Kigl.Controllers
@using Kigl.Helpers
@using Global = Resources.Global;
@model Kigl.Models.LoginRegistrationUserModel
@{
    ViewBag.Title = "Advertisers";
    Layout = null;
    var lang = ((BaseController)ViewContext.Controller).CurrentLanguage;
}

<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Advertisers</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <meta content="telephone=no" name="format-detection">
    <!-- This make sence for mobile browsers. It means, that content has been optimized for mobile browsers -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700|Ubuntu:300,400,700" rel="stylesheet">

    <meta name="HandheldFriendly" content="true">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link href="/static/css/mainc6qtq589f6r.css?version=26" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="/static/css/main_page.css">
    <!--[if (gt IE 9)|!(IE)]><!-->


    <link href="../Content/fixmain.css?version=26" rel="stylesheet" type="text/css">
    <!--<![endif]-->


    <meta property="og:title" content="@Global.Login_FB_Title" />
    <meta property="og:description" content="@Global.Login_FB_Description" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="500" />
    <meta property="og:image:height" content="300" />
    <meta property="twitter:description" content="" />
    <link rel="image_src" href="" />

    <link rel="icon" href="~/images/kigl_logo_pink_favicon_16x16px.ico" sizes="16x16" type="image/ico" />
    <link rel="icon" href="~/images/kigl_logo_pink_favicon_16x16px.png" sizes="16x16" type="image/png" />
    <link rel="icon" href="~/images/kigl_logo_pink_favicon_32x32px.png" sizes="32x32" type="image/png" />
    <link rel="icon" href="~/images/kigl_logo_pink_favicon_48x48px.png" sizes="48x48" type="image/png" />
    <link rel="icon" href="~/images/kigl_logo_pink_favicon_180x180px.png" sizes="180x180" type="image/png" />

    <script>
        (function (H) {
            H.className = H.className.replace(/\bno-js\b/, 'js')
        })(document.documentElement)
    </script>

</head>

<body class="page">
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" style="display: none; height: 0">
        <symbol id="approvals" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
        <path d="M256,0C114.497,0,0,114.509,0,256c0,141.503,114.509,256,256,256c141.503,0,256-114.509,256-256
			C512,114.497,397.491,0,256,0z M256,477.867c-122.337,0-221.867-99.529-221.867-221.867S133.663,34.133,256,34.133
			S477.867,133.663,477.867,256S378.337,477.867,256,477.867z" />
        <path d="M391.515,161.929c-6.665-6.665-17.472-6.665-24.136,0L215.442,313.866l-70.82-70.819c-6.665-6.665-17.472-6.665-24.136,0
			c-6.665,6.665-6.665,17.471,0,24.136l82.887,82.887c6.664,6.664,17.474,6.662,24.136,0l164.006-164.006
			C398.18,179.399,398.18,168.594,391.515,161.929z" />
        </symbol>
        <symbol id="banners-videos" viewBox="0 0 58 58" style="enable-background:new 0 0 58 58;" xml:space="preserve">
        <path d="M43.585,35.042c-0.27-0.032-0.543-0.053-0.821-0.053c-0.491,0-0.969,0.053-1.431,0.151
				c-4.595,0.594-8.827,3.552-12.062,8.492l-0.466,0.711l0.359,0.548c3.635,5.552,8.529,8.609,13.783,8.609
				c5.254,0,10.148-3.058,13.783-8.609l0.466-0.711l-0.359-0.548C53.325,38.268,48.636,35.241,43.585,35.042z M47.673,41.897
				c0,2.707-2.202,4.909-4.909,4.909s-4.909-2.202-4.909-4.909c0-2.343,1.652-4.302,3.852-4.788c0.446-0.053,0.895-0.087,1.348-0.087
				c0.025,0,0.05,0.002,0.075,0.003C45.663,37.216,47.673,39.315,47.673,41.897z M42.946,51.5c-4.387,0-8.537-2.537-11.743-7.161
				c1.559-2.286,3.348-4.069,5.28-5.304c-0.4,0.874-0.629,1.841-0.629,2.863c0,3.81,3.1,6.909,6.909,6.909s6.909-3.1,6.909-6.909
				c0-1.216-0.318-2.357-0.872-3.351c2.204,1.207,4.242,3.107,5.996,5.637C51.577,48.906,47.383,51.5,42.946,51.5z" />
        <path d="M37,27.5c0-0.342-0.175-0.66-0.463-0.844l-11-7c-0.309-0.195-0.698-0.208-1.019-0.033C24.199,19.799,24,20.135,24,20.5v14
				c0,0.365,0.199,0.701,0.519,0.877C24.669,35.459,24.834,35.5,25,35.5c0.187,0,0.374-0.053,0.537-0.156l11-7
				C36.825,28.16,37,27.842,37,27.5z M26,32.679V22.321l8.137,5.179L26,32.679z" />
        <path d="M57,4.5H47H11H1c-0.552,0-1,0.447-1,1v11v11v11v11c0,0.553,0.448,1,1,1h10h15c0.552,0,1-0.447,1-1s-0.448-1-1-1H12v-10v-11
				v-11v-10h34v10v11c0,0.553,0.448,1,1,1h9v8c0,0.553,0.448,1,1,1s1-0.447,1-1v-9v-11v-11C58,4.947,57.552,4.5,57,4.5z M2,28.5h8v9H2
				V28.5z M10,26.5H2v-9h8V26.5z M2,48.5v-9h8v9H2z M10,15.5H2v-9h8V15.5z M56,6.5v9h-8v-9H56z M48,26.5v-9h8v9H48z" />
        </symbol>
        <symbol id="portal-images" viewBox="0 0 58 58" style="enable-background:new 0 0 58 58;" xml:space="preserve">
        <path d="M56.188,40.863l-1.444-0.277c-0.677-0.13-1.21-0.573-1.462-1.216c-0.253-0.642-0.163-1.329,0.245-1.885l0.907-1.236
				c0.292-0.398,0.25-0.95-0.1-1.299l-1.959-1.958c-0.339-0.339-0.871-0.389-1.268-0.121l-1.217,0.824
				c-0.571,0.389-1.261,0.452-1.895,0.175c-0.632-0.275-1.055-0.825-1.16-1.508l-0.233-1.515C46.528,30.36,46.108,30,45.615,30h-2.77
				c-0.479,0-0.892,0.341-0.982,0.812l-0.358,1.865c-0.127,0.662-0.558,1.19-1.181,1.448c-0.624,0.26-1.301,0.189-1.86-0.189
				l-1.572-1.064c-0.397-0.268-0.928-0.218-1.268,0.121l-1.959,1.958c-0.35,0.349-0.392,0.9-0.1,1.299l0.907,1.236
				c0.408,0.556,0.498,1.243,0.245,1.885c-0.252,0.643-0.785,1.086-1.462,1.216l-1.444,0.277C31.341,40.954,31,41.366,31,41.846v2.77
				c0,0.493,0.36,0.913,0.848,0.988l1.515,0.233c0.683,0.105,1.232,0.528,1.508,1.16c0.276,0.633,0.212,1.323-0.175,1.895
				l-0.824,1.217c-0.269,0.396-0.218,0.929,0.121,1.268l1.958,1.959c0.348,0.348,0.898,0.391,1.299,0.1l1.236-0.907
				c0.556-0.407,1.245-0.497,1.885-0.245c0.643,0.252,1.086,0.785,1.216,1.462l0.277,1.444C41.954,55.659,42.366,56,42.846,56h2.77
				c0.493,0,0.913-0.36,0.988-0.848l0.164-1.065c0.105-0.688,0.552-1.256,1.193-1.522c0.643-0.265,1.36-0.179,1.921,0.232l0.869,0.638
				c0.399,0.292,0.951,0.249,1.299-0.1l1.958-1.959c0.339-0.339,0.39-0.871,0.121-1.268l-0.824-1.217
				c-0.387-0.571-0.451-1.262-0.175-1.895c0.275-0.632,0.825-1.055,1.508-1.16l1.515-0.233C56.64,45.528,57,45.108,57,44.615v-2.77
				C57,41.366,56.659,40.954,56.188,40.863z M55,43.758l-0.667,0.103c-1.354,0.208-2.489,1.082-3.036,2.337
				c-0.548,1.256-0.416,2.682,0.352,3.815l0.361,0.533l-0.768,0.768l-0.177-0.13c-1.13-0.827-2.575-1.002-3.869-0.467
				c-1.294,0.536-2.192,1.682-2.405,3.065L44.758,54h-1.086l-0.121-0.633c-0.259-1.346-1.175-2.447-2.449-2.947
				c-1.276-0.499-2.695-0.314-3.8,0.494l-0.544,0.399l-0.768-0.768l0.361-0.533c0.768-1.134,0.899-2.56,0.352-3.815
				c-0.547-1.255-1.683-2.129-3.036-2.337L33,43.758v-1.086l0.633-0.121c1.346-0.259,2.447-1.175,2.947-2.449
				c0.5-1.275,0.315-2.695-0.494-3.8l-0.399-0.544l0.768-0.768l0.889,0.602c1.107,0.752,2.51,0.892,3.747,0.381
				c1.237-0.513,2.127-1.604,2.38-2.919L43.672,32h1.086l0.103,0.667c0.208,1.354,1.082,2.489,2.337,3.036
				c1.255,0.548,2.682,0.416,3.815-0.352l0.533-0.361l0.768,0.768l-0.399,0.544c-0.81,1.104-0.994,2.524-0.494,3.8
				c0.5,1.274,1.602,2.19,2.947,2.449L55,42.672V43.758z" />
        <path d="M44,38c-2.757,0-5,2.243-5,5s2.243,5,5,5s5-2.243,5-5S46.757,38,44,38z M44,46c-1.654,0-3-1.346-3-3s1.346-3,3-3
				s3,1.346,3,3S45.654,46,44,46z" />
        <path d="M21.569,15.569C21.569,12.498,19.071,10,16,10s-5.569,2.498-5.569,5.569c0,3.07,2.498,5.568,5.569,5.568
				S21.569,18.64,21.569,15.569z M12.431,15.569C12.431,13.602,14.032,12,16,12s3.569,1.602,3.569,3.569S17.968,19.138,16,19.138
				S12.431,17.537,12.431,15.569z" />
        <path d="M6.249,38.661C6.447,38.886,6.723,39,7,39c0.235,0,0.471-0.082,0.661-0.249l16.313-14.362l7.319,7.318
				c0.391,0.391,1.023,0.391,1.414,0s0.391-1.023,0-1.414l-1.825-1.825l9.18-10.054l11.262,10.323c0.408,0.373,1.04,0.345,1.413-0.062
				c0.373-0.407,0.346-1.04-0.062-1.413l-12-11c-0.195-0.18-0.459-0.275-0.72-0.262c-0.266,0.012-0.516,0.129-0.694,0.325
				l-9.794,10.727l-4.743-4.743c-0.372-0.372-0.972-0.391-1.368-0.044L6.339,37.249C5.925,37.614,5.885,38.246,6.249,38.661z" />
        <path d="M57,2H1C0.447,2,0,2.447,0,3v44c0,0.553,0.447,1,1,1h25c0.553,0,1-0.447,1-1s-0.447-1-1-1H2V4h54v28c0,0.553,0.447,1,1,1 s1-0.447,1-1V3C58,2.447,57.553,2,57,2z" />
        </symbol>
        <symbol id="statistics" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
        <path d="M494.139,476.278H52.515l66.881-92.696c30.558,9.792,62.732-7.276,72.492-37.09h49.103
			c7.534,23.015,29.199,39.689,54.699,39.689c39.873,0,67.873-39.886,54.006-77.432l72.9-57.552
			c10.329,6.892,22.997,10.541,36.544,9.46c28.036-2.237,50.601-24.921,52.694-52.969c2.516-33.709-24.2-61.943-57.387-61.943
			c-39.873,0-67.873,39.886-54.006,77.432l-72.9,57.552c-31.558-21.054-74.699-6.161-86.55,30.041H191.63
			c-9.253-28.266-39.825-46.971-72.635-36.96c-17.752,5.416-31.714,19.543-37.015,37.329c-5.724,19.208-1.599,37.6,8.475,51.38
			l-54.734,75.862V18.33c0-9.168-6.717-17.211-15.829-18.218C9.119-1.076,0.001,7.328,0.001,17.861v476.278
			c0,9.647,7.863,17.862,17.845,17.862c0.007,0,0.013-0.001,0.02-0.001H493.67c9.168,0,17.211-6.717,18.218-15.829
			C513.076,485.397,504.673,476.278,494.139,476.278z M454.45,181.947c12.037,0,21.829,9.792,21.829,21.829
			s-9.793,21.829-21.829,21.829c-12.036,0-21.829-9.793-21.829-21.829C432.621,191.74,442.413,181.947,454.45,181.947z
			 M295.691,307.283c12.037,0,21.829,9.792,21.829,21.829s-9.792,21.829-21.829,21.829s-21.83-9.791-21.83-21.829
			C273.861,317.075,283.654,307.283,295.691,307.283z M136.931,307.283c12.037,0,21.829,9.792,21.829,21.829
			s-9.792,21.829-21.829,21.829s-21.829-9.792-21.829-21.829S124.894,307.283,136.931,307.283z" />
        </symbol>
    </svg>
    <!-- begin header -->
    <header class="header autorization_header">
        <div class="container clearfix container__big">
            <div class="header__logo">
                <a href="@Url.Action("Index", "Home")" class="logo">Kigl</a>
            </div>

            <div class="header_right center">
                @if (lang.ToString() == "Russian")
                {
                    <a href="~/static/info/KiGL_presentation_rus.pdf" class="header_right-link link--download" target="_blank"><img src="/static/image/download_pres.png" alt="download" class="link--download__img" />@Global.Login_Presentation</a>
                }
                else
                {
                    <a href="~/static/info/KiGL_presentation_eng.pdf" class="header_right-link link--download" target="_blank"><img src="/static/image/download_pres.png" alt="download" class="link--download__img" />@Global.Login_Presentation</a>
                }

                <a href="@Url.Action("Index", "Home")" class="header_right-link">@Global.Admin_ForInstagramers</a>
                @{
                    var controller = (BaseController)ViewContext.Controller;
                }
                <div class="choose__language-wr">
                    <div style="display: none">
                        @Html.LanguageSelectorLink("en-US", Language.English.Localize(), Language.English.Localize(), new Dictionary<string, object> { { "id", "enLink" }, { "class", "English-language-link" } })
                        @Html.LanguageSelectorLink("ru-RU", Language.Russian.Localize(), Language.Russian.Localize(), new Dictionary<string, object> { { "id", "ruLink" }, { "class", "Russian-language-link" } })
                    </div>
                    <select class="choose__language" name="" id="">
                        <option value="English" @(controller.CurrentLanguage == Language.English ? "selected" : "")>ENG</option>
                        <option value="Russian" @(controller.CurrentLanguage == Language.Russian ? "selected" : "")>РУС</option>
                    </select>
                </div>
            </div>
        </div>
    </header>
    <!-- end header -->
    <!-- begin mainSec -->
    <section class="autorization">
        <div class="container">
            <div class="autorization_forms">
                <div class="autorization_forms-tabs">
                    <a href="#login" class="@(!Model.IsSigningUp?"active":"")">@Global.Admin_Login_SignInTab</a>
                    <a href="#registration" class="@(Model.IsSigningUp?"active":"")">@Global.Admin_Login_SignUpTab</a>
                </div>
                @using (Html.BeginForm("SignUp", "Account", FormMethod.Post, new { @class = "autorization_form", id = "registration", style= !Model.IsSigningUp ? "display:none;":"" }))
                {
                    <div class="autorization_form-box">
                        <label>
                            @Global.Admin_SignUp_Email
                            <span class="tooltip_circle tooltip_circle_auth">
                                ?
                                <span class="tooltip_content tooltip_right">
                                    <span class="tooltip_text">@Global.Admin_SignUp_EmailTip</span>
                                    <span class="tooltip_triangle"></span>
                                </span>
                            </span>
                        </label>
                        @Html.TextBoxFor(m => m.Email, new { @type = "email" })
                        <p id="emailExistsError" class="autorization_form_error-message" style="display:none;">@Global.Account_SignUp_EmailAlreadyExistsError</p>
                    </div>
                    <div class="autorization_form-box">
                        <label>@Global.Admin_SignUp_Password</label>
                        @Html.PasswordFor(m => m.Password)
                    </div>
                    <div class="autorization_form-box">
                        <label>@Global.Admin_SignUp_BrandName</label>
                        @Html.TextBoxFor(m => m.BrandName)
                    </div>
                    <div class="autorization_form-box">
                        <label>@Global.Admin_SignUp_ContactPerson</label>
                        @Html.TextBoxFor(m => m.ContactPerson)
                    </div>
                    <div class="autorization_form-box">
                        <label>@Global.Admin_SignUp_AccountLink</label>
                        @Html.TextBoxFor(m => m.AccountLink)
                    </div>
                    <div class="autorization_form-check">
                        <input type="checkbox" id="registr_check">
                        <label for="registr_check">
                            @Global.Admin_SignUp_IAgreePart1<a href="@Url.Action("CampaignInitiatorsTermsOfUse", "Info")"> @Global.Admin_SignUp_IAgreePart2</a>
                        </label>
                    </div>

                    <div class="autorization_form-btn">
                        <input type="submit" value="@Global.Admin_SignUp_SignUpButton">
                    </div>
                }
                @using (Html.BeginForm("Advertisers", "Account", FormMethod.Post, new { @class = "autorization_form autorization_form-login", id="login", style = Model.IsSigningUp ? "display:none;" : "" }))
                {
                    <div class="autorization_form-box">
                        <label>@Global.Admin_Login_Login</label>
                        @Html.TextBoxFor(m => m.Username)
                        <p class="autorization_form_error-message">@Model.LoginErrorMessage</p>
                    </div>
                    <div class="autorization_form-box">
                        <label>@Global.Admin_Login_Password</label>
                        @Html.PasswordFor(m => m.Password)
                        <p class="autorization_form_error-message"></p>
                    </div>
                    <div class="autorization_form-check log">
                        <input type="checkbox" id="login_check">
                        <label for="login_check">
                            @Global.Admin_Login_RememberMyPassword
                        </label>
                    </div>

                    <div class="autorization_form-btn">
                        <input type="submit" value="@Global.Admin_Login_SignInButton">
                    </div>

                    <div class="autorization_form-link">
                        <a href="@Url.Action("ForgotPassword")">@Global.Admin_Login_ForgotPassword</a>
                    </div>
                }
            </div>
        </div>
    </section>

    <div class="footer__right footer__box" style="max-width: 1170px">
        <div class="footer__right-wr">
            <ul class="footer__contact">
                <li>
                    <a href="mailto:support@kigl.eu">support@kigl.eu</a>
                </li>
            </ul>
            <ul class="footer__content__list">
                <li><a href="@Url.Action("CampaignInitiatorsTermsOfUse", "Info")">@Global.Admin_TermsAndConditions</a></li>
            </ul>
            <ul class="footer__content__list">
                <li><a href="@Url.Action("PrivacyPolicy", "Info")">@Global.Admin_PrivacyPolicy</a></li>
            </ul>
            <ul class="footer__content__list">
                <li><a href="@Url.Action("FAQ", "Info")">@Global.Admin_FAQ</a></li>
            </ul>

            <div class="footer__social">
                <span>Follow us:</span>
                <a href="https://www.instagram.com/kigl__/">
                    <img src="/static/image/inst.png" alt="">
                </a>
                <a href="https://www.youtube.com/channel/UCPRZnPzupY_V0jqf9senVrg">
                    <img src="/static/image/youtube.svg" alt="">
                </a>
            </div>
            <ul class="footer__contact">
                <li>
                    <span>© 2017 - 2018 Kigl</span>
                </li>
            </ul>
        </div>
    </div>


    <!-- Main scripts. You can replace it, but I recommend you to leave it here -->
    <script src="/static/js/mainc6qtq589f6r.js?version=26"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="scripts/jquery.validate.min.js"></script>
    <script src="/static/select2/dist/js/select2.full.min.js"></script>
    <script src="/static/js/separate-js/start.js?version=26"></script>
    <script src="/static/js/main_page.js"></script>
    <script type="text/javascript">
    $(function () {
    $('.choose__language').on('change.fs', function () {
        var lang = $(this).val();
        location.href = $('.' + lang + '-language-link').attr('href');
        });
    });

    // Script for login page tabs
    $(document).ready(function () {
        $('.autorization_forms-tabs a').on("click", function (e) {
            e.preventDefault();
            var ref = $(this).attr("href");
            $('.autorization_form').hide();
            $('.autorization_forms-tabs a').removeClass('active');
            $(this).addClass('active');
            $('' + ref).fadeIn();
        });

        $("#Email").keyup(function () {
            $("#emailExistsError").hide();
            $('#Email').removeClass('autorization_not_valid');
        });
    });

    // Validation autorization form
    let signInputs = document.querySelectorAll("#registration input[type='submit']")[0];

    signInputs.addEventListener('click', function(event) {
        event.preventDefault();
        var is_form_valid = true;
        let allInputs = document.querySelectorAll("#registration input");
        let checkboxInput = document.querySelectorAll("#registration input[type='checkbox']")[0];
        for(let i=0;i<allInputs.length;i++) {
            if(allInputs[i].value == '') {
                allInputs[i].classList.add('autorization_not_valid');
                is_form_valid = false;
            } else {
                allInputs[i].classList.remove('autorization_not_valid');
            }

            // Clear style inputs when blur
            allInputs[i].addEventListener('blur', function() {
                if(allInputs[i].value) {
                    allInputs[i].classList.remove('autorization_not_valid');
                }
            });

        }
        if(!checkboxInput.checked) {
            checkboxInput.classList.add('autorization_not_valid');
            is_form_valid = false;
        }

        var email = $('#Email').val();

        if (is_form_valid){
            $.post('@Url.Action("ValidateSignUpEmail")', {
                email: email,
            }, function (data) {
                if (data) {
                    $('#emailExistsError').hide();
                    $('#registration').submit();
                } else {
                    $('#Email').addClass('autorization_not_valid');
                    $('#emailExistsError').show();
                }
            })
        }
    })
    // Validation lofin form
    let signInputsLogin = document.querySelectorAll("#login input[type='submit']")[0];

        signInputsLogin.addEventListener('click', function(event) {
            event.preventDefault();
            var is_form_valid = true;
            let allInputs = document.querySelectorAll("#login input");
            let checkboxInput = document.querySelectorAll("#login input[type='checkbox']")[0];
            for(let i=0;i<allInputs.length-1;i++) {
              	if(allInputs[i].value == '') {
              	    allInputs[i].classList.add('autorization_not_valid');
              	    is_form_valid = false;
              	} else {
              		allInputs[i].classList.remove('autorization_not_valid');
              	}

              	// Clear style inputs when blur
              	allInputs[i].addEventListener('blur', function() {
              		if(allInputs[i].value) {
                        allInputs[i].classList.remove('autorization_not_valid');
                    }
              	});

            }
            //if(!checkboxInput.checked) {
            //    checkboxInput.classList.add('autorization_not_valid');
            //    is_form_valid = false;
            //}

            if (is_form_valid)
                $('#login').submit();
        })

        if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
            $('.trigger').css('marginTop', '1px');
        }
    </script>
</body>

</html>