﻿@using ControlPanel.Common.Enums
@using Kigl.Controllers
@using Kigl.Helpers
@using Global = Resources.Global;
@{
    ViewBag.Title = "Password recovery";
    var controller = (BaseController)ViewContext.Controller;
    var currentUser = controller.CurrentUser;
    Layout = "../Shared/_InstagramLayout.cshtml";
}

<!-- begin mainSec -->
<section class="forgot">
    <div class="page_2">
        <div class="module module-1 active forgot__module">
            <div class="forgot__area forgot__area--text-center">
                <p class="forgot__status-img"><img src="/static/image/payment_ok.svg" alt="Status OK"></p>
                <p class="forgot__title forgot__title--margin-bottom">@Global.Account_ForgotPasswordSuccess_Title1<br />@Global.Account_ForgotPasswordSuccess_Title2</p>
                <p>
                    @using (Html.BeginForm("BackToLogin", "Account", FormMethod.Post, new { }))
                    {
                        <button href="#" class="forgot__btn forgot__btn--width-arrow-left">@Global.Account_ForgotPasswordSuccess_Button</button>
                    }
                </p>
            </div>
        </div>
    </div>
</section>
