﻿@using ControlPanel.Common.Enums
@using Kigl.Controllers
@using Kigl.Helpers
@using Global = Resources.Global;
@model Kigl.Models.RecoveryPasswordModel
@{
    ViewBag.Title = "Password recovery";
    var controller = (BaseController)ViewContext.Controller;
    var currentUser = controller.CurrentUser;
    Layout = "../Shared/_InstagramLayout.cshtml";
}

<!-- begin mainSec -->
<section class="forgot">
    <div class="page_2">
        <div class="module module-1 active forgot__module">
            <div class="forgot__area">
                <p class="forgot__title">@Global.Account_ForgotPassword_Title</p>
                <p class="forgot__subtitle">
                    @Global.Account_ForgotPassword_Subtitle1 <br />
                    @Global.Account_ForgotPassword_Subtitle2
                </p>
                <p class="forgotPassInput__title">@Global.Account_ForgotPassword_Input</p>
                <p>
                    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { }))
                    {
                        @Html.TextBoxFor(m => m.ForgotEmail, new { @class = "forgotPassInput forgotPassInput--margin-right", @type = "email" });
                        <button class="forgot__btn @(controller.CurrentLanguage == Language.English ? "" : "forgot__btn-ru")">@Global.Account_ForgotPassword_Button</button>
                    }
                </p>
            </div>
        </div>
    </div>
</section>
