﻿@using Kigl.Controllers
@using Global = Resources.Global;
@model Kigl.Models.UpdateUserModel
@{
    ViewBag.Title = "Info";
    var controller = (BaseController)ViewContext.Controller;
    var currentUser = controller.CurrentUser;
    Layout = "../Shared/_InstagramLayout.cshtml";
}

<div class="module module-1 active">
    <header class="module__up">
        <h2 class="module__title">@Global.Admin_Welcome, <strong class="module__title_black">@currentUser.Name!</strong></h2>
        <div class="module__box m-box">
            <p class="m-box__Text m-box__Text_font18">@Global.Instagram_WeNeedYourPhone</p>
            <form class="m-box__form" style="position: relative">
                <div class="text-area-symbol m-box__Text m-box__Text_font18">+</div>
                <input type="text" name="phoneArea" id="phoneArea" />
            </form>
            <small class="m-box__Text m-box__Text_font12 m-box__Text_color-blue">@Global.Instagram_ProvideNumberWithCode</small>
        </div>
    </header>
    <footer class="module__down">
        <a href="#" class="module__btn btn btn-style_2" id="validatePhone">
            <i class="icon icon-validate"></i>
            <span>@Global.Instagram_ValidateYourPhone</span>
        </a>
    </footer>
</div>
<div class="module module-2">
    <header class="module__up">
        <i class="icon icon-mail"></i>
        <h2 class="module__title">@Global.Instagram_WeveSend <strong class="module__title_black">SMS</strong></h2>
        <div class="module__box m-box">
            <p class="m-box__Text m-box__Text_font18">@Global.Instagram_InputVerificationCode</p>
            <form class="m-box__form">
                <input type="text" name="codeArea" id="codeArea" />
            </form>
            @*<small class="m-box__Text m-box__Text_font12 m-box__Text_color-blue">@Global.Instagram_DidntReceiveSMS</small>*@
        </div>
    </header>
    <footer class="module__down">
        <a href="#" class="module__btn btn btn-style_2" id="verificationCode">
            <span>@Global.Instagram_Continue</span>
        </a>
    </footer>
</div>
<div class="module module-3">
    <header class="module__up">
        <i class="icon icon-instagram"></i>
        <h2 class="module__title">@Global.Instagram_LastBitBeforeStart</h2>
        <div class="module__box m-box">
            <p class="m-box__Text m-box__Text_font18">@Global.Instagram_EnterYourInstagram</p>
            <form class="m-box__form">
                <input type='text' name='loginArea' id="loginArea" />
            </form>
        </div>
        <div class="module__box m-box">
            <p class="m-box__Text m-box__Text_font18">@Global.Instagram_EnterEmail</p>
            <form class="m-box__form">
                <input type="email" required id="emailArea">
            </form>
        </div>
    </header>
    <footer class="module__down">
        <a href="#" class="module__btn btn btn-style_2" id="instagram">
            <span>@Global.Instagram_Continue</span>
        </a>
    </footer>
</div>
<div class="module module-4">
    <header class="module__up">
        <i class="icon icon-complete"></i>
        <h2 class="module__title">
            <strong class="module__title_black">@Global.Instagram_Success!</strong>
        </h2>
        <div class="module__box m-box">
            <p class="m-box__Text m-box__Text_font24">@Global.Instagram_YouAllGood</p>
            <p class="m-box__Text m-box__Text_font24 m-box__Text_color-blue">@Global.Instagram_ReadAndAccept <a href="@Url.Action("PublisherTermsOfUse", "Info")">@Global.Instagram_TermsAndConditions</a></p>
        </div>
    </header>
    <footer class="module__down">
        <a href="#" class="module__btn btn btn-style_2" id="submitForm">
            <i class="icon icon-ok"></i>
            <span>@Global.Instagram_AcceptAndStartEarning!</span>
        </a>
        @using (Html.BeginForm("Info", "Account", FormMethod.Post, new { id = "frmUserInfo" }))
        {
            @Html.HiddenFor(m => m.Phone)
            @Html.HiddenFor(m => m.InstagramLogin)
            @Html.HiddenFor(m => m.Email)
            @Html.HiddenFor(m => m.Terms)
        }
    </footer>
</div>

@section Scripts{
    <script src="~/static/js/browser-detection/br-detect.js"></script>
    <script type="text/javascript">
        $(function () {

            history.pushState({ module: '.module-1' }, ".module-1");

            var phoneEntered = $('#phoneArea').val() || $('#Phone').val();
            var emailEntered = $('#emailArea').val() || $('#Email').val();
            var instagramEntered = $('#loginArea').val() || $('#InstagramLogin').val();
            var terms = $('#Terms').val();

            if (phoneEntered && !instagramEntered && !emailEntered && !terms) {
                $('.module-3').addClass('active');
                $('.module-1').removeClass('active');
                history.pushState({ module: '.module-3' }, ".module-3");
            } else if (phoneEntered && emailEntered && instagramEntered && !terms) {
                $('.module-4').addClass('active');
                $('.module-1').removeClass('active');
                history.pushState({ module: '.module-4' }, ".module-4");
            } else {
                detectBrowser(window);

                var clientInfo = 'OS: ' + jscd.os + ' ' + jscd.osVersion + '\n' +
                    'Browser: ' + jscd.browser + ' ' + jscd.browserMajorVersion +
                      ' (' + jscd.browserVersion + ')\n' +
                    'Mobile: ' + jscd.mobile + '\n' +
                    'Flash: ' + jscd.flashVersion + '\n' +
                    'Cookies: ' + jscd.cookies + '\n' +
                    'Screen Size: ' + jscd.screen + '\n\n' +
                    'Full User Agent: ' + navigator.userAgent;

                $.post({url: '@Url.Action("LogClientInfo", "Account", null)',
                    data: {
                        info: clientInfo
                    }
                });
            }



            $('#validatePhone').click(function (e) {
                e.preventDefault();
                var phone = $('#phoneArea').val();
                if (phone) {
                    $.post('@Url.RouteUrl("DefaultApi", new {action = "SendCode", controller = "Data", httproute = string.Empty})', {
                        number: phone
                    }, function (data) {
                        $('.module-2').addClass('active');
                        $('.module-1').removeClass('active');
                        history.pushState({ module: '.module-2' }, ".module-2");
                        $('#codeArea').data('requestId', data);
                    });
                }
            });

            $('#verificationCode').click(function (e) {
                e.preventDefault();
                $.post('@Url.RouteUrl("DefaultApi", new {action = "VerifyCode", controller = "Data", httproute = string.Empty})', {
                    requestId: $('#codeArea').data('requestId'),
                    code: $('#codeArea').val()
                }, function (data) {
                    if (data.Success) {
                        $('#Phone').val($('#phoneArea').val());
                        $.post({
                            url: '@Url.Action("UpdateUser", "Account", null)',
                            data: {
                                phone: $('#phoneArea').val(),
                                instagram: $('#loginArea').val(),
                                email: $('#emailArea').val()
                            }
                        });

                        $('.module-3').addClass('active');
                        $('.module-2').removeClass('active');
                        history.pushState({ module: '.module-3' }, ".module-3");
                    }
                });
            });

            $('#instagram').click(function (e) {
                e.preventDefault();
                if ($('#emailArea').val()) {

                    var test1 = document.getElementById('emailArea');
                    var test2 = test1.checkValidity();
                    if (!test2) {
                        $('#emailArea').addClass('not_valid');
                        return false;
                    } else {
                        $('#emailArea').removeClass('not_valid');
                    }

                    //$('#emailArea').parent().submit();

                    $.post('@Url.RouteUrl("DefaultApi", new {action = "ValidateInstagramLogin", controller = "Data", httproute = string.Empty})', {
                        login: $('#loginArea').val()
                    }, function (data) {
                        if (data == "true") {
                            $.post({
                                url: '@Url.Action("UpdateUser", "Account", null)',
                                data: {
                                    phone: $('#Phone').val(),
                                    instagram: $('#loginArea').val(),
                                    email: $('#emailArea').val()
                                }
                            });

                            $('#InstagramLogin').val($('#loginArea').val());
                            $('#Email').val($('#emailArea').val());
                            $('.module-4').addClass('active');
                            $('.module-3').removeClass('active');
                            history.pushState({ module: '.module-4' }, ".module-4");
                        }
                    });
                } else {
                    $('#emailArea').addClass('not_valid');
                    return false;
                }

            });

            window.onpopstate = function (event) {
                if (event.state != null) {
                    $('.module').removeClass('active');
                    $(event.state.module).addClass('active');
                }
            };

            $('#submitForm').click(function (e) {
                e.preventDefault();
                $('#submitForm').off("click").attr('href', "javascript: void(0);");
                $('#Terms').val('true');
                $('#frmUserInfo').submit();
            });
        });
        $(document).ready(function () {


            //Style for scroll focus on inputs
            $('#loginArea').click(function () {
                if ($(window).width() <= 760) {
                    var position = $('.module-3').offset().top;
                    $('html, body').animate({ scrollTop: position + 100 }, 400);
                }
            });
            $('#emailArea').click(function () {
                if ($(window).width() <= 760) {

                    var position = $('.module-3').offset().top;
                    $('html, body').animate({ scrollTop: position + 150 }, 400);

                }
            });

        });
    </script>
}