﻿@using ControlPanel.Common.Enums
@using Kigl.Controllers
@using Kigl.Helpers
@using Global = Resources.Global;
@model Kigl.Models.RecoveryEnterPasswordModel 
@{
    ViewBag.Title = "Password recovery";
    var controller = (BaseController)ViewContext.Controller;
    var currentUser = controller.CurrentUser;
    Layout = "../Shared/_InstagramLayout.cshtml";
}

<section class="forgot">
    <div class="page_2">
        <div class="module module-1 active">
            <div class="forgot__area forgot__area--text-center">
                <p class="forgot__title">@Global.Account_PasswordRecovery_Title</p>
                <p class="forgot__subtitle">
                    @Global.Account_PasswordRecovery_Subtitle1 <br />
                    @Global.Account_PasswordRecovery_Subtitle2
                </p>
                @using (Html.BeginForm("PasswordRecovery", "Account", FormMethod.Post, new { id = "frmPasswordRecovery" }))
                {
                    <p class="forgotPassInput__title">@Global.Account_PasswordRecovery_Password1</p>
                    <p>
                        @Html.TextBoxFor(m => m.NewForgotPass, new { @class = "forgotPassInput", @type = "password" })
                    </p>
                    <p class="forgotPassInput__title">@Global.Account_PasswordRecovery_Password2</p>
                    <p>
                        @Html.TextBoxFor(m => m.RepeatNewForgotPass, new { @class = "forgotPassInput", @type = "password" })
                    </p>
                    <p class="forgotPassInput__error-message"></p>
                    <p>
                        <button href="#" class="forgot__btn">@Global.Account_PasswordRecovery_Button</button>
                    </p>
                }
            </div>
        </div>
    </div>
</section>

@section Scripts
{
    <script type="text/javascript">
        $('.forgot__btn').on('click', function(event) {
            event.preventDefault();
            if ($('#NewForgotPass').val() !== $('#RepeatNewForgotPass').val()) {
      	    $('.forgotPassInput__error-message').text('@Global.Account_PasswordRecovery_Error');
          } else {
                $('.forgotPassInput__error-message').empty();
                $('#frmPasswordRecovery').submit();
          }
        })
    </script>
}