﻿@using ControlPanel.Common.Enums
@using Kigl.Controllers
@using Kigl.Helpers
@using Global = Resources.Global;
@{
    ViewBag.Title = "Password recovery";
    var controller = (BaseController)ViewContext.Controller;
    var currentUser = controller.CurrentUser;
    Layout = "../Shared/_InstagramLayout.cshtml";
}

<section class="forgot">
    <div class="page_2">
        <div class="module module-1 active forgot__module">
            <div class="forgot__area forgot__area--text-center">
                <p class="forgot__title forgot__title--padding-top">@Global.Account_PasswordRecoverySuccess_Title</p>
                <p class="forgot__subtitle forgot__title--margin-bottom">@Global.Account_PasswordRecoverySuccess_Subtitle</p>
                <p>
                    @using (Html.BeginForm("BackToLogin", "Account", FormMethod.Post, new { }))
                    {
                        <button href="#" class="forgot__btn">@Global.Account_PasswordRecoverySuccess_Button</button>
                    }
                </p>
            </div>
        </div>
    </div>
</section>
