﻿@using Global = Resources.Global;
@model Kigl.Models.EditRatesModel
@{
    ViewBag.Title = "Rates";
}

@section Styles{
    <link href="~/Content/toastr.min.css" rel="stylesheet" />
}

<!-- begin rates -->
<div class="rates">
    <div class="advertisers__header">
        <span>@Global.Admin_Rates</span>
    </div>
    <!-- begin rates__form -->
    <div class="rates__form">
        <div class="rates__item">
            <label>@Global.Admin_Country</label>
            <div class="rates__select">
                <select class="js-select" id="countryId">
                    <option value="">@Global.Admin_SelectCountry</option>
                    @foreach (var country in Model.Countries)
                    {
                        <option value="@country.Id">@country.Name</option>
                    }
                </select>
            </div>
        </div>
        <form id="frmEditRates" style="display: none">
            @Html.HiddenFor(m => m.Id)
            <div class="rates__item"><label for="">cost per click</label>@Html.TextBoxFor(m => m.CostPerClick)</div>
            <div class="rates__item"><label for="">cost per impression</label>@Html.TextBoxFor(m => m.CostPerImpression)</div>
            <div class="rates__item"><label for="">cost per install</label>@Html.TextBoxFor(m => m.CostPerInstall)</div>
            <div class="rates__submit">
                <div class="rates__submit-input">
                    <input type="button" value="SAVE" class="btn-save-rates">
                </div>
            </div>
        </form>
    </div>
    <!-- end rates__form -->
</div>
<!-- end rates -->

@section Scripts{
    
    <script src="~/Scripts/toastr.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#countryId').on('change.fs', function () {
                    var countryId = $(this).val();
                    if (countryId) {
                        $('#frmEditRates').show();
                        $.post('@Url.Action("GetRates", "Rates")',
                            { countryId: $(this).val() },
                            function (response) {
                                for (var name in response.data) {
                                    if (response.data.hasOwnProperty(name)) {
                                        $('#' + name).val(response.data[name]);
                                    }
                                }
                            });
                    } else {
                        $('#frmEditRates').hide();
                    }
                });

            $('#frmEditRates')
                .validate({
                    rules: {
                        CostPerClick: {
                            required: true,
                            number: true
                        },
                        CostPerImpression: {
                            required: true,
                            number: true
                        },
                        CostPerInstall: {
                            required: true,
                            number: true
                        }
                    },
                    messages: {
                        CostPerClick: {
                            required: '',
                        },
                        CostPerImpression: {
                            required: '',
                        },
                        CostPerInstall: {
                            required: '',
                        }
                    }
                });

            $('.btn-save-rates')
                .click(function () {
                    var form = $('#frmEditRates');
                    if (form.valid()) {
                        var formData = {};
                        $.each(form.serializeArray(),
                            function (i, e) {
                                formData[e.name] = e.value;
                            });
                        $.post('@Url.Action("UpdateRates", "Rates")',
                            formData,
                            function () {
                                toastr.info('Your changes have been saved');
                            });
                    }
                });
        });
    </script>
}
