﻿@model Kigl.Models.ListStatisticModel
@using Kigl.Controllers
@using ControlPanel.Common.Helpers
@using Global = Resources.Global;
<!-- begin main_page -->
<div class="main_page">
    <!-- begin main_page__head -->
    <div class="main_page__head advertiserSec_head">
        <div class="main_page__head-name advertiserSec_head-name">
            <div>@Global.Admin_Welcome</div>
            <div class="account-name">
                @(String.IsNullOrEmpty(Model.AdvertiserBrandName) ? (((BaseController)ViewContext.Controller).CurrentUser.Username) : Model.AdvertiserBrandName)
            </div>
            <div class="status">
                @Global.Home_AdvertiserIndex_Status: <span>@(Model.IsApproved?Global.Home_AdvertiserIndex_Status_Approved:Global.Home_AdvertiserIndex_Status_UnderApproval)</span>
            </div>
        </div>
        <div class = "main_page__head-balance advertiserSec_head-balance">
            <div>@Global.Admin_Your @Global.Admin_Balance</div>
            <div class = "account-balance">
                $@Model.AccountBalance
            </div>
            @if (Model.IsApproved)
            {
                <div class="rates__submit" style="display: inline-block">
                    <div class="rates__submit-input">
                        <input type="button" class="btn-topup" value="@Global.Admin_Topup"/>
                    </div>
                </div>
            }
        </div>
        @*<div class = "main_page__head-btn">
            <a href = "#" class = "main_page__button">add funds</a>
        </div>*@
    </div>
    <!-- end main_page__head -->
    <hr>
    @if (Model.InstagramStatistics.Any())
    {
        <!-- begin main_page__campaign-list -->
        <div class="main_page__campaign-list instagram-campaigns">
            <div class="campaign-list__title">
                instagram @Global.Admin_Campaigns
            </div>

            <!-- begin campaign-list__head -->
            <div class="campaign-list__head">
                <div class="campaign-list__head-name">
                    @Global.Admin_CampaignName
                </div>
                <div class="campaign-list__head-status">
                    @Global.Instagram_Status
                </div>
                <div class="campaign-list__head-start">
                    @Global.Admin_Start
                </div>
                <div class="campaign-list__head-end">
                    @Global.Admin_End
                </div>
                <div class="campaign-list__head-amount">
                    @Html.Raw(Global.Admin_CampaignAmount)
                </div>
                <div class="campaign-list__head-spent">
                    @Html.Raw(Global.Admin_AmountSpent)
                </div>
                <div class="campaign-list__head-empty">
                </div>
            </div>
            <!-- end campaign-list__head -->
            @foreach (var instagramStatistic in Model.InstagramStatistics)
            {
                <!-- begin campaign-list__list-item -->
                <div class="campaign-list__list-item" data-ad-id="@instagramStatistic.Id">
                    <div class="campaign-list__item-name">
                        <div>
                            @instagramStatistic.Name
                        </div>
                    </div>
                    <div class="campaign-list__item-status">
                        @*@if (instagramStatistic.ShowStatus || instagramStatistic.IsNew)
                        {*@
                            <div class="btns">
                                @if (instagramStatistic.IsFinished)
                                {
                                    <div data-btn="start" class="button finished-btn active">
                                        @Global.Admin_CampaignFinishedState
                                    </div>
                                }
                                else if (instagramStatistic.IsNew)
                                {
                                    <div data-btn="start" class="button approval-btn active">
                                        @Global.Admin_CampaignWaitingState
                                    </div>
                                }
                                else
                                {
                                    <div data-btn="active" class="button active-btn @(instagramStatistic.IsActive ? "active" : "")">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                             width="8"
                                             height="11"
                                             viewBox="0 0 8 11">
                                            <path d="M0 1.18a.53.53 0 0 1 .8 0l7 4.37c.23.24.23.63 0 .87l-7 4.37a.53.53 0 0 1-.8 0z"/>
                                        </svg>
                                        @Global.Admin_CampaignActiveState
                                    </div>
                                    <div data-btn="pause" class="button pause-btn @(!instagramStatistic.IsActive ? "active" : "")">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                             width="8"
                                             height="10"
                                             viewBox="0 0 8 10">
                                            <path d="M0 10V0h3v10zm5 0V0h3v10z"/>
                                        </svg>
                                        @Global.Admin_CampaignPauseState
                                    </div>


                                    <div class="droplist">
                                        <div data-btn="active" class="drop-button active-drop-btn @(!instagramStatistic.IsActive ? "visible" : "")">
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                 width="8"
                                                 height="11"
                                                 viewBox="0 0 8 11">
                                                <path d="M0 1.18a.53.53 0 0 1 .8 0l7 4.37c.23.24.23.63 0 .87l-7 4.37a.53.53 0 0 1-.8 0z"/>
                                            </svg>
                                            @Global.Admin_CampaignActiveState
                                        </div>
                                        <div data-btn="pause" class="drop-button pause-drop-btn @(instagramStatistic.IsActive ? "visible" : "")">
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                 width="8"
                                                 height="10"
                                                 viewBox="0 0 8 10">
                                                <path d="M0 10V0h3v10zm5 0V0h3v10z"/>
                                            </svg>
                                            @Global.Admin_CampaignPauseState
                                        </div>
                                    </div>
                                }
                            </div>
                        @*}*@
                    </div>
                    <div class="campaign-list__item-start">
                        @instagramStatistic.StartDate
                    </div>
                    <div class="campaign-list__item-end">
                        @instagramStatistic.EndDate
                    </div>
                    <div class="campaign-list__item-amount">
                        $@instagramStatistic.Budget
                    </div>
                    <div class="campaign-list__item-spent">
                        $@instagramStatistic.Amount
                    </div>
                    <div class="campaign-list__item-details">
                        <ul>
                            @if (instagramStatistic.IsNew)
                            {
                                <li><a href="#" class="activate">@Global.Admin_CampaignActivate</a></li>
                            }
                            <li><a href="#" class="view-details">@Global.Admin_CampaignOverview</a></li>
                            <li><a href="#" class="add-budget">@Global.Admin_CampaignAddBudget</a></li>
                            <li><a href="#" class="campaign-details">@Global.Admin_CampaignCampaignDetails</a></li>
                            @if ((DateUtilites.ParseDate(instagramStatistic.StartDate) != null && DateUtilites.ParseDate(instagramStatistic.StartDate).Value > DateTime.Now)
                                || instagramStatistic.IsNew
                                || (DateUtilites.ParseDate(instagramStatistic.EndDate) != null && DateUtilites.ParseDate(instagramStatistic.EndDate).Value < DateTime.Now))
                            {
                                if (instagramStatistic.AdType == ControlPanel.Common.Enums.AdType.InstagramImage)
                                {
                                    <li><a href="@Url.Action("EditBanner", "Ads", new { id = instagramStatistic.Id })">@Global.Admin_CampaignEditCampaignDetails</a></li>
                                }
                                else
                                {
                                    <li><a href="@Url.Action("EditVideo", "Ads", new { id = instagramStatistic.Id })">@Global.Admin_CampaignEditCampaignDetails</a></li>
                                }
                                
                            }
                            @if ((DateUtilites.ParseDate(instagramStatistic.StartDate) != null && DateUtilites.ParseDate(instagramStatistic.StartDate).Value > DateTime.Now)
                                                    || instagramStatistic.IsNew)
                            {
                                <li><a class="delete-campaign" href="#">@Global.Admin_CampaignRemove</a></li>
                            }
                        </ul>
                    </div>
                </div>
                <!-- end campaign-list__list-item -->
            }
        </div>
        <!-- end main_page__campaign-list -->
    }
</div>
<!-- end main_page -->