﻿@using ControlPanel.Common.Enums
@using Global = Resources.Global;
@model Kigl.Models.ListStatisticModel

@if (Model.Statistics.Any())
{
    <div class="main_page">
        <div class="main_page__campaign-list wifi-campaigns">
            <div class="campaign-list__title">
                wifi @Global.Admin_Campaigns
            </div>

            <!-- begin campaign-list__head -->
            <div class="campaign-list__head">
                <div class="campaign-list__head-name">
                    @Global.Admin_CampaignName
                </div>
                <div class="campaign-list__head-status">
                    @Global.Instagram_Status
                </div>
                <div class="campaign-list__head-start">
                    @Global.Admin_Start
                </div>
                <div class="campaign-list__head-end">
                    @Global.Admin_End
                </div>
                <div class="campaign-list__head-amount">
                    @Html.Raw(Global.Admin_CampaignAmount)
                </div>
                <div class="campaign-list__head-spent">
                    @Html.Raw(Global.Admin_AmountSpent)
                </div>
                <div class="campaign-list__head-empty">
                </div>
            </div>
            <!-- end campaign-list__head -->
            @foreach (var countryStatistic in Model.Statistics)
            {
                foreach (var networkStatistic in countryStatistic.Statistics)
                {
                    foreach (var statistic in networkStatistic.Statistics)
                    {
                    <!-- begin campaign-list__list-item -->
                        <div class="campaign-list__list-item" data-ad-id="@statistic.Id" data-network-id="@statistic.NetworkId" data-clicks="@statistic.NumberOfClicks" data-charge-clicks="@statistic.ChargeOfClicks" data-impressions="@statistic.NumberOfImpressions" data-charge-impressions="@statistic.ChargeOfImpressions" data-total="@statistic.Total">
                            <div class="campaign-list__item-name">
                                <div>
                                    @statistic.Name / @networkStatistic.Network.Name
                                </div>
                            </div>
                            <div class="campaign-list__item-status">
                                <div class="btns">
                                    <div data-btn="active" class="button not-before-button active-btn @(statistic.AdStatus ==  AdStatus.Approved ? "active" : "")" style="">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                             width="8"
                                             height="11"
                                             viewBox="0 0 8 11">
                                            <path d="M0 1.18a.53.53 0 0 1 .8 0l7 4.37c.23.24.23.63 0 .87l-7 4.37a.53.53 0 0 1-.8 0z" />
                                        </svg>
                                        approved
                                    </div>
                                    <div data-btn="pause" class="button not-before-button pause-btn @(statistic.AdStatus ==  AdStatus.Pending ? "active" : "")">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                             width="8"
                                             height="10"
                                             viewBox="0 0 8 10">
                                            <path d="M0 10V0h3v10zm5 0V0h3v10z" />
                                        </svg>
                                        pending
                                    </div>
                                    <div data-btn="delete" class="button not-before-button delete-btn @(statistic.AdStatus ==  AdStatus.Rejected ? "active" : "")">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                             width="17"
                                             height="16"
                                             viewBox="0 0 17 16">
                                            <path d="M8 1A7 7 0 1 1 8 15.02 7 7 0 0 1 8 1c3.86 0 0 0 0 0zM0 8a8 8 0 1 0 16 0A8 8 0 0 0 0 8zm5.17-2.83a.5.5 0 0 0 0 .7L7.3 8l-2.13 2.12a.5.5 0 0 0 .71.7L8 8.7l2.12 2.12a.5.5 0 0 0 .71-.7L8.71 8l2.12-2.12a.5.5 0 0 0-.7-.7L8 7.28 5.88 5.17a.5.5 0 0 0-.7 0z" />
                                        </svg>
                                        rejected
                                    </div>
                                </div>
                            </div>
                            <div class="campaign-list__item-start">
                                @statistic.StartDate
                            </div>
                            <div class="campaign-list__item-end">
                                @statistic.EndDate
                            </div>
                            <div class="campaign-list__item-amount">
                                @statistic.Budget
                            </div>
                            <div class="campaign-list__item-spent">
                                $@statistic.Total
                            </div>
                            <div class="campaign-list__item-details">
                                <a href="#" class="view-details">@Global.Admin_Overview</a> <br/><br />
                                @if (statistic.AdStatus == AdStatus.Approved)
                                {
                                    <a style="@(statistic.IsStopped ? "" : "display: none")" href="@Url.Action(statistic.AdType == AdType.Banner ? "EditBanner" : "EditVideo", "Ads", new {id = statistic.Id, networkId = statistic.NetworkId})">restart</a>
                                    if (!statistic.IsStopped)
                                    {
                                        <a href="#" class="stop-campaign">stop</a>
                                    }
                                }
                            </div>
                        </div>
                    <!-- end campaign-list__list-item -->
                    }
                }
            }
        </div>
    </div>
}
