﻿@using Kigl.Controllers
@using Global = Resources.Global
@model Kigl.Models.ListStatisticModel
@{
    ViewBag.Title = "Advertiser";
}

@section Styles{
    <link rel="stylesheet" href="~/static/css/main_page.css">
}

<!-- begin myProfile -->
<div class="myProfile">
    @if (Model != null)
    {
        @Html.Partial("_InstagramStatistic")
        @Html.Partial("_WifiStatistic")
    }
    else
    {
        <!-- begin profileInfo -->
        <div class="profileInfo">
            <div class="profileInfo__img"></div>
            <div class="profileInfo__text">
                <div class="profileInfo__welcome">@Resources.Global.Admin_Welcome</div>
                <div class="profileInfo__name">@(((BaseController)ViewContext.Controller).CurrentUser.Username)</div>
            </div>
            @*<a href="#" class="profileInfo__btn">edit profile</a>*@
        </div>
        <!-- end profileInfo -->
    }
</div>

<!-- end myProfile -->
<div class = "overlay"></div>

<div class="instagram-modal-details instagram-modal modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
                <h4 class="modal-title"><span></span></h4>
            </div>
            <div class="modal-body">
                <div class="modal__head-list">
                    <div class="modal__user">
                        @Html.Raw(Global.Admin_InstaramUser)
                    </div>
                    <div class="modal__followers">
                        @Html.Raw(Global.Admin_Followers)
                    </div>
                    <div class="modal__start">
                        @Html.Raw(Global.Admin_AdStart)
                    </div>
                    <div class="modal__spent">
                        @Html.Raw(Global.Admin_AmountSpent)
                    </div>
                </div>
                <div class="modal__items instagram-user-list">
                    <div class="modal__item instagram-user-template">
                        <div class="modal__item-user">
                        </div>
                        <div class="modal__item-followers">
                        </div>
                        <div class="modal__item-start">
                        </div>
                        <div class="modal__item-spent">
                            $<span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="wifi-modal modal">
    <div class="modal__close">
        <a href="#"><img src="/static/image/close-modal.png" alt=""></a>
    </div>
    <div class="modal__title">
        
    </div>
    <div class="myProfile__table" style="padding: 40px">
        <div class="myProfile__row">
            <div class="myProfile__head myProfile__head3">@Html.Raw(Global.Admin_NumberOfClicks)</div>
            <div class="myProfile__head myProfile__head4">@Html.Raw(Global.Admin_Cost)</div>
            <div class="myProfile__head myProfile__head5">@Html.Raw(Global.Admin_NumberOfImpressions)</div>
            <div class="myProfile__head myProfile__head6">@Html.Raw(Global.Admin_Cost)</div>
            <div class="myProfile__head myProfile__head7">@Html.Raw(Global.Admin_Total)</div>
        </div>
        
                    <div class="myProfile__row">
                        
                        <div class="myProfile__box myProfile__box3">1</div>
                        <div class="myProfile__box myProfile__box4">2</div>
                        <div class="myProfile__box myProfile__box5">3</div>
                        <div class="myProfile__box myProfile__box6">4</div>
                        <div class="myProfile__box myProfile__box7">5</div>
                    </div>
                
    </div>
</div>

<div class="instagram-delete-modal modal instagram-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
                <h4 class="modal-title"><span>@Global.Instagram_AreYouSureToDelete</span></h4>
                <input id="adIdToDelete" type="hidden" value="">
            </div>
            <div class="modal-body">
                <div class="modal__text-med"></div>
                <div class="modal__buttons-block">
                    <a href="#" class="modal__buttons-cancel">@Global.Instagram_AreYouSureToDelete_No</a>
                    <a href="#" class="profileInfo__btn2 btn-delete">@Global.Instagram_AreYouSureToDelete_Yes</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="instagram-delete-result-modal modal instagram-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
                <h4 id="modal-success-deletation" class="modal-title"><span>@Global.Instagram_AreYouSureToDeleteSuccessResult</span></h4>
                <h4 id="modal-fail-deletation" class="modal-title"><span>@Global.Instagram_AreYouSureToDeleteFailResult</span></h4>
                <input id="adIdToDelete" type="hidden" value="">
            </div>
            <div class="modal-body">
                <div class="modal__text-med"></div>
                <div class="modal__buttons-block">
                    <a href="#" class="profileInfo__btn2 btn-delete-ok">@Global.Instagram_AreYouSureToDeleteResultResponse</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="instagram-campaign-activate-modal modal instagram-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
                <h4 class="modal-title"><span>@Global.Admin_AreYouSureToActivate</span></h4>
                <input id="adIdToActivate" type="hidden" value="">
            </div>
            <div class="modal-body">
                <div class="modal__buttons-block">
                    <a href="#" class="modal__buttons-cancel">@Global.Admin_AreYouSureToActivate_No</a>
                    <a id="activateCampaign" href="#" class="profileInfo__btn2 btn-delete-ok">@Global.Admin_AreYouSureToActivate_Yes</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="instagram-campaign-details-modal modal instagram-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
                <h4 class="modal-title"><span>Campaign details</span></h4>
            </div>
            <div class="modal-body">
                <div class="fakeTable instagramer_table" style="">
                    <div class="fakeTable__body">
                        <div class="fakeTable__row">
                            <div class="fakeTable__box fakeTable__box1">
                                <div class="fakeTable__box_head">
                                    Instagram Categories
                                </div>
                                <div class="fakeTable__box_body">
                                    <span class="instagrammer_categories"></span>
                                </div>
                            </div>
                            <div class="fakeTable__box fakeTable__box2">
                                <div class="fakeTable__box_head">
                                    Text
                                </div>
                                <div class="fakeTable__box_body">
                                    <span class="instagrammer_text"></span>
                                </div>
                            </div>
                            <div class="fakeTable__box fakeTable__box3">
                                <div class="fakeTable__box_head">
                                    Content
                                </div>
                                <div class="fakeTable__box_body">
                                    <span class="instagrammer_content"><img src="../static/image/ico1.png" alt=""></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal__buttons-block">
                    <a href="#" class="profileInfo__btn2 btn-delete-ok">Ok</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="instagram-add-budget-modal modal instagram-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
                <h4 class="modal-title"><span>@Global.Instagram_AddBudget</span></h4>
                <input id="add-budget-amount" type="text" value="0"/>
            </div>
            <div class="modal-body">
                <div class="modal__text-med"></div>
                <div class="modal__buttons-block">
                    <a href="#" class="profileInfo__btn2 btn-add-budget">@Global.Instagram_AddBudgetDone</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="instagram-add-budget-result-modal modal instagram-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
                <h4 id="modal-success-adding-budget" class="modal-title"><span>@Global.Instagram_AddBudgetSuccess</span></h4>
                <h4 id="modal-fail-adding-budget" class="modal-title"><span>@Global.Instagram_AddBudgetFail</span></h4>
                <input id="adIdToUpdateBudget" type="hidden" value="">
            </div>
            <div class="modal-body">
                <div class="modal__text-med"></div>
                <div class="modal__buttons-block">
                    <a href="#" class="profileInfo__btn2 btn-add-budget-ok">@Global.Instagram_AddBudgetSuccessResponse</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/static/js/main_page.js"></script>
    <script type="text/javascript">
        $(function () {
            var $instagramUserTemplate = $('.instagram-user-template');
            $instagramUserTemplate.remove();

            $(document).on('click', '.campaign-list__item-status .drop-button.visible', function () {
                var adId = $(this).closest('.campaign-list__list-item').data('adId');
                $.post('@Url.Action("UpdateAdStatus", "Ads")',
                    {
                        adId: adId
                    });
            });

            $(document).off('click', '.campaign-list__item-details a');

            $(document).on('click', '.instagram-campaigns .campaign-list__item-details .view-details', function (e) {
                e.preventDefault();
                var cont = $(this).closest('.campaign-list__list-item');
                var adId = cont.data('adId');
                var name = cont.find('.campaign-list__item-name div').text();
                $.post('@Url.Action("GetAdUsers", "Ads")',
                    {
                        adId: adId
                    }, function (data) {
                        $('.instagram-modal-details .modal-title').text(name);
                        $('.instagram-user-list').empty();
                        for (var i = 0; i < data.length; i++) {
                            var user = data[i];
                            var $user = $instagramUserTemplate.clone();
                            $user.find('.modal__item-user').text(user.name);
                            $user.find('.modal__item-followers').text(user.followersCount);
                            $user.find('.modal__item-spent span').text(user.advertiserAmount);
                            $('.instagram-user-list').append($user);
                        }
                        $('body').css('overflow', 'hidden');
                        $('.overlay, .instagram-modal-details.modal').fadeIn();
                    });
            });

            $(document).on('click', '.wifi-campaigns .campaign-list__item-details .view-details', function (e) {
                e.preventDefault();
                var cont = $(this).closest('.campaign-list__list-item');
                $('.wifi-modal .modal__title').text(cont.find('.campaign-list__item-name div').text());
                $('.wifi-modal .myProfile__box3').text(cont.data('clicks'));
                $('.wifi-modal .myProfile__box4').text('$' + cont.data('chargeClicks'));
                $('.wifi-modal .myProfile__box5').text(cont.data('impressions'));
                $('.wifi-modal .myProfile__box6').text('$' + cont.data('chargeImpressions'));
                $('.wifi-modal .myProfile__box7').text('$' + cont.data('total'));
                $('body').css('overflow', 'hidden');
                $('.overlay, .wifi-modal.modal').fadeIn();
            });

            $(document).on('click', '.wifi-campaigns .campaign-list__item-details .stop-campaign', function (e) {
                e.preventDefault();
                var cont = $(this).closest('.campaign-list__list-item');
                var adId = cont.data('adId');
                var networkId = cont.data('networkId');
                var self = $(this);
                $.post('@Url.Action("StopCampaign", "Ads")',
                    {
                        adId: adId,
                        networkId: networkId
                    }, function(data) {
                        if (data.success) {
                            self.siblings('a').show();
                            self.remove();
                            $('.account-balance').text(data.balance);
                            cont.find('.campaign-list__item-amount').text('');
                        }
                    });
            });

            $('.btn-topup').click(function() {
                location.href = '@Url.Action("Topup", "Advertiser")';
            });

            $(document).on('click', '.overlay, .close, .modal__buttons-cancel, .btn-delete-ok, .btn-add-budget-ok', function (e) {

                e.preventDefault();

                $('body').attr('style', '');
                $('.overlay, .modal').fadeOut();
            });

            //delete
            $(document).on('click', '.delete-campaign', function (e) {
                e.preventDefault();

                var cont = $(this).closest('.campaign-list__list-item');
                var adId = cont.data('adId');

                $('#adIdToDelete').val(adId);

                $('body').css('overflow', 'hidden');
                $('.overlay, .instagram-delete-modal').fadeIn();
            });

            $('.btn-delete').click(function (e) {
                e.preventDefault();

                var adId = $('#adIdToDelete').val();

                $('#modal-success-deletation').hide();
                $('#modal-fail-deletation').hide();

                $.ajax(
                    $.post('@Url.Action("DeleteCampaign", "Ads")',
                    {
                        adId: adId,
                    }, function (data) {
                        $('body').attr('style', '');
                        $('.overlay, .modal').fadeOut();

                        if (data.success) {
                            $('[data-ad-id="' + adId + '"]').remove();
                            $('#modal-success-deletation').show();
                        }
                        else {
                            $('#modal-fail-deletation').show();
                        }

                        $('.overlay, .instagram-delete-result-modal').fadeIn();
                    })
                );
                $('body').attr('style', '');
                $('.overlay, .modal').fadeOut();
            });

            // add budget
            $(document).on('click', '.add-budget', function (e) {
                e.preventDefault();

                $('#add-budget-amount').val('0');

                var cont = $(this).closest('.campaign-list__list-item');
                var adId = cont.data('adId');

                $('#adIdToUpdateBudget').val(adId);

                $('body').css('overflow', 'hidden');
                $('.overlay, .instagram-add-budget-modal').fadeIn();
            });

            // campaign details
            $(document).on('click', '.campaign-details', function (e) {
                e.preventDefault();

                var adId = $(this).closest('.campaign-list__list-item').data('adId');

                $.post('@Url.Action("GetAd", "Ads")',
                    {
                        adId: adId
                    }, function (data) {
                        $('.instagrammer_categories').text(data.categoryNames.join(', '));
                        $('.instagrammer_text').text(data.caption);

                        if (data.adType == 4) {
                            var container = $('.instagrammer_content');
                            container.empty();

                            var img = $('<img>').attr('src', data.fileUrl).attr('alt', '');
                            container.append(img);
                        } else {
                            var container = $('.instagrammer_content');
                            container.empty();
                            var source = $('<source>').attr('type', 'video/mp4').attr('src', '@Url.Action("GetVideoFileByName", "Files")' + '?fileName=' + data.fileName);
                            var video = $('<video>').attr('controls', '');
                            video.append(source);
                            container.append(video);
                            video.show();
                        }

                        $('body').css('overflow', 'hidden');
                        $('.overlay, .instagram-campaign-details-modal').fadeIn();
                    });
            });

            // activate campaign
            $(document).on('click', '.activate', function (e) {
                e.preventDefault();

                var adId = $(this).closest('.campaign-list__list-item').data('adId');

                $.post('@Url.Action("IsUpdateAdStatusPossible", "Ads")',
                    {
                        adId: adId
                    }, function (data) {
                        if (data) {
                            $('#adIdToActivate').val(adId);

                            $('body').css('overflow', 'hidden');
                            $('.overlay, .instagram-campaign-activate-modal').fadeIn();
                        }
                    });
            });

            $(document).on('click', '#activateCampaign', function (e) {
                e.preventDefault();

                var adId = $('#adIdToActivate').val();

                $.post('@Url.Action("UpdateAdStatus", "Ads")',
                    {
                        adId: adId
                    }, function (data) {
                        location.reload();
                    });
            });

            $('.btn-add-budget').click(function (e) {
                e.preventDefault();

                var adId = $('#adIdToUpdateBudget').val();

                var amount = $('#add-budget-amount').val();

                $('#modal-success-adding-budget').hide();
                $('#modal-fail-adding-budget').hide();

                $.ajax(
                    $.post('@Url.Action("AddBudget", "Ads")',
                    {
                        adId: adId,
                        amount: amount
                    }, function (data) {
                        $('body').attr('style', '');
                        $('.overlay, .modal').fadeOut();

                        if (data.success) {
                            var oldAmount = parseInt($('[data-ad-id="' + adId + '"] > .campaign-list__item-amount').text().replace(/[^A-Z0-9]/ig, "")) / 100;
                            var newBudget = oldAmount + parseInt(amount);
                            $('[data-ad-id="' + adId + '"] > .campaign-list__item-amount').text(newBudget + '.00');

                            var oldBalance = parseInt($('.account-balance').text().replace('$', ''));
                            var newBalance = oldBalance - parseInt(amount);
                            $('.account-balance').text('$' + newBalance + '.00');

                            $('#modal-success-adding-budget').show();
                        }
                        else {
                            $('#modal-fail-adding-budget').show();
                        }
                        $('.overlay, .instagram-add-budget-result-modal').fadeIn();
                    })
                );
                $('body').attr('style', '');
                $('.overlay, .modal').fadeOut();
            });
        });
    </script>
}