﻿@using ControlPanel.Common.Enums
@using Global = Resources.Global;
@using Kigl.Controllers
@using Kigl.Helpers

@{
    ViewBag.Title = "Instagram";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta property="og:url" content="@Request.Url.AbsoluteUri" />
    <meta property="fb:app_id" content="183187772227147" />
    <meta property="og:title" content="@Global.Home_FB_Title" />
    <meta property="og:image" content="https://kigl.eu/img/head__img.png" />
    <meta property="og:description" content="@Global.Home_FB_Description" />
    <meta property="og:locale" content="@ViewBag.FbLang" />
    <meta name="description" content="@Global.Home_FB_Description">
    @Html.Partial("_Keywords")
    <title>@Global.WebSiteTitle</title>
    <!-- fonts link -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Ubuntu:300,300i,400,400i,500,500i,700,700i"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- style link -->
    <link rel="stylesheet" href="/css/style.min.css">

    <link rel="icon" href="~/images/kigl_logo_pink_favicon_16x16px.ico" sizes="16x16" type="image/ico" />
    <link rel="icon" href="~/images/kigl_logo_pink_favicon_16x16px.png" sizes="16x16" type="image/png" />
    <link rel="icon" href="~/images/kigl_logo_pink_favicon_32x32px.png" sizes="32x32" type="image/png" />
    <link rel="icon" href="~/images/kigl_logo_pink_favicon_48x48px.png" sizes="48x48" type="image/png" />
    <link rel="icon" href="~/images/kigl_logo_pink_favicon_180x180px.png" sizes="180x180" type="image/png" />

    @Html.Partial("_HeadScripts")
</head>
<body>
    @Html.Partial("_FBScripts")
    <!-- begin header -->

    <header>

        <!-- head top -->
        <div class="head__top">
            <div class="container">
                <div class="head__top__content col s12">
                    <a href="@Url.Action("Choose", "Content", new {removeCookie = true})" class="head__logo">
                        <img src="/img/kigl.png" alt="">
                    </a>
                    <div class="head__top__box">
                        <a class="waves-effect waves-light btn" href="@Url.Action("AdvertiserIndex", "Home")">@Global.Admin_ForAdvertisers</a>
                        <div class="input-field head__select">
                            <div style="display: none">
                                @Html.LanguageSelectorLink("en-US", Language.English.Localize(), Language.English.Localize(), new Dictionary<string, object> {{"id", "enLink"}})
                                @Html.LanguageSelectorLink("ru-RU", Language.Russian.Localize(), Language.Russian.Localize(), new Dictionary<string, object> {{"id", "ruLink"}})
                            </div>
                            @{
                                var controller = (BaseController) ViewContext.Controller;
                            }
                            <select>
                                <option value="en" @(controller.CurrentLanguage == Language.English ? "selected" : "")>@Language.English.Localize()</option>
                                <option value="ru" @(controller.CurrentLanguage == Language.Russian ? "selected" : "")>@Language.Russian.Localize()</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- head bottom -->
        <!-- head bottom -->
        <div class="head__bottom">
            <!--<div class="container">-->
            <div class="head__bottom__content">
                <div class="head__bottom-slide one">
                    <div class="container">
                        <h1>@Html.Raw(Global.Index_Banner1Header)</h1>
                        <span class="head__bottom__title">@Global.Index_JustLoginWithFacebook</span>
                       
                    </div>
                </div>
                <div class="head__bottom-slide two">
                    <div class="container">
                        <h1>@Html.Raw(Global.Index_Banner2Header)</h1>
                        <span class="head__bottom__title">
                            @Html.Raw(Global.Index_Banner2)
                        </span>
                        
                    </div>
                </div>
                <div class="head__bottom-slide three">
                    <div class="container">
                        <h1>@Html.Raw(Global.Index_Banner3Header)</h1>
                        <span class="head__bottom__title">
                            @Html.Raw(Global.Index_Banner3)
                        </span>
                        
                    </div>
                </div>
            </div>
            <div class="head__bottom-area">
                <div class="head__bottom__btn">
                    <a href="#" class="btn-facebook-login">
                        <span>@Global.Index_LoginWithFacebook</span>
                    </a>
                </div>
            </div>
        </div>
    </header>
    <!-- end header -->
    <!-- begin main -->
    <main>
        <div class="main__cols">
            <div class="container">
                <div class="row">
                    <div class="main__col">
                        <div class="img">
                            <img src="/img/Simple.svg" alt="">
                        </div>
                        <span class="title">@Global.Index_Simple</span>
                        <p class="text">
                            @Html.Raw(Global.Idnex_SimpleText)
                        </p>
                    </div>
                    <div class="main__col">
                        <div class="img">
                            <img src="/img/free.svg" alt="">
                        </div>
                        <span class="title">@Global.Index_Flexible</span>
                        <p class="text">@Html.Raw(Global.Index_FlexibleText)</p>
                    </div>
                    <div class="main__col">
                        <div class="img">
                            <img src="/img/Convenient.svg" alt="">
                        </div>
                        <span class="title">@Global.Index_Convenient</span>
                        <p class="text">@Html.Raw(Global.Index_ConvenientText)</p>
                    </div>
                    <div class="main__col">
                        <div class="img">
                            <img src="/img/Relevance.svg" alt="">
                        </div>
                        <span class="title">@Global.Index_Relevance</span>
                        <p class="text">
                            @Html.Raw(Global.Index_RelevanceText)
                        </p>
                    </div>
                    <div class="main__col">
                        <div class="img">
                            <img src="/img/Reach.svg" alt="">
                        </div>
                        <span class="title">@Global.Index_Reach</span>
                        <p class="text">@Html.Raw(Global.Index_ReachText)</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="main__info">
            <div class="container">
                <div class="row">
                    <div class="main__info__box col l8 offset-l4">
                        <h2>@Global.Index_WhatIsKigl</h2>
                        <p>
                            @Html.Raw(Global.Index_WhatIsKiglText)
                        </p>
                        <noindex>
                            <a class="waves-effect waves-light btn btn-first btn-facebook-login" rel="nofollow">@Global.Index_TryItNow</a>
                        </noindex>
                            @*<a class="waves-effect waves-light btn btn-second" style="display: none;" rel="nofollow">Second button</a>*@
                    </div>
                </div>
            </div>
        </div>

        <!--<div class="main__brands">-->
        <!--<div class="container">-->
        <!--<div class="row">-->
        <!--<span class="main__brands__title">-->
        <!--Some of the brands promoting with us-->
        <!--</span>-->
        <!--<div class="main__brands__content col l12">-->
        <!--<a href="#">-->
        <!--<img src="img/brand_1.png" alt="">-->
        <!--</a>-->
        <!--<a href="#">-->
        <!--<img src="img/brand_2.png" alt="">-->
        <!--</a>-->
        <!--<a href="#">-->
        <!--<img src="img/brand_3.png" alt="">-->
        <!--</a>-->
        <!--<a href="#">-->
        <!--<img src="img/brand_4.png" alt="">-->
        <!--</a>-->
        <!--<a href="#">-->
        <!--<img src="img/brand_5.png" alt="">-->
        <!--</a>-->
        <!--<a href="#">-->
        <!--<img src="img/brand_6.png" alt="">-->
        <!--</a>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->

        <div class="main__text">
            <div class="container">
                <div class="row">
                    <h3>@Global.Index_Join</h3>
                </div>
            </div>
        </div>

    </main>
    <!-- end main -->
    <!-- begin footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="footer__content">
                    <ul class="footer__contact">
                        <li>
                            <a href="mailto:support@kigl.eu">support@kigl.eu</a>
                        </li>
                    </ul>
                    <ul class="footer__content__list">
                        <li><a href="@Url.Action("PublisherTermsOfUse", "Info")">@Global.Admin_TermsAndConditions</a></li>
                    </ul>
                    <ul class="footer__content__list">
                        <li><a href="@Url.Action("PrivacyPolicy", "Info")">@Global.Admin_PrivacyPolicy</a></li>
                    </ul>
                    <ul class="footer__content__list">
                        <li><a href="@Url.Action("FAQ", "Info")">@Global.Admin_FAQ</a></li>
                    </ul>

                    <div class="footer__social">
                        <span>Follow us:</span>
                        <a href="https://www.instagram.com/kigl__/">
                            <img src="/img/inst.png" alt="">
                        </a>
                        <a href="https://www.youtube.com/channel/UCPRZnPzupY_V0jqf9senVrg">
                            <img src="/img/youtube.svg" alt="">
                        </a>
                    </div>
                    <ul class="footer__contact">
                        <li>
                            <span>© 2017 - 2018 Kigl</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- end footer -->
    <!-- scripts -->
    <script src="/js/scripts.min.js"></script>
    <script>
    $('select').change(function(e) {
        location.href = $('#' + $(this).val() + 'Link').attr('href');
    });
    $(function () {
        $('.btn-facebook-login').click(function (e) {
            location.href = '@Url.Action("FacebookLogin", "Account")';
        });
    });

    </script>
</body>
</html>
