.page{
	position: relative;
	background-image: url(/img/head__bg.png),linear-gradient(to right, #13cffe, #10abfe);
	background-repeat: no-repeat;
	background-position: 125% 0px;
	background-size: cover;
}

.mainSec__right-content {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.advertiser-page__page-title {
	color: #444b4d;
	font-family: Montserrat, sans-serif;
	font-size: 36px;
	font-weight: 400;
	line-height: 36px;
	margin: 0;
	display: flex;
	align-items: center;
	padding-bottom: 11px;
}

.advertiser-page__buttons {
	max-width: 717px;
	width: 100%;
	min-height: 132px;
	border-radius: 5px;
	background-color: #fff;
	margin-top: 68px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.or {
	width: 68px;
	color: #444b4d;
	font-family: Montserrat;
	font-size: 16px;
	font-weight: 400;
	line-height: 16px;
	text-align: center;
}

.start-button {
	width: 290px;
	height: 72px;
	border-radius: 5px;
	background-color: #fff;
	color: #12caff;
	font-family: Montserrat;
	font-size: 16px;
	font-weight: 500;
	line-height: 16px;
	text-transform: uppercase;
	border: 2px solid #12caff;
	background-color: rgba(18, 202, 255, 0);
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all .3s linear;
}

.start-button:hover {
	color: #fff;
	background-color: #12caff;
}

.start-button svg {
	margin-right: 31px;
}

.start-button path {
	fill: #12caff;
	transition: all .3s linear;
	
}

.start-button:hover path {
	fill: #fff;
}

@media screen and (max-width: 768px) {
	.advertiser-page__buttons {
		flex-direction: column;
		margin-top: 25px;
	}
	
	.start-button {
		width: 270px;
		margin: 25px 0;
	}
}