.page {
	position: relative;
	background-image: url(/img/head__bg.png);
	background-repeat: no-repeat;
	background-position: 54% 0px;
	background-size: cover;
}

.mainSec__right-content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	height: 100%;
}

.approvals__head-page {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.approvals__page-title {
	color: #444b4d;
	font-family: Montserrat, sans-serif;
	font-size: 36px;
	font-weight: 400;
	line-height: 36px;
	margin: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding-bottom: 11px;
}

.sortby__list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 0;
}

.sortby__item:not(:first-child) {
	color: #7e8485;
	font-family: Montserrat, sans-serif;
	font-size: 12px;
	font-weight: 400;
	line-height: 12px;
	text-transform: uppercase;
	padding: 13px 17px 11px;
	cursor: pointer;
	border-radius: 3px;
	border: 1px solid transparent;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-transition: all .3s linear;
	transition: all .3s linear;
}

.sortby__item:not(:first-child):hover {
	border-radius: 3px;
	border: 1px solid #12c1ff;
	color: #12c1ff;
}

.sortby__item:not(:first-child) path {
	-webkit-transition: all .3s linear;
	transition: all .3s linear;
}

.sortby__item:not(:first-child):hover path {
	fill: #12c1ff;
}

.sortby__item svg {
	margin-right: 10px;
}

.sortby__item.active {
	color: #12c1ff;
	text-decoration: underline;
}

.sortby__item.active path {
	fill: #12c1ff;
}

.sortby__item:first-child {
	opacity: 0.61;
	color: #444b4d;
	font-family: Montserrat, sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 12px;
	padding: 13px 17px 11px;
}

.approvals__list {
	background-color: #fff;
}

.approvals__head-names {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin: 0;
}

.approvals__head-name {
	padding-top: 26px;
	padding-bottom: 13px;
	color: #b2bbbd;
	font-family: Montserrat, sans-serif;
	font-size: 12px;
	font-weight: 400;
	line-height: 12px;
	text-transform: uppercase;
	border-bottom: 1px solid #e6e6e6;
}

.approvals__head-name:first-child {
	width: 18%;
	padding-left: 24px;
	margin-left: 6px;
}

.approvals__head-name:nth-child(2) {
	width: 27%;
}

.approvals__head-name:nth-child(3) {
	width: 9%;
}

.approvals__head-name:nth-child(4) {
	width: 21%;
}

.approvals__head-name:last-child {
	width: 24%;
}

.approval-account {
	background-color: #fff;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding-top: 18px;
	padding-bottom: 11px;
	-webkit-transition: all .3s linear;
	transition: all .3s linear;
	border-left: 3px solid #fff;
	border-right: 3px solid #fff;
	border-bottom: 1px solid #e6e6e6;;
}

.approval-account:hover {
	background-color: #fbfdfd;
}

.approval-account.ok {
	background-color: #f3ffe8;
}

.approval-account.cancel {
	background-color: #fdedea;
}

.approval-account__name {
	width: 18%;
	padding-left: 24px;
	margin-left: 6px;
	color: #444b4d;
	font-family: Montserrat, sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 14px;
}

.approval-account__adv {
	width: 27%;
}

.approval-account__adv a {
	color: #12c1ff;
	font-family: Montserrat, sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 14px;
	text-overflow: ellipsis;
	overflow: hidden;
	padding-right: 10px;
	width: 100%;
	display: block;
}

.approval-account__file {
	width: 9%;
	height: 18px;
	background-repeat: no-repeat;
}

.approval-account__file.image-icon {
	background-image: url(../image/account-image-icon.png);
}

.approval-account__file.video-icon {
	background-image: url(../image/account-video-icon.png);
}

.approval-account__image-block {
	width: 21%;
}

.approval-account__image {
	max-width: 132px;
	width: 100%;
	max-height: 91px;
	height: 100%;
	position: relative;
}

.approval-account__image a {
	width: 100%;
	height: 100%;
	display: block;
}

.approval-account__image .dark-bg {
	background-color: rgba(0, 0, 0, .7);
	color: #fff;
	font-family: Montserrat, sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 14px;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	opacity: 0;
	-webkit-transition: all .3s linear;
	transition: all .3s linear;
}

.approval-account__image:hover .dark-bg {
	opacity: 1;
}

.approval-account__image img {
	max-width: 100%;
	width: 100%;
	max-height: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}

.approval-account__buttons {
	width: 24%;
}

.approval-account__buttons form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
}

.approval-account__buttons button {
	border-radius: 3px;
	font-family: Montserrat, sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 14px;
	max-width: 148px;
	width: 100%;
	padding: 13px 0;
	text-transform: capitalize;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-bottom: 11px;
	border: 1px solid transparent;
	-webkit-transition: all .3s linear;
	transition: all .3s linear;
}

.approval-account__buttons path {
	-webkit-transition: all .3s linear;
	transition: all .3s linear;
}

.approval-account__buttons svg {
	margin-right: 6px;
}

.approval-account__buttons button:first-child {
	color: #65d401;
}

.approval-account__buttons button:first-child:hover {
	background-color: #f4ffe9;
	border-color: #65d401;
	color: #65d401;
}

.approval-account__buttons button:first-child:hover path {
	fill: #65d401;
}

.approval-account__buttons button:first-child path {
	fill: #65d401;
}

.approval-account__buttons button:last-child {
	color: #ef5030;
}

.approval-account__buttons button:last-child:hover {
	background-color: #f4ffe9;
	border-color: #ef5030;
	color: #ef5030;
}

.approval-account__buttons button:last-child:hover path {
	fill: #ef5030;
}

.approval-account__buttons button:last-child path {
	fill: #ef5030;
}

.approval-account__buttons button.ok {
	background-color: #65d401;
	color: #fff;
}

.approval-account__buttons button.ok path {
	fill: #fff;
}

.approval-account__buttons button.cancel {
	background-color: #ef5030;
	color: #fff;
}

.approval-account__buttons button.cancel path {
	fill: #fff;
}

.approval-account__buttons button.disable {
	color: #444b4d;
}

.approval-account__buttons button.disable path {
	fill: #444b4d;
}

.approvals__pagination {
	width: 246px;
	height: 41px;
	margin: 5px auto 0;
}

.approvals__pagination-list {
	padding: 0;
	margin: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.approvals__pagination-page {
	width: 41px;
	height: 41px;
	border-top: 1px solid #eaeaea;
	border-left: 1px solid #eaeaea;
}

.approvals__pagination-page:last-child {
	border-right: 1px solid #eaeaea;
}

.approvals__pagination-page:hover {
	background-color: #eaeaea;
}

.approvals__pagination-page.active {
	background-color: #eaeaea;
}

.approvals__pagination-page a {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	height: 100%;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	color: #666;
	font-family: Roboto, sans-serif;
	font-size: 16px;
	font-weight: 500;
}

@media screen and (max-width: 768px) {
	.sortby__item:not(:first-child) {
		width: 100%;
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: flex-start;
	}
	
	.approvals__list{
		display: none;
	}
    
    .approval-account__name,
    .approval-account__adv,
    .approval-account__file,
    .approval-account__image-block,
    .approval-account__buttons{
	    margin: 0;
	    width: 100%;
	    padding-left: 50%;
	    padding-top: 10px;
	    padding-bottom: 10px;
	    position: relative;
    }
	
	.approval-account__name:before,
	.approval-account__adv:before,
	.approval-account__file:before,
	.approval-account__image-block:before,
	.approval-account__buttons:before
	{
		position: absolute;
		left: 10px;
		top: calc(50% - 6px);
		content: 'User';
		color: #b2bbbd;
		font-family: Montserrat, sans-serif;
		font-size: 12px;
		font-weight: 400;
		line-height: 12px;
		text-transform: uppercase;
	}
	
	.approval-account__adv:before{
		content: 'Advertiser';
	}
	
	.approval-account__file{
		background-position: calc(50% + 12px);
	}
	
	.approval-account__file:before{
		content: 'File';
	}
	
	.approval-account__image-block:before{
		content: 'Preview';
	}
	
	.approval-account__buttons:before{
		content: 'Actions';
	}
	
}