/*.page {*/
/*position: relative;*/
/*background-image: url("/img/head__bg.png");*/
/*background-repeat: no-repeat;*/
/*background-position: 61.5% -15px;*/
/*-webkit-background-size: cover;*/
/*background-size: cover;*/
/*}*/

.mainSec__left-content {
    padding-top: 65px;
}

.main_page__button {
    display: block;
    text-align: center;
    max-width: 164px;
    padding: 21px 0 19px;
    width: 100%;
    position: relative;
    background-color: #12caff;
    -webkit-box-shadow: 0 11px 32px rgba(18, 202, 255, .58);
    box-shadow: 0 11px 32px rgba(18, 202, 255, .58);
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.main_page__button:hover {
    color: #fff;
    text-decoration: none;
}

.main_page__button:hover {
    background-color: #23dbff;
}

.main_page__head {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.main_page__head-name {
    width: 47%;
}

.main_page__head-balance {
    width: 34.4%;
}

.main_page__head-name div,
.main_page__head-balance div {
    color: #444b4d;
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 18px;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.main_page__head-name .account-name,
.main_page__head-balance .account-balance {
    color: #444b4d;
    font-family: Montserrat, sans-serif;
    font-size: 30px;
    font-weight: 600;
    line-height: 30px;
    padding-right: 15px;
}

.main_page__head-btn {
    width: 18.6%;
}

.main_page__head + hr {
    margin-top: 36px;
    border-top: 1px solid #e6e6e6;
}

.campaign-list__title {
    color: #12c1ff;
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 12px;
    text-transform: uppercase;
    padding-left: 40px;
}

.campaign-list__head {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    color: #b2bbbd;
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-transform: uppercase;
    margin-top: 8px;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 10px;
}

.campaign-list__head-name {
    max-width: 146px;
    width: 100%;
}

.campaign-list__head-status {
    max-width: 181px;
    min-width: 120px;
    padding-right: 25px;
    width: 100%;
}

.campaign-list__head-name,
.campaign-list__head-status {
    padding-left: 15px;
}

.campaign-list__head-start,
.campaign-list__item-start {
    padding-left: 10px;
}

.campaign-list__head-start,
.campaign-list__head-end {
    max-width: 93px;
    width: 100%;
}

.campaign-list__head-amount {
    max-width: 134px;
    width: 100%;
}

.campaign-list__head-spent {
    max-width: 139px;
    width: 100%;
}

.campaign-list__head-empty {
    max-width: 81px;
    width: 100%;
}

.campaign-list__list-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: #444b4d;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    /*	margin-top: 8px;*/
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 10px;
    padding-top: 8px;
    -webkit-transition: background-color 0.4s linear;
    -o-transition: background-color 0.4s linear;
    transition: background-color 0.4s linear;
}

.campaign-list__list-item.new_row {
    background-color: #ffffa2;
}

.campaign-list__list-item:last-child {
    margin-bottom: 111px;
}

.campaign-list__item-name {
    max-width: 146px;
    width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    /*	overflow: hidden;*/
}

.campaign-list__item-name div {
    width: 100px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    /*
    height: 14px;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
*/
}

.campaign-list__item-status {
    max-width: 181px;
    width: 100%;
}

.campaign-list__item-name,
.campaign-list__item-status {
    padding-left: 15px;
}

.campaign-list__item-start,
.campaign-list__item-end {
    max-width: 93px;
    width: 100%;
}

.campaign-list__item-amount {
    max-width: 134px;
    width: 100%;
}

.campaign-list__item-spent {
    max-width: 139px;
    width: 100%;
}

.campaign-list__item-status .btns {
    position: relative;
}

.campaign-list__item-status .droplist {
    position: absolute;
    top: 110%;
    -webkit-box-shadow: 0 11px 32px rgba(41, 41, 41, 0.58);
    box-shadow: 0 11px 32px rgba(41, 41, 41, 0.58);
    display: none;
}

.campaign-list__item-status .button {
    display: none;
    width: 160px;
    height: 40px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #444b4d;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 14px;
    position: relative;
    cursor: pointer;
    text-transform: capitalize;
}

.campaign-list__item-status .button:before {
    content: "";
    display: block;
    position: absolute;
    width: 13px;
    height: 10px;
    border: none;
    background: url(../image/main-page-arrow-select.png) no-repeat;
    top: -webkit-calc(50% - 4px);
    top: calc(50% - 4px);
    right: 9px;
}

.campaign-list__item-status .start-btn:before {
    display: none;
}

.campaign-list__item-status .button.active {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.campaign-list__item-status .active-btn {
    border: 1px solid #64d300;
    background-color: #f3ffe8;
}

.campaign-list__item-status .pause-btn {
    border: 1px solid #525a5c;
    background-color: #e6f4f6;
}

.campaign-list__item-status .start-btn {
    border: 1px solid #f04f2d;
    padding-left: 0;
    text-align: center;
    color: #f04f2d;
    background-color: #ffede8;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.campaign-list__item-status .delete-btn {
    border: 1px solid #f04f2d;
    padding-left: 10px;
    color: #f04f2d;
    background-color: #ffede8;

}

.campaign-list__item-status .button svg,
.campaign-list__item-status .drop-button svg {
    margin-right: 12px;
}

.campaign-list__item-status .delete-btn svg,
.campaign-list__item-status .delete-drop-btn svg {
    margin-right: 7px;
}

.campaign-list__item-status .active-btn path,
.campaign-list__item-status .active-drop-btn path {
    fill: #35e008;
}

.campaign-list__item-status .pause-btn path,
.campaign-list__item-status .pause-drop-btn path {
    fill: #525a5c;
}

.campaign-list__item-status .delete-btn path,
.campaign-list__item-status .delete-drop-btn path {
    fill: #f04f2d;
}

.campaign-list__item-status .droplist {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: #fff;
    position: absolute;
    z-index: 1;
}

.campaign-list__item-status .droplist .drop-button {
    display: none;
    width: 160px;
    height: 40px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color: #f3ffe8;
    color: #444b4d;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 14px;
    position: relative;
    cursor: pointer;
    text-transform: capitalize;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}

.campaign-list__item-status .droplist .drop-button:hover {
    background-color: #f5f9fa;
}

.campaign-list__item-status .droplist .drop-button.visible {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.campaign-list__item-status .droplist .drop-button.visible:first-child {
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

.campaign-list__item-status .droplist .drop-button.visible:last-child {
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}

/*
.campaign-list__item-status .droplist .drop-button:before {
	display: none;
}
*/

.campaign-list__item-status .droplist .active-drop-btn {
    border: none;
    background-color: #fff;
}

.campaign-list__item-status .droplist .pause-drop-btn {
    border: none;
    background-color: #fff;
}

.campaign-list__item-status .droplist .delete-drop-btn {
    border: none;
    padding-left: 10px;
    color: #f04f2d;
    background-color: #fff;
}

.campaign-list__item-details {
    max-width: 180px;
    width: 100%;
}

.campaign-list__item-details a {
    color: #12caff;
    text-decoration: underline;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(11, 117, 164, .48);
    z-index: 1000;
}

.modal {
    position: fixed;
    z-index: 1001;
    max-width: 700px;
    width: 100%;
    /*	max-height: 386px;*/
    height: auto;
    right: 0;
    left: 0;
    top: 0;
    bottom: auto;
    margin: 30px auto;
    background-color: #fff;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.instagram-modal {
    bottom: 0;
    max-width: 100%;
    margin: 0;
    background-color: transparent;
    overflow-x: hidden;
    overflow-y: scroll;
}

.instagram-modal .modal-dialog {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.instagram-modal .fakeTable__head,
.instagram-modal .fakeTable__box {
    min-width: 24%;
}

.modal .modal-dialog input {
    padding: 20px;
    margin-top: 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 3px solid #ececec;
    display: block;
    max-width: 490px;
    width: 100%;
    height: 80px;
    resize: none;
    font-size: 16px;
    line-height: 1.2;
    font-family: "Open Sans", sans-serif;
    color: #000;
    background-color: #fff;
}

.modal__close {
    position: absolute;
    top: 19px;
    right: 17px;
}

.modal__title {
    color: #444b4d;
    font-family: Montserrat, sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    padding-left: 49px;
    padding-top: 46px;
}

.modal__head-list {
    color: #b2bbbd;
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    text-transform: uppercase;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 46px;
    padding-bottom: 12px;
    border-bottom: 1px solid #e7e7e7;
}

.modal__user {
    max-width: 220px;
    min-width: 177px;
    width: 100%;
    padding-left: 49px;
}

.modal__followers {
    max-width: 140px;
    min-width: 92px;
    width: 100%;
    padding-left: 15px;
}

.modal__start {
    max-width: 110px;
    min-width: 73px;
    width: 100%;
    padding-left: 15px;
}

.modal__spent {
    max-width: 191px;
    min-width: 75px;
    width: 100%;
    padding-left: 15px;
}

.modal__items {
    height: 364px;
    overflow-y: scroll;
}

.modal__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid #e7e7e7;
    color: #444b4d;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    padding-top: 24px;
    padding-bottom: 22px;
    background-color: #fcfdfd;
}

.modal__item:nth-child(2n + 1) {
    background-color: #f5f9fa;
}

.modal__item-user {
    max-width: 220px;
    min-width: 177px;
    width: 100%;
    padding-left: 49px;
    color: #12caff;
    text-decoration: underline;
}

.modal__item-followers {
    max-width: 140px;
    min-width: 92px;
    width: 100%;
    padding-left: 15px;
}

.modal__item-start {
    max-width: 110px;
    min-width: 73px;
    width: 100%;
    padding-left: 15px;
}

.modal__item-spent {
    max-width: 191px;
    min-width: 75px;
    width: 100%;
    padding-left: 15px;
}

@media screen and (max-width: 1200px) {
    .mainSec__left-content {
        padding-top: 40px;
    }

    .tabMenu {
        margin: auto 0;
        margin-top: 0;
    }
}

@media screen and (max-width: 992px) {
    .header__logo {
        display: flex;
        justify-content: center;
        float: none;
    }
    .header {
        margin-bottom: 50px;
    }
    .header_right {
        padding-top: 112px;
    }
    .campaign-list__list-item:last-child {
        margin-bottom: 25px;
    }

    .mainSec__left-content {
        padding-top: 0;
    }

}

@media screen and (max-width: 768px) {
    .header__logo {
        display: flex;
        justify-content: center;
        float: none;
    }
    .header {
        margin-bottom: 30px;
    }
    .header_right {
        padding-top: 12px;
    }
    .campaign-list__head {
        display: none;
    }

    .campaign-list__list-item {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .campaign-list__item-name,
    .campaign-list__item-status,
    .campaign-list__item-start,
    .campaign-list__item-end,
    .campaign-list__item-amount,
    .campaign-list__item-spent,
    .campaign-list__item-details {
        margin: 0;
        width: 100%;
        padding-left: 50%;
        padding-top: 10px;
        padding-bottom: 10px;
        position: relative;
        max-width: 100%;
    }

    .campaign-list__item-name:before,
    .campaign-list__item-status:before,
    .campaign-list__item-start:before,
    .campaign-list__item-end:before,
    .campaign-list__item-amount:before,
    .campaign-list__item-spent:before,
    .campaign-list__item-details:before {
        position: absolute;
        left: 10px;
        top: -webkit-calc(50% - 6px);
        top: calc(50% - 6px);
        content: 'campaign name';
        color: #b2bbbd;
        font-family: Montserrat, sans-serif, sans-serif;
        font-size: 12px;
        font-weight: 400;
        line-height: 12px;
        text-transform: uppercase;
    }

    .campaign-list__item-status:before {
        content: 'status';
    }

    .campaign-list__item-start:before {
        content: 'start';
    }

    .campaign-list__item-end:before {
        content: 'end';
    }

    .campaign-list__item-amount:before {
        content: 'campaign amount';
    }

    .campaign-list__item-spent:before {
        content: 'amount spent';
    }

    .campaign-list__item-details:before {
        content: 'more';
    }

    .campaign-list__p-select {
        max-width: 150px;
    }
}

@media screen and (max-width: 580px) {

    .modal__user,
    .modal__item-user {
        padding-left: 10px;
        min-width: 120px;
    }
}

@media screen and (max-width: 520px) {
    .autorization_header .header_right {
        max-width: 160px;
        flex-direction: column;
        float: none !important;
        height: 200px;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
    }
    .main_page__head-name {
        width: 100%;
    }

    .main_page__head-balance {
        width: 40%;
    }

    .main_page__head-btn {
        width: 50%;
    }
}

@media screen and (max-width: 400px) {
    .modal {
        height: 100vh;
        max-height: none;
    }
}

@media screen and (max-width: 360px) {
    .modal__title {
        font-size: 22px;
        line-height: 20px;
        text-align: center;
        padding-left: 0;
    }

    .modal__user,
    .modal__item-user {
        min-width: 100px;
    }

    .modal__followers,
    .modal__item-followers {
        min-width: 75px;
    }

    .modal__head-list,
    .modal__item {
        font-size: 10px;
        line-height: 10px;
    }
}

/*begin AdvrtiserIndex.html styles*/

.advertiserSec__right-content {
    padding-right: 20.5%;
}

.advertiserSec_head {
    align-items: flex-start;
    margin-top: 30px;
}

.advertiserSec_head-name div,
.advertiserSec_head-balance div {
    font-size: 26px;
    line-height: 1;
    font-weight: 600;
}

.advertiserSec_head-name .account-name,
.advertiserSec_head-balance .account-name {
    font-size: 36px;
    line-height: 1;
    font-weight: 600;
}

.advertiserSec_head-name .status {
    margin-top: 32px;
    margin-bottom: 0;
    text-transform: uppercase;
    color: #A6B9C1;
    font-size: 13px;
    font-family: Montserrat, sans-serif;
    line-height: 16px;
}

.advertiserSec_head-name .status span {
    color: #12c1ff;
}

.advertiserSec_head-balance {
    width: 34.4%;
}

.advertiserSec_head-balance .account-balance {
    font-size: 38px;
    line-height: 1;
    font-weight: 600;
}

.advertiserSec_head-balance .rates__submit {
    margin-bottom: 0;
    margin-top: 16px;
}

.advertiserSec_head-balance .rates__submit-input {
    margin-bottom: 0;
}

.advertiserSec_head-balance .rates__submit-input input {
    padding: 18px 85px 18px 60px;
    color: #FFFFFF;
    font-size: 14px;
}

.advertiserSec_head-balance .rates__submit-input:after {
    top: 21px;
    right: 48px;
}

.advertiserSec_head + hr {
    margin-top: 45px;
    margin-bottom: 25px;
}

.campaign-list__title {
    padding-left: 35px;
    font-size: 13px;
}

.campaign-list__head {
    margin-top: 20px;
    padding-bottom: 2px;
}

.campaign-list__head * {
    color: #A6B9C1;
    font-size: 13px;
    line-height: 16px;
    font-family: Montserrat, sans-serif;
}

.campaign-list__head-name,
.campaign-list__item-name {
    padding-left: 35px;
    max-width: 21%;
}

.campaign-list__item-name div {
    color: #444B4D;
    font-size: 13px;
    font-family: Montserrat, sans-serif;
    line-height: 16px;
}

.campaign-list__head-status,
.campaign-list__item-status {
    max-width: 17.15%;
    padding-left: 0;
    padding-right: 0;
}

.campaign-list__item-status .button {
    font-size: 13px;
}

.campaign-list__head-start,
.campaign-list__item-start {
    max-width: 9.1%;
    padding-left: 0;
    padding-right: 0;
}

.campaign-list__head-end,
.campaign-list__item-end {
    max-width: 9.4%;
    padding-left: 0;
    padding-right: 0;
}

.campaign-list__head-amount,
.campaign-list__item-amount {
    max-width: 12.7%;
}

.campaign-list__head-spent,
.campaign-list__item-spent {
    max-width: 9.62%;
}

.campaign-list__head-empty,
.campaign-list__item-details {
    max-width: 15.91%;
}

.campaign-list__item-status .button {
    width: 136px;
    height: 37px;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-family: Montserrat, sans-serif;
}

.campaign-list__item-status .active-btn {
    background-color: #46f170;
}

.campaign-list__item-status .pause-btn {
    background-color: #00baf9;
}

.campaign-list__item-status .pause-drop-btn path {
    fill: #00baf9;
}

.campaign-list__item-status .button:before {
    background: url(../image/main-page-arrow-select.svg) no-repeat;
    background-position: center;
}

.campaign-list__item-status .droplist {
    border-radius: 0 0 6px 6px;
    overflow: hidden;
}

.campaign-list__item-status .active-btn path,
.campaign-list__item-status .pause-btn path {
    fill: #fff;
}

.campaign-list__item-status .droplist .drop-button {
    width: 136px;
    height: 37px;
}

.campaign-list__item-status .finished-btn {
    background-color: #FF4081;
}

.campaign-list__item-status .finished-btn svg {
    width: 12px;
    height: 12px;
}

.campaign-list__item-status .finished-btn svg path {
    stroke-width: 7px;
    stroke: #fff;
}

.campaign-list__item-status .finished-btn.button:before {
    display: none;
}

.campaign-list__item-status .approval-btn {
    background-color: #B0BEC5;
}

.campaign-list__item-status .approval-btn.button:before {
    display: none;
}

.campaign-list__item-status .button svg, .campaign-list__item-status .drop-button svg {
    margin-right: 15px;
}

.campaign-list__item-status .droplist .drop-button {
    font-size: 13px;
}

.campaign-list__list-item * {
    font-size: 13px;
}

.campaign-list__item-details a {
    line-height: 16px;
    color: #11B7FF;
}

.campaign-list__item-details a:hover {
    text-decoration: none;
}

.campaign-list__item-details ul {
    margin-bottom: 0;
}

.campaign-list__list-item {
    padding-top: 14px;
    padding-bottom: 14px;
}

@media screen and (max-width: 1400px) {
    .mainSec__right-content {
        padding-right: 60px;
    }
}

@media screen and (max-width: 768px) {
    .campaign-list__head-name, .campaign-list__item-name,
    .campaign-list__head-status, .campaign-list__item-status,
    .campaign-list__head-start, .campaign-list__item-start,
    .campaign-list__head-end, .campaign-list__item-end,
    .campaign-list__head-amount, .campaign-list__item-amount,
    .campaign-list__head-spent, .campaign-list__item-spent,
    .campaign-list__head-empty, .campaign-list__item-details {
        max-width: 100%;
        padding-left: 50%;
    }

    .campaign-list__title {
        padding-left: 10px;
    }

    .advertiserSec__right-content {
        padding-right: 0;
    }

    .advertiserSec_head {
        padding-left: 10px;
    }

    .advertiserSec_head-balance {
        width: initial;
    }
}

@media screen and (max-width: 530px) {
    .advertiserSec_head {
        flex-direction: column;
        text-align: center;
        padding-left: 0;
        align-items: initial;
    }

    .main_page__head-name {
        width: 100%;
        margin-bottom: 20px;
    }

    .campaign-list__item-name:before, .campaign-list__item-status:before, .campaign-list__item-start:before, .campaign-list__item-end:before, .campaign-list__item-amount:before, .campaign-list__item-spent:before, .campaign-list__item-details:before {
        left: 0;
    }

    .campaign-list__title {
        padding-left: 0;
    }
}

/*end AdvrtiserIndex.html styles*/



.autorization_header .header_right {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.autorization_header .choose__language-wr {
    padding-right: 0;
    margin-top: -2px;
}

.header_right-link {
    display: inline-block;
    padding-right: 22px;
    padding-left: 22px;
    margin-right: 15px;
    height: 35px;
    line-height: 32px;
    font-size: 14px;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
    background-color: transparent;
    color: #fff;
    border: 1px solid #eef3f4;
    border-radius: 5px;
    text-decoration: none;
}
.header_right-link__contacts {
    padding-left: 52px;
    position: relative;
}
.header_right-link__contacts img {
    position: absolute;
    left: 22px;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 20px;
    height: 20px;
}
.link--download {
    padding-left: 20px;
    margin-right: 70px;
    color: #fff;
    border: 1px solid #ff4081;
    background-color: #ff4081;
    transition: background-color 0.4s;
}

.link--download:hover {
    border: 1px solid #e83773;
    background-color: #e83773;
}

.link--download__img {
    vertical-align: middle;
    padding-right: 15px;
}



.header_right-link:hover,
.header_right-link:active,
.header_right-link:focus {
    color: #fff;
    text-decoration: none;
}

.autorization * {
    font-family: Montserrat, sans-serif;
}

.autorization_forms {
    max-width: 618px;
    width: 100%;
    border-radius: 6px;
    background-color: #F6F8F9;
    margin: 0 auto;
    padding: 25px 80px 25px 80px;
}

.autorization_forms-tabs {
    display: flex;
    margin-bottom: 0;
}

@media screen and (max-width: 420px) {
    .autorization_forms-tabs {
        margin-bottom: 20px;
    }
}

.autorization_forms-tabs a {
    width: 50%;
    display: inline-block;
    text-align: center;
    border-radius: 6px 0 0 6px;
    background-color: #EAF0F1;
    box-shadow: inset -1px 1px 9px 0 rgba(202, 202, 202, 0.5);
    line-height: 40px;
    color: #444B4D;
    font-size: 16px;
    line-height: 36px;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
}

.autorization_forms-tabs a:last-child {
    border-radius: 0 6px 6px 0;
}

.autorization_forms-tabs a.active {
    background-color: #11B7FF;
    color: #fff;
}

.autorization_form-box {
    margin-bottom: 7px;
}

.autorization_form-box label {
    display: block;
    color: #B2BBBD;
    font-family: Montserrat;
    font-size: 13px;
    line-height: 46px;
    cursor: default;
    text-transform: uppercase;
    margin-bottom: 0;
}

.autorization_form-box label .help {
    display: inline-block;
    height: 22px;
    width: 22px;
    background-color: #EBEBEB;
    text-align: center;
    line-height: 22px;
    color: #11B7FF;
    font-size: 16px;
    text-align: center;
    border-radius: 50%;
    margin-left: 10px;
}

.autorization_form-box input {
    height: 50px;
    width: 100%;
    border: 4px solid #EAF0F1;
    border-radius: 6px;
    margin-top: -3px;
    color: #B2BBBD;
    font-size: 26px;
    line-height: 1;
    padding: 0 13px;
    font-weight: 600;
    margin-top: -5px;
}

.autorization_form-box input:focus {
    border-color: #12caff;
}

.autorization_form-box input::-webkit-input-placeholder {
    color: #B2BBBD;
}

.autorization_form-box input::-moz-placeholder {
    color: #B2BBBD;
}

/* Firefox 19+ */
.autorization_form-box input:-moz-placeholder {
    color: #B2BBBD;
}

/* Firefox 18- */
.autorization_form-box input:-ms-input-placeholder {
    color: #B2BBBD;
}

.autorization_form-box input[type="password"] {
    font-weight: 700;
    letter-spacing: 2px;
}

.autorization_form-check {
    text-align: center;
    margin-top: 23px;
}

.autorization_form-check__reg {
    text-align: left;
}

.autorization_form-check.log {
    text-align: left;
    margin-top: 32px;
}

.autorization_form-check.log label {
    cursor: pointer;
}

.autorization_form-check input {
    display: none;
}

.autorization_form-check input + label {
    padding-left: 36px;
    position: relative;
    cursor: default;
}

.autorization_form-check input + label:before {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    border: 3px solid #EAF0F1;
    border-radius: 3px;
    background-color: #FFFFFF;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.autorization_form-check input:checked + label:before {
    background-image: url(../image/check.png);
}

.autorization_form-check label {
    display: inline-block;
    color: #B2BBBD;
    font-size: 13px;
    line-height: 16px;
}

.autorization_form-check label a {
    color: #11B7FF;
}

.autorization_form-btn {
    margin-top: 33px;
    position: relative;
}

.autorization_form-btn input {
    width: 100%;
    height: 50px;
    background-color: #38df11;
    font-family: "Raleway", sans-serif;
    border-radius: 4px;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0 11px 32px 0 rgba(123, 248, 93, 0.58);
    transition: all .3s;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
}

.autorization_form-btn:before {
    content: '';
    position: absolute;
    top: 50%;
    right: 20%;
    background: url(../image/arrow__righ2t.png) no-repeat;
    width: 17px;
    height: 8px;
    background-size: contain;
    transform: translate(0, -50%);
    transition: all .3s;
}

.autorization_form-btn input:hover {
    background-color: #49ef22;
    transition: all .3s;
}

.autorization_form-login {
    margin-top: 32px;
}

.autorization_form-link {
    text-align: center;
    margin-top: 35px;
}

.autorization_form-link a {
    display: inline-block;
    font-size: 13px;
    line-height: 16px;
    color: #11B7FF;
    text-decoration: underline;
    font-weight: 600;
}

.autorization_form-link a:hover {
    text-decoration: none;
}

.autorization_form-box input.autorization_not_valid {
    border-color: #ff0e0e;
}
.autorization_form-check input.autorization_not_valid + label:before {
    border-color: #ff0e0e;
}

.autorization_form_error-message {
    display: block;
    margin: 10px 0;
    font-size: 14px;
    font-weight: bold;
    font-family: Montserrat, sans-serif;
    color: #ff0e0e;
}

.autorization_form_error-message:empty {
    display: none;
}

/* begin new styles */
.custom-autorization_forms .modal__opacity {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
    background-color: #1E79A1;
    opacity: 0.7;
}
.custom-autorization_forms .consultation-modal__close {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #B2BBBD;
    font-size: 40px;
    transform: rotate(45deg);
    cursor: pointer;
}
.consultation-modal {
    border-radius: 6px;
    z-index: 1000;
    overflow: auto;
    display: none;
    position: fixed;
    width: 100%;
    max-width: 618px;
    height: 100vh;
    max-height: 680px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #ffffff;
    padding: 25px 80px 25px 80px;
}
.consultation-modal_after-submit {
    max-height: 150px;
}
.consultation-modal textarea {
    border: 4px solid #EAF0F1;
    border-radius: 6px;
    color: #B2BBBD;
    font-size: 26px;
    line-height: 1;
    padding: 10px 13px;
    font-weight: 600;
    margin-top: -5px;
    width: 100%;
    height: 100px;
    resize: none;
}
.custom-autorization_forms .consultation-modal__text {
    display: none;
    margin-top: 35px;
    font-size: 18px;
    color: #11B7FF;
    font-weight: bold;
}
/* end new styles */
@media screen and (max-width: 990px) {
    .link--download {
        margin-right: 15px;
    }
}
@media screen and (max-width: 768px) {
    .custom-autorization_forms .consultation-modal {
        padding: 25px 15px;
    }
    .autorization_forms {
        max-width: 90%;
        padding: 25px 15px;
    }

    .header_right-link {
        margin-right: 10px;
    }

    .autorization_header .header_right {
        position: static;
        float: right;
        transform: none;
        display: flex;
    }

    .header_right-link {
        padding-left: 10px;
        padding-right: 10px;
    }
    .header_right-link__contacts {
        padding-left: 42px;
    }
    .header_right-link__contacts img {
        left: 12px;
    }
    .link--download {
        font-size: 0;
        width: 43px;
        height: 35px;
    }
    .link--download__img {
        padding-right: 0;
    }

    .autorization {
        margin-bottom: 30px;
    }

    .autorization_form-box input {
        font-size: 18px;
    }
}
@media screen and (max-width: 460px) {
    .link--download {
        right: 60%;
    }
}
@media screen and (max-width: 420px) {
    .custom-autorization_forms .open-consultation-form {
        font-size: 10px;
    }
    .autorization_form-box label {
        margin-bottom: 10px;
        line-height: 15px;
        font-size: 10px;
    }
    .autorization_forms-tabs a {
        font-size: 12px;
    }
    .custom-autorization_forms .consultation-modal__close {
        top: 5px;
    }
}
@media screen and (max-width: 380px) {
    .header_right {
        padding-top: 22px;
    }
    .link--download {
        right: 75%;
    }
}



