@charset "UTF-8";
* {
	margin: 0;
	padding: 0;
	-webkit-text-size-adjust: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

label {
	cursor: pointer;
}

a {
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	background: transparent;
	text-decoration: none;
	color: #000;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td, td img {
	vertical-align: top;
}

/* for IOS <input type='submit'> */
input {
	-webkit-appearance: none;
	border-radius: 0;
}

/* end for IOS <input type='submit'> */
input, select, button, textarea {
	margin: 0;
	font-size: 100%;
}

input[type="checkbox"] {
	vertical-align: bottom;
}

input[type="radio"] {
	vertical-align: text-bottom;
}

sub {
	vertical-align: sub;
	font-size: smaller;
}

sup {
	vertical-align: super;
	font-size: smaller;
}

/*****************************************************************************************/
html, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, input {
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	font-family: 'Roboto', sans-serif;
}

button {
	border: none;
	padding: 0;
	font-size: 0;
	line-height: 0;
	background: none;
	cursor: pointer;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}

del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*------------------------------------------------------------------*/
img {
	line-height: 0;
	font-size: 0;
}

menu {
	padding: 0;
	margin: 0;
}

/* --------------- /reset.css --------------- */
.clearfix:before, .clearfix:after {
	content: "\0020";
	display: block;
	height: 0;
	visibility: hidden;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	zoom: 1;
}

/*@include border-radius (9px);*/
/*@include box-shadow(inset, 0, 1px, 1px, rgba(0, 0, 0, 0.5));*/
/*@include transition(background-color 1s .5s, color 2s);*/
/*@include opacity(0.8);*/
/*@include transform(rotate(45deg));*/
/*@include skew(25,10);*/
/*@include transform-origin(top left);*/
/* Your custom fonts here */
@font-face {
	font-family: 'Square721BT-Bold';
	src: url("../fonts/square/Square721BT-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/square/Square721BT-Bold.woff") format("woff"), url("../fonts/square/Square721BT-Bold.ttf") format("truetype"), url("../fonts/square/Square721BT-Bold.svg#Square721BT-Bold") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Miso-Bold';
	src: url("../fonts/miso/Miso-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/miso/Miso-Bold.woff") format("woff"), url("../fonts/miso/Miso-Bold.ttf") format("truetype"), url("../fonts/miso/Miso-Bold.svg#Miso-Bold") format("svg");
	font-weight: normal;
	font-style: normal;
}

/* Your svg fonts here */
@font-face {
	font-family: 'icomoon';
	src: url("../fonts/svg/icomoon.eot?fngjv1");
	src: url("../fonts/svg/icomoon.eot?fngjv1#iefix") format("embedded-opentype"), url("../fonts/svg/icomoon.ttf?fngjv1") format("truetype"), url("../fonts/svg/icomoon.woff?fngjv1") format("woff"), url("../fonts/svg/icomoon.svg?fngjv1#icomoon") format("svg");
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-cancel:before {
	content: "\e900";
}

.icon-facebook-app-logo:before {
	content: "\e901";
}

.icon-instagram-logo:before {
	content: "\e902";
}

.icon-social:before {
	content: "\e903";
}

.icon-twitter-logo-silhouette:before {
	content: "\e904";
}

/**** menu - aside *****/
.menu-aside {
	padding: 11% 40px;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	width: 30%;
	background-color: #0086dc;
	z-index: 9999;
	-webkit-transform: translateX(100%);
	transform: translateX(100%);
	-webkit-transition: transform 0.4s ease-out;
	-webkit-transition: -webkit-transform 0.4s ease-out;
	transition: -webkit-transform 0.4s ease-out;
	transition: transform 0.4s ease-out;
	transition: transform 0.4s ease-out, -webkit-transform 0.4s ease-out;
}

.menu-aside.open-menu {
	-webkit-transform: translateX(0);
	transform: translateX(0);
}

@media screen and (max-width: 960px) {
	.menu-aside {
		padding: 150px 40px;
	}
}

@media screen and (max-width: 767px) {
	.menu-aside {
		box-sizing: border-box;
		width: 100%;
	}
}

.menu-close {
	position: absolute;
	top: 65px;
	left: 128px;
}

.menu-close i {
	display: inline-block;
	color: #fff;
	font-size: 37px;
	-webkit-transition: color 0.25s ease;
	transition: color 0.25s ease;
	-webkit-animation-duration: .5s;
	animation-duration: .5s;
	-webkit-animation-timing-function: ease;
	animation-timing-function: ease;
	-webkit-animation-delay: 0s;
	animation-delay: 0s;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
	-webkit-animation-direction: alternate;
	animation-direction: alternate;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-transition: transform 0.5s ease-out;
	-webkit-transition: -webkit-transform 0.5s ease-out;
	transition: -webkit-transform 0.5s ease-out;
	transition: transform 0.5s ease-out;
	transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
}

.menu-close i:hover {
	color: #1ab1eb;
	-webkit-animation-name: turn;
	animation-name: turn;
}

@media screen and (max-width: 767px) {
	.menu-close i {
		font-size: 30px;
	}
}

@media screen and (max-width: 1024px) {
	.menu-close {
		right: 40px;
		left: auto;
	}
}

@media screen and (max-width: 767px) {
	.menu-close {
		top: 40px;
	}
}

/* animation */
@-webkit-keyframes turn {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
	}
}

@keyframes turn {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
	}
}

.menu-aside__block {
	position: relative;
	padding-bottom: 15px;
	margin-bottom: 20px;
}

.menu-aside__block::after {
	position: absolute;
	content: '';
	left: 0;
	bottom: 0;
	width: 22px;
	height: 5px;
	background-color: #13d2ff;
}

.menu-aside__block:last-of-type::after {
	display: none;
}

.menu-aside__block .social__i {
	margin-bottom: 12px;
}

.menu-list__link {
	font-size: 14px;
	line-height: 30px;
	font-family: "Raleway", sans-serif;
	font-weight: bold;
	color: #ffffff;
	position: relative;
	-webkit-transition: color 0.25s ease;
	transition: color 0.25s ease;
}

.menu-list__link:hover {
	color: #15e0ff;
}

.select-lang {
	width: 135px;
	background-color: transparent;
	border: 0;
	border-bottom: 1px solid #13d2ff;
	color: #ffffff;
	cursor: pointer;
}

.select-lang option {
	color: #000;
}

@media screen and (max-width: 767px) {
	.select-lang {
		width: 100%;
	}
}

/**** end menu - aside ****/
/******** btn ***********/
.btn {
	position: relative;
	display: inline-block;
	width: 100%;
	height: 61px;
	padding-left: 20px;
	padding-right: 40px;
	text-transform: uppercase;
	border-radius: 10px;
	letter-spacing: -.1px;
	-webkit-transition: color 0.25s ease;
	transition: color 0.25s ease;
	box-sizing: border-box;
}

.btn i {
	display: inline-block;
	vertical-align: middle;
	margin-right: 11px;
	font-size: 30px;
	color: #ffffff;
	-webkit-transition: color 0.25s ease;
	transition: color 0.25s ease;
}

.btn span {
	display: inline-block;
	vertical-align: middle;
	font-size: 16px;
	line-height: 61px;
}

@media screen and (max-width: 1366px) {
	.btn span {
		font-size: 12px;
	}
}

.btn::after {
	position: absolute;
	content: '';
	right: 16px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	background-image: url(../image/png-sprite/96dpi/spritec6qtq589f6r.png);
	background-position: -240px -41px;
	width: 10px;
	height: 18px;
	background-size: 258px, 232px;
	background-repeat: no-repeat;
	-webkit-transition: right 0.25s ease;
	transition: right 0.25s ease;
}

.btn:hover::after {
	right: 21px;
}

.btn-style_1 {
	color: #ffffff;
	background-color: #3b5998;
	box-shadow: 0 6px 16px 0 rgba(115, 142, 200, 0.7);
}

.btn-style_1 span {
	font-family: "Square721BT-Bold";
}

.btn-style_1::after {
	background-image: url(../image/png-sprite/96dpi/spritec6qtq589f6r.png);
	background-position: -240px -41px;
	width: 10px;
	height: 18px;
	background-size: 258px, 232px;
	background-repeat: no-repeat;
}

.btn-style_1:hover {
	color: #1ab1eb;
}

.btn-style_1:hover i {
	color: #1ab1eb;
}

.btn-style_2 {
	color: #11b7ff;
	background-color: #ffffff;
	box-shadow: 0 12px 16px 0 #bac9d6;
}

.btn-style_2 span {
	font-family: "Open Sans", sans-serif;
	font-weight: bold;
}

.btn-style_2::after {
	background-image: url(../image/png-sprite/96dpi/spritec6qtq589f6r.png);
	background-position: -226px -41px;
	width: 10px;
	height: 18px;
	background-size: 258px, 232px;
	background-repeat: no-repeat;
}

.btn-style_2:hover {
	color: #77eaff;
}

.btn-style_1color-blue {
	background-color: #11b7ff;
}

.btn-style_1color-blue:hover {
	color: #77eaff;
}

/********** end btn **************/
html, body {
	min-height: 100%;
}

.page {
	position: relative;
	background-image: url("../image/general/fon-bg.jpg");
	background-repeat: no-repeat;
	background-position: 57% 0;
	background-size: cover;
}

@media screen and (min-width: 768px) {
	.page {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-flow: row wrap;
		flex-flow: row wrap;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-ms-flex-line-pack: justify;
		align-content: space-between;
	}
}

@media screen and (max-width: 767px) {
	.page {
		background-position: 33% -5px;
	}
}

@media screen and (min-width: 768px) {
	.page > * {
		-webkit-box-flex: 1 100%;
		-ms-flex: 1 100%;
		flex: 1 100%;
	}
}

.container {
	max-width: 950px;
	margin: 0 auto;
}

@media screen and (max-width: 960px) {
	.container {
		padding: 0 20px;
	}
}

/* main */
@media screen and (min-width: 768px) and (max-width: 1024px) {
	.main {
		padding: 0 20px;
	}
}

@media screen and (max-width: 767px) {
	.main {
		height: calc(100vh - 88px);
	}
}

@media screen and (max-width: 767px) {
	.module-0 {
		height: 100%;
	}
}

@media screen and (max-width: 767px) {
	.module-0 .container {
		position: relative;
		height: 100%;
	}
	.module-0 .container .main__login {
		position: absolute;
		bottom: 0;
		left: 50%;
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
		width: 100%;
	}
}

.main__title {
	font-size: 72px;
	line-height: 74px;
	font-family: "Raleway", sans-serif;
	font-weight: bold;
	color: #ffffff;
	padding-bottom: 30px;
	letter-spacing: -1.5px;
}

@media screen and (max-width: 1366px) {
	.main__title {
		font-size: 48px;
		line-height: 50px;
	}
}

@media screen and (max-width: 767px) {
	.main__title {
		padding-top: 20px;
	}
}

.main__login .text {
	display: block;
	padding-bottom: 15px;
	font-size: 14px;
	line-height: 16px;
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
	color: #ffffff;
}

@media screen and (max-width: 767px) {
	.main__login .text {
		padding-left: 14px;
		background-color: #eceff5;
		color: #acacac;
		padding-top: 25px;
		padding-bottom: 0;
	}
}

.send-box {
	max-width: 410px;
	padding: 24px;
	background-color: #ffffff;
	box-sizing: border-box;
	border-radius: 20px;
}

@media screen and (max-width: 1366px) {
	.send-box {
		max-width: 310px;
		padding: 14px;
	}
}

@media screen and (max-width: 767px) {
	.send-box {
		max-width: 100%;
		border-radius: 0;
		padding: 14px 14px 25px;
		background-color: #eceff5;
	}
}

/* end main */
/* form */
.module {
	display: none;
	border-radius: 10px;
	max-width: 1146px;
	width: 100%;
	background-color: #ffffff;
	overflow: hidden;
	margin: 0 auto;
}

@media screen and (max-width: 767px) {
	.module {
		height: 100%;
		border-radius: 0;
		position: relative;
		overflow: visible;
	}
}

.module-1 {
	z-index: 101;
}

.module-2 {
	z-index: 102;
}

.module-3 {
	z-index: 103;
}

.module-4 {
	z-index: 104;
}

.module__up {
	position: relative;
	padding: 85px 97px 45px;
}

.page_2 .module-1 .module__up {
	padding-bottom: 150px;
}

@media screen and (max-width: 1366px) {
	.page_2 .module-1 .module__up {
		padding-bottom: 80px;
	}
}

.page_2 .module-2 .module__up {
	padding-bottom: 21px;
}

.page_2 .module-3 .module__up {
	padding-bottom: 55px;
}

.module__up i {
	position: absolute;
	top: 70px;
	right: 97px;
}

@media screen and (max-width: 767px) {
	.module__up i {
		top: 50px;
		right: 20px;
	}
}

.module-4 .module__up {
	padding-bottom: 180px;
}

@media screen and (max-width: 1366px) {
	.module-4 .module__up {
		padding-bottom: 100px;
	}
}

@media screen and (max-width: 1366px) {
	.module__up {
		padding: 40px 50px;
	}
}

@media screen and (max-width: 767px) {
	.module__up {
		padding: 40px 20px;
	}
}

.module__down {
	background-color: #eceff5;
	padding: 85px 97px;
}

.page_2 .module-5 .module__down {
	padding-top: 90px;
	padding-bottom: 308px;
}

@media screen and (max-width: 1366px) {
	.page_2 .module-5 .module__down {
		padding-bottom: 100px;
	}
}

@media screen and (max-width: 1366px) {
	.module__down {
		padding: 40px 50px;
	}
}

@media screen and (max-width: 767px) {
	.module__down {
		position: absolute;
		bottom: 0;
		left: 50%;
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
		width: 100%;
		padding: 40px 20px;
		box-sizing: border-box;
	}
	.page_2 .module-5 .module__down {
		top: 0;
	}
}

.module__title {
	font-size: 36px;
	line-height: 1.2;
	color: #e3e6ed;
	font-family: "Raleway", sans-serif;
	font-weight: bold;
	padding-bottom: 79px;
	letter-spacing: -1.2px;
}

.module__title .number {
	margin-right: 19px;
	width: 57px;
	height: 57px;
	text-align: center;
	display: inline-block;
	font-size: 36px;
	line-height: 57px;
	font-family: "Raleway", sans-serif;
	font-weight: bold;
	color: #47e6ff;
	border: 6px solid #c4f7ff;
	border-radius: 50%;
	font-style: normal;
}

.module__title .number + strong {
	vertical-align: text-top;
	display: inline-block;
}

@media screen and (max-width: 480px) {
	.module__title .number + strong {
		width: 80%;
	}
}

@media screen and (max-width: 767px) {
	.module__title .number {
		width: 30px;
		height: 30px;
		font-size: 24px;
		line-height: 30px;
	}
}

@media screen and (max-width: 767px) {
	.module__title {
		padding-bottom: 20px;
		padding-right: 20%;
		font-size: 30px;
	}
	.page_2 .module-2 .module__title, .page_2 .module-3 .module__title, .page_2 .module-4 .module__title {
		font-size: 24px;
		padding-right: 0;
	}
}

.module__title_black {
	color: #000000;
	letter-spacing: 2.5px;
}

@media screen and (max-width: 767px) {
	.module__title_black {
		display: block;
	}
	.module__title_black br {
		display: none;
	}
}

.m-box__form {
	margin-top: 20px;
	margin-bottom: 10px;
}

.m-box__form textarea {
	padding: 20px;
	box-sizing: border-box;
	border-radius: 10px;
	border: 3px solid #ececec;
	display: block;
	max-width: 490px;
	width: 100%;
	height: 80px;
	resize: none;
	font-size: 24px;
	line-height: 1.2;
	font-family: "Open Sans", sans-serif;
	color: #000;
}

@media screen and (max-width: 767px) {
	.m-box__form textarea {
		padding: 10px;
	}
}

.m-box__Text {
	line-height: 1.2;
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
	color: #ececec;
	padding-bottom: 10px;
}

@media screen and (max-width: 767px) {
	.m-box__Text {
		padding-bottom: 0;
	}
}

.m-box__Text_font24 {
	font-size: 24px;
	line-height: 24px;
}

.m-box__Text_font18 {
	font-size: 18px;
	letter-spacing: -.6px;
}

.m-box__Text_font12 {
	font-size: 12px;
	text-transform: uppercase;
}

.m-box__Text_color-blue {
	color: #47e6ff;
}

.wrap-btn {
	font-size: 0;
}

.wrap-btn .module__btn {
	max-width: 460px;
}

.wrap-btn .module__btn:first-of-type {
	margin-right: 30px;
}

@media screen and (max-width: 767px) {
	.module-1 .wrap-btn .module__btn:first-of-type {
		margin-bottom: 20px;
	}
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
	.wrap-btn .module__btn:first-of-type {
		margin-right: 3%;
	}
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
	.wrap-btn .module__btn {
		vertical-align: middle;
		width: 47%;
	}
}

.module__btn {
	max-width: 489px;
}

/**/
.m-inform {
	font-size: 0;
}

.m-inform__image {
	width: calc(20% - 22px);
	display: inline-block;
	vertical-align: middle;
	border-radius: 50%;
	overflow: hidden;
	border: 11px solid #eceff5;
	box-sizing: border-box;
}

.m-inform__image img {
	width: 100%;
	height: 100%;
}

@media screen and (max-width: 767px) {
	.m-inform__image {
		display: block;
		width: 95px;
		margin: -95px auto 0;
	}
}

.m-inform__list {
	width: 80%;
	box-sizing: border-box;
	padding-left: 50px;
	display: inline-block;
	vertical-align: middle;
	font-size: 0;
	white-space: nowrap;
}

@media screen and (max-width: 767px) {
	.m-inform__list {
		width: 100%;
		padding-left: 0;
	}
}

.m-inform__col {
	display: inline-block;
	vertical-align: top;
	width: 33.333%;
	max-width: 194px;
	padding: 10px 50px 0 30px;
	box-sizing: border-box;
	border-right: 1px solid #e9e9e9;
}

.m-inform__col b {
	display: block;
	font-size: 36px;
	line-height: 36px;
	font-family: "Raleway", sans-serif;
	font-weight: bold;
	color: #000000;
	padding-bottom: 10px;
}

.m-inform__col b small {
	font-size: 18px;
	font-style: normal;
	font-weight: normal;
	color: #000000;
}

.m-inform__col b.blue-color {
	color: #11b7ff;
}

@media screen and (max-width: 767px) {
	.m-inform__col b {
		font-size: 18px;
	}
}

.m-inform__col span {
	font-size: 18px;
	line-height: 1.5;
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
	color: #acacac;
}

@media screen and (max-width: 767px) {
	.m-inform__col span {
		font-size: 12px;
	}
}

.m-inform__col:last-of-type {
	border-right-color: transparent;
}

@media screen and (max-width: 767px) {
	.m-inform__col {
		padding: 10px;
	}
}

/**/
/**/
.module__row {
	font-size: 0;
}

.module__col {
	display: inline-block;
	vertical-align: top;
	width: 50%;
}

@media screen and (max-width: 767px) {
	.page_2 .module-2 .module__col, .page_2 .module-3 .module__col {
		width: 100%;
	}
}

.slider .slick-dots {
	padding-top: 21px;
	font-size: 0;
}

.slider .slick-dots li {
	display: inline-block;
	margin-right: 9px;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-color: #eceff5;
	cursor: pointer;
}

.slider .slick-dots li.slick-active {
	background-color: #11b7ff;
}

.slider__item {
	background-color: #b9bfca;
}

.slick-slide{
	width:100% !important;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
	.slick-slide img {
		width: 200px;
		height: 200px;
	}
}

@media screen and (max-width: 767px) {
	.slick-slide img {
		height: 250px;
		width: 100%;
		display: block;
	}
}

@media screen and (max-width: 350px) {
	.slick-slide img {
		height: 180px;
	}
}

/**/
/**/
.module__preview {
	width: 100%;
	padding: 52px 73px 38px;
	box-sizing: border-box;
	background-color: #b9bfca;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
	.module__preview {
		padding: 30px 40px;
	}
}

@media screen and (max-width: 767px) {
	.module__preview {
		padding: 20px 30px;
	}
}

.preview {
	min-height: 254px;
	background-color: #ffffff;
	margin: 0 auto 19px;
}

@media screen and (max-width: 1366px) {
	.preview {
		min-height: 200px;
	}
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
	.preview {
		min-height: 150px;
	}
}

@media screen and (max-width: 767px) {
	.preview {
		margin-bottom: 10px;
	}
}

.preview__text {
	display: block;
	font-size: 18px;
	line-height: 1;
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
	color: #ffffff;
}

/**/
.module__choose {
	padding: 0 97px;
}

.module__choose .btn {
	margin-bottom: 28px;
	box-shadow: 7px 7px 16px 0 #c9edf3;
}

.module-5 .module__choose .btn {
	margin-bottom: 28px;
	box-shadow: 0px 12px 16px 0 #bac9d6;
}

@media screen and (max-width: 767px) {
	.module__choose {
		padding: 0;
	}
}

.icon {
	display: inline-block;
}

.icon-validate {
	background-image: url(../image/png-sprite/96dpi/spritec6qtq589f6r.png);
	background-position: -45px -147px;
	width: 34px;
	height: 46px;
	background-size: 258px, 232px;
	background-repeat: no-repeat;
}

.icon-mail {
	background-image: url(../image/png-sprite/96dpi/spritec6qtq589f6r.png);
	background-position: 0px 0px;
	width: 148px;
	height: 67px;
	background-size: 258px, 232px;
	background-repeat: no-repeat;
}

.icon-instagram {
	background-image: url(../image/png-sprite/96dpi/spritec6qtq589f6r.png);
	background-position: -152px -74px;
	width: 68px;
	height: 68px;
	background-size: 258px, 232px;
	background-repeat: no-repeat;
	position: relative;
}

.icon-instagram::after {
	position: absolute;
	content: '';
	top: -60%;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	background-image: url(../image/png-sprite/96dpi/spritec6qtq589f6r.png);
	background-position: 0px -71px;
	width: 113px;
	height: 72px;
	background-size: 258px, 232px;
	background-repeat: no-repeat;
}

.icon-complete {
	background-image: url(../image/png-sprite/96dpi/spritec6qtq589f6r.png);
	background-position: -152px 0px;
	width: 70px;
	height: 70px;
	background-size: 258px, 232px;
	background-repeat: no-repeat;
}

.icon-ok {
	background-image: url(../image/png-sprite/96dpi/spritec6qtq589f6r.png);
	background-position: 0px -198px;
	width: 34px;
	height: 34px;
	background-size: 258px, 232px;
	background-repeat: no-repeat;
}

.icon-PayPal {
	background-image: url(../image/png-sprite/96dpi/spritec6qtq589f6r.png);
	background-position: -226px 0px;
	width: 32px;
	height: 37px;
	background-size: 258px, 232px;
	background-repeat: no-repeat;
}

.icon-bank_Transfer {
	background-image: url(../image/png-sprite/96dpi/spritec6qtq589f6r.png);
	background-position: 0px -147px;
	width: 41px;
	height: 47px;
	background-size: 258px, 232px;
	background-repeat: no-repeat;
}

.icon-credit-cart {
	background-image: url(../image/png-sprite/96dpi/spritec6qtq589f6r.png);
	background-position: -83px -147px;
	width: 45px;
	height: 29px;
	background-size: 258px, 232px;
	background-repeat: no-repeat;
}

/* end form */
/* Slider */
.slick-slider {
	position: relative;
	display: block;
	box-sizing: border-box;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
}

.slick-list {
	position: relative;
	overflow: hidden;
	display: block;
	margin: 0;
	padding: 0;
}

.slick-list:focus {
	outline: none;
}

.slick-list.dragging {
	cursor: pointer;
	cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.slick-track {
	position: relative;
	left: 0;
	top: 0;
	display: block;
}

.slick-track:before, .slick-track:after {
	content: "";
	display: table;
}

.slick-track:after {
	clear: both;
}

.slick-loading .slick-track {
	visibility: hidden;
}

.slick-slide {
	float: left;
	height: 100%;
	min-height: 1px;
	display: none;
}

[dir="rtl"] .slick-slide {
	float: right;
}

.slick-slide img {
	display: block;
}

.slick-slide.slick-loading img {
	display: none;
}

.slick-slide.dragging img {
	pointer-events: none;
}

.slick-initialized .slick-slide {
	display: block;
}

.slick-loading .slick-slide {
	visibility: hidden;
}

.slick-vertical .slick-slide {
	display: block;
	height: auto;
	border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
	display: none;
}

.footer {
	padding: 32px 0 36px;
}

.footer .container {
	font-size: 0;
}

@media screen and (max-width: 1366px) {
	.footer {
		padding: 20px 0;
	}
}

@media screen and (max-width: 767px) {
	.footer {
		display: none;
	}
}

.footer__col {
	display: inline-block;
	vertical-align: top;
	padding-right: 20px;
	padding-left: 15px;
	padding-top: 20px;
}

@media screen and (max-width: 960px) {
	.footer__col {
		width: 25%;
		padding-right: 10px;
		padding-left: 10px;
		box-sizing: border-box;
	}
}

.footer__inform {
	display: inline-block;
	vertical-align: top;
}

@media screen and (max-width: 960px) {
	.footer__inform {
		display: block;
	}
}

.social {
	font-size: 0;
}

.footer .social {
	padding-top: 26px;
}

.social__i {
	display: inline-block;
	margin-right: 22px;
}

.social__i i {
	font-size: 20px;
	color: #ffffff;
	-webkit-transition: color 0.25s ease;
	transition: color 0.25s ease;
}

.social__i i:hover {
	color: #15e0ff;
}

.social__i:last-of-type {
	margin-right: 0;
}

.copyright {
	position: relative;
}

.copyright::before {
	position: absolute;
	content: '©';
	left: -15px;
	top: 50%;
	margin-top: -10px;
	font-size: 14px;
	line-height: 20px;
	font-family: "Raleway", sans-serif;
	color: #ffffff;
}

.f-list__row {
	font-size: 14px;
	line-height: 20px;
	font-family: "Raleway", sans-serif;
	color: #ffffff;
}

.f-list__link {
	color: #ffffff;
	-webkit-transition: color 0.25s ease;
	transition: color 0.25s ease;
}

.f-list__link:hover {
	color: #15e0ff;
}

.inform__comment {
	display: block;
	text-transform: uppercase;
	padding-bottom: 14px;
	font-size: 11px;
	line-height: 1;
	font-family: "Raleway", sans-serif;
	font-weight: 400;
	letter-spacing: -.6px;
	color: #ffffff;
}

@media screen and (max-width: 960px) {
	.inform__comment {
		padding-top: 40px;
		text-align: center;
	}
}

.inform__block {
	width: 362px;
	border-radius: 10px;
	border: 1px solid #81d3ff;
	background-color: rgba(255, 255, 255, 0.212);
	box-sizing: border-box;
	padding: 10px 145px 14px 67px;
}

.inform-b {
	position: relative;
}

.inform-b::before {
	position: absolute;
	content: '';
	top: 10px;
	left: 20px;
	background-image: url(../image/png-sprite/96dpi/spritec6qtq589f6r.png);
	background-position: -117px -71px;
	width: 30px;
	height: 50px;
	background-size: 258px, 232px;
	background-repeat: no-repeat;
}

.inform-b::after {
	position: absolute;
	content: '';
	bottom: 0;
	right: 34px;
	background-image: url("../../static/image/content/mobile-wifi.png");
	background-size: cover;
	background-position: 0 0;
	background-repeat: no-repeat;
	width: 98px;
	height: 104px;
}

@media screen and (max-width: 960px) {
	.inform-b {
		margin: 0 auto;
		padding-top: 20px;
	}
}

.inform-b__subtitle {
	font-size: 14px;
	line-height: 24px;
	font-family: "Raleway", sans-serif;
	color: #ffffff;
	letter-spacing: -.6px;
}

.inform-b__text {
	font-size: 12px;
	line-height: 16px;
	font-family: "Raleway", sans-serif;
	color: #abe2ff;
}

.header {
	padding-top: 50px;
	padding-bottom: 20px;
}

@media screen and (max-width: 767px) {
	.header {
		padding-top: 20px;
		padding-bottom: 20px;
	}
}

.header__logo {
	float: left;
}

.logo {
	display: block;
	font-size: 60px;
	line-height: 1;
	color: #ffffff;
	font-family: "Miso-Bold";
	letter-spacing: -.6px;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
	-webkit-animation-delay: 0s;
	animation-delay: 0s;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
	-webkit-animation-direction: alternate;
	animation-direction: alternate;
	-webkit-animation-fill-mode: none;
	animation-fill-mode: none;
}

.logo:hover {
	-webkit-animation-name: pulse;
	animation-name: pulse;
}

@media screen and (max-width: 1366px) {
	.logo {
		font-size: 48px;
	}
}

/* animation */
@-webkit-keyframes pulse {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	50% {
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

@keyframes pulse {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	50% {
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

/* end animation */
.header__menu {
	float: right;
	padding-top: 18px;
}

.menu {
	cursor: pointer;
}

.menu li {
	width: 37px;
	height: 3px;
	margin-bottom: 11px;
	background-color: #ffffff;
	-webkit-transition: background 0.25s ease;
	transition: background 0.25s ease;
}

.menu li:last-child {
	padding-bottom: 0;
}

@media screen and (max-width: 767px) {
	.menu li {
		width: 30px;
		height: 2px;
		margin-bottom: 8px;
	}
	.module__title .number + strong {
		display: inline;
	}
}

.menu:hover li {
	background-color: #15e0ff;
}








.module__title,.m-box__Text {
	color: #bbb;
}
.module5__custom {
	background-color: #ECEFF5;
}
.module {
	flex-direction: column;
}
.module.active {
	display: flex;
}

.m-box__form textarea:focus {
	border-color: #11CDFD;
}
.module__down {
	margin-top: auto;
}
.m-inform__list {
	display: flex;
}
.module__title .number + strong {
	display: inline;
}
.main {
	max-width: 100%;
	box-sizing: border-box;
}
.header {
	z-index: 1000;
	position: relative;
}
.header .container {
	z-index: 99999;
	position: relative;
}
	.header__logo {
		position: relative;
		z-index: 15;
	}

	.js-menu  {
		width: 37px;
		height: 35px;
		position: relative;
		transform: rotate(0deg);
		transition: .5s ease-in-out;
		cursor: pointer;
}
	.js-menu  span {
		display: block;
		position: absolute;
		height: 3px;
		width: 100%;
		background: #fff;
		border-radius: 9px;
		opacity: 1;
		left: 0;
		transform: rotate(0deg);
		transition: .25s ease-in-out;
	}
	.js-menu span:nth-child(1) {
		top: 0px;
	}
.js-menu  span:nth-child(2),
.js-menu  span:nth-child(3) {
	top: 12px;
}
.js-menu  span:nth-child(4)  {
	top: 24px;
}
.js-menu.open span:nth-child(1)  {
	top: 12px;
	width: 0%;
	left: 50%;
}
.js-menu.open span:nth-child(2) {
	transform: rotate(-45deg);
}
.js-menu.open span:nth-child(3) {
	transform: rotate(45deg);
}
.js-menu.open span:nth-child(4) {
	top: 12px;
	width: 0%;
	left: 50%;
	
}
.inform__block:after {
	transition: height .4s;
	height: 95px;
}

.inform__block:hover:after {
	height: 104px;
}



	@media screen and (max-width: 520px) {
		.m-box__form textarea {
			height: 60px;
		}
		.module__title .number {
			margin-right: 12px;
		}
		.module__btn {
			display: flex;
			align-items: center;
		}
		.module__title {
			padding-right: 80px;
		}
		.header {
			padding: 15px 0;
		}
		.main__title br {
			display: none;
		}
		.main__title {
			font-size: 40px;
		}
		.module__up {
			padding-top: 40px;
		}
		.module__up i {
			top: 20px;
		}
		.module__up i.icon-instagram {
			top: 45px;
		}
		.icon-mail {
			width: 80px;
			height: 42px;
			background-size: 175%;
		}
		.module__title {
			font-size: 25px;
		}
		.module__down {
			padding: 20px 10px; 
		}
		.btn span {
			line-height: 1.3;
		}
		.btn-style_1 {
			display: flex;
			align-items: center;
		}
		.module-5 .module__choose .btn {
			display: flex;
			align-items: center;
		}
	}