.mainSec__right-content{
	display: flex;
	flex-direction: column;
	height: 100%;
}

.network-settings__page-title{
	margin: 0;
	color: #444b4d;
	font-family: Montserrat, sans-serif;
	font-size: 36px;
	font-weight: 400;
	line-height: 36px;
}

.network-settings__choose-option hr{
	margin-top: 35px;
}

.network-settings__description{
	padding: 0 0 23px;
	color: #444b4d;
	font-family: Montserrat, sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 48px;
}

.network-settings .settings{
	max-width: 470px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-content: center;
}

.settings__option_block{
	width: 33.3333%;
	border: 2px solid #E8F0F1;
	height: 108px;
}

.settings__option_block label{
	position: relative;
	width: 100%;
	height: 100%;
	padding-top: 70px;
	padding-bottom: 20px;
	text-align: center;
	top: -14px;
	margin-bottom: 0;
}

.settings__option_block label:hover{
	background-color: #fff;
}

.settings__option_block label span{
	text-transform: uppercase;
	color: #444b4d;
	font-family: Montserrat, sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 15px;
}

.settings__option_block label::before{
	position: absolute;
	top: 18px;
	left: 0;
	right: 0;
	margin: auto;
	content: '';
	width: 27px;
	height: 27px;
	border-radius: 50%;
	border: 1px solid #ccc;
}

.settings__option:checked + label{
	background-color: #fff;
}

.settings__option:checked + label::after{
	position: absolute;
	top: 18px;
	left: 0;
	right: 0;
	margin: auto;
	content: '\f00c';
	font-family: FontAwesome, sans-serif;
	width: 27px;
	height: 27px;
	border-radius: 50%;
	background-color: #00D400;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
}