.page {
	position: relative;
	background-image: url("/img/head__bg.png");
	background-repeat: no-repeat;
	background-position: 76.5% 0px;
	background-size: cover;
}

.mainSec__right-content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	height: 100%;
}

.portal-images__page-title {
	margin: 0;
	color: #444b4d;
	font-family: Montserrat, sans-serif;
	font-size: 36px;
	font-weight: 400;
	line-height: 36px;
}

.setup-block {
	background-color: #fff;
	margin-top: 45px;
	padding-bottom: 20px;
}

.setup-block__head {
	width: 100%;
	opacity: 0.67;
	color: #444b4d;
	font-family: Montserrat, sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 36px;
	text-transform: uppercase;
	padding-left: 23px;
	padding-top: 22px;
}

.setup-block__content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.setup-block__url {
	width: 50%;
}

.setup-block__url form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 100%;
}

.setup-block__url label {
	color: #b2bbbd;
	font-family: Montserrat, sans-serif;
	font-size: 12px;
	font-weight: 600;
	line-height: 48px;
	text-transform: uppercase;
	padding-left: 18px;
	padding-right: 7px;
	display: block;
	margin: 0;
}

.setup-block__url input {
	max-width: 295px;
	width: 100%;
	color: #12c1ff;
	font-family: Montserrat, sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 14px;
	border-radius: 3px;
	padding: 9px 14px;
	border:2px solid transparent;
	text-overflow: ellipsis;
}

.setup-block__url input.active {
	border-color: #eaf0f1;
}

.setup-block__btns,
.setup-block__btn{
	display: none;
	min-width: 78px;
	width:78px;
	height: 40px;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
}
.setup-block__btns.active,
.setup-block__btn.active{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.setup-block__btn button{
	width: 100%;
	height: 100%;
	border: none;
	background: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align:center;
	-ms-flex-align:center;
	align-items:center;
}

.setup-block__btn .edit-button-icon{
	fill:#12c1ff
}

.setup-block__ok {
	width: 50%;
	height: 100%;
	border-radius: 3px;
	border: 1px solid #64d300;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-transition: all .3s linear;
	transition: all .3s linear;
	background-color: #f3ffe8;
}

.setup-block__ok:hover {
	background-color: #64d300;
}

.setup-block__ok .ok {
	fill: #64d300;
	-webkit-transition: all .3s linear;
	transition: all .3s linear;
}

.setup-block__ok:hover .ok {
	fill: #fff;
}

.setup-block__cancel {
	width: 50%;
	height: 100%;
	border-radius: 3px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-transition: all .3s linear;
	transition: all .3s linear;
}

.setup-block__cancel:hover {
	background-color: #f54b2b;
}

.setup-block__cancel .cancel {
	fill: #f54b2b;
	-webkit-transition: all .3s linear;
	transition: all .3s linear;
}

.setup-block__cancel:hover .cancel {
	fill: #fff;
}

.setup-block__image-block {
	width: 21.2%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.setup-block__image {
	max-width: 132px;
	max-height: 91px;
	width: 100%;
	height: 100%;
}

.setup-block__image img {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}

.setup-block__info {
	width: 22.32%;
	min-width:167px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-line-pack: start;
	align-content: flex-start;
}

.setup-block__info form{
	width: 100%;
	min-width: 167px;
}

.setup-block__info input[type="file"]{
	display: none;
}

.setup-block__select-image {
	max-width: 167px;
	width: 100%;
	height: 40px;
	border-radius: 3px;
	border: 1px solid #64d300;
	background-color: rgba(100, 211, 0, 0);
	color: #64d300;
	font-family: Montserrat, sans-serif;
	font-size: 14px;
	font-weight: 400;
	text-align: right;
	padding-right: 10px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-transition: all .3s linear;
	transition: all .3s linear;
}

.setup-block__select-image:hover {
	background-color: #64d300;
	color: #fff;
}

.setup-block__select-image .load-picture {
	fill: #64d400;
	-webkit-transition: all .3s linear;
	transition: all .3s linear;
}

.setup-block__select-image:hover .load-picture {
	fill: #fff;
}

.setup-block__load-bar {
	max-width: 167px;
	width: 100%;
	height: 6px;
}

.setup-block__progress-bar{
	width: 100%;
	height: 100%;
	background-color: #f1f1f1;
	margin-top: 11px;
}

.setup-block__full-bar{
	height: 100%;
	width: 0;
	position: relative;
	border-radius: 3px;
	background-color: #38df11;
}

.setup-block__full-bar::before{
	content: '0%';
	position: absolute;
	top: calc(100% + 11px);
	left: 0;
	color: #38df11;
	font-family: Montserrat, sans-serif;
	font-size: 12px;
	font-weight: 700;
	line-height: 14px;
	text-transform: uppercase;
}

@media screen and (max-width: 768px) {
	.setup-block__url {
		width: 95%;
		margin-bottom: 15px;
	}
	
	.setup-block__url form {
		width: 100%;
	}
	
	.setup-block__url input{
		max-width: 90%;
		width: 70%;
	}
	
	.setup-block__image-block{
		width: 50%;
	}
	
	.setup-block__info{
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: flex-start;
		width: 50%;
	}
}

@media screen and (max-width: 480px) {
	.setup-block__image-block{
		width: 90%;
		margin-bottom: 15px;
	}
	
	.setup-block__info{
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		width: 90%;
	}
	
	.setup-block__info form{
		width: 75%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
	
	.setup-block__load-bar{
		margin-bottom: 20px;
	}
}