@import "bourbon"

+font-face("Square", "../fonts/Square721BT-Bold", $file-formats: eot woff ttf)

$montserrat: 'Montserrat', sans-serif
$ubuntu: 'Ubuntu', sans-serif
$square: "Square"

*
	box-sizing: border-box
	outline: none !important
	font-family: $montserrat
	font-weight: 400

body
	margin: 0
	width: 100%
	height: 100%

h1, h2, h3,h4 ,h5, h6, p, ul, ol,input
	margin: 0
	padding: 0

input, textarea, button
	outline: none !important

ul, ol
	list-style-type: none
	margin: 0

.row
	margin-bottom: 0
.col
	padding-left: 15px
	padding-right: 15px

.container
	max-width: 1170px
	width: 100%
