@import "bourbon"

@media only screen and (max-width: 1400px)
	.main__text h3
		max-width: 600px

@media only screen and (max-width: 1200px)
	.container
		width: 962px
	.footer__content
		flex-wrap: wrap
		justify-content: space-between
	.footer__wifi
		min-width: 362px
		margin-top: 30px
		margin-left: auto
		margin-right: auto
	.main__text h3:after,
	.main__text h3:before
		display: inline-block
		position: static
		min-width: 200px
	.main__text h3
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		max-width: 100%
		align-items: center
	.main__brands__content
		flex-wrap: wrap
		a
			width: 33.3333%
			text-align: center
			margin-bottom: 20px
	.main__cols .row
		flex-wrap: wrap
		justify-content: center
	.main__col
		width: 50%
		display: flex
		flex-direction: column
		margin-bottom: 25px

@media only screen and (max-width: 992px)
	.container
		width: 738px
	.head__bottom-slide
		padding-bottom: 120px
	.head__bottom-slide:before
		width: 100% !important
		right: 0 !important
	.main__text h3:after, .main__text h3:before
		display: none
	.footer__content
		width: 100%

@media only screen and (max-width: 768px)
	.container
		width: 100%
		padding-left: 15px
		padding-right: 15px
	.container .row
		margin-left: -15px
		margin-right: -15px
	.row .col
		padding-left: 15px !important
		padding-right: 15px !important
	.head__bottom h1
		font-size: 56px
		white-space: initial
		br
			display: none
	.head__bottom
		height: calc(100vh - 103px)
	.head__bottom__content
		height: 100%
		.slick-list
			height: 100%
		.slick-track
			height: 100%
	.head__bottom-slide
		height: 100%
	.head__bottom .container
		height: 100%
		display: flex
		flex-direction: column
		justify-content: space-around
		align-items: flex-start
	.head__bottom-slide:before
		display: none
	.head__bottom-slide
		padding-bottom: 120px
		padding-top: 80px
	.main__brands__content a
		width: 50%
	.main__text h3
		padding-left: 15px
		padding-right: 15px

@media only screen and (max-width: 600px)
	.main__col
		width: 100%
	.head__top__box
		flex-direction: column
	.waves-effect
		margin-bottom: 20px
		margin-left: auto
	.head__bottom
		height: calc(100vh - 127px)
	.head__bottom__btn,
	.head__bottom__btn a
		width: 100%
	.footer__content
		flex-wrap: wrap
		align-items: flex-start
	.head__bottom h1
		font-size: 36px
		line-height: 40px
	.footer__content__list
		margin-top: 0
	.footer__content__list:nth-child(2)
		text-align: right
	footer
		ul
			margin-left: 0 !important
			margin-right: 0 !important
			margin-bottom: 20px
			width: 50%

@media only screen and (max-width: 480px)
	.main__text
		padding-top: 90px
		padding-bottom: 90px
	.main__brands__content a
		width: 100%
	.main__brands__title
		padding-left: 15px
		padding-right: 15px
	.footer__wifi
		min-width: 100%
	.main__text h3
		font-size: 32px
	.head__logo:before
		right: calc(100% - 100px)
	.head__bottom h1
		font-size: 26px
		line-height: 28px
	.head__bottom__title
		font-size: 20px
		line-height: 20px
	.head__bottom__btn
		margin-top: 40px
		padding: 15px
	.head__bottom-slide
		padding-bottom: 85px
		padding-top: 85px
	.head__bottom .container
		justify-content: flex-start
	.main__info__box .btn
		width: 100%
		margin: 20px 0 0
	.main__info__box .btn.btn-second
		margin-right: 0

@media only screen and (max-width: 370px)
	.head__bottom h1
		font-size: 22px
		line-height: 24px
	.head__bottom__title
		font-size: 18px
		line-height: 18px
	.head__bottom__btn
		margin-top: 25px
		padding: 7px
	.head__bottom__btn a
		height: 30px
	.head__bottom__btn a span
		font-size: 13px
	.head__bottom-slide
		padding-bottom: 50px
		padding-top: 50px
	.head__bottom .container
		justify-content: flex-start