@import "bourbon"
@import "_libs"
@import "_default"

// header style
header
	width: 100%
	background: url("../img/head__bg.png") no-repeat top left
	background-size: cover
.head
	&__top
		position: relative
		width: 100%
		background-color: #FFF
		&__content
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
			align-items: center
			position: relative
			padding-top: 25px
			padding-bottom: 15px
		&__box
			margin-left: auto
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
			align-items: center
			.btn
				color: #ffffff
				font-size: 14px
				font-weight: 400
				padding-left: 20px
				padding-right: 20px
				line-height: 42px
				height: 42px
				border-radius: 6px
				background-color: #ff4465
				text-transform: initial
			.head__select
				margin-top: 0
	&__select
		margin-left: 32px
		input.select-dropdown
			margin-bottom: 0
			color: #ff4465
			font-size: 14px
			line-height: 24px
			font-weight: 400
			border-color: #ff4465
			height: 24px
		.caret
			color: #ff4465 !important
			font-size: 7px !important
		.dropdown-content li
			font-size: 14px
			font-weight: 400
			color: #ff4465
			line-height: 24px
			span
				font-size: 14px
				font-weight: 400
				color: #ff4465
				line-height: 24px
	&__logo
		display: inline-block
		&:before
			content: ""
			width: 306px
			height: 243px
			background: url("../img/head__logo__bg.png") no-repeat center
			background-size: cover
			position: absolute
			top: 0
			right: calc(100% - 135px)
		img
			position: relative

	// head__bottom
	&__bottom
		position: relative
		width: 100%
		height: calc(100vh - 103px)

		.container
			height: 100%

		&__content
			position: relative
			width: 100%
			height: 100%
			.slick-list
				height: 100%
			.slick-track
				height: 100%
		&-slide
			width: 100%
			position: relative
			padding-top: 220px
			padding-bottom: 309px
			height: 100%
			&.one
				&:before
					content: ""
					width: 714px
					height: 714px
					position: absolute
					top: 53px
					right: 168px
					border-radius: 50%
					background: url("../img/head__img.png") no-repeat center
					z-index: 1
			&.two
				&:before
					content: ""
					width: 714px
					height: 714px
					position: absolute
					top: 53px
					right: 168px
					border-radius: 50%
					background: url("../img/head__img.png") no-repeat center
					z-index: 1
			&.three
				&:before
					content: ""
					width: 714px
					height: 714px
					position: absolute
					top: 53px
					right: 168px
					border-radius: 50%
					background: url("../img/head__img.png") no-repeat center
					z-index: 1
		.slick-dots
			position: absolute
			bottom: 75px
			left: 0
			right: 0
			margin: 0 auto
			z-index: 5
			display: flex
			justify-content: center
			li.slick-active
				button
					background-color: #fff
			li:nth-child(2)
				margin: 0 10px
			button
				font-size: 0
				background: none
				border: 2px solid #fff
				width: 20px
				height: 20px
				border-radius: 50%
				transition: all .3s linear
		h1
			color: #ffffff
			font-size: 72px
			font-weight: 700
			line-height: 72px
			position: relative
			z-index: 3
		&__title
			color: #ffffff
			font-family: Ubuntu, sans-serif
			font-size: 24px
			font-weight: 300
			margin-top: 50px
			display: block
			position: relative
			z-index: 3
		&__btn
			display: inline-block
			margin-top: 27px
			padding: 25px
			background-color: #FFF
			border-radius: 20px
			position: relative
			z-index: 3
			a
				display: -webkit-flex
				display: -moz-flex
				display: -ms-flex
				display: -o-flex
				display: flex
				align-items: center
				position: relative
				width: 362px
				height: 61px
				background-color: #3b5998
				border-radius: 10px
				padding-left: 19px
				padding-right: 16px
				cursor: pointer
				transition: .3s
				z-index: 3
				span
					display: inline-block
					color: #ffffff
					font-family: $square
					font-size: 17px
					font-weight: 700
					text-transform: uppercase
					margin-left: 15px
					position: relative
					z-index: 3
				&:hover
					box-shadow: 0 6px 16px rgba(115, 142, 200, 0.7)
					transition: all .3s
				&:before
					content: ""
					width: 10px
					height: 18px
					transform: translate(0, -50%)
					right: 16px
					top: 50%
					position: absolute
					background: url("../img/small__arr.png") no-repeat center

// main style
.main
	&__cols
		padding-top: 73px

		.row
			display: flex
	&__col
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		flex-direction: column
		align-items: center
		text-align: center
		width: 20%
		.img
			width: 165px
			height: 165px
			//background-color: #ff4465
			//border-radius: 50%
			//overflow: hidden
			//display: inline-block
		.title
			color: #6b34ff
			font-size: 32px
			font-weight: 500
			line-height: 53px
		.text
			margin: 0
			color: #000000
			font-family: $ubuntu
			font-size: 20px
			font-weight: 300
			line-height: 26px
			padding: 0 10px

	// main info
	&__info
		background: url("../img/info__bg.png") no-repeat top left
		padding-top: 520px
		margin-top: -52px
		&__box
			padding: 71px 82px 44px 81px !important
			box-shadow: 0 0 54px rgba(0, 0, 0, 0.17)
			border-radius: 10px
			background-color: #ffffff
			h2
				color: #6b34ff				
				font-size: 42px
				font-weight: 500
				line-height: 53px
				position: relative
				&:before
					content: ""
					width: 41px
					height: 5px
					background-color: #ff4465
					position: absolute
					bottom: -32px
					left: 0
			p
				margin-top: 70px
				color: #000000
				font-family: $ubuntu
				font-size: 20px
				font-weight: 300
				line-height: 26px
			.btn
				height: 58px
				line-height: 58px
				border-radius: 6px
				background-color: #ff4465
				float: right
				margin-top: 44px
				&.btn-second
					margin-right: 25px
				i
					font-size: 23px

	// brands
	&__brands
		margin-top: 88px
		&__title
			display: block
			text-align: center
			color: #ff4465
			font-size: 24px
			font-weight: 400
			line-height: 53px
		&__content
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
			align-items: center
			justify-content: space-between
			margin-top: 50px
			a
				display: inline-block
	
	// text
	&__text
		padding-top: 200px
		padding-bottom: 225px
		h3
			color: #6b34ff
			font-size: 42px
			font-weight: 500
			line-height: 53px
			text-align: center
			max-width: 810px
			margin: 0 auto
			position: relative
			&:before
				content: ""
				width: 200px
				height: 216px
				position: absolute
				right: calc(100% + 46px)
				transform: translate(0, -50%)
				top: 50%
				background: url("../img/peoples__left.png") no-repeat center
			&:after
				content: ""
				width: 200px
				height: 216px
				position: absolute
				left: calc(100% + 46px)
				transform: translate(0, -50%)
				top: 50%
				background: url("../img/peoples__right.png") no-repeat center

// footer
footer
	width: 100%
	padding-top: 85px
	background: url("../img/bg__footer.png") no-repeat center
	background-size: cover
	padding-bottom: 122px
.footer
	&__content
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		align-items: flex-start
		margin: 0 auto
		padding: 0 0.75rem
		width: 86.666%
		&__list
			margin-left: 30px
			margin-top: -3px
			a
				color: #ffffff
				font-size: 14px
				font-weight: 400
				line-height: 24px
	&__contact
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		flex-direction: column
		margin-right: 20px
		span
			color: #ffffff
			font-size: 14px
			font-weight: 400
		a
			color: #ffffff
			font-size: 14px
			font-weight: 400
			text-decoration: none
			padding-left: 13px
	&__social
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		align-items: center
		margin-left: 15px
		a
			display: inline-block
			margin-left: 20px
	&__wifi
		margin-top: -33px
		margin-left: 30px
		width: 362px
		.title
			display: block
			color: #ffffff
			font-size: 11px
			font-weight: 400
			line-height: 24px
			text-transform: uppercase
			margin-bottom: 8px
		&__box
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
			align-items: center
			padding: 14px 35px 18px 21px
			border-radius: 10px
			border: 1px solid rgba(255, 255, 255, 0.47)
			background-color: rgba(255, 255, 255, 0.21)
			position: relative
			&__txt
				max-width: 150px
				margin-left: 17px
				.heading
					color: #ffffff
					font-size: 14px
					font-weight: 400
					line-height: 24px
				.txt
					display: block
					margin-top: 5px
					color: #abe2ff
					font-size: 12px
					font-weight: 400
		#phone_img
			position: absolute
			bottom: 0
			right: 35px

@import "_media"


				




			

			
